﻿@model DataLayer.ViewModels.DashBoardViewModal
@{
    ViewBag.Title = "Home";
}
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <a href="@Url.Action("Create","SalesOrder")">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@Model.SaleOrderCount</h3>

                        <p>Sale Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <span class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></span>
                </div>
            </div>
        </a>

        <a href="@Url.Action("Create", "SaleInvoice")">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@Model.SaleInvoiceCount</h3>
                        <p>POS</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <span class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></span>
                </div>
            </div>
        </a>

        <a href="@Url.Action("Create", "Production",new { Status = DataLayer.Enums.JobSheetStatus.New })">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@Model.ProductionCount</h3>
                        <p>Production</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <span class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></span>
                </div>
            </div>
        </a>

        <a href="@Url.Action("CreateNote", "Notes")?VoucherFor=@DataLayer.Constants.RECEIPT_VOUCHER" >
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@Model.ReceiptCount</h3>
                        <p>Receipt Note</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <span class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></span>
                </div>
            </div>
        </a>
            @*@if (Model.DashboardItems.Where(x => x.ItemName == "Orders" && x.IsSelected == true).FirstOrDefault() != null || Model.IsAdmin == true)
            {


            }


            @if (Model.DashboardItems.Where(x => x.ItemName == "Bounce" && x.IsSelected == true).FirstOrDefault() != null || Model.IsAdmin == true)
            {
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>53<sup style="font-size: 20px">%</sup></h3>

                            <p>Bounce Rate</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }

            @if (Model.DashboardItems.Where(x => x.ItemName == "User" && x.IsSelected == true).FirstOrDefault() != null || Model.IsAdmin == true)
                {
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>44</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }

            @if (Model.DashboardItems.Where(x => x.ItemName == "Visitors" && x.IsSelected == true).FirstOrDefault() != null || Model.IsAdmin == true)
                {
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            <h3>65</h3>

                            <p>Unique Visitors</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }*@

</div>
    <!-- /.row -->
</section>

