﻿@model DataLayer.ViewModels.PurchaseInvoiceItemViewModel
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel").text("@ViewBag.ErrorMsg");
        $("#Save").prop("disabled", true);
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel").hide();
        $("#Save").prop("disabled", false);
    </script>
}

@if (Model.PurchaseInvoiceItem.AttributeLinkingList != null)
{
    <label id="ErrLabel" style="color:red"></label>
    if (Model.PurchaseInvoiceItem.AttributeLinkingList.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    @for (int i = 0; i < Model.PurchaseInvoiceItem.AttributeLinkingList.Count;)
                    {
                        foreach (var item in Model.PurchaseInvoiceItem.AttributeLinkingList[i].NameList)
                        {
                            <th class="erplabel" width="30">
                                <b>
                                    @item
                                </b>
                            </th>
                        }
                        break;
                    }
                    <th class="erplabel" width="30">Quantity</th>
                    <th class="erplabel" width="30"></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.PurchaseInvoiceItem.AttributeLinkingList.Count; i++)
                    {
                    <tr>
                        @foreach (var item in Model.PurchaseInvoiceItem.AttributeLinkingList[i].ValuesList)
                        {
                            <td class="erplabel" width="30">
                                @item
                            </td>
                        }
                        <td class="erplabel" width="30">@Model.PurchaseInvoiceItem.AttributeLinkingList[i].Quantity</td>
                        <td class="erplabel" width="30">
                            <a style="cursor:pointer;" onclick="Edit('@Model.PurchaseInvoiceItem.AttributeLinkingList[i].AttributeLinkingId','@Model.PurchaseInvoiceItem.AttributeLinkingList[i].PurchaseInvoiceItemId')">Edit</a>
                            ||
                            <a style="cursor:pointer;" onclick="RemoveAttribute('@Model.PurchaseInvoiceItem.AttributeLinkingList[i].AttributeLinkingId','@Model.PurchaseInvoiceItem.AttributeLinkingList[i].PurchaseInvoiceItemId')">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}