﻿@model DataLayer.ViewModels.BarcodeQueueViewModel
@{
    Layout = null;
}

@if (Model.ProductList != null && Model.ProductList.Count > 0)
{
    foreach (var item in Model.ProductList)
    {
        <div class="col-md-3">
            @item.SerialNumber        <a style="cursor:pointer;" onclick="Remove('@item.ProductId')">(Remove)</a>
        </div>        
    }
}
else
{
    <label> Barcode Queue Is Empty </label>
}