﻿@model DataLayer.ViewModels.PurchaseInvoiceItemViewModel
@{
    ViewBag.Title = "AddInvoiceItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<label id="ErrLabel" style="color:red"></label>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<div class="box box-primary">
    <!-- /.box-header -->
    <!-- form start -->
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        <script type="text/javascript">
            $("#ErrLabel").text("@ViewBag.ErrorMsg");
            setTimeout(function () {
                $('#ErrLabel').fadeOut();
            }, 5000);
        </script>
    }
    else
    {
        <script type="text/javascript">
            $("#ErrLabel").hide();
        </script>
    }

    @using (Html.BeginForm("AddInvoiceItem", "Product", FormMethod.Post))
    {
        <div class="box-header">
            <div class="pull-right">
                <input type="button" name="btn" class="btn btn-github btn-sm" value="AddAttribute" id="AddAttribute" />
                <input type="submit" name="btn" value="Save and Print Barcode" class="btn btn-github btn-sm " />
            </div>
        </div>
        <div class="box-body">
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.PurchaseInvoiceId)
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.IsProductCreated, new { @id = "IsProductCreated" })
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.SellInPartial)
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.PurchaseInvoiceItemId, new { @id = "PurchaseInvoiceItemId" })
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.CreatedBy)
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.CreatedDate)
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.DiscountIDTEmp, new { @id = "txtHiddenDiscount" })
            <input type="hidden" id="SGSTPer" />
            <input type="hidden" id="CGSTPer" />
            <input type="hidden" id="IGSTPer" />
            <input type="hidden" id="OtherTaxPer" />
            <input type="hidden" id="PartialUnit" />
            @if (Model.PurchaseInvoiceItem.type == DataLayer.Constants.AsOfDate)
                {
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">As Off Date</label>
                            @Html.EditorFor(model => model.PurchaseInvoiceItem.AsOfDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Product Category</label>
                        @Html.DropDownListFor(model => model.PurchaseInvoiceItem.CategoryId, Model.PurchaseInvoiceItem.CategoryList, new { @class = "form-control", @id = "ddlCategory" })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Product Sub-category</label>
                        @Html.DropDownListFor(model => model.PurchaseInvoiceItem.SubCategoryId, Model.PurchaseInvoiceItem.SubcategoryList, new { @class = "form-control", @id = "ddlSubCategory" })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.SubCategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">SKU</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.PurchaseInvoiceItem.SKUMasterId, Model.PurchaseInvoiceItem.SKUList, new { @class = "form-control", @id = "ModelSKUList" })
                            <span class="input-group-btn">
                                <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#SKUModel">+</i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.SKUMasterId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Brand</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.PurchaseInvoiceItem.BrandId, Model.PurchaseInvoiceItem.BrandList, new { @class = "form-control", @id = "ModelBrandList" })
                            <span class="input-group-btn">
                                <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#BrandModel">+</i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.BrandId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Unit</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.PurchaseInvoiceItem.UnitId, Model.PurchaseInvoiceItem.UnitList, new { @class = "form-control", @id = "ModelUnitList" })
                            <span class="input-group-btn">
                                <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#UnitModel">+</i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.UnitId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">HSN Id</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.PurchaseInvoiceItem.HSNId, Model.PurchaseInvoiceItem.HSNList, new { @class = "form-control", @id = "ModelHSNList" })
                            <span class="input-group-btn">
                                <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#HSNModel">+</i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.HSNId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Quantity</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity" } })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Base Price</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.Rate, new { htmlAttributes = new { @class = "form-control", @id = "Rate" } })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.Rate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">GST</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.PurchaseInvoiceItem.GSTId, Model.PurchaseInvoiceItem.GSTList, new { @class = "form-control", @id = "ModelGSTList" })
                            <span class="input-group-btn">
                                <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#GSTModel">+</i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.GSTId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">SGST</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.SGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxSGST", @readonly = true } })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">CGST</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.CGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxCGST", @readonly = true } })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">IGST</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.IGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxIGST", @readonly = true } })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Purchase Net Price/Unit</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.NetAmount, new { htmlAttributes = new { @class = "form-control", @id = "Net", @readonly = "true" } })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">WSP (%)</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.WSPPercent, new { htmlAttributes = new { @class = "form-control", @id = "WSPPercent" } })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">WSP Net Price/Unit</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.WSPAmount, new { htmlAttributes = new { @class = "form-control", @id = "WSPAmount", @readonly = true } })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.WSPAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <label for="exampleInputEmail1" class="erplabel">Location</label>
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.PurchaseInvoiceItem.LocationId, Model.PurchaseInvoiceItem.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.LocationId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">MRP</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.MRP, new { htmlAttributes = new { @class = "form-control", @id = "MRP" } })
                        <label for="exampleInputPassword1" class="erplabel" style="color:#a94442;font-weight: normal;" id="MRPComparision">MRP Should Be Greater Than Rate</label>
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.MRP, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Sales Discount Code</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.PurchaseInvoiceItem.DiscountId, Model.PurchaseInvoiceItem.DiscountCodeList, new { @class = "form-control", @id = "ModelDiscountList" })
                            <span class="input-group-btn">
                                <i id="SelectSKUButton" data-toggle="modal" data-target="#SelectSKU"></i>
                                <i id="btnDiscount" data-toggle="modal" data-target="#DiscountsModel"></i>
                                <i class="btn btn-bitbucket btn-sm" id="btnDiscountTemp">+</i>
                            </span>
                        </div>@Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.DiscountId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Discount (%) </label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.DiscountPercent, new { htmlAttributes = new { @class = "form-control", @id = "DiscountPer", @readonly = "true" } })
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel">Discounted Price/Unit</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.DiscountedAmount, new { htmlAttributes = new { @class = "form-control", @id = "DiscountAmm", @readonly = "true" } })
                        @Html.HiddenFor(model => model.PurchaseInvoiceItem.Discount, new { @id = "TotalDiscount" })
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="erplabel" style="font-size: 83% !important;">Salesman Commission</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.SalesCommission, new { htmlAttributes = new { @class = "form-control", @id = "Comission" } })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.SalesCommission, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Remark</label>
                        @Html.EditorFor(model => model.PurchaseInvoiceItem.Remarks, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%" } })
                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItem.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    }
    <div class="box-body">
        <div class="col-lg-12" id="DivAttibute">
            @Html.HiddenFor(model => model.PurchaseInvoiceItem.AttributeLinking.AttributeLinkingId, new { @id = "AttributeLinkingId" })
            <div class="col-lg-12">
                <table class="table table-striped">
                    <tbody id="DiscountTable">
                        <tr>
                            @for (int i = 0; i < Model.PurchaseInvoiceItem.AttributeSetListNew.Count; i++)
                            {
                                <td>
                                    <label class="erplabel">@Model.PurchaseInvoiceItem.AttributeSetListNew[i].Name</label><div class="clearfix"></div>
                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model.PurchaseInvoiceItem.AttributeSetListNew[i].AttributeSetId, Model.PurchaseInvoiceItem.AttributeSetListNew[i].AttributeValueList, new { @class = "form-control", @id = "AttributeValueList" + Model.PurchaseInvoiceItem.AttributeSetListNew[i].AttributeSetId })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-bitbucket btn-sm" id="btnaddattribute" onclick="addAttribute(@Model.PurchaseInvoiceItem.AttributeSetListNew[i].AttributeSetId)" data-toggle="modal" data-target="#AttributeModel">+</button>
                                        </span>
                                    </div>
                                    @Html.HiddenFor(model => model.PurchaseInvoiceItem.AttributeLinking.Value, new { @id = "AttributeLinkingValue" })
                                    @Html.HiddenFor(model => model.PurchaseInvoiceItem.AttributeSetListNew[i].Name, new { @id = "AttributeName" + Model.PurchaseInvoiceItem.AttributeSetListNew[i].AttributeSetId })
                                </td>
                            }
                            <td>
                                <label class="erplabel">Qty</label>
                                <div class="clearfix"></div>
                                @if (Model.PurchaseInvoiceItem.IsProductCreated == true)
                                {
                                    @Html.EditorFor(model => model.PurchaseInvoiceItem.NotQuantity, new { htmlAttributes = new { @class = "form-control", @id = "txtAttributeQty", @readonly = true } })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.PurchaseInvoiceItem.NotQuantity, new { htmlAttributes = new { @class = "form-control", @id = "txtAttributeQty" } })
                                }
                            </td>
                            <td>
                                @Html.HiddenFor(model => model.PurchaseInvoiceItem.AttributeSetListNew.Count, new { @id = "AttributeListCount" })
                                <label class="erplabel"></label>
                                <input type="button" name="btn" class="btn btn-info" value="Save" id="SaveAttribute" />

                            </td>

                        </tr>


                </table>
                <label id="NonError" style="color:#a94442;font-weight: normal;">Select Attributes and Quantity</label>
            </div>
            <div id="AttributeList">
                @Html.Partial("_AddAttributes")
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DiscountsModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @Html.Partial("_Discount");
</div>
<div class="modal fade" id="SelectSKU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sale Discount</h4>
            </div>
            <div class="modal-body">
                <p>Please SelectSKU</p>
                <div class="modal-footer" style="border-top:none !important;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#MRPComparision').hide();
        $('#NonError').hide();
        $('#DivAttibute').hide();
        GetTax();
        SetSKU();
        UnitFractionValue();
        if ($('#PurchaseInvoiceItemId').val() == 0) {
            document.getElementById("Quantity").value = "";
            document.getElementById("Rate").value = "";
            document.getElementById("Net").value = "";
            document.getElementById("MRP").value = "";
            document.getElementById("WSPPercent").value = "";
        }
        else {
            $('#DivAttibute').show();
        }

        $("#Rate,#Frieght,#WSPPercent").keyup(function () {
            calculation();
            GetTax();
            compareMRPandRate();
        });


        $("#MRP").keyup(function () {
            calculationDiscount();
            compareMRPandRate();
        });

        function compareMRPandRate() {
            if ($('#MRP').val() != null || $('#MRP').val() == "") {
                var MRP = parseFloat($('#MRP').val() || 0);
                var Rate = parseFloat($('#Rate').val() || 0);
                if (MRP > Rate) {
                    $('#MRPComparision').hide();
                    $("#Save").prop("disabled", false);
                }
                else {
                    $('#MRPComparision').show();
                    $("#Save").prop("disabled", true);
                }
            }
        }

        $("#btnDiscountTemp").click(function () {
            var id = $("#ModelSKUList option:selected").val();
            //SetSKU();
            if (id != "-1") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("_Discount", "Home")?id=' + id,
                    dataType: "html",
                    success: function (result) {
                        $("#DiscountsModel").html(result);
                        $("#btnDiscount").click();
                    },
                });
            }

            else {
                $("#SelectSKUButton").click();
            }
        });

        $("#SaveAttribute").click(function () {
            if ($('#txtAttributeQty').val() != null && $('#txtAttributeQty').val() != "") {
                var AttributeListCount = $('#AttributeListCount').val();
                var AttributeValues = "";
                var AttributeName = "";
                var NonError = 0;
                for (var i = 1; i <= AttributeListCount; i++) {
                    i = i.toString();
                    var Value = $("#AttributeValueList" + i + " option:selected").text();
                    if (Value != "None") {
                        NonError++;
                    }
                    var Name = $('#AttributeName' + i).val();
                    if (i == 1) {
                        AttributeValues = Value;
                        AttributeName = Name;
                    }
                    else {
                        AttributeValues = AttributeValues + "," + Value;
                        AttributeName = AttributeName + "," + Name;
                    }
                }
                if (NonError > 0) {
                    $('#NonError').hide();
                    var AttributeLinkingId = $('#AttributeLinkingId').val();
                    var ItemId = $('#PurchaseInvoiceItemId').val();
                    var NewQuantity = $('#txtAttributeQty').val();
                    var Quantity = $('#Quantity').val();
                    var model = { 'Value': AttributeValues, 'PurchaseInvoiceItemId': ItemId, 'Quantity': NewQuantity, 'AttributeSetIds': AttributeName, 'AttributeLinkingId': AttributeLinkingId }
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("_AddAttributes", "Product")',
                        data: { 'model': model, 'Quantity': Quantity },
                        dataType: "html",
                        success: function (result) {
                            $('#AttributeLinkingId').val("");
                            $("#txtAttributeQty").val("");
                            $("#AttributeList").html(result);
                            var AttributeListCount = $('#AttributeListCount').val();
                            for (var i = 1; i <= AttributeListCount; i++) {
                                i = i.toString();
                                $("#AttributeValueList" + i + " option").filter(function () {
                                    if ($(this).text() == "None") {
                                        return true;
                                    }
                                }).prop('selected', true);
                            }
                        },
                    });
                }
                else {
                    $('#NonError').show();
                }
            }
            else {
                $('#NonError').show();
            }
        });

        $("#AddAttribute").click(function () {
            $('#DivAttibute').show();
        });

        $("#Rate,#MRP,#Comission,#WSPPercent").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });

        $("#Quantity,#txtAttributeQty").keypress(function (e) {
            var PartialUnit = $('#PartialUnit').val();
            if (PartialUnit == "true") {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                    return false;
                }
            }
            else {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            }
        });

        $("#AttributeSetList").change(function () {
            var AttributeSet = parseFloat($("#AttributeSetList option:selected").val());
            $("#AttributeValueList").empty();
            var serviceURL = '@Url.Action("GenerateValueList", "PurchaseInvoice")';
            if (AttributeSet > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': AttributeSet },
                    dataType: "json",
                    success: function successFunc(itemList) {
                        if (itemList != null) {
                            $.each(itemList, function (i, division) {
                                $("#AttributeValueList").append('<option value="' + division.Value + '">' + division.Text + '</option>');
                            });
                        }
                    },
                });
            }
        });


        $("#ModelGSTList").change(function () {
            GetTax();
        });

        $("#ModelUnitList").change(function () {
            UnitFractionValue();
        });

        function GetTax() {
            var GST = parseInt($("#ModelGSTList option:selected").val());
            if (GST > 0) {
                var serviceURL = '@Url.Action("GetGST", "PurchaseInvoice")';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': GST },
                    dataType: "json",
                    success: function successFunc(data) {
                        var Rate = parseFloat($('#Rate').val() || 0);
                        var CGST = parseFloat((data.CGST / 100) * Rate || 0);
                        var SGST = parseFloat((data.SGST / 100) * Rate || 0);
                        var IGST = parseFloat((data.IGST / 100) * Rate || 0);
                        var Other = parseFloat((data.Other / 100) * Rate || 0);
                        $('#TaxSGST').val(SGST.toFixed(2));
                        $('#TaxCGST').val(CGST.toFixed(2));
                        $('#TaxIGST').val(IGST.toFixed(2));
                        //  $('#OtherTaxes').val(Other.toFixed(2));
                        $('#SGSTPer').val(data.SGST);
                        $('#CGSTPer').val(data.CGST);
                        $('#IGSTPer').val(data.IGST);
                        $('#OtherTaxPer').val(data.Other);
                        calculation();
                    },
                });
            }
            else {
                $('#TaxSGST').val(0);
                $('#TaxCGST').val(0);
                $('#TaxIGST').val(0);
                $('#SGSTPer').val(0);
                $('#CGSTPer').val(0);
                $('#IGSTPer').val(0);
                $('#OtherTaxPer').val(0);
                calculation();
            }
        }

        function calculation() {
            var TaxIGST = parseFloat($('#TaxIGST').val() || 0);
            var TaxCGST = parseFloat($('#TaxCGST').val() || 0);
            var TaxSGST = parseFloat($('#TaxSGST').val() || 0);
            var Rate = parseFloat($('#Rate').val() || 0);
            var WSPPercent = parseFloat($('#WSPPercent').val() || 0);
            var Net = Rate + TaxIGST + TaxCGST + TaxSGST;
            $('#Net').val(Net.toFixed(2))
            if (WSPPercent > 0) {
                WSPPercent = (WSPPercent / 100) * Rate;
                var SGSTPer = parseFloat($('#SGSTPer').val()) || 0;
                var CGSTPer = parseFloat($('#CGSTPer').val()) || 0;
                var IGSTPer = parseFloat($('#IGSTPer').val()) || 0;
                //  var OtherTaxPer = parseFloat($('#OtherTaxPer').val());
                var TotalGST = SGSTPer + CGSTPer + IGSTPer;
                var WSPWithOutGst = WSPPercent + Rate;
                var TAXonWSP = parseFloat((TotalGST / 100) * WSPWithOutGst || 0);
                var WSPAmount = TAXonWSP + WSPWithOutGst;
                $('#WSPAmount').val(WSPAmount.toFixed(2));
            }
            else {
                $('#WSPAmount').val(Net.toFixed(2));
            }
            compareMRPandRate();
        }

        function calculationDiscount() {
            var MRP = parseFloat($('#MRP').val() || 0);
            var DiscountPer = parseFloat($('#DiscountPer').val() || 0);
            var DiscountAmm = (MRP / 100) * DiscountPer;
            $('#DiscountAmm').val(DiscountAmm);
            DiscountAmm = MRP - DiscountAmm;
            document.getElementById("DiscountAmm").value = (DiscountAmm.toFixed(2));
        }
        $("#ModelDiscountList").change(function () {
            var serviceURL = '@Url.Action("GetDiscount", "PurchaseInvoice")';
            var SalesDiscount = parseInt($("#ModelDiscountList option:selected").val());
            if (SalesDiscount > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': SalesDiscount },
                    dataType: "json",
                    success: function successFunc(data) {
                        document.getElementById("DiscountPer").value = data.Percent;
                        calculationDiscount();
                    },
                });
            }
            else {
                document.getElementById("DiscountPer").value = 0;
                document.getElementById("DiscountAmm").value = 0;
            }
        });

        $("#ddlCategory").change(function () {
            $("#ddlSubCategory").empty();
            var value = $("#ddlCategory option:selected").val();
            $.ajax({
                type: "Post",
                url: '@Url.Action("SubCategoryList", "PurchaseInvoice")?categoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (SubCategoryList) {

                    $("#ddlSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(SubCategoryList, function (i, Sub) {
                        $("#ddlSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                    $("#ModelSKUList").empty();
                    $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');

                },
            });
        });

        $("#ModelSKUList").change(function () {
            SetSKU();
        });

        $("#ddlSubCategory").change(function () {
            $("#ModelSKUList").empty();
            var CatId = $("#ddlCategory option:selected").val();
            var SubId = $("#ddlSubCategory option:selected").val();
            var serviceURL = '@Url.Action("SKUList", "PurchaseInvoice")';
            var model = { 'CategoryId': CatId, 'SubCategoryId': SubId };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (skulist) {
                    $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(skulist, function (i, Sub) {
                        //$("#ContactSubCategory").clearQueue();
                        $("#ModelSKUList").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });

                },
            });
        });
    });

    function SetSKU() {
        var id = $("#ModelSKUList option:selected").val();
        $("#ModelDiscountList").empty();
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListFromSKU", "PurchaseInvoice")?id=' + id,
                //data: JSON.stringify(id),
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (model) {
                    $("#ddlCategory").val(model.CategoryId);
                    $('#ddlSubCategory').val(model.SubCategoryId);
                    $("#ModelDiscountList").empty();
                    $("#ModelDiscountList").append('<option selected="selected" value="-1">' + "--Select One--" + '</option>');
                    for (var i = 0; i < model.CountList; i++) {
                        if ($("#txtHiddenDiscount").val() != model.DiscountCodeList[i].Value) {
                            $("#ModelDiscountList").append('<option value="' + model.DiscountCodeList[i].Value + '">' + model.DiscountCodeList[i].Text + '</option>');
                        }
                        else {
                            $("#ModelDiscountList").append('<option  selected="selected" value="' + model.DiscountCodeList[i].Value + '">' + model.DiscountCodeList[i].Text + '</option>');
                        }

                    }
                },
            });
        }
    }

    function DiscountResultList(data) {
        $("#ModelDiscountList").empty();
        if (data.DiscountCodeList != null) {
            $.each(data.DiscountCodeList, function (i, division) {
                $("#ModelDiscountList").append('<option value="' + division.Value + '">' + division.Text + '</option>');
            });
            if (data.DiscountId > 0) {
                document.getElementById('ModelDiscountList').value = data.DiscountId;
            }
        }
        $("#ModelDiscountList").change();
        $("[data-dismiss=modal]").click();
    }

    function UnitFractionValue() {
        var id = $("#ModelUnitList option:selected").val();
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UnitFractionValue", "PurchaseInvoice")?UnitId=' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (data) {
                    $("#PartialUnit").val(data);
                    if (data != true) {
                        var Quantity = parseFloat($("#Quantity").val() || 0);
                        $('#Quantity').val(Math.trunc(Quantity));
                        var AttributeQty = parseFloat($("#txtAttributeQty").val() || 0);
                        if (AttributeQty > 0) {
                            $('#txtAttributeQty').val(Math.trunc(AttributeQty));
                        }
                        else {
                            $('#txtAttributeQty').val("");
                        }
                    }
                },
            });
        }
    }

    function RemoveAttribute(LinkingId, InvoiceId) {
        var IsProductCreated = $('#IsProductCreated').val();
        if (IsProductCreated == "False") {
            var LinkingId = LinkingId;
            var InvoiceId = InvoiceId;
            var serviceURL = '@Url.Action("RemoveLinking", "Product")?LinkingId=' + LinkingId + '&InvoiceId=' + InvoiceId;
            $.ajax({
                type: "Post",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    // alert(result);
                    $("#AttributeList").html(result);
                },
            });
        }
        else if (IsProductCreated == "True") {
            $("#ErrLabel").text("Attribute Can Not Be Deleted If Products Is Created");
            $("#ErrLabel").show();
            setTimeout(function () {
                $('#ErrLabel').fadeOut();
            }, 5000);
        }
    }

    function Edit(LinkingId, InvoiceId) {
        var serviceURL = '@Url.Action("EditLinking", "Product")?LinkingId=' + LinkingId + '&InvoiceId=' + InvoiceId;
        $.ajax({
            type: "Post",
            url: serviceURL,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (model) {
                $("#AttributeLinkingId").val(model.AttributeLinkingId);
                $("#AttributeSetList").val(model.AttributeSetId);
                $("#txtAttributeQty").val(model.Quantity);
                var tempList = model.Value.split(',');
                var AttributeListCount = $('#AttributeListCount').val();
                var j = 0;
                for (var i = 1; i <= AttributeListCount; i++) {
                    i = i.toString();
                    var Value = $("#AttributeValueList" + i + " option:selected").text();
                    var ListValue = tempList[j];
                    j++;
                    $("#AttributeValueList" + i + " option").filter(function () {
                        if ($(this).text() == ListValue) {
                            return true;
                        }
                    }).prop('selected', true);
                }
            },
        });
    }
</script>
