﻿@model DataLayer.ViewModels.BarcodeQueueViewModel

@{
    ViewBag.Title = "Barcode Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("BarcodeQueue", "Product", FormMethod.Post))
                            {
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Product Number</label>
                                        @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                        @Html.ValidationMessageFor(model => model.SerialNumber, "Required", new { @class = "text-danger" })
                                        <label class="text-danger" id="ErrLabel" style="color:#a94442;font-weight: normal;"></label>
                                    </div>
                                </div>
                                <div class="col-lg-2" style="margin: 18px 0 0 0;">
                                    <button type="submit" class="btn btn-info">Add</button>
                                </div>
                            }
                            <div class="pull-right" style="margin: 18px 0 0 0;">
                                <div class="col-sm-3 col-xs-6">
                                    <a class="btn btn-bitbucket btn-sm" href="@Url.Action("PrintBarcodeQueue","Product")">
                                        <span>Print Barcode Queue</span>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>
                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();
                        </script>
                    }
                    <div class="box-body">
                        <div id="ProductList">
                            @Html.Partial("_BarcodeProductList")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function Remove(ProductId)
    {
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveItem", "Product")?ProductId=' + ProductId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#ProductList").html(response);
            },
            error: function (data) {
                alert("Product Not Found");
            }
        });
    }
</script>