﻿@model DataLayer.Models.Product
@{
    ViewBag.Title = "Product - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />


<section class="content">
    <div class="row">
        @using (Html.BeginForm("Create", "Product", FormMethod.Post))
        {
        @Html.HiddenFor(model => model.ProductId)
        @Html.HiddenFor(model => model.PurchaseInvoiceItemId)
        @Html.HiddenFor(model => model.IsSold)
        @Html.HiddenFor(model => model.Barcode)
        @Html.HiddenFor(model => model.SellInPartial, new { @id = "SellInPartialId" })
        @Html.HiddenFor(model => model.AttributeLinkingId)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.BranchId)
        @Html.HiddenFor(model => model.DivisionId)
        @Html.HiddenFor(model => model.ApplicableTax)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)
        @Html.HiddenFor(model => model.IsOpeningStock)
        <input type="hidden" id="SGSTPer" />
        <input type="hidden" id="CGSTPer" />
        <input type="hidden" id="IGSTPer" />
        <input type="hidden" id="OtherTaxPer" />
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Serial Number</label>
                            @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "SerialNumber" } })
                            @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Product Category</label>
                            @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, new { @class = "form-control", @id = "ddlCategory" })
                            @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Product Sub-category</label>
                            @Html.DropDownListFor(model => model.SubCategoryId, Model.SubCategoryList, new { @class = "form-control", @id = "ddlSubCategory" })
                            @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">SKU</label>
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.SKUMasterId, Model.SKUList, new { @class = "form-control", @id = "ModelSKUList" })
                                <span class="input-group-btn">
                                    <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#SKUModel">+</i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.SKUMasterId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Brand</label>
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.BrandId, Model.BrandList, new { @class = "form-control", @id = "ModelBrandList" })
                                <span class="input-group-btn">
                                    <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#BrandModel">+</i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Unit</label>
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.UnitId, Model.UnitList, new { @class = "form-control", @id = "ModelUnitList" })
                                <span class="input-group-btn">
                                    <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#UnitModel">+</i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">HSN Id</label>
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.HSNId, Model.HSNList, new { @class = "form-control", @id = "ModelHSNList" })
                                <span class="input-group-btn">
                                    <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#HSNModel">+</i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.HSNId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (Model.SellInPartial == false)
                                        {
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Quantity</label>
                                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity", @readonly = true } })
                                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        }
                                        else
                                        {
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Quantity</label>
                                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity" } })
                                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        }

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Base Price</label>
                            @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @id = "Rate" } })
                            @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">GST</label>
                            <div class="input-group">
                                @Html.DropDownListFor(model => model.GSTId, Model.GSTList, new { @class = "form-control", @id = "ModelGSTList" })
                                <span class="input-group-btn">
                                    <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#GSTModel">+</i>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.GSTId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">SGST</label>
                            @Html.EditorFor(model => model.SGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxSGST", @readonly = true } })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">CGST</label>
                            @Html.EditorFor(model => model.CGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxCGST", @readonly = true } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">IGST</label>
                            @Html.EditorFor(model => model.IGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxIGST", @readonly = true } })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Purchase Net Price/Unit</label>
                            @Html.EditorFor(model => model.NetAmount, new { htmlAttributes = new { @class = "form-control", @id = "Net", @readonly = "true" } })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">WSP (%)</label>
                            @Html.EditorFor(model => model.WSPPercent, new { htmlAttributes = new { @class = "form-control", @id = "WSPPercent" } })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">WSP Net Price/Unit</label>
                            @Html.EditorFor(model => model.WSPAmount, new { htmlAttributes = new { @class = "form-control", @id = "WSPAmount", @readonly = true } })
                            @Html.ValidationMessageFor(model => model.WSPAmount, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label for="exampleInputEmail1" class="erplabel">Location</label>
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">MRP</label>
                            @Html.EditorFor(model => model.MRP, new { htmlAttributes = new { @class = "form-control", @id = "MRP" } })
                            <label for="exampleInputPassword1" class="erplabel" style="color:#a94442;font-weight: normal;" id="MRPComparision">MRP Should Be Greater Than Rate</label>
                            @Html.ValidationMessageFor(model => model.MRP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Sales Discount Code</label>
                            <div class="input-group">
                                @Html.ListBoxFor(m => m.DiscountIds, Model.DiscountCodeList, new { @class = "listbox" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-bitbucket pull-right" id="ProductSubmit">Save</button>
            </div>
        </div>
        }
    </div>
</section>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });

        $('#MRPComparision').hide();
        GetTax();
        SetSKU();
        $("#Rate,#Frieght,#WSPPercent").keyup(function () {
            calculation();
            GetTax();
            compareMRPandRate();
        });

        $("#MRP").keyup(function () {
            compareMRPandRate();
        });

        $("#Rate,#MRP,#Comission,#Quantity,#WSPPercent").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });

        function compareMRPandRate() {
            if ($('#MRP').val() != null || $('#MRP').val() == "") {
                var MRP = parseFloat($('#MRP').val() || 0);
                var Rate = parseFloat($('#Rate').val() || 0);
                if (MRP > Rate) {
                    $('#MRPComparision').hide();
                    $("#ProductSubmit").prop("disabled", false);
                }
                else {
                    $('#MRPComparision').show();
                    $("#ProductSubmit").prop("disabled", true);
                }
            }
        }

        $("#ModelGSTList").change(function () {
            GetTax();
        });

        function GetTax() {
            var GST = parseInt($("#ModelGSTList option:selected").val());
            if (GST > 0) {
                var serviceURL = '@Url.Action("GetGST", "PurchaseInvoice")';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': GST },
                    dataType: "json",
                    success: function successFunc(data) {
                        var Rate = parseFloat($('#Rate').val() || 0);
                        var CGST = parseFloat((data.CGST / 100) * Rate || 0);
                        var SGST = parseFloat((data.SGST / 100) * Rate || 0);
                        var IGST = parseFloat((data.IGST / 100) * Rate || 0);
                        var Other = parseFloat((data.Other / 100) * Rate || 0);
                        $('#TaxSGST').val(SGST.toFixed(4));
                        $('#TaxCGST').val(CGST.toFixed(4));
                        $('#TaxIGST').val(IGST.toFixed(4));
                        //  $('#OtherTaxes').val(Other.toFixed(2));
                        $('#SGSTPer').val(data.SGST);
                        $('#CGSTPer').val(data.CGST);
                        $('#IGSTPer').val(data.IGST);
                        $('#OtherTaxPer').val(data.Other);
                        calculation();
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
        }

        function calculation() {

            var TaxIGST = parseFloat($('#TaxIGST').val() || 0);
            var TaxCGST = parseFloat($('#TaxCGST').val() || 0);
            var TaxSGST = parseFloat($('#TaxSGST').val() || 0);
            var Rate = parseFloat($('#Rate').val() || 0);
            var WSPPercent = parseFloat($('#WSPPercent').val() || 0);
            var Net = (Rate + TaxIGST + TaxCGST + TaxSGST);
            $('#Net').val(Net.toFixed(2));
            if (WSPPercent > 0) {
                WSPPercent = (WSPPercent / 100) * Rate;
                var SGSTPer = parseFloat($('#SGSTPer').val()) || 0;
                var CGSTPer = parseFloat($('#CGSTPer').val()) || 0;
                var IGSTPer = parseFloat($('#IGSTPer').val()) || 0;

                var TotalGST = SGSTPer + CGSTPer + IGSTPer;
                var WSPWithOutGst = WSPPercent + Rate;
                var TAXonWSP = parseFloat((TotalGST / 100) * WSPWithOutGst || 0);
                var WSPAmount = TAXonWSP + WSPWithOutGst;
                $('#WSPAmount').val(WSPAmount.toFixed(4));
            }
            else {
                $('#WSPAmount').val(Net.toFixed(2));
            }
            compareMRPandRate();
        }

        $("#ddlCategory").change(function () {
            $("#ddlSubCategory").empty();
            var value = $("#ddlCategory option:selected").val();
            $.ajax({
                type: "Post",
                url: '@Url.Action("SubCategoryList", "PurchaseInvoice")?categoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (SubCategoryList) {

                    $("#ddlSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(SubCategoryList, function (i, Sub) {
                        //$("#ContactSubCategory").clearQueue();
                        $("#ddlSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                    $("#ModelSKUList").empty();
                    $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');

                },
                error: function (data) {
                    alert("error");
                }
            });
        });

        $("#ModelSKUList").change(function () {
            SetSKU();
        });
        $("#ddlSubCategory").change(function () {
            $("#ModelSKUList").empty();
            var CatId = $("#ddlCategory option:selected").val();
            var SubId = $("#ddlSubCategory option:selected").val();
            var serviceURL = '@Url.Action("SKUList", "PurchaseInvoice")';
            var model = { 'CategoryId': CatId, 'SubCategoryId': SubId };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (skulist) {
                    $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(skulist, function (i, Sub) {
                        //$("#ContactSubCategory").clearQueue();
                        $("#ModelSKUList").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });

                },
                error: function (data) {
                    alert("error");
                }

            });
        });

    });

    function SetSKU() {
        var id = $("#ModelSKUList option:selected").val();
        $("#ModelDiscountList").empty();
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListFromSKU", "PurchaseInvoice")?id=' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (model) {
                    $("#ddlCategory").val(model.CategoryId);
                    $('#ddlSubCategory').val(model.SubCategoryId);
                    $("#ModelDiscountList").empty();
                    $("#ModelDiscountList").append('<option selected="selected" value="-1">' + "--Select One--" + '</option>');
                    for (var i = 0; i < model.CountList; i++) {
                        if ($("#txtHiddenDiscount").val() != model.DiscountCodeList[i].Value) {
                            $("#ModelDiscountList").append('<option value="' + model.DiscountCodeList[i].Value + '">' + model.DiscountCodeList[i].Text + '</option>');
                        }
                        else {
                            $("#ModelDiscountList").append('<option  selected="selected" value="' + model.DiscountCodeList[i].Value + '">' + model.DiscountCodeList[i].Text + '</option>');
                        }

                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }
</script>