﻿@model DataLayer.ViewModels.ProductGridViewModel

@{
    ViewBag.Title = "Product - Index";
}


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<section class="content-header">
    <h1> Product <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">product</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                        {
                            <script type="text/javascript">
                                $("#ErrLabel").text("@ViewBag.ErrorMsg");
                                setTimeout(function () {
                                    $('#ErrLabel').fadeOut();
                                }, 5000);
                            </script>
                        }
                        else
                        {
                            <script type="text/javascript">
                                $("#ErrLabel").hide();

                            </script>
                        }
                        <div class="pull-right col-md-8">
                            <div class="col-sm-3 col-xs-6">
                                <a class="btn btn-bitbucket btn-sm" href="@Url.Action("PrintBarcodeQueue","Product")">
                                    <span>Print Barcode Queue</span>
                                    @if (DataLayer.Utils.SessionManager.GetBarcodeQueueList().Count > 0)
                                    {
                                        <span id="cartBadge" class="mdl-badge" data-badge="@DataLayer.Utils.SessionManager.GetBarcodeQueueList().Count">( @DataLayer.Utils.SessionManager.GetBarcodeQueueList().Count )</span>
                                    }
                                </a>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <a class="btn btn-bitbucket btn-sm" href="@Url.Action("BarcodeQueue","Product")"> Barcode Queue</a>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <a class="btn btn-bitbucket btn-sm" href="@Url.Action("EmptyBarcodeQueue","Product")"> Empty Barcode Queue</a>
                            </div>
                            @*<div class="col-sm-2 col-xs-6">
                                    <a class="btn btn-bitbucket mediabtn btn-sm" href="@Url.Action("AddInvoiceItem","Product")"><i class="fa fa-plus-square"></i> Add New</a>
                                </div>*@
                        </div>
                        <br />

                        <div class="tablediv">
                            @if (Model != null)
                            {
                                <br />
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="erplabel"><b>SKU</b></th>
                                            <th class="erplabel"><b>Purchase Quantity</b></th>
                                            <th class="erplabel"><b>Available Stock</b></th>
                                            <th class="erplabel"><b>Action</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ProductGrid)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SKU)
                                                </td>
                                                <td>@item.PurchaseQuantity.ToString("0.##")</td>
                                                <td>@item.Quantity.ToString("0.##")</td>
                                                <td>
                                                    <a href="@Url.Action("Details", "Product")?id=@item.SKUId">
                                                        Details
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
