﻿@model DataLayer.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log In";
}
<p>Hello</p>
@*<html>

<body class="login-page">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        <script>
            alert("@ViewBag.ErrorMsg")
        </script>
    }
    @using (Html.BeginForm("VerifyPassword", "AccountAP", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="login-box">
            <div class="login-logo">
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <center><a href="#"><img src="~/image/jp_logo.png" class="img-responsive" width="128" height="128" /></a></center>
                    <br />
                    <p class="login-box-msg" style="font-size:20px !important;">Sign in to start your session</p>
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @id = "Email" } })
                        <div style="font-size:15px !important;">
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @id = "Password" } })
                        <div style="font-size:15px !important;">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-primary pull-right btn-block btn-flat" value="Sign In" id="submit" />
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.login-box-body -->
            </div>
        </div>
        <!-- Modal -->
    }

</body>
</html>*@