﻿@model DataLayer.Models.Role
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">

                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("CreateRole", "Role", FormMethod.Post))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.RoleId)

                        <div class="col-lg-6">
                            <div class="form-group">

                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">@Html.CheckBoxFor(model => model.IsAdmin, new { htmlAttributes = new { @class = "form-control", @id= "chkAdmin", @onclick = "hideControls()" } }) Mark as Admin</label>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div id="controls">
                            <h5 class="alert alert-info">Modules</h5>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" id="</div>">
                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6  table-striped">
                                    <div class="col-lg-4 ">

                                    </div>
                                    <div class="col-lg-2">
                                        <b> Read</b>
                                    </div>
                                    <div class="col-lg-2">
                                        <b> Create</b>
                                    </div>
                                    <div class="col-lg-2">
                                        <b> Edit</b>
                                    </div>
                                    <div class="col-lg-2">
                                        <b> Delete</b>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6  table-striped">
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-2">
                                        <b> Read</b>
                                    </div>
                                    <div class="col-lg-2">
                                        <b> Create</b>
                                    </div>
                                    <div class="col-lg-2">
                                        <b> Edit</b>
                                    </div>
                                    <div class="col-lg-2">
                                        <b> Delete</b>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                @for (int i = 0; i < Model.PermissionSetLinkings.Count; i++)
                            {
                                    @Html.HiddenFor(q => Model.PermissionSetLinkings[i].PermissionSetLinkingId)
                                    @Html.HiddenFor(q => Model.PermissionSetLinkings[i].PermissionId)
                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6   table-striped">
                                        <div class="col-lg-4">
                                            <p><b>@Model.PermissionSetLinkings[i].Permission.DisplayName</b></p>
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.PermissionSetLinkings[i].IsRead, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.PermissionSetLinkings[i].IsCreate, new { htmlAttributes = new { @class = "form-control", @id = "Read_@i" } })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.PermissionSetLinkings[i].IsEdit, new { htmlAttributes = new { @class = "form-control", @id = "Read_@i" } })
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.PermissionSetLinkings[i].IsDelete, new { htmlAttributes = new { @class = "form-control", @id = "Read_@i" } })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            }
                            </div>
                            <div class="clearfix"></div>
                            <h5 class="alert alert-info">Companies</h5>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" id="</div>">
                                @for (int i = 0; i < Model.Companies.Count; i++)
                            {

                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6   table-striped">
                                        <div class="col-lg-4">
                                            @Html.HiddenFor(q => Model.Companies[i].CompanyId)
                                            <p><b>@Model.Companies[i].Name</b></p>
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.Companies[i].IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            }
                            </div>
                            <div class="clearfix"></div>
                            <h5 class="alert alert-info">Branches</h5>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" id="</div>">
                                @for (int i = 0; i < Model.Branches.Count; i++)
                            {

                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6   table-striped">
                                        <div class="col-lg-4">
                                            @Html.HiddenFor(q => Model.Branches[i].BranchId)
                                            <p><b>@Model.Branches[i].Name</b></p>
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.Branches[i].IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            }
                            </div>
                            <div class="clearfix"></div>
                            <h5 class="alert alert-info">Divisions</h5>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" id="</div>">
                                @for (int i = 0; i < Model.Divisions.Count; i++)
                            {

                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6   table-striped">
                                        <div class="col-lg-4">
                                            @Html.HiddenFor(q => Model.Divisions[i].DivisionId)
                                            <p><b>@Model.Divisions[i].Name</b></p>
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.Divisions[i].IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            }
                            </div>

                            <div class="clearfix"></div>
                            <h5 class="alert alert-info">Dashboard Items</h5>
                            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" id="</div>">
                                @for (int i = 0; i < Model.DashboardItems.Count; i++)
                                {

                                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6   table-striped">
                                        <div class="col-lg-4">
                                            @Html.HiddenFor(q => Model.DashboardItems[i].DashboardItemId)
                                            <p><b>@Model.DashboardItems[i].ItemName</b></p>
                                        </div>
                                        <div class="col-lg-2">
                                            @Html.CheckBoxFor(q => Model.DashboardItems[i].IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                }
                            </div>
                        </div>




                    </div>
                    <div>
                        <center>
                            <input type="submit" class="btn btn-danger" value="Cancel" />
                            <input type="submit" class="btn btn-primary" value="Save" />
                        </center>
                        <br />
                    </div>
                }

                <!-- /.box -->
                <!-- /.box -->

            </div>
        </div>



        <div class="box box-primary">


        </div>
    </div>
        <!--end main body-->
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('#chkAdmin').change(function () {
            alert('ff');
            if (this.checked)
                $('#rightsDiv').fadeIn('slow');
            else
                $('#rightsDiv').fadeOut('slow');

        });
    });

    function hideControls()
    {
        
        $("#controls").toggle();
    }
</script>
