﻿@model IEnumerable<DataLayer.Models.Role>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                <a class="btn btn-info pull-right" href="@Url.Action("CreateRole", "Role")">Add New Role</a>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        @if (Model != null)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Name</b></th>
                                        <th class="erplabel"><b>Admin</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@Html.CheckBoxFor(model => item.IsAdmin, new { htmlAttributes = new { @class = "form-control", @disabled = "1" } }) </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "Role")?id=@item.RoleId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("CreateRole", "Role")?id=@item.RoleId">
                                                    Delete
                                                </a>
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No roles created</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
</section>
