﻿@model DataLayer.Models.AttributeSet
@{
    ViewBag.Title = "Attribute - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">

                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Attribute", FormMethod.Post))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.AttributeSetId)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">

                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                    @Html.ValidationMessageFor(model => model.Name, "Required", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">

                                    @Html.TextArea("ApplicableValues", new { htmlAttributes = new { @class = "form-control"},@cols = "90", @placeholder = "Values" })
                                    @Html.ValidationMessageFor(model => model.ApplicableValues, "Required", new { @class = "text-danger" })
                                    <p>Enter values, with each value separated by a new line</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="erplabel">@Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } }) Active</label>
                                </div>
                            </div>
                   
                    </div>
                    <div>
                        <center>
                            <input  type="reset" class="btn btn-bitbucket btn-sm" value="Cancel" />
                            <input type="submit" class="btn btn-bitbucket btn-sm" value="Save" />
                        </center>
                        <br />
                    </div>
                }

                <!-- /.box -->
            

            </div>
        </div>
    </div>
    <!--end main body-->
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

