﻿@model DataLayer.Models.AttributeSet
@{
    ViewBag.Title = "Attribute - Details";
}


<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">

                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="box-header">
                        <a href="@Url.Action("Index","Attribute")" class="btn btn-bitbucket btn-sm pull-right"><i class="fa fa-backward"></i>Back to Index</a>
                    </div>
                    @Html.HiddenFor(model => model.AttributeSetId)
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <div class="form-group">

                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">@Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } }) Active</label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br />
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel"><b>Attribute Values List:</b></label>
                                <div class="clearfix"></div>
                                @foreach (var item in Model.AttributeListForDetails)
                                {
                                    @item
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>



                <!-- /.box -->
                <!-- /.box -->

            </div>
        </div>
    </div>
    <!--end main body-->
</section>

