﻿@model IEnumerable<DataLayer.Models.AttributeSet>

@{
    ViewBag.Title = "Attribute - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
<section class="content-header">
    <h1> Attribute <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "HomeAP")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Attribute</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text(@ViewBag.ErrorMsg);
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>


                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();

                        </script>
                    }

                    <div class="box-header">
                        <a href="@Url.Action("Create","Attribute")" class="btn btn-bitbucket btn-sm pull-right"><i class="fa fa-plus-square"></i> Add Attribute</a>
                    </div>
                   
                    <!-- /.box-header -->
                    <div class="box-body tablediv">
                        <div style="overflow-y:scroll; height:250px;">
                            @if (Model != null)
                            {
                                <table class="table">
                                    <tr>
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.AttributeSetId)
                                        </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </th>
                                        <th>Action</th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.AttributeSetId)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Create", "Attribute")?id=@item.AttributeSetId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("Delete", "Attribute",new { id=@item.AttributeSetId})" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                                ||
                                                <a href="@Url.Action("Details", "Attribute")?id=@item.AttributeSetId" >
                                                    Details
                                                </a>

                                                @*@Html.ActionLink("Create", "Attribute", new { id =item.AttributeSetId})
                                                ||
                                                @Html.ActionLink("Details", "Attribute", new { id = item.AttributeSetId })||
                                                @Html.ActionLink("Delete", "Attribute", new { id = item.AttributeSetId })*@
                                            </td>
                                        </tr>
                                    }

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>




@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttributeSetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttributeSetId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
