﻿@model DataLayer.ViewModels.ShippingViewModel
@{
    ViewBag.Title = "Shipping - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hiddenShippingId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }
    });
</script>
<section class="content-header">
    <h1> Shipping Master <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Shipping Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:180px">
                <div class="box-header with-border">
                    <h3 class="box-title">Shipping Master Details</h3>
                </div>

               @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
               {
                <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                </script>
               }
               else
               {
                <script type="text/javascript">
                            $("#ErrLabel").hide();

                </script>
               }

                <!-- /.box-header -->
                <div class="box-body">
                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "Shipping", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.Shipping.ShippingId,new { @id= "hiddenShippingId" })
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                            @Html.EditorFor(model => model.Shipping.ShippingType, new { htmlAttributes = new { @class = "form-control", @id = "txtColorName" } })
                            <label class="text-danger" id="err_ColorName" style="color:#a94442;font-weight: normal;"></label>
                            @*@Html.ValidationMessageFor(model => model.HsnMaster.ProductName, "", new { @class = "text-danger" })*@
                        </div>


                        <div class="clearfix"></div>
                        <div class="box-footer nopadding paddingright">
                            <button type="submit" class="btn btn-bitbucket btn-sm pull-right" id="btnSubmit"><i class="fa fa-save"></i> Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.ShippingLists != null && Model.ShippingLists.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Shipping Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ShippingLists)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ShippingType)
                                                </td>
                                                <td>
                                                    @*<a class="fa fa-pencil fa-2x" href="@Url.Action("Index", "Shipping", new { id = item.ShippingId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                    <a class="fa fa-trash-o fa-2x" href="@Url.Action("Delete","Shipping", new { id = item.ShippingId })" onclick="return confirm('Are you sure you want to delete this Shipping Master?');" title="Delete"></a>*@
                                                    <a href="@Url.Action("Index", "Shipping")?id=@item.ShippingId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "Shipping",new { id=@item.ShippingId})" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
