﻿@model DataLayer.Models.SaleInvoice
@{
    ViewBag.Title = "Sale Invoice - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtadjust").keyup(function () {
            var Total = parseFloat($("#TotalInvoiceValue").val() || 0);
            var Adjust = parseFloat($("#txtadjust").val() || 0);
            $("#FinalTotalAdj").val(Total - Adjust);

            var TotalDiscount = parseFloat($("#TotalDiscountNotMapped").val() || 0);
            $("#DiscWithAd").val(TotalDiscount + Adjust);
        })

        $("#btnnewInoice").click(function () {
            location.href = '@Url.Action("Create", "SaleInvoice")';
        })

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        $("#AddSaleOrder").click(function () {
            var serviceURL = '@Url.Action("GetSaleOrder", "SaleInvoice")';
            var PurchaseOrder = parseInt($("#PurchaseOrderId option:selected").val());
            if (PurchaseOrder > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': PurchaseOrder },
                    dataType: "html",
                    success: function successFunc(result) {
                        $("#ItemListView").html(result);
                        $("#SaleOrderId").val(PurchaseOrder);
                        var SaleAccountIdHidden = parseFloat($("#SaleAccountIdHidden").val() || 0);
                        var CustomerIdHidden = parseFloat($("#CustomerIdHidden").val() || 0);
                        var SaleTypeIdHidden = parseFloat($("#SaleTypeIdHidden").val() || 0);
                        var LocationIdHidden = parseFloat($("#LocationIdHidden").val() || 0);
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                $("#ErrAddSaleOrder").show();
                $("#ErrAddSaleOrder").text("Select Sale Order");
                setTimeout(function () {
                    $('#ErrAddSaleOrder').fadeOut();
                }, 5000);
            }
        });

        $("#SaleMemoId").change(function () {
            var SaleMemoId = parseInt($("#SaleMemoId option:selected").val() || 0);
            if (SaleMemoId > 0){
            var serviceURL = '@Url.Action("GetDeliveryMemo", "SaleInvoice")';
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { 'id': SaleMemoId },
                dataType: "html",
                success: function successFunc(result) {
                    $("#ItemListView").html(result);
                },
                error: function errorFunc() {
                    alert("Error");
                }
            });
            }
        });

        $("#Hold,#Save,#MakePayment").click(function () {
            var ItemCount = parseInt($("#SaleInvoiceItemCount").val() || 0);
            if (ItemCount == 0) {
                $("#ErrLabel").text("Items Required");
                $("#ErrLabel").show();
                setTimeout(function () {
                    $('#ErrLabel').fadeOut();
                }, 5000);
                return false;
            }
        });

        $("#AddSaleOrder").click(function () {
            var serviceURL = '@Url.Action("GetSaleOrder", "SaleInvoice")';
            var PurchaseOrder = parseInt($("#PurchaseOrderId option:selected").val());
            if (PurchaseOrder > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': PurchaseOrder },
                    dataType: "html",
                    success: function successFunc(result) {
                        $("#ItemListView").html(result);
                        $("#SaleOrderId").val(PurchaseOrder);
                        var SaleAccountIdHidden = parseFloat($("#SaleAccountIdHidden").val() || 0);
                        var CustomerIdHidden = parseFloat($("#CustomerIdHidden").val() || 0);
                        var SaleTypeIdHidden = parseFloat($("#SaleTypeIdHidden").val() || 0);
                        var LocationIdHidden = parseFloat($("#LocationIdHidden").val() || 0);
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
        });

        var SalesInvoiceId = parseInt($("#SalesInvoiceId").val() || 0);
        if (SalesInvoiceId > 0)
        {
            $(function () {
            $("#SaleMemoId").mousedown(function (e) {
                if ($(this).find('option').length > 0) {
                    e.preventDefault();
                }
                });
            });
        }

        var IsLedgerUpdate = $("#IsLedgerUpdate").val();
        if (IsLedgerUpdate == "True")
        {
            $(function () {
                $("select").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });
            $("#InvoicingDate").attr('readonly', 'readonly');
        }

        $("#Search").on('keyup', function () {
            var SalesInvoiceId = $("#SalesInvoiceId").val();
            var IsWPS = ($("#IsWPS").val() || false);
            var ProdId = $("#Search").val();
            if (ProdId.length == 10) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ItemList", "SaleInvoice")?ProdId=' + ProdId + '&SalesInvoiceId=' + SalesInvoiceId + '&IsWPS=' + IsWPS,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#Search").val("");
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        $("#Search").val("");
                        alert("Product Not Found");
                    }
                });
            }
            else if (ProdId.length > 10) {
                $("#err_Product").show();
                setTimeout(function () {
                    $('#err_Product').fadeOut();
                    $("#Search").val("");
                }, 3000);
            }
        });

        function RefreshList() {
            $('#myModal').modal('hide');
            alert('successFunction')
        }

        function error() {
            alert('successFunction')
        }

        $("#ItemListView").load();


        $("#myBtn").click(function () {
            $('#LocationModel').model('show');
            $('#SupplierModel').modal('show');
        });

        $("#ShippingTrackingNumber").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });
</script>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                @using (Html.BeginForm("Create", "SaleInvoice", FormMethod.Post))
                {
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SaleInvoiceId, new { @id = "SalesInvoiceId" })
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.IsWPS, new { @id = "IsWPS" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.PaymentTypeId)
                        @Html.HiddenFor(model => model.Time)
                        @Html.HiddenFor(model => model.SalesOrderItemId)
                        @Html.HiddenFor(model => model.IsPaymentDone, new { @id = "IsPaymentDone" })
                        @Html.HiddenFor(model => model.IsLedgerUpdate, new { @id = "IsLedgerUpdate" })
                        @Html.HiddenFor(model => model.IsInventoryUpdate)
                        @if (Model.SaleInvoiceId > 0)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Sale Invoice Number</label>
                                    @Html.EditorFor(model => model.SaleInvoiceNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.SaleInvoiceNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Invoicing Date</label>
                                @Html.EditorFor(model => model.InvoicingDate, new { htmlAttributes = new { @class = "form-control", @id = "InvoicingDate" } })
                                @Html.ValidationMessageFor(model => model.InvoicingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @if (Model.SaleOrderId != 0 && Model.SaleOrderId != -1)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Sale Order No.</label>
                                    @Html.DropDownListFor(model => model.SaleOrderId, Model.SaleOrderList, new { @class = "form-control", @id = "PurchaseOrderId" })
                                    @Html.ValidationMessageFor(model => model.SaleOrderId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.SaleOrderId, new { @id = "SaleOrderId" })
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Account</label>
                                @Html.DropDownListFor(model => model.SaleAccountId, Model.SaleAccountList, new { @class = "form-control", @id = "ModelAccountCategoryList", @min = "1" })
                                @Html.ValidationMessageFor(model => model.SaleAccountId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Account</label>
                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerAccountList, new { @class = "form-control", @id = "ModelCustomerList" }) 
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Salesman</label>
                                @Html.DropDownListFor(model => model.EmployeeId, Model.EmployeeAccountList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Details</label>
                                @Html.TextBoxFor(m => m.ShippingDetails, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShippingDetails, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                @Html.TextBoxFor(m => m.ShippingType, new { @class = "form-control", @id = "ShippingType" })
                                @Html.ValidationMessageFor(model => model.ShippingType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Delivery Memo</label>
                                @Html.DropDownListFor(model => model.SaleMemoId, Model.SaleMemoList, new { @class = "form-control", @id = "SaleMemoId" })
                                @Html.ValidationMessageFor(model => model.SaleMemoId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Type</label>
                                @Html.DropDownListFor(model => model.SaleTypeId, Model.SaleTypeList, new { @class = "form-control", @id = "ModelSaleAccountList", @min = "1" })
                                @Html.ValidationMessageFor(model => model.SaleTypeId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Number Of Products</label>
                                @Html.TextBoxFor(m => m.NumberOfProduct, new { @readonly = "readonly", @class = "form-control", @id = "NumberOfProduct" })
                                @Html.ValidationMessageFor(model => model.ShippingType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Base Total</label>
                                @Html.TextBoxFor(m => m.Points, new { @readonly = "readonly", @class = "form-control", @id = "BasePrice" })
                                @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Discount</label>
                                @Html.TextBoxFor(m => m.DiscountWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "DiscWithAd" })
                                @Html.HiddenFor(m => m.TotalDiscount, new { @id = "TotalDiscount" })
                                @Html.ValidationMessageFor(model => model.TotalDiscount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Gross Total</label>
                                @Html.TextBoxFor(m => m.Subtotal, new { @readonly = "readonly", @class = "form-control", @id = "Subtotal" })
                                @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                @Html.TextBoxFor(m => m.TotalTax, new { @readonly = "readonly", @class = "form-control", @id = "TotalTax" })
                                @Html.ValidationMessageFor(model => model.TotalTax, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                @Html.TextBoxFor(m => m.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                @Html.ValidationMessageFor(model => model.Adjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                <input type="hidden" id="txttotalInvoice" />
                                @Html.HiddenFor(m => m.TotalInvoiceValue, new { @id = "TotalInvoiceValue" })
                                @Html.TextBoxFor(m => m.TotalWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "FinalTotalAdj" })
                                @Html.ValidationMessageFor(model => model.TotalWithAdjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <!-- /.box-body -->
                    <div class="row">
                        <div class="box-footer">
                            <div class="pull-right">
                                <a href="@Url.Action("Create", "SaleInvoice", new { NewInvoice = "NewInvoice" })" class="btn btn-info btn-sm"> New Invoice </a>
                                <input type="button" name="btn" value="Create Ledger" data-toggle="modal" data-target="#CustomerModel" class="btn btn-info btn-sm" />
                                @if (Model.IsInventoryUpdate == false)
                                {
                                    <input type="submit" name="btn" value="Hold" class="btn btn-info btn-sm" id="Hold"/>
                                }
                                <input type="submit" name="btn" value="Save" class="btn btn-info btn-sm" id="Save"/> 
                                <input type="submit" name="btn" value="Make Payment" class="btn btn-info btn-sm" id="MakePayment"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />

                <div class="box-header">
                    @if (Model.IsInventoryUpdate != true)
                    {
                        <div class="pull-left">
                            <label for="exampleInputEmail1" class="erplabel">Search Product</label> <br />
                            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @id = "Search" })
                            <label id="ErrLabel" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                        </div>
                    }
                    @if (Model.SaleInvoiceId == 0)
                    {
                        <div class="pull-right">
                            <div class="col-lg-8">
                                <label for="exampleInputEmail1" class="erplabel">Sale Order No.</label> <br />
                                @Html.DropDownListFor(model => model.SaleOrderId, Model.SaleOrderList, new { @class = "form-control", @id = "PurchaseOrderId" })
                                <label id="ErrAddSaleOrder" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                            </div>
                            <div class="col-lg-2" style="margin: 18px 0 0 0;">
                                <button id="AddSaleOrder" class="btn btn-info btn-sm">Add</button>
                            </div>
                        </div>
                    }
                </div>
                    <div class="box-body" id="ItemListView">
                        @Html.Partial("_ItemList")
                    </div>
            </div>
        </div>
    </div>
    <!--end main body-->
</section>

<!-- Modal -->
