﻿@model DataLayer.Models.SaleInvoice
@{
    ViewBag.Title = "Sale Invoice - Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#DivAmountRemaining").hide();
        $("#DivCashAmountPaid").hide();
        $("#DivCashTotalInvoiceValue").hide();
        $("#WalletPoints").hide();
        $("#bankDiv").hide();
        $("#CheckDiv").hide();

        var PurchaseOrder = parseInt($("#drpPaymentMethod option:selected").val());
        if (PurchaseOrder != -1) {
            $(function () {
                $("select").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });
        }

        if (PurchaseOrder == 1) {
            $("#DivAmountRemaining").show();
            $("#DivCashAmountPaid").show();
            $("#DivCashTotalInvoiceValue").show();
        }
        else {
            $("#DivAmountRemaining").hide();
            $("#DivCashAmountPaid").hide();
            $("#DivCashTotalInvoiceValue").hide();
        }
        if (PurchaseOrder == 2 || PurchaseOrder == 3 || PurchaseOrder == 4) {
            $("#bankDiv").show();
            $("#CheckDiv").show();
        }
        else {
            $("#bankDiv").hide();
            $("#CheckDiv").hide();
        }
        if (PurchaseOrder == 6) {
            $("#WalletPoints").show();
        }
        else {
            $("#WalletPoints").hide();
        }
        $("#drpPaymentMethod").change(function () {
            var PurchaseOrder = parseInt($("#drpPaymentMethod option:selected").val());
            if (PurchaseOrder == 1) {
                $("#DivAmountRemaining").show();
                $("#DivCashAmountPaid").show();
                $("#DivCashTotalInvoiceValue").show();
            }
            else {
                $("#DivAmountRemaining").hide();
                $("#DivCashAmountPaid").hide();
                $("#DivCashTotalInvoiceValue").hide();
            }
            if (PurchaseOrder == 2 || PurchaseOrder == 3 || PurchaseOrder == 4) {
                $("#bankDiv").show();
                $("#CheckDiv").show();
            }
            else {
                $("#bankDiv").hide();
                $("#CheckDiv").hide();
            }
            if (PurchaseOrder == 6) {
                $("#WalletPoints").show();
            }
            else {
                $("#WalletPoints").hide();
            }
        });

        $("#CashAmountPaid").keyup(function () {
            var V1 = parseInt($('#CashTotalInvoiceValue').val());
            var V2 = parseInt($('#CashAmountPaid').val());
            var V3 = parseInt($('#CashAmountRemaining').val());
            document.getElementById("CashAmountRemaining").value = V2 - V1;
        })

        $("#PrintInvoice,#PrintPOS,#PrintWPS").click(function () {

        })
    });
</script>
<section class="content" style="min-height: 0px !important;">
    @using (Html.BeginForm("PlaceOrder", "SaleInvoice", FormMethod.Post))
    {
        if (Model != null)
        {
            <div class="row" id="PrintThis">
                <!-- left column -->
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
                    <div class="box box-primary">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body" style="height:380px;">
                                <table class="table">
                                    <tr><th>Invoice Number:</th><td>@Model.SaleInvoiceNo</td></tr>
                                    <tr><th>Invoicing Date :</th><td>@Model.InvoicingDate</td></tr>
                                    <tr><th>Subtotal :</th><td>@Model.Subtotal</td></tr>
                                    <tr><th>Total Discount :</th><td>@Model.TotalDiscount</td></tr>
                                    <tr><th>Total Tax : </th><td>@Model.TotalTax</td></tr>
                                    <tr><th>Adjustment : </th><td>@Model.Adjustment</td></tr>
                                    <tr><th>Total : </th><td>@(Model.TotalWithAdjustment)</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
                    <div class="box box-primary">
                        <div class="box">
                            <!-- /.box-header -->
                            <div class="box-body">
                                @if (Model.SaleInvoiceItemList != null)
                                {
                                    @Html.HiddenFor(model => model.TotalNotMapped, new { @id = "TotalNotMapped" })
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="erplabel"><b>Product Number</b></th>
                                                <th class="erplabel"><b>Quantity</b></th>
                                                <th class="erplabel"><b>MRP</b></th>
                                                <th class="erplabel"><b>Tax</b></th>
                                                <th class="erplabel"><b>Discount</b></th>
                                                <th class="erplabel"><b>Subtotal</b></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.SaleInvoiceItemList)
                                            {
                                                <tr>
                                                    <td>@item.Product.SerialNumber</td>
                                                    <td>@item.Quantity</td>
                                                    <td>@item.MRP</td>
                                                    <td>(@item.GST.Name) @item.ApplicableTaxValue</td>
                                                    <td>@item.Discount</td>
                                                    <td>@(item.BasicPrice)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                <div class="clearfix"></div>
                                <br />
                                <br />


                                @Html.HiddenFor(model => model.SaleInvoiceId, new { @id = "SalesInvoiceId" })
                                <div class="box-footer">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Payment Type</label>
                                            @Html.DropDownListFor(model => model.PaymentTypeId, Model.PaymentTypeList, new { @class = "form-control", @id = "drpPaymentMethod", @min = "1" })
                                            @Html.ValidationMessageFor(model => model.PaymentTypeId, "Require", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3" id="DivCashTotalInvoiceValue">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                            @Html.EditorFor(model => model.TotalWithAdjustment, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "CashTotalInvoiceValue" } })
                                            @Html.ValidationMessageFor(model => model.TotalWithAdjustment, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2" id="DivCashAmountPaid">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Cash</label>
                                            @Html.EditorFor(model => model.Cash, new { htmlAttributes = new { @class = "form-control", @id = "CashAmountPaid" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3" id="DivAmountRemaining">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Tender Change</label>
                                            @Html.EditorFor(model => model.TenderChange, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "CashAmountRemaining" } })
                                            @Html.ValidationMessageFor(model => model.AmountRemaining, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3" id="CheckDiv">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Cheque/TRN Number: </label>
                                            @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", @id = "cheque" } })
                                            @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3" id="WalletPoints">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Points : </label>
                                            @Html.EditorFor(model => model.Points, new { htmlAttributes = new { @class = "form-control", @id = "cheque" } })
                                            @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="pull-right">
                                        @if (Model.IsWPS == true)
                                        {
                                            <input type="submit" name="btn" value="Print WSP" class="btn btn-info" id="PrintWPS" />
                                        }
                                        else
                                        {
                                            <input type="submit" name="btn" value="Print Invoice" class="btn btn-info" id="PrintInvoice" />
                                            <input type="submit" name="btn" value="Print POS" class="btn btn-info" id="PrintPOS" />
                                        }
                                        <input type="submit" name="btn" value="Save" class="btn btn-info" id="Save" />
                                    </div>
                                </div>

                            </div>
                            <!-- /.box -->
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</section>
