﻿@model DataLayer.ViewModels.GenerateSalesInovice

@{
    ViewBag.Title = "Sale Invoice - POS Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;

        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;

        return false;
        //window.print();
    });
</script>
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div style="width:100%;margin:0;max-width:1177px;margin:0 auto;" id="PrintThis">
            <div style="width:100%;margin:0 auto;">
                <center>
                    <b> @Model.Company.Name </b> <br />
                    @Model.Company.Address1&nbsp; @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                    @Model.Company.Address1  <br>
                    <span style="display: inline-block;font-size:13px;" class="text-center"> GST No. : @Model.Company.GST</span>
                    <div class="time" style="width:100%; font-weight: bold;">
                        TAX INVOICE
                    </div>

                </center>

                @if (Model.SalesInvoice.SaleInvoiceItemList != null)
                {
                    <table style="width:100%; margin: 0px 0 0 0; border:none;">
                        <tr>
                            <td style="font-weight: bold;padding-left: 5%;border:none">Bill No. :</td>
                            <td style="font-weight: bold;border:none"><b> @Model.SalesInvoice.SaleInvoiceNo</b></td>
                        </tr>

                        <tr>
                            <td style="font-weight: bold;padding-left: 5%;border:none">Bill Date :</td>
                            <td style="font-weight: bold;border:none"><b> @Model.SalesInvoice.InvoicingDate.ToString("dd'/'MM'/'yyyy")  @Model.SalesInvoice.Time</b></td>
                        </tr>

                        <tr>
                            <td style="font-weight: bold;padding-left: 5%;border:none">Cashier :</td>
                            <td style="font-weight: bold;border:none"><b> @Model.Contact.FirstName</b></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;padding-left: 5%;border:none">Salesman :</td>
                            @if (Model.Salesman != null)
                            {
                                <td style="font-weight: bold;border:none"><b> @Model.Salesman.FirstName</b></td>
                            }
                            else
                            {
                                <td style="font-weight: bold;border:none"><b> - </b></td>
                            }
                        </tr>
                        <tr>
                            <td style="font-weight: bold;padding-left: 5%;border:none">Customer :</td>
                            @if (Model.Ledger != null)
                            {
                                <td style="font-weight: bold;border:none"><b> @Model.Ledger.Name</b></td>
                            }
                            else
                            {
                                <td style="font-weight: bold;border:none"><b> - </b></td>
                            }
                        </tr>
                    </table>

                    <table style="width:100%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                        <tr>
                            <th style="text-align:center;">Description</th>
                            <th style="text-align:center;">QTY</th>
                            <th style="text-align:center;">Rate</th>
                            <th style="text-align:center;">DISC.</th>
                            <th style="text-align:center;">Gross Amount</th>

                        </tr>
                        @foreach (var item in Model.SalesInvoice.SaleInvoiceItemList)
                        {
                            <tr>
                                <td style="text-align:center;">@item.SKUMaster.Category.Name , @item.SKUMaster.SubCategory.Name , @item.Size</td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">@item.Product.SKUMaster.SKU</td>
                                @if (item.Product.SellInPartial != true)
                                {
                                    <td style="text-align:center;">@item.Quantity.ToString("#.##")</td>
                                }
                                else
                                {
                                    <td style="text-align:center;">@item.ConversionValue.Value.ToString("#.##") </td>
                                }
                                <td style="text-align:center;">@((item.BasicPrice.Value + item.Discount).ToString("0.00"))</td>
                                <td style="text-align:center;">@item.Discount.ToString("0.00")</td>
                                <td style="text-align:center;">@item.BasicPrice.Value.ToString("0.00")</td>
                            </tr>

                            <tr>
                                <td style="text-align:center;">@item.Product.SerialNumber</td>
                                <td style="text-align:center;">@(((item.GST.IGST.HasValue ? item.GST.IGST.Value : 0) + (item.GST.CGST.HasValue ? item.GST.CGST.Value : 0) + item.GST.SGST).ToString("0.00")) % GST</td>
                                <td style="text-align:center;">Amt : @item.ApplicableTaxValue.ToString("0.00")</td>
                                <td style="text-align:center;"></td>
                            </tr>
                        }
                        <tr>
                            <td style="text-align:center;"></td>
                            <td style="text-align:center;">Total : @Model.SalesInvoice.TotalQuantity.ToString("#.##") </td>
                            <td colspan="3" style="text-align:center;"></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;"> Sub Total</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;"> <b>@((Model.SalesInvoice.Subtotal + Model.SalesInvoice.TotalDiscount).ToString("0.00"))</b></td>
                        </tr>

                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;"> Total Discount</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;"> <b>@Model.SalesInvoice.TotalDiscount.ToString("0.00")</b></td>
                        </tr>

                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;"> Total GST</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;"> <b>@((Model.SalesInvoice.TotalCGST + Model.SalesInvoice.TotalIGST + Model.SalesInvoice.TotalSGST).ToString("0.00"))</b></td>
                        </tr>

                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;"> Round Off Amount</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;">
                                @if (Model.SalesInvoice.Adjustment == null)
                                {
                                    <span>  - </span>
                                }
                                else
                                {
                                    @Model.SalesInvoice.Adjustment.Value.ToString("0.00")
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;">Cash :</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;"><b>@((Model.SalesInvoice.Cash.HasValue ? Model.SalesInvoice.Cash.Value : 0).ToString("0.##"))</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;">Tender Change :</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;"><b>@((Model.SalesInvoice.TenderChange.HasValue ? Model.SalesInvoice.TenderChange.Value : 0).ToString("0.##"))</b></td>
                        </tr>
                        <tr>
                            <td colspan="4" style="font-weight: bold;padding-left: 5%;">Total Net Due :</td>
                            <td style="text-align:right; font-weight: bold;padding-right: 5%;"><b>@(Model.SalesInvoice.TotalWithAdjustment.ToString("0.00"))</b></td>
                        </tr>

                    </table>
                }
                @if (Model.SalesInvoice.SaleInvoiceItemList != null)
                {
                    <table style="width:100%; margin: 0px 0 0 0;" border="0">
                        <tr>
                            <th style="text-align:center;">TAX Description</th>
                            <th style="text-align:center;">AMOUNT</th>
                            <th style="text-align:center;">SGST</th>
                            <th style="text-align:center;">CGST</th>
                            <th style="text-align:center;">IGST</th>
                        </tr>

                        @foreach (var item in Model.GstList)
                        {
                            <tr>
                                <td style="text-align:center;">@item.GST.Name</td>
                                <td style="text-align:center;">@item.Amount.Value.ToString("0.00")</td>
                                <td style="text-align:center;">@item.SGST.Value.ToString("0.00")</td>
                                <td style="text-align:center;">@item.CGST.Value.ToString("0.00")</td>
                                <td style="text-align:center;">@item.IGST.Value.ToString("0.00")</td>
                            </tr>
                        }
                        <tr>
                            <th style="text-align:center;">Total :</th>
                            <th style="text-align:center;">@Model.TotalBasePrice.ToString("0.00")</th>
                            <th style="text-align:center;">@Model.SalesInvoice.TotalSGST.ToString("0.00")</th>
                            <th style="text-align:center;">@Model.SalesInvoice.TotalCGST.ToString("0.00")</th>
                            <th style="text-align:center;">@Model.SalesInvoice.TotalIGST.ToString("0.00")</th>
                        </tr>

                        <tr style="padding-top: 20px;">
                            <td style="padding: 12px;"></td>
                        </tr>

                        <tr style="padding-top: 20px;">
                            <td colspan="6" style="text-align:center;">Total Include of GST Rs. <b>@(Model.SalesInvoice.TotalWithAdjustment.ToString("0.00"))</b> </td>
                        </tr>
                    </table>
                }
                <div style="align-items:center" >
                    <span style="display:inline-block;text-align:center;width:100%;">  Payment Type : @Model.PaymentType.PaymentName </span> <br>
                    @if (Model.SalesInvoice.ChequeNumber != null)
                    {
                        <span style="display:inline-block;text-align:center;width:100%;">  Cheque Number : @Model.SalesInvoice.ChequeNumber </span> <br>

                    }
                </div>
                <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;padding-left:7px;">
                    <span style="font-weight: bold;text-decoration:underline"> Declaration</span> <span style="margin:0 7px 0 0"> :</span> <br>
                    <span>
                        Certified that the particulars given above are true & correct and the amount indicated represents the price
                        actually charged and there is no flow of additional consideration directly or indirectly from the buyers.
                    </span>
                </div><br>
                <div style="width:100%;display:inline-block;padding-left:7px;">
                    <span style="text-decoration:underline;font-weight: bold;">   Terms & Conditions </span> <span style="margin:0 7px 0 0"> :</span><br />
                    <span>
                        1. Subject To Nagpur Jurisdiction <br />
                        2. No Cancellation/ Exchange or Return of Made to Ordered or Altered Items. <br />
                        3. All Applicable Taxes/GST/Levies if/any apart from mentioned above would be Charged Extra at the time of Billing.<br />
                        4. Payment to be made on or before due date mentioned here, in favour of M/s. @Model.Company.Name ,bank details are given here-in. <br />
                        5. Cash Payment Without Original Reciept would be invalid. <br />
                        6. Payment against Made to Order or to be Altered product is Non-Refundable. <br />
                        7. No Gurantee/Warranty on designs/patterns and color fastness. <br />
                        8. Any Manufacturing/Fitting Defect would be resolved by means of Alteration/Repairs. <br />
                        9. Committed Delivery date can change,depending upon the prevailing conditions and supplies. <br />
                        10. We reserve the right to demand settlement of this invoice bill at any time before due date. <br />
                    </span>
                </div><br /><br /><br />
            </div>
        </div>
    </div>
</section>
