﻿@model DataLayer.ViewModels.LoginViewModel

@{
    ViewBag.Title = "";
}

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
                {
                    <div class="box-body">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">UserName</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "UserName" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Old Password</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "OldPassword", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.Password, "Required", new { @class = "text-danger" })
                                <label class="text-danger" id="ERRPassword" style="color:#a94442;font-weight: normal;">Enter Correct Password</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">New Password</label>
                                @Html.EditorFor(model => model.LoginUser.Password, new { htmlAttributes = new { @class = "form-control", @id = "NewPassword" } })
                                @Html.ValidationMessageFor(model => model.LoginUser.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Confirm Password</label>
                                @Html.EditorFor(model => model.LoginUser.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword" } })
                                @Html.ValidationMessageFor(model => model.LoginUser.ConfirmPassword, "", new { @class = "text-danger" })
                                <label class="text-danger" id="ErrConfirmPassword" style="color:#a94442;font-weight: normal;">Confirm Password Do Not Match</label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-md-8">
                            <div class="col-md-2 pull-right">
                                <button type="submit" class="btn btn-bitbucket btn-sm" id="ChangePasswords">Change</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
        {
            <script type="text/javascript">
                alert("@ViewBag.ErrorMsg");
            </script>
        }
        <!-- /.row -->
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#ERRPassword").hide();
        $("#ErrConfirmPassword").hide();
        $("#OldPassword").keyup(function () {
            var serviceURL = '@Url.Action("CheckPassword","Login")';
            var UserName = $("#UserName").val();
            var Password = $("#OldPassword").val();
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: { 'UserName': UserName, 'Password': Password },
                success: function successFunc(data) {
                    if (data == true) {
                        $("#ChangePasswords").prop("disabled", false);
                        $("#ERRPassword").hide();
                    }
                    else {
                        $("#ChangePasswords").prop("disabled", true);
                        $("#ERRPassword").show();
                    }
                },
                error: function errorFunc() {
                    alert("Error");
                }
            });


            $("#ChangePasswords").click(function () {
                var NewPassword = $("#NewPassword").val();
                var ConfirmPassword = $("#ConfirmPassword").val();
                if (NewPassword == ConfirmPassword) {
                    return true;
                }
                else {
                    $("#ErrConfirmPassword").show();
                    return false;
                }
            });
        });
    });
</script>

