﻿@model DataLayer.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @if (!Model.IsOTPAction)
            {
                <div id="login-register-modal" class="userAuthIcons">
                    <ul class="listAuthModal">
                        <li class="mngorder">
                            <i class="userAuthIcons"></i>
                            <p>Track orders, manage cancellations &amp; returns.</p>
                        </li>
                        <li class="shortlistitm">
                            <i class="userAuthIcons"></i>
                            <p>Keep items you love on a watchlist.</p>
                        </li>
                        <li class="offrupdate">
                            <i class="userAuthIcons"></i>
                            <p>Be first to know about great offers and save.</p>
                        </li>
                    </ul>
                    <div class="userAuth-card">
                        <!--body-->
                        <div>
                            <h5 class="modal-title text-center">Log in Astrologer</h5>
                            <p class="subHead marB20 text-center">Welcome Back!</p>
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <button class="mdl-js-button mdl-js-ripple-effect astro_button_login" type="submit"> Submit </button>

                                <label>By clicking on submit button you are agree to the terms & conditions</label>
                            }
                        </div>
                        <!--end body-->
                    </div>
                </div>
            }
            else
            {
                using (Html.BeginForm("VerifyOTP", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control", @id = "" } });
                    @Html.HiddenFor(model => model.CustomerId);
                    @Html.EditorFor(model => model.EnteredOTP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EnteredOTP, "", new { @class = "text-danger" })
                    <button class="mdl-js-button mdl-js-ripple-effect astro_button_login" type="submit"> Verify </button>
                }
            }
        </div>
    </div>
</div>

