﻿@model DataLayer.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <!-- Theme style -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<body class="login-page">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="float: none;margin: 0 auto;">
            <div class="login-box">
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <br />
                    <p class="login-box-msg" style="font-size:20px !important;">Sign in to start your session</p>
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.LoginUser.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "UserName", @id = "UserName" } })
                        <div style="font-size:15px !important;">
                            @Html.ValidationMessageFor(model => model.LoginUser.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.LoginUser.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @id = "Password" } })
                        <div style="font-size:15px !important;">
                            @Html.ValidationMessageFor(model => model.LoginUser.Password, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="pull-right">
                            <a class="text-danger erplabel" style="cursor:pointer;" onclick="Forget()">Forget Password</a>
                        </div>*@
                    </div>
                    <div class="form-inline has-feedback">
                        <label style="color:#a94442;font-weight: normal; font-size:15px" id="ErrLabel"></label>
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            $("#ErrLabel").show();
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>
                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();
                        </script>
                    }
                    <div class="clearfix"></div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-12">
                            <input type="submit" class="btn btn-primary pull-right btn-block btn-flat" value="Sign In" id="submit" />
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.login-box-body -->
            </div>
        </div>
    }
</body>
</html>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <script type="text/javascript">
            alert("@ViewBag.Error");
    </script>
}
<script type="text/javascript">
    function Forget() {
        var UserName = $("#UserName").val();
        var serviceURL = '@Url.Action("ForgetPassword", "Login")';
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { 'UserName': UserName },
            dataType: "json",
            success: function (data) {
                alert(data);
            },
            error: function errorFunc() {
                alert("Error");
            }
        });
    }
</script>