﻿@model DataLayer.ViewModels.NavBarViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Font Awesome -->
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- jvectormap -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <!-- Theme style -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>


<body class="login-page">
    <div class="login">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="float: none;margin: 0 auto;">
            <div class="login-logo">
                <!-- /.login-logo -->

                <div class="login-box-body">
                    <div class="tab-pane" id="control-sidebar-home-tab">
                        <h3 class="control-sidebar-heading" style="font-size: 24px;font-weight: bold;">Select</h3>
                        @using (Html.BeginForm("SetSessionValue", "Login", FormMethod.Post))
                        {
                            <div class="form-group">

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textleft">
                                    <label class="control-label erplabel" style="font-size: 16px;font-weight: 300;">Company</label>
                                </div>
                                @Html.HiddenFor(model => model.User.RoleId, new { @id = "RoleId" })
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model => model.Company.CompanyId, Model.Division.CompanyList, new { @class = "form-control", @id = "CompanyId" })
                                    @Html.ValidationMessageFor(model => model.Company.CompanyId, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="clearfix"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textleft">
                                    <label class="control-label" style="font-size: 16px;font-weight: 300;">Division</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model => model.Division.DivisionId, Model.Division.DivisionList, new { @class = "form-control", @id = "DivisionID" })
                                    @Html.ValidationMessageFor(model => model.Division.DivisionId, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="clearfix"></div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textleft">
                                    <label class="control-label" style="font-size: 16px;font-weight: 300;">Branch</label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownListFor(model => model.Branch.BranchId, Model.Branch.BranchList, new { @class = "form-control", @id = "BranchID" })
                                    @Html.ValidationMessageFor(model => model.Branch.BranchId, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="clearfix"></div>
                                <button class="btn btn-bitbucket btn-block mediabtn" id="Filter" type="submit"> Set</button>
                                @*@Html.Action("", "Home")*@
                            </div>
                        }
                        <!-- /.control-sidebar-menu -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#CompanyId").change(function () {
            $("#DivisionID").empty();
            $("#BranchID").empty();
            $("#DivisionID").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
            $("#BranchID").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
            var CompanyId = $("#CompanyId option:selected").val();
            var RoleId = $("#RoleId").val();
            $.ajax({
                type: "Post",
                url: '@Url.Action("DivisionList", "Login")?CompanyId=' + CompanyId + '&RoleId=' + RoleId,
                                contentType: "application/json; charset=utf-8",
                                dataType: "Json",
                                success: function (DivisionList) {
                                    $.each(DivisionList, function (i, Sub) {
                                        $("#DivisionID").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                                    });
                                },
                            });
                        });


        $("#DivisionID").change(function () {
              $("#BranchID").empty();
              $("#BranchID").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
              var DivisionID = $("#DivisionID option:selected").val();
              var RoleId = $("#RoleId").val();
                            $.ajax({
                                type: "Post",
                                url: '@Url.Action("BranchList", "Login")?DivisionId=' + DivisionID + '&RoleId=' + RoleId,
                                contentType: "application/json; charset=utf-8",
                                dataType: "Json",
                                success: function (BranchList) {
                                    $.each(BranchList, function (i, Sub) {
                                        $("#BranchID").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                                    });
                                },
                            });
        });

        $("button[id='Filter']").click(function () {
            var errCount = 0;
            var DivisionID = parseInt($("#DivisionID option:selected").val());
            var BranchID = parseInt($("#BranchID option:selected").val());
            var CompanyID = parseInt($("#CompanyList option:selected").val());
            if (CompanyID == -1) {
                errCount++;
            }
            if (BranchID == -1) {
                errCount++;
            }
            if (DivisionID == -1) {
                errCount++;
            }
            if (errCount == 0) {
                return true;
            }
            else {
                alert("Select Values");
                return false;
            }

        });
    });
</script>