﻿@model DataLayer.ViewModels.ContactCategoryViewModel
@{
    ViewBag.Title = "Ledger Category - Index";
}


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#err_Catgory").hide();
        $("#err_subCatgory").hide();

        if ($("#hiddenContactCategoryId").val() != 0) {
            $("#btnCategoryButton").text("Update");
        }
        else {
            $("#btnCategoryButton").text("Save");
        }

        if ($("#hiddenContactSubCategoryId").val() != 0) {
            $("#btnSubCategoryButton").text("Update");
        }
        else {
            $("#btnSubCategoryButton").text("Save");
        }

        $(document).ready(function () {
            $("#SubCatgry,#txtCategory").keypress(function (e) {
                if ((e.which < 48 || e.which > 57) && (e.which < 97 || e.which > 122) && (e.which < 65 || e.which > 90)) {
                    return false;
                }
            });
        });

        $("#txtCategory").keyup(function () {
            var Name = $('#txtCategory').val();
            var serviceURL = '@Url.Action("ExistingCategory", "ContactCategory")';
            var model = { 'Name': Name };
            var viewModel = { 'ContactCategory': model }
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(viewModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#btnCategoryButton").prop("disabled", true);
                    $("#err_Catgory").show();
                }
                else {
                    $("#btnCategoryButton").prop("disabled", false);
                    $("#err_Catgory").hide();
                }
            }
        });

        $("#SubCatgry").keyup(function () {
            var Name = $('#SubCatgry').val();
            var serviceURL = '@Url.Action("ExistingSubCategory", "ContactCategory")';
            var model = { 'ContactSubCategoryName': Name };
            var viewModel = { 'ContactSubCategory': model }
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(viewModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#btnSubCategoryButton").prop("disabled", true);
                    $("#err_subCatgory").show();
                }
                else {
                    $("#btnSubCategoryButton").prop("disabled", false);
                    $("#err_subCatgory").hide();
                }
            }
        });
    });
</script>

<section class="content-header">
    <h1> Ledger<small>Category</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Category</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6" style="height: 187px;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Create Category</h3>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                    </script>


                }
                else
                {
                    <script type="text/javascript">
                            $("#ErrLabel").hide();

                    </script>
                }
                @using (Html.BeginForm("CreateContactCategory", "ContactCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.ContactCategory.AccountCategoryId,new { @id= "hiddenContactCategoryId" })
                        @Html.HiddenFor(model => model.ContactCategory.CreatedDate)
                        @Html.HiddenFor(model => model.ContactCategory.CreatedBy)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                            @Html.EditorFor(model => model.ContactCategory.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtCategory", @required = "true", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.ContactCategory.Name, "", new { @class = "text-danger" })
                            <label class="text-danger" id="err_Catgory" style="color:#a94442;font-weight: normal;">Category Already Exist</label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-bitbucket  btn-sm" id="btnCategoryButton"><i class="fa fa-plus-square"></i> Add</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6" style="height: 250px;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Sub-Category</h3>
                </div>
                    @using (Html.BeginForm("CreateContactSubCategory", "ContactCategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            @Html.HiddenFor(model => model.ContactSubCategory.AccountSubCategoryId,new { @id= "hiddenContactSubCategoryId" })
                            @Html.HiddenFor(model => model.ContactSubCategory.CreatedBy)
                            @Html.HiddenFor(model => model.ContactSubCategory.CreatedDate)
                            <div class="col-lg-8 nopadding paddingright">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Sub-Category Name</label>
                                    @Html.EditorFor(model => model.ContactSubCategory.ContactSubCategoryName, new { htmlAttributes = new { @class = "form-control", @id = "SubCatgry", @required = "true" } })
                                    @Html.ValidationMessageFor(model => model.ContactSubCategory.ContactSubCategoryName, "", new { @class = "text-danger" })
                                    <label class="text-danger" id="err_subCatgory" style="color:#a94442;font-weight: normal;">SubCategory Already Exist</label>
                                </div>
                            </div>
                            <div class="col-lg-4 nopadding">
                                <div class="form-group" style="color:black;font-weight: normal;">
                                    <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                                    @Html.DropDownListFor(model => model.ContactSubCategory.AccountCategoryId, Model.ContactSubCategory.ContactCategoryList, new { @class = "form-control", @id = "Catgry" })
                                    @Html.ValidationMessageFor(model => model.ContactSubCategory.AccountCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-bitbucket btn-sm" id="btnSubCategoryButton"><i class="fa fa-plus-square"></i> Add</button>
                            </div>
                        </div>

                    }

              
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Category List</h3>
                </div>
                <div class="box-body">
                    <div style="overflow-y:auto;height:500px;">
                        @if (Model.ContactCategoryList != null && Model.ContactCategoryList.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContactCategoryList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            @if (item.DisableDelete != true)
                                            {
                                                <td>
                                                    <a href="@Url.Action("Index","ContactCategory")?AccountCategoryId=@item.AccountCategoryId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("DeleteContactCategory","ContactCategory")?id=@item.AccountCategoryId" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sub-Category List</h3>
                </div>
                <div class="box-body">
                    <div style="overflow-y:auto;height:500px;">
                        @if (Model.ContactSubCategoryList != null && Model.ContactSubCategoryList.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContactSubCategoryList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactSubCategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactCategory.Name)
                                            </td>

                                            <td>
                                                @*<a class="fa fa-pencil fa-2x" href="@Url.Action("Index","Catalouge", new { SubCategoryid = item.SubCategoryId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                    <a class="fa fa-trash-o fa-2x" href="@Url.Action("DeletesubCategory","Catalouge", new { SubCategoryid = item.SubCategoryId })" onclick="return confirm('Are you sure you want to delete this Subcategory?');" title="Delete"></a>*@
                                                <a href="@Url.Action("Index", "ContactCategory")?ContactSubCategoryid=@item.AccountSubCategoryId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("DeleteContactSubCategory", "ContactCategory",new { id = @item.AccountSubCategoryId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
