﻿@model DataLayer.Models.SalesOrder
@{
    Layout = null;
}
@Html.HiddenFor(model => model.EstimatedTotal, new { @id = "EstimatedTotalHidden" })
@if (Model.SalesOrderItems != null && Model.SalesOrderItems.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">SKU</th>
                <th class="erplabel">Quantity</th>
                <th class="erplabel">Estimated Price</th>
                <th class="erplabel">Remark</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SalesOrderItems)
            {
                <tr>
                    <td>@item.SKUMaster.SKU</td>
                    <td>@item.Quantity.ToString("#.##")</td>
                    <td>@item.EstimatedPrice.ToString("#.##")</td>
                    <td>@item.Remark</td>
                    @if (Model.OrderStatus != DataLayer.Enums.PurchaseOrderStatus.Closed)
                    {
                        if (item.IsSaleInvoiceCreated)
                        {
                            <th class="erplabel">
                                <span style="color:red">Sale Invoice Created</span>
                                @if (item.IsJobSheetCreated && item.JobSheet != null)
                                {
                                    <span>||</span>
                                    <a href="@Url.Action("Create", "Production",new { id = @item.JobSheetId, SalesOrderItemId = @item.SalesOrderItemId })">@item.JobSheetNumber </a>
                                }
                                @if (item.SaleInvoice != null)
                                {
                                    <span>||</span>
                                    <a href="@Url.Action("Create", "SaleInvoice")?id=@item.SaleInvoiceId">
                                        @item.SaleInvoice.SaleInvoiceNo
                                    </a>
                                }
                            </th>
                        }
                        else
                        {
                            <th class="erplabel">
                                <a style="cursor:pointer;" onclick="EditItem('@item.SalesOrderItemId','@item.SalesOrderId')">Edit</a>
                                <span>||</span>
                                <a style="cursor:pointer;" onclick="RemoveItem('@item.SalesOrderItemId','@item.SalesOrderId')">Remove</a>
                                @if (item.SalesOrderId != 0)
                                {
                                    <span>||</span>
                                    if (item.IsJobSheetCreated && item.JobSheet != null)
                                    {
                                        <a href="@Url.Action("Create", "Production",new { id = @item.JobSheetId, SalesOrderItemId = @item.SalesOrderItemId })">@item.JobSheetNumber </a>
                                        if (item.JobSheet.IsProductCreated == true)
                                        {
                                            <span>||</span>
                                            <a href="@Url.Action("Create", "SaleInvoice")?SalesOrderItemId=@item.SalesOrderItemId">
                                                Make Invoice
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Create", "Production",new { Status = DataLayer.Enums.JobSheetStatus.New, SalesOrderItemId = @item.SalesOrderItemId })"> Create Job Sheet </a>
                                    }
                                }
                            </th>
                        }
                    }
                    else
                    {
                        <th class="erplabel"><span style="color:red">Order Closed</span></th>

                    }

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <label>No Order Items</label>
}
<script type="text/javascript">
    $(document).ready(function () {
        var EstimatedTotalHidden = parseFloat($("#EstimatedTotalHidden").val() || 0);
        var FinalTotalAdj = parseFloat($("#FinalTotalAdj").val() || 0);
        $("#EstimatedTotal").val(EstimatedTotalHidden + FinalTotalAdj);
    });
    function RemoveItem(SalesOrderItemId, SalesOrderId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveOrderItem", "SalesOrder")?SalesOrderItemId=' + SalesOrderItemId + '&SalesOrderId=' + SalesOrderId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#ItemListView").html(response);
            },
            error: function errorFunc() {
                alert("Error");
            }
        });
    }

    function EditItem(SalesOrderItemId, SalesOrderId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("EditItem", "SalesOrder")?SalesOrderItemId=' + SalesOrderItemId + '&SalesOrderId=' + SalesOrderId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#SKU").val(data.SKU);
                $('#SKUMasterId').val(data.SKUMasterId);
                $("#SalesOrderItemId").val(data.SalesOrderItemId);
                $('#Remark').val(data.Remark);
                $('#Quantity').val(data.Quantity);
                $('#EstimatedPrice').val(data.EstimatedPrice);
                $('#IsJobSheetCreated').val(data.IsJobSheetCreated);
                $('#JobSheetId').val(data.JobSheetId);
                $('#IsSaleInvoiceCreated').val(data.IsSaleInvoiceCreated);
            },
        });
    }
</script>