﻿@model DataLayer.Models.SalesOrder
@{
    ViewBag.Title = "Sale Order - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">

            <div class="box box-primary">
                @using (Html.BeginForm("Create", "SalesOrder", FormMethod.Post))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SalesOrderId, new { @id = "SalesOrderId" })
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.AmountPaid)
                        @Html.HiddenFor(model => model.AmountRemaining)
                        @Html.HiddenFor(model => model.PaymentType)
                        @Html.HiddenFor(model => model.PaymentTypeId)
                        @Html.HiddenFor(model => model.PaymentDate)
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sales Order Number</label>
                                @Html.EditorFor(model => model.SaleOrderNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                @Html.ValidationMessageFor(model => model.SaleOrderNumber, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Order Date</label>
                                @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OrderDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Sales Account</label>
                                @Html.DropDownListFor(model => model.SalesAccountId, Model.SalesAccountList, new { @class = "form-control", @id = "ModelAccountCategoryList" })
                                @Html.ValidationMessageFor(model => model.SalesAccountId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Account</label>
                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList, new { @class = "form-control", @id = "ModelCustomerList" })
                                @Html.ValidationMessageFor(model => model.CustomerId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocationId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Packed By</label>
                                @Html.EditorFor(model => model.PackedBy, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PackedBy, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Order Status</label>
                                @Html.EnumDropDownListFor(model => model.OrderStatus, "Select a Status", new { @class = "form-control", @required = "required", @id = "OrderStatus" })
                                @Html.ValidationMessageFor(model => model.OrderStatus, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Expected Completion Date</label>
                                @Html.EditorFor(model => model.ExpectedCompletionDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ExpectedCompletionDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Commited Date</label>
                                @Html.EditorFor(model => model.CommitedDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CommitedDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Estimated Total</label>
                                @Html.EditorFor(model => model.EstimatedTotal, new { htmlAttributes = new { @class = "form-control", @id = "EstimatedTotal", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.EstimatedTotal, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2">
                                @Html.RadioButtonFor(model => model.Type, DataLayer.Enums.SaleOrderType.MTO.ToString(), new { @required = "required", @id = "MTO" })
                                <label class="control-label erplabel" for="email">MTO</label>
                            </div>
                            <div class="col-lg-2">
                                @Html.RadioButtonFor(model => model.Type, DataLayer.Enums.SaleOrderType.TradedProduct.ToString(), new { @required = "required", @id = "TradedProduct" })
                                <label class="control-label erplabel" for="email">Traded Product</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.Type, "Select Type", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2" id="DivPurchaseOrder">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Purchase Order</label>
                                @Html.DropDownListFor(model => model.PurchaseOrderId, Model.PurchaseOrderList, new { @class = "form-control", @id = "PurchaseOrderId" })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2" id="DivDeliveryDate">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Delivery Date</label>
                                @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeliveryDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <input type="button" name="btn" value="Create Ledger" data-toggle="modal" data-target="#CustomerModel" class="btn btn-info btn-sm" />
                            <span id="CreateJobSheet">
                                @if (Model.SalesOrderId == 0)
                                {
                                    <input type="submit" name="btn" value="Save & Create JobSheet" class="btn btn-bitbucket btn-sm" />
                                }
                            </span>
                            <a class="btn btn-bitbucket btn-sm" href="@Url.Action("Create", "PurchaseOrder")" id="CreatePurchaseOrder"> Create Purchase Order</a>
                            <input type="submit" value="Save" class="btn btn-bitbucket btn-sm" name="btn" />
                            <input type="submit" value="Save and Print Order" class="btn btn-bitbucket btn-sm" name="btn" />
                            <input type="submit" value="Save and Make Payment" class="btn btn-bitbucket btn-sm" name="btn" />
                        </div>
                    </div>
                }

            </div>
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                @if (Model.OrderStatus == DataLayer.Enums.PurchaseOrderStatus.Open)
                {
                    <div class="box-header">
                        @Html.HiddenFor(m => m.SalesOrderItem.SalesOrderItemId, new { @id = "SalesOrderItemId" })
                        @Html.HiddenFor(m => m.SalesOrderItem.IsSaleInvoiceCreated, new { @id = "IsSaleInvoiceCreated" })
                        @Html.HiddenFor(m => m.SalesOrderItem.JobSheetId, new { @id = "JobSheetId" })
                        @Html.HiddenFor(m => m.SalesOrderItem.IsJobSheetCreated, new { @id = "IsJobSheetCreated" })
                        <div class="col-lg-2"> 
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">SKU</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.SalesOrderItem.SKU, new { @class = "form-control", @id = "SKU" })
                                    @Html.HiddenFor(model => model.SalesOrderItem.SKUMasterId, new { @id = "SKUMasterId" })
                                    <span class="input-group-btn">
                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#SKUModel">+</i>
                                    </span>
                                </div>
                                <label id="ErrSKU" style="color:red">Required</label>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Quantity</label>
                                @Html.TextBoxFor(m => m.SalesOrderItem.Quantity, new { @class = "form-control", @id = "Quantity" })
                                <label id="ErrQuantity" style="color:red">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Estimated Price</label>
                                @Html.TextBoxFor(m => m.SalesOrderItem.EstimatedPrice, new { @class = "form-control", @id = "EstimatedPrice" })
                                <label id="ErrEstimatedPrice" style="color:red">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Remark</label>
                                @Html.TextBoxFor(m => m.SalesOrderItem.Remark, new { @class = "form-control", @id = "Remark" })
                                <label id="ErrRemark" style="color:red"></label>
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin: 18px 0 0 0;">
                            <button id="AddItem" class="btn btn-info btn-sm">Add</button>
                        </div>
                        <div class="col-lg-2">
                            <label for="exampleInputEmail1" class="erplabel">Search Product</label> <br />
                            @Html.TextBoxFor(m => m.SerialNumber, new { @class = "form-control", @id = "SerialNumber" })
                            <label id="ErrLabel" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                        </div>
                    </div>
                }
                <div class="box-body" id="ItemListView">
                    @Html.Partial("_ItemList")
                </div>
                <div class="box-body" id="InvoiceItemListView">
                    @Html.Partial("_InvoiceItemList")
                </div>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>

    <!--end main body-->
</section>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script>
    function RefreshList() {
        alert('successFunction')
    }

    function error() {
        alert('successFunction')
    }
    $(document).ready(function () {

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        $("#CreatePurchaseOrder").hide();
        $("#CreateJobSheet").hide();
        $("#ErrSKU").hide();
        $("#ErrQuantity").hide();
        $("#ErrEstimatedPrice").hide();
        $("#SalesOrderItemId").val(null);
        $('#Remark').val(null);
        $('#Quantity').val(null);
        $('#EstimatedPrice').val(null);
        $("#DivPurchaseOrder").hide();
        DivPurchaseOrder();
        OrderStatus();
        $("#Quantity").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#TradedProduct,#MTO").change(function () {
            DivPurchaseOrder();
        });

        $("#OrderStatus").change(function () {
            OrderStatus();
        });

        $("#ItemListView").load();
        $("#AddItem").click(function () {
            var Err = 0;
            var SKUMasterId = parseInt($("#SKUMasterId").val() || 0);
            if (SKUMasterId == 0) {
                $("#ErrSKU").show();
                setTimeout(function () {
                    $('#ErrSKU').fadeOut();
                }, 2000);
                Err++;
            }

            var Quantity = parseFloat($("#Quantity").val() || 0);
            if (Quantity == "" || Quantity == null) {
                $("#ErrQuantity").show();
                setTimeout(function () {
                    $('#ErrQuantity').fadeOut();
                }, 2000);
                Err++;
            }
            var EstimatedPrice = $('#EstimatedPrice').val();
            if (EstimatedPrice == "" || EstimatedPrice == null) {
                $("#ErrEstimatedPrice").show();
                setTimeout(function () {
                    $('#ErrEstimatedPrice').fadeOut();
                }, 2000);
                Err++;
            }
            var Remark = $('#Remark').val();

            if (Err == 0) {
                var SalesOrderItemId = $('#SalesOrderItemId').val();
                var SalesOrderId = $('#SalesOrderId').val();
                var IsJobSheetCreated = $('#IsJobSheetCreated').val();
                var JobSheetId = $('#JobSheetId').val();
                var IsSaleInvoiceCreated = $('#IsSaleInvoiceCreated').val();
                
                var model = {
                    'SKUMasterId': SKUMasterId, 'Quantity': Quantity, 'EstimatedPrice': EstimatedPrice, 'Remark': Remark, 'SalesOrderId': SalesOrderId, 'SalesOrderItemId': SalesOrderItemId, 'IsJobSheetCreated': IsJobSheetCreated, 'JobSheetId': JobSheetId, 'IsSaleInvoiceCreated': IsSaleInvoiceCreated }
                    $.ajax({
                    type: "Post",
                        url: '@Url.Action("_ItemList", "SalesOrder")',
                        data: { 'model': model },
                        dataType: "html",
                        success: function (result) {
                            $("#ItemListView").html(result);
                            $("#SKU").val(null);
                            $('#SKUMasterId').val(null);
                            $("#SalesOrderItemId").val(null);
                            $('#Remark').val(null);
                            $('#Quantity').val(null);
                            $('#EstimatedPrice').val(null);
                            $('#IsJobSheetCreated').val(false);
                            $('#JobSheetId').val(null);
                            $('#IsSaleInvoiceCreated').val(false);
                    },
                    });
            }
        });

        $("#PurchaseOrderId").change(function () {
            var PurchaseOrderId = $("#PurchaseOrderId option:selected").val();
            $.ajax({
                    type: "Post",
                    url: '@Url.Action("PurchaseOrderItem", "SalesOrder")?PurchaseOrderId=' + PurchaseOrderId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        alert("error");
                    }
                })

        })

        $("#SerialNumber").on('keyup', function () {
            var SalesOrderId = $("#SalesOrderId").val();
            var ProdId = $("#SerialNumber").val();
            if (ProdId.length == 10) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_InvoiceItemList", "SalesOrder")?ProdId=' + ProdId + '&SalesOrderId=' + SalesOrderId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#SerialNumber").val("");
                        $("#InvoiceItemListView").html(result);
                    },
                    error: function (data) {
                        $("#SerialNumber").val("");
                        alert("Product Not Found");
                    }
                });
            }
            else if (ProdId.length > 10) {
                $("#err_Product").show();
                setTimeout(function () {
                    $('#err_Product').fadeOut();
                    $("#Search").val("");
                }, 3000);
            }
        });

        $(function () {
            $("[id*=SKU]").autocomplete({
                source: function (request, response) {
                        $('#SKUMasterId').val(0);
                        var Product = new Array();
                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url:
                           "@(Url.Action("GetSKUList", "Home"))",
                            data: {
                                "term": request.term
                            },
                        success: function (data) {
                            for (var i = 0; i < data.length ; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#SKU").val(ui.item.label);
                    $('#SKUMasterId').val(ui.item.Id);
                    return false;
                }
            });
        });
    })
    function OrderStatus() {
        var OrderStatus = parseInt($("#OrderStatus").val());
        if (OrderStatus == 6) {
            $("#DivDeliveryDate").show();
        }
        else {
            $("#DivDeliveryDate").hide();
        }
    }

    function DivPurchaseOrder() {
        if ($("#TradedProduct").prop('checked') == true) {
            $("#DivPurchaseOrder").show();
            $("#CreatePurchaseOrder").show();
            $("#CreateJobSheet").hide();
        }
        else if ($("#MTO").prop('checked') == true) {
            $("#DivPurchaseOrder").hide();
            $("#CreatePurchaseOrder").hide();
            $("#CreateJobSheet").show();
        }
    }
</script>

