﻿@model DataLayer.ViewModels.SalesOrderViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Sale Order - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Sale  <small>Order</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }
                <a class="btn btn-bitbucket btn-sm pull-right" href="@Url.Action("Create", "SalesOrder")">Add Sales Order</a>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        @if (Model.SalesOrderLists.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Sale Order No</b></th>
                                        <th class="erplabel"><b>Order Date</b></th>
                                        <th class="erplabel"><b>Expected Completion Date</b></th>
                                        <th class="erplabel"><b>Commited Date</b></th>
                                        <th class="erplabel"><b>Customer Name</b></th>
                                        <th class="erplabel"><b>Status</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SalesOrderLists)
                                    {
                                        <tr>
                                            <td>@item.SaleOrderNumber</td>
                                            <td>@item.OrderDate.ToString("dd'/'MM'/'yyyy")</td>
                                            <td>
                                            @if (item.ExpectedCompletionDate != null)
                                            {
                                                @item.ExpectedCompletionDate.Value.ToString("dd'/'MM'/'yyyy")
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                            </td>
                                            <td>
                                                @if (item.CommitedDate != null)
                                                {
                                                    @item.CommitedDate.Value.ToString("dd'/'MM'/'yyyy")
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Customer != null)
                                                {
                                                    @item.Customer.Name
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.OrderStatus == DataLayer.Enums.PurchaseOrderStatus.Open)
                                                {
                                                    
                                                    <span style="color:red">@item.OrderStatus.ToString()</span>
                                                }
                                                else
                                                {
                                                    <span style="color:green">@item.OrderStatus.ToString()</span>
                                                }

                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "SalesOrder")?id=@item.SalesOrderId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("Delete", "SalesOrder",new { id = @item.SalesOrderId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                                ||
                                                <a href="@Url.Action("OrderPrint", "SalesOrder")?id=@item.SalesOrderId">
                                                    Print Order
                                                </a>
                                                @if (item.IsAvailableForSaleInvoice == true && item.OrderStatus == DataLayer.Enums.PurchaseOrderStatus.Open)
                                                {
                                                    <span>||</span>
                                                    <a href="@Url.Action("Create", "SaleInvoice")?SalesOrderId=@item.SalesOrderId">
                                                        Make Invoice
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Sales Order Items</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    @if (Model.SalesOrderLists.Count > 0)
    {
        <p>
            Page @(Model.SalesOrderLists.PageCount < Model.SalesOrderLists.PageNumber ? 0 : Model.SalesOrderLists.PageNumber) of @Model.SalesOrderLists.PageCount
            @Html.PagedListPager(Model.SalesOrderLists, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>
