﻿@model DataLayer.Models.SalesOrder
@{
    ViewBag.Title = "MakePayment";
}


<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                @using (Html.BeginForm("MakePayment", "SalesOrder", FormMethod.Post))
                {
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SalesOrderId, new { @id = "SalesOrderId" })
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Estimated Total</label>
                                @Html.EditorFor(model => model.EstimatedTotal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly",@id = "EstimatedTotal" } })
                                @Html.ValidationMessageFor(model => model.EstimatedTotal, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Amount Paid</label>
                                @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control",@id = "AmountPaid" } })  
                                @Html.ValidationMessageFor(model => model.AmountPaid, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Amount Remaining</label>
                                @Html.EditorFor(model => model.AmountRemaining, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly",@id = "AmountRemaining" } })
                                @Html.ValidationMessageFor(model => model.AmountRemaining, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Entry Date</label>
                                @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control" , @required = "required" } })
                                @Html.ValidationMessageFor(model => model.PaymentDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Check Number</label>
                                @Html.EditorFor(model => model.Checknumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Checknumber, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Payment Type</label>
                                @Html.DropDownListFor(model => model.PaymentTypeId, Model.PaymentTypeList, new { @class = "form-control", @min = "1" })
                                @Html.ValidationMessageFor(model => model.PaymentTypeId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <input type="submit" value="Make Payment and Print Order" class="btn btn-bitbucket btn-sm" name="btn" />
                            <input type="submit" value="Make Payment" class="btn btn-bitbucket btn-sm" name="btn" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Calculate();
        $("#AmountPaid").keyup(function () {
            Calculate();
        });

        function Calculate() {
            var EstimatedTotal = parseFloat($("#EstimatedTotal").val());
            var AmountPaid = parseFloat($("#AmountPaid").val());
            $("#AmountRemaining").val(EstimatedTotal - AmountPaid);
        }
    });
</script>

