﻿@model DataLayer.Models.SalesOrder
@{
    ViewBag.Title = "Sale Order Print";
}

<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;

        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    });
</script>

<section class="content">
    <div class="row">
        <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
            <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;text-align:center;font-weight: bold;">

                    ORDER FORM

                </div>
                <center>
                    <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                        <b>To, @Model.Company.Name</b>
                    </p>
                    <p style="margin: 0 0 0px;">
                        @Model.Branch.BranchName
                    </p>
                </center>
                <center>
                    @Model.Company.Address
                    @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                    GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                   
                    <div style="width:100%;display:inline-block;border-top:1px solid #000">
                        <div style="width:60%;display:inline-block;float:left;text-align:left;">
                            <span style="display: inline-block;    font-weight: bold;    padding-left: 7px;"> Order No</span> <span style="margin:0 7px 0 23px ">:</span> @Model.SaleOrderNumber   <br>
                            <span style="margin: 0px 5px 0 0;display: inline-block;    padding-left: 7px;"> Order Date</span> <span style="margin:0 7px 0 10px ">:</span> @Model.OrderDate.ToString("dd'/'MM'/'yyyy") <br>
                        </div>
                    </div>
                </center>


                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    padding-left: 7px;">

                    Name , Address & GSTIN of the Recipient

                </div>

                <div style="width:100%;display:inline-block;">
                    <div style="width:60%;display:inline-block;float:left;text-align:left;">
                        <span style="display: inline-block;    padding-left: 7px;">
                            <b>From -</b>
                        </span><span style="margin: 0px 19px 0 0;display: inline-block;    padding-left: 7px;">  Name </span>   <span style="margin:0 7px 0 9px ">:</span>
                        @if (Model.Contact.TitleList == DataLayer.Enums.TitleType.Ms)
                        {
                            @Model.Contact.CompanyName
                        }
                        else if (Model.Contact.FirstName != null)
                        {
                            @Model.Contact.FirstName
                        }

                        <br>
                        <span style="margin: 0px 5px 0 40px;display: inline-block;    padding-left: 7px;">  Contact</span> <span style="margin:0 7px 0 11px ">:</span> @Model.Contact.Mobile  <br>
                        <span style="margin: 0px 5px 0 40px;display: inline-block;    padding-left: 7px;">  Address</span> <span style="margin:0 7px 0 11px ">:</span> @Model.Contact.AddressLine1 @if (Model.Contact.City != "" || Model.Contact.City != null)
                        { <span>,@Model.Contact.City</span>} <br>
                        <span style="margin: 0px 5px 0 40px;display: inline-block;    padding-left: 7px;">  GST No</span>  <span style="margin:0 7px 0 16px ">:</span> @Model.Contact.GSTNo   <br>
                    </div>
                    <div style="width:40%;display:inline-block;float:right;text-align:left;">
                        @*<span style="display:inline-block;">  Payment Type</span>  <span style="margin:0 7px 0 23px ">:</span> @Model.PaymentType.PaymentName  <br>*@
                        <span style="display:inline-block;">Payment Type </span>  <span style="margin:0 7px 0 18px ">: @Model.PaymentType </span> <br>  
                        <span style="display:inline-block;">Committed delivery</span> <span style="margin:0 7px 0 5px ">
                            :
                            @if (Model.CommitedDate != null)
                            {
                                @Model.CommitedDate.Value.ToString("dd'/'MM'/'yyyy")
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </span>
                    </div>
                </div>


                @if (Model.SalesOrderItems != null && Model.SalesOrderItems.Count > 0)
                {
                    <table style="width:100%;border:0px solid #000;  border-collapse: collapse;margin: 0px 0 0 0;">
                        <tr style="border:0px solid #000;  border-collapse: collapse;">
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;">SR NO.</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">SKU</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Sub-Category</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">QTY</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Estimated Price</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-right: 0px;">Remark</th>

                        </tr>

                        @foreach (var item in Model.SalesOrderItems.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0;">@item.Index</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:left;padding-left:7px;">@item.Data.SKUMaster.SKU </td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:left;padding-left:7px;">@item.Data.SKUMaster.SubCategory.Name</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Quantity.ToString("#.##")</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px;">@item.Data.EstimatedPrice.ToString("0.##")</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:left;padding-left:7px;">@item.Data.Remark</td>
                        </tr>
                        }
                    </table>       
                    
                    <br />
                    <br />
                }

                @if (Model.SaleInvoiceItemList != null && Model.SaleInvoiceItemList.Count > 0)
                {

                    <table style="width:100%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                        <tr style="border:0px solid #000;  border-collapse: collapse;">
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;">SR NO.</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Product Number</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">SKU</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Sub Category</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">HSN</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">QTY</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">MRP</th>
                        </tr>

                        @foreach (var item in Model.SaleInvoiceItemList.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            <tr>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0;">@item.Index</td> 
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Product.SerialNumber </td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Product.SKUMaster.SKU </td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Product.SKUMaster.SubCategory.Name</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Product.HSN.Code</td>
                                @if (item.Data.Product.SellInPartial != true)
                                {
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Quantity</td>
                                }
                                else
                                {
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.ConversionValue.Value.ToString("0.##")</td>
                                }
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.MRP.ToString("#.##")</td>
                         </tr>
                        }
                    </table>
                    <br />
                                        <br />
                }
                <table style="width:100%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                    <tr>
                        <td style="border:1px solid #000; border-collapse: collapse;text-align:left;position: relative;border-left: 0px;width:70%"></td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Estimated Total</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:right; padding-right:7px; border-right:1px solid #000 ;">
                            <b>  @((Model.EstimatedTotal ?? 0).ToString("0.##"))</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #000;border-collapse: collapse;text-align:left;position: relative;border-left: 0px;width:70%"></td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Amount Paid</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:right; padding-right:7px; border-right:1px solid #000 ;">
                            <b>  @((Model.AmountPaid ?? 0).ToString("0.##"))</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="border:1px solid #000;border-collapse: collapse;text-align:left;position: relative;border-left: 0px;width:70%"></td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Amount Remaining</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:right; padding-right:7px; border-right:1px solid #000 ;">
                            <b>  @(((Model.EstimatedTotal ?? 0) - (Model.AmountPaid ?? 0)).ToString("0.##"))</b>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                @if (Model.MeasurmentType == DataLayer.Enums.MeasurementType.Readymade.ToString())
                {
                    <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    padding-left: 7px;">

                        Measurment

                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
                        @if (Model.MeasurmentSetListForReadymade != null && Model.MeasurmentSetListForReadymade.Count > 0)
                        {
                        <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4 ">
                            <table class="table table-responsive table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">
                                            Size
                                        </th>
                                        <th style="text-align:center">
                                            Quantity
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Measurmentitem in Model.MeasurmentSetListForReadymade)
                                        {
                                        <tr>
                                            <td>
                                                @Measurmentitem.MeasurmentValues
                                            </td>
                                            <td>
                                                @Measurmentitem.Quantity
                                            </td>
                                        </tr>
                                        }
                                    <tr>
                                        <td style="text-align:right" colspan="2">Total : @(Model.MeasurmentSetListForReadymade.Sum(x => x.Quantity ?? 0).ToString("#.##"))</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        }
                    </div>
                }
                else if (Model.MeasurmentType == DataLayer.Enums.MeasurementType.Custom.ToString())
                {
                    <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    padding-left: 7px;">
                        Measurment
                    </div>

                        for (int i = 0; i < Model.MeasurmentSetListForCustome.Count; i++)
                        {
                        <table style="width:25%;border:0px solid #000;  border-collapse: collapse;margin: 0px 0 0 0;float:left;">
                            <thead>
                                <tr style="border:0px solid #000;  border-collapse: collapse;">
                                    <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">
                                        @Model.MeasurmentSetListForCustome[i].Measurment.MeasurmentType
                                    </th>
                                </tr>
                            </thead>
                            @for (int j = 0; j < Model.MeasurmentSetListForCustome[i].MeasurementList.Count; j++)
                            {
                            <tbody>
                                <tr style="border:0px solid #000;  border-collapse: collapse;">
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">
                                        @Model.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementType &nbsp&nbsp : &nbsp&nbsp  @Model.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementValue
                                    </td>
                                </tr>
                            </tbody>
                            }
                        </table>
                        }
                }

                <div style="width:100%;display:inline-block;padding-left:7px;">
                    <span style="text-decoration:underline">   Terms & Conditions </span> <span style="margin:0 7px 0 0"> :</span>
                    <ul class="list-group">
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">1. No Cancellation/ Exchange or Return of Made to Ordered or Altered Items.</li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">
                            2. Above mentioned prices are estimated, Actual Prices & All Applicable Taxes/GST would be
                            Charged Extra at the time of Billing.
                        </li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">
                            3.Designs/Patterns of catalogues and/or photos are Only for Reference,No Gurantee of Exact actual
                            final product,customer discretion before placing order is advised.
                        </li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">4. 100% Advance payment of estimated amount is required while placing order.</li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">5. Payment against Made to Order or to be Altered product is Non-Refundable.</li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">6. No Gurantee/Warranty on designs/patterns and color fastness.</li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">7. Any Manufacturing/Fitting Defect would be resolved by means of Alteration/Repairs.</li>
                        <li class="list-group-item" style="padding:unset !important;border:none !important;">8. Committed Delivery date can change,depending upon the prevailing conditions and supplies.</li>
                    </ul>
                </div>
                <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;  font-weight:bold;padding-left:7px;">
                    <span>I have read, understood and agree the above mentioned terms and conditions of order.</span><br>
                </div><br>

                <br />
                <div style="width:100%; text-align:right;padding-right:10px; display:inline-block;margin: 12px 0 0 0;height: 30px; font-weight: bold;">
                    <span style="margin:0 7px 0 0; text-align:center">
                        @if (Model.Contact.TitleList == DataLayer.Enums.TitleType.Ms)
                        {
                            <span>(</span>@Model.Contact.CompanyName<span>)</span>
                        }
                    </span>
                    <br>
                    <span style="margin:0 7px 0 0;">
                        Customer Signature
                    </span>

                </div>
                <div style="width:100%; text-align:center;padding-right:10px; display:inline-block;margin: 12px 0 0 0;height: 30px; font-weight: bold;">
                    <span style="margin:0 7px 0 0; text-align:center">
                        This is a Computer Generated Invoice hence no signature is required.
                    </span>

                </div>



                <br />
                <br /><br />


            </div>


        </div>
    </div>
</section>
