﻿@model DataLayer.Models.PurchaseOrder
@{
    ViewBag.Title = "Purchase Order - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Create", "PurchaseOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="box box-primary">
                    <div class="box-body">
                        @Html.HiddenFor(model => model.PurchaseOrderId, new { @id = "PurchaseOrderId" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CompanyId)
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Purchase Order Number</label>
                                @Html.EditorFor(model => model.PurchaseOrderNo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.PurchaseOrderNo, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Purchase Account</label>
                                @Html.DropDownListFor(model => model.PurchaseAccountId, Model.PurchaseAccountList, new { @class = "form-control", @id = "PurchaseAccountList_Purchase" })
                                @Html.ValidationMessageFor(model => model.PurchaseAccountId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Account</label>

                                @Html.DropDownListFor(model => model.AccountID, Model.AccountList, new { @class = "form-control", @id = "ModelSupplierList" })

                                @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Payment Type</label>
                                @Html.DropDownListFor(model => model.PaymentId, Model.PaymentTypeList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PaymentId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label> 
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @min = "1" })
                                @Html.ValidationMessageFor(model => model.LocationId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Purchase Type</label>
                                @Html.DropDownListFor(model => model.PurchaseTypeID, Model.PurchaseTypeList, new { @class = "form-control", @id = "PurchaseAccountList" })
                                @Html.ValidationMessageFor(model => model.PurchaseTypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                <input type="hidden" id="txttotalInvoice" />
                                @Html.TextBoxFor(m => m.TotalInvoiceValue, new { @readonly = "readonly", @class = "form-control", @id = "TotalInvoiceValue" })
                                @Html.ValidationMessageFor(model => model.TotalInvoiceValue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Order Status</label>
                                @Html.EnumDropDownListFor(model => model.OrderStatus, "Select a Status", new { @class = "form-control", @required = "required", @id = "ContactTitle" })
                                @Html.ValidationMessageFor(model => model.OrderStatus, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>


                        <div class="box-footer">
                            <div class="pull-right">
                                @if (Model.PurchaseOrderId > 0)
                                {
                                    <input type="submit" name="btn" value="Save Order" class="btn btn-bitbucket btn-sm" />
                                }
                                else
                                {
                                    <input type="submit" name="btn" value="Save" class="btn btn-bitbucket btn-sm" />
                                }                                
                            </div>
                        </div>
                    </div>

                </div>
            }
            @if (Model.PurchaseOrderId > 0)
            {

                <div class="box box-primary">
                    <div class="clearfix"></div>
                    <br />
                    <a class="btn btn-bitbucket btn-sm pull-right" href="@Url.Action("AddOrderItem", "PurchaseOrder")?orderId=@Model.PurchaseOrderId"><i class="fa fa-plus-square"></i>Add Item</a>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body">
                            @if (Model.PurchaseOrderItemList != null && Model.PurchaseOrderItemList.Count > 0)
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="erplabel"><b>SKU</b></th>
                                            <th class="erplabel"><b>Quantity</b></th>
                                            <th class="erplabel"><b>Rate</b></th>
                                            <th class="erplabel"><b>MRP</b></th>
                                            <th class="erplabel"><b>Net Amount</b></th>
                                            <th class="erplabel"><b>Action</b></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.PurchaseOrderItemList)
                                        {
                                            <tr>
                                                <td>@item.SKUMaster.SKU</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Rate</td>
                                                <td>@item.MRP</td>
                                                <td>@item.NetAmount</td>
                                                <td>
                                                    <a href="@Url.Action("AddOrderItem", "PurchaseOrder")?orderId=@Model.PurchaseOrderId&orderItemId=@item.PurchaseOrderItemId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("DeleteOrderItem", "PurchaseOrder")?id=@item.PurchaseOrderItemId">
                                                        Delete
                                                    </a>
                                                </td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <label>No Items</label>
                            }
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        if ($('#PurchaseInvoiceItemId').val() == 0) {
            document.getElementById("Quantity").value = "";
            document.getElementById("Rate").value = "";
            document.getElementById("Net").value = "";
            document.getElementById("APE").value = "";
            document.getElementById("Adjustment").value = "";
            document.getElementById("tax2").value = "";
            document.getElementById("tax1").value = "";
            document.getElementById("MRP").value = "";
            document.getElementById("Frieght").value = "";
        }

        $("#tax2,#Rate,#tax1,#Adjustment,#APE,#Frieght").keyup(function () {
            calculation();
        })

        $("#PurchaseOrder").change(function () {
            var serviceURL = '@Url.Action("GetGST", "PurchaseInvoice")';
            var GST = parseInt($("#GSTList option:selected").val());
            if (GST > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': GST },
                    dataType: "json",
                    success: function successFunc(data) {
                        document.getElementById("tax1").value = data.CGST;
                        document.getElementById("tax2").value = data.SGST;
                        calculation();
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                document.getElementById("tax1").value = "";
                document.getElementById("tax2").value = "";
            }
        });

        function calculation() {
            var Tax1 = parseInt($('#tax1').val());
            var Tax2 = parseInt($('#tax2').val());
            var APE = parseInt($('#APE').val());
            var Adjustment = parseInt($('#Adjustment').val());
            var Frieght = parseInt($('#Frieght').val());
            var Rate = parseInt($('#Rate').val());
            Tax1 = (Tax1 / 100) * Rate;
            Tax2 = (Tax2 / 100) * Rate;
            var Net = Rate + Tax1 + Tax2 + APE + Adjustment + Frieght;
            Net = Math.ceil(Net);
            if (isNaN(Net)) {
                document.getElementById("Net").value = 0;
            }
            else {
                document.getElementById("Net").value = Net;
            }
        }

        $("#SalesDiscount").change(function () {
            var serviceURL = '@Url.Action("GetDiscount", "PurchaseInvoice")';
            var SalesDiscount = parseInt($("#SalesDiscount option:selected").val());
            if (SalesDiscount > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': SalesDiscount },
                    dataType: "json",
                    success: function successFunc(data) {
                        document.getElementById("DiscountPer").value = data.Percent;
                        document.getElementById("DiscountMax").value = data.MaxDiscount;
                        var MRP = parseInt($('#MRP').val());
                        var DiscountPer = parseInt($('#DiscountPer').val());
                        var DiscountAmm = (MRP / 100) * DiscountPer;
                        DiscountAmm = Math.ceil(DiscountAmm);
                        document.getElementById("DiscountAmm").value = DiscountAmm;
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                document.getElementById("DiscountPer").value = "";
                document.getElementById("DiscountMax").value = "";
                document.getElementById("DiscountAmm").value = "";
            }
        });
    });

</script>


