﻿@model DataLayer.ViewModels.PurchaseOrderViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Purchase Order - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<section class="content-header">
    <h1> Purchase  <small>Order</small> </h1>
    <label id="ErrLabel" style="color:red"></label>   
</section>

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                            $("#ErrLabel").hide();

                    </script>
                }
                <a class="btn btn-bitbucket btn-sm pull-right" href="@Url.Action("Create", "PurchaseOrder")"><i class="fa fa-plus-square"></i>Add Purchase Order</a>

                <div class="box-body">
                    @if (Model.PurchaseOrderLists.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="erplabel">Order No</th>
                                    <th class="erplabel">Status</th>
                                    <th class="erplabel">Final Price</th>
                                    <th class="erplabel">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PurchaseOrderLists)
                                {
                                    <tr>
                                        <td>@item.PurchaseOrderNo</td>
                                        <td>
                                            @if (item.OrderStatus == DataLayer.Enums.PurchaseOrderStatus.Open)
                                            {
                                                <span style="color:red">@item.OrderStatus</span>
                                            }
                                            else
                                            {
                                                <span style="color:green">@item.OrderStatus</span>
                                            }
                                        </td>
                                        <td>@item.TotalInvoiceValue</td>
                                        <td>
                                            <a href="@Url.Action("Edit", "PurchaseOrder")?id=@item.PurchaseOrderId">
                                                Edit
                                            </a>
                                            ||
                                            <a href="@Url.Action("Delete", "PurchaseOrder",new { id = @item.PurchaseOrderId })" onclick="return confirm('Are you sure you want to delete this')">
                                                Delete
                                            </a>
                                        </td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <label>No Order Items</label>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.PurchaseOrderLists.Count > 0)
    {
        <p>
            Page @(Model.PurchaseOrderLists.PageCount < Model.PurchaseOrderLists.PageNumber ? 0 : Model.PurchaseOrderLists.PageNumber) of @Model.PurchaseOrderLists.PageCount
            @Html.PagedListPager(Model.PurchaseOrderLists, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>

