﻿@model DataLayer.ViewModels.DivisionViewModel
@{
    ViewBag.Title = "Division - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hiddenDivisionId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }
    });
</script>
<section class="content-header">
    <h1> Division Master <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Division Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:200px">
                <div class="box-header with-border">
                    <h3 class="box-title">Division Master Details</h3>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                    </script>


                }
                else
                {
                    <script type="text/javascript">
                            $("#ErrLabel").hide();

                    </script>
                }
                <div class="box-body tablediv">
                    @using (Html.BeginForm("Create", "Division", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.Division.DivisionId,new { @id= "hiddenDivisionId" })
                        @Html.HiddenFor(model => model.Division.CompanyId)
                        @Html.HiddenFor(model => model.Division.CreatedBy)
                        @Html.HiddenFor(model => model.Division.CreatedDate)
                            <div class="col-lg-12 nopadding">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Division Name</label>
                                    @Html.EditorFor(model => model.Division.DivisionName, new { htmlAttributes = new { @class = "form-control", @id = "txtDivisionName" } })
                                    @Html.ValidationMessageFor(model => model.Division.DivisionName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                      
                        <div class="clearfix"></div>
                        <div class="box-footer nopadding">
                            <button type="submit" class="btn btn-bitbucket btn-sm pull-right" id="btnSubmit"><i class=""></i> Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body tablediv">
                        <div style="overflow-y:scroll; height:220px;">
                            @if (Model.DivisionList != null && Model.DivisionList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Division name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DivisionList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DivisionName)
                                                </td>
                                                <td>
                                                    @*<a class="fa fa-pencil fa-2x" href="@Url.Action("Index", "Color", new { id = item.ColorId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                        <a class="fa fa-trash-o fa-2x" href="@Url.Action("Delete","Color", new { id = item.ColorId })" onclick="return confirm('Are you sure you want to delete this Color?');" title="Delete"></a>*@
                                                    <a href="@Url.Action("Index", "Division")?id=@item.DivisionId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "Division",new { id=@item.DivisionId})" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
