﻿@model DataLayer.ViewModels.PurchaseReportViewModel
@{
    ViewBag.Title = "_ItemList";
}

<div class="box box-primary">
    <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
        <div style="width:100%;margin:0 auto;border: 1px solid #000;">
            <center>
                <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                    <b>@Model.Company.Name</b>
                </p>
                <p style="margin: 0 0 0px;">
                    @Model.Branch.BranchName
                </p>
            </center>
            <center>
                @Model.Company.Address
                @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                    Purchase Report
                    @if (Model.FromDate != null)
                    { <span> From @Model.FromDate.Value.ToString("dd'/'MM'/'yyyy") </span>}
                    @if (Model.ToDate != null)
                    { <span> To @Model.ToDate.Value.ToString("dd'/'MM'/'yyyy") </span>}

                </div>

            </center>

            @if (Model.PurchaseReportList != null && Model.PurchaseReportList.Count > 0)
            {
                <table class="table table-bordered" style="border-collapse:collapse">
                    <thead>
                        <tr>
                            <th class="erplabel" style="border: 1px solid #000;">SR NO.</th>
                            <th class="erplabel" style="border: 1px solid #000;">Invoice Number</th>
                            <th class="erplabel" style="border: 1px solid #000;">Invoicing Date</th>
                            <th class="erplabel" style="border: 1px solid #000;">No. Of Item</th>
                            <th class="erplabel" style="border: 1px solid #000;">Gross Amount</th>
                            <th class="erplabel" style="border: 1px solid #000;">Total tax</th>
                            <th class="erplabel" style="border: 1px solid #000;">Adjustment</th>
                            <th class="erplabel" style="border: 1px solid #000;">Total</th>
                            <th class="erplabel" style="border: 1px solid #000;">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PurchaseReportList.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            <tr>
                                <td style="border: 1px solid #000;">@item.Index</td>
                                <td style="border: 1px solid #000;">
                                    @if (item.Data.Type == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_INVOICE)
                                    {
                                        <a href="@Url.Action("Create", "PurchaseInvoice",new { id = item.Data.InvoiceId})" style="text-decoration: none;"> @item.Data.InvoiceNumber</a>
                                    }
                                    else if (item.Data.Type == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_VOUCHER)
                                    {
                                        <a href="@Url.Action("Create", "PurchaseVoucher",new { id = item.Data.InvoiceId})" style="text-decoration: none;"> @item.Data.InvoiceNumber</a>
                                    }
                                    else if (item.Data.Type == DataLayer.Constants.SALE_TYPE_PURCHASE_RETURN)
                                    {
                                        <a href="@Url.Action("Create", "PurchaseReturn",new { id = item.Data.InvoiceId})" style="text-decoration: none;"> @item.Data.InvoiceNumber</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("CreateNote", "Notes", new { Type = @item.Data.Type , VoucherNumber = @item.Data.InvoiceNumber })" style="text-decoration: none;"> @item.Data.InvoiceNumber</a>
                                    }
                                </td>
                                <td style="border: 1px solid #000;">@item.Data.EntryDate.Value.ToString("dd'/'MM'/'yyyy")</td>
                                <td style="border: 1px solid #000;">@item.Data.NoOfItem</td>
                                <td style="border: 1px solid #000;">@(item.Data.GrossAmount.ToString("0.00"))</td>
                                <td style="border: 1px solid #000;">@(item.Data.TotalTax.ToString("0.00"))</td>
                                <td style="border: 1px solid #000;">@(item.Data.Adjustment.ToString("0.00"))</td>
                                <td style="border: 1px solid #000;">@(item.Data.TotalWithAdjustment.ToString("0.00"))</td>
                                <td style="border: 1px solid #000;">@item.Data.Type</td>
                            </tr>
                        }
                        <tr>
                            <td style="border: 1px solid #000;" colspan="3"></td>
                            <td style="border: 1px solid #000;"><b>Total :</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.Subtotal.ToString("0.00")</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.TotalTax.ToString("0.00")</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.TotalDiscount.ToString("0.00")</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.GrandTotal.ToString("0.00")</b></td>
                            <td style="border: 1px solid #000;"></td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <label>No Invoice Items</label>
            }

            <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                <span> * This is a Computer Generated Document hence no Signature is Required</span>

            </div><br>

        </div>


    </div>
</div>

