﻿@model DataLayer.ViewModels.PurchaseReportViewModel
@{
    ViewBag.Title = "Purchase Report - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Purchase <small>Report</small> </h1>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            @using (Html.BeginForm("FileContentResult", "PurchaseReport", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Type</label>
                                @Html.EnumDropDownListFor(model => model.PurchaseReportType, "Select a Title", new { @class = "form-control", @required = "required", @id = "PurchaseReportType" })
                                @Html.ValidationMessageFor(model => model.PurchaseReportType, "Required", new { @class = "text-danger" })
                                <label class="text-danger" id="PurchaseReportTypeErr" style="color:#a94442;font-weight: normal;">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Starting Date</label>
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "FromDate" } })
                                @Html.ValidationMessageFor(model => model.FromDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Last Date</label>
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "ToDate" } })
                                @Html.ValidationMessageFor(model => model.ToDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4" style="margin: 18px 0 0 0;">
                            <button type="button" class="btn btn-info" id="Search">Search</button>
                            <button type="button" class="btn btn-info" id="Print">Print</button>
                            <button type="submit" class="btn btn-info">Download Excel</button>
                            <a class="btn btn-info" href="@Url.Action("Index", "PurchaseReport")"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="content">
    <div class="row col-md-12" id="ItemListView">
        @Html.Partial("_InvoiceList")
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#PurchaseReportTypeErr").hide();
        $("#Search").click(function () {
            var Err = 0;
            var ToDate = $("#ToDate").val();
            var FromDate = $("#FromDate").val();
            var PurchaseReportType = $("#PurchaseReportType").val();
            if (PurchaseReportType == 0) {
                $("#PurchaseReportTypeErr").show();
                setTimeout(function () {
                    $('#PurchaseReportTypeErr').fadeOut();
                }, 5000);
                Err++;
            }
            if (Err == 0) {
                var model = {
                    'FromDate': FromDate, 'ToDate': ToDate, 'PurchaseReportType': PurchaseReportType
                }
                showProgress();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_InvoiceList", "PurchaseReport")',
                    data: { 'ViewModel': model },
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                        hideProgress()
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
        });

        $("#Print").click(function () {
            var Err = 0;
            var ToDate = $("#ToDate").val();
            var FromDate = $("#FromDate").val();
            var PurchaseReportType = $("#PurchaseReportType").val();
            if (PurchaseReportType == 0) {
                $("#PurchaseReportTypeErr").show();
                setTimeout(function () {
                    $('#PurchaseReportTypeErr').fadeOut();
                }, 5000);
                Err++;
            }
            if (Err == 0) {
                var model = {
                    'FromDate': FromDate, 'ToDate': ToDate, 'PurchaseReportType': PurchaseReportType
                }
                showProgress();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_InvoiceList", "PurchaseReport")',
                    data: { 'model': model },
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                        hideProgress();
                        Print();
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
        });


    $("#Excel").click(function () {
            var Err = 0;
            var ToDate = $("#ToDate").val();
            var FromDate = $("#FromDate").val();
            var PurchaseReportType = $("#PurchaseReportType").val();
            if (PurchaseReportType == 0) {
                $("#PurchaseReportTypeErr").show();
                setTimeout(function () {
                    $('#PurchaseReportTypeErr').fadeOut();
                }, 5000);
                Err++;
            }
            if (Err == 0) {
                var model = {
                    'FromDate': FromDate, 'ToDate': ToDate, 'PurchaseReportType': PurchaseReportType
                }
                showProgress();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("FileContentResult", "PurchaseReport")',
                    data: { 'ViewModel': model },
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                        hideProgress();
                        Print();
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
        });
    });
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
    function Print() {
        var printContents = document.getElementById('PrintThis').innerHTML;
        var originalContents = document.body.innerHTML;
        if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
            var popupWin = window.open('', '_blank', 'width=600,height=600,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWin.document.write('<!DOCTYPE html><html><head>' +
                '<link rel="stylesheet" type="text/css" href="style.css" />' +
                '</head><body onload="window.print()"><div class="reward-body">' + printContents + '</div></html>');
            popupWin.onbeforeunload = function (event) {
                popupWin.close();
                return '.\n';
            };
            popupWin.onabort = function (event) {
                popupWin.document.close();
                popupWin.close();
            }
        } else {
            var popupWin = window.open('', '_blank', 'width=800,height=600');
            popupWin.document.open();
            popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</html>');
            popupWin.document.close();
        }
        popupWin.document.close();
    }
</script>