﻿@model DataLayer.ViewModels.ServiceTypeViewModel
@{
    ViewBag.Title = "Service Type - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrorButton").hide();
        $("err_BrandName").hide();

        if ($("#hiddenBrandId").val() != 0) {
            $("Button").text("Update");
        }
        else {
            $("Button").text("Save");
        }
    });
</script>
<section class="content-header">
    <h1> Service Type <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Service Master</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:160px">

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text(@ViewBag.ErrorMsg);
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();
                    </script>
                }
                <!-- /.box-header -->
                @using (Html.BeginForm("Create", "ServiceType", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.ServiceType.ServiceTypeId, new { @id = "hiddenBrandId" })
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Service Type</label>
                            @Html.EditorFor(model => model.ServiceType.ServicesName, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;" } })
                            <label class="text-danger" id="err_BrandName" style="color:#a94442;font-weight: normal;"></label>
                            @Html.ValidationMessageFor(model => model.ServiceType.ServicesName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-bitbucket pull-right btn-sm" id="Button">Save</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.ServiceTypeList != null && Model.ServiceTypeList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Payment Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ServiceTypeList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.ServicesName
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index", "ServiceType")?id=@item.ServiceTypeId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "ServiceType",new { id = @item.ServiceTypeId })" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
