﻿@model DataLayer.ViewModels.DiscountViewModel
@{
    ViewBag.Title = "Discount  - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ERR_PromoCode").hide();
        $("#ERR_DiscountCode").hide();

        if ($("#hiddenDiscountId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

        $("#MaxDiscount,#DiscountPer").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });

        $("#DiscountCode").keyup(function () {
            var DiscountCode = $('#DiscountCode').val();
            var serviceURL = '@Url.Action("ExistingDiscountCode", "Discount")?DiscountCode=' + DiscountCode;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data) {
                if (data == true) {
                    $("#btnSubmit").prop("disabled", true);
                    $("#ERR_DiscountCode").show();
                }
                else {
                    $('#btnSubmit').prop("disabled", false);
                    $("#ERR_DiscountCode").hide();
                }
            }
            function errorFunc(data) {
            }
        });

        $("#PromoCode").keyup(function () {
            var PromoCode = $('#PromoCode').val();
            var serviceURL = '@Url.Action("ExistingPromoCode", "Discount")?PromoCode=' + PromoCode;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data) {
                if (data == true) {
                    $("#btnSubmit").prop("disabled", true);
                    $("#ERR_PromoCode").show();
                }
                else {
                    $('#btnSubmit').prop("disabled", false);
                    $("#ERR_PromoCode").hide();
                }
            }
            function errorFunc(data) {
            }
        });
    });

</script>

<section class="content-header">
    <h1> Discount  <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Color Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:400px">
               
                <!-- /.box-header -->
                <div class="box-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>


                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();

                        </script>
                    }
                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "Discount", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.Discount.DiscountId,new { @id= "hiddenDiscountId" })
                        @Html.HiddenFor(model => model.Discount.CreatedBy)
                        @Html.HiddenFor(model => model.Discount.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Discount Code</label>
                            @Html.EditorFor(model => model.Discount.DiscountCode, new { htmlAttributes = new { @class = "form-control",  @style = "max-width:100%;", @required = "required" , @id = "DiscountCode" } })
                            @Html.ValidationMessageFor(model => model.Discount.DiscountCode, "Required", new { @class = "text-danger" })
                            <label class="text-danger" id="ERR_DiscountCode" style="color:#a94442;font-weight: normal;">Discount Code Already Exist</label>
                        </div>  

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Discount (%)</label>
                            @Html.EditorFor(model => model.Discount.DiscountPercent, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;",@id = "DiscountPer", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Discount.DiscountPercent, "Required", new { @class = "text-danger" })
                        </div>
                  
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Max Discount Allowed</label>
                            @Html.EditorFor(model => model.Discount.MaxDiscountAllowed, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;", @id = "MaxDiscount", @required = "required" } })
                            @Html.ValidationMessageFor(model => model.Discount.MaxDiscountAllowed, "Required", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Promo Code</label>
                            @Html.EditorFor(model => model.Discount.PromoCode, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;" , @id = "PromoCode" } })
                            @Html.ValidationMessageFor(model => model.Discount.PromoCode, "", new { @class = "text-danger" })
                            <label class="text-danger" id="ERR_PromoCode" style="color:#a94442;font-weight: normal;">PromoCode Code Already Exist</label>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Remark</label>
                            @Html.EditorFor(model => model.Discount.Remark, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Discount.Remark, "", new { @class = "text-danger" })
                        </div>
                        <div class="checkbox">
                            <label for="exampleInputFile">
                                @Html.CheckBoxFor(model => model.Discount.IsActive, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%;" } })
                              Active
                            </label>
                        </div>
                        <br />
                     
                            <button type="submit" class="btn btn-bitbucket btn-block btn-sm" id="btnSubmit"><i class="fa fa-plus-square"></i> Save</button>
                   
                        <div class="clearfix"></div>
                       
                        
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;" class="tablediv">
                            @if (Model.DiscountTypeList != null && Model.DiscountTypeList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Discount Code</th>
                                            <th>Discount  (%)</th>
                                            <th>Max Discount Allowed</th>
                                            <th>Active</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DiscountTypeList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiscountCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiscountPercent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.MaxDiscountAllowed)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IsActive)
                                                </td>
                                                <td>
                                                    @*<a class="fa fa-trash-o fa-2x" href="@Url.Action("Delete","Discount", new { id = item.DiscountId })" onclick="return confirm('Are you sure you want to delete this Discount Details?');" title="Delete"></a>*@
                                                    <a href="@Url.Action("Index", "Discount")?id=@item.DiscountId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "Discount",new { id=@item.DiscountId})" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
