﻿@model DataLayer.ViewModels.PurchaseInvoiceItemViewModel
@{
    ViewBag.Title = "_Discount";
}

@using (Ajax.BeginForm("AddDiscount", "Home", new AjaxOptions { HttpMethod = "POST", OnSuccess = "DiscountResultList(data);", OnFailure = "error(data);" }))
{
    @Html.HiddenFor(model => model.Discount.SKUMaster.SKUMasterId, new { @id = "skuId" })
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sale Discount</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <p><b>Add new discount for selected SKU or check discount from list</b></p>
                    <div class="col-lg-4">
                        <label for="exampleInputEmail1" class="erplabel">SKU</label>
                        @Html.EditorFor(model => model.Discount.SKUMaster.SKU, new { htmlAttributes = new { @class = "form-control", @Readonly = "true", @id = "ModelSKU" } })
                        @Html.ValidationMessageFor(model => model.Discount.SKUMaster.SKU, "Required", new { @class = "text-danger" })                       
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <p><b>Add New</b></p>
                    <div class="col-lg-4">
                        <label for="exampleInputEmail1" class="erplabel">Discount Code</label>
                        @Html.EditorFor(model => model.Discount.DiscountCode, new { htmlAttributes = new { @class = "form-control", @id = "ModelDiscountCode", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Discount.DiscountCode, "Required", new { @class = "text-danger" })
                        <label id="ERR_DiscountCode" style="color: rgb(169, 68, 66); font-weight: normal; display: inline-block;"></label> 
                    </div>
                    <div class="col-lg-4">
                        <label for="exampleInputEmail1" class="erplabel">Discount (%)</label>
                        @Html.EditorFor(model => model.Discount.DiscountPercent, new { htmlAttributes = new { @class = "form-control", @id = "ModelDiscountPercent", @autocomplete = "off" } }) 
                        @Html.ValidationMessageFor(model => model.Discount.DiscountPercent, "Required", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4">
                        <label for="exampleInputEmail1" class="erplabel">Max Discount Allowed</label>
                        @Html.EditorFor(model => model.Discount.MaxDiscountAllowed, new { htmlAttributes = new { @class = "form-control", @id = "ModelDiscountMax", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Discount.MaxDiscountAllowed, "Required", new { @class = "text-danger" })
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <p><b>Select Discount</b></p>
                    <div class="col-lg-12">
                        @if (Model.Discount.DiscountList.Count > 0)
                        {
                            <div style="overflow-y:auto;height:300px;">
                                <h5 class="header">Applicable Discounts on this SKU</h5>
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                Code
                                            </th>
                                            <th>
                                                Discount Percent
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="DiscountTable">
                                        @for (int i = 0; i < Model.Discount.DiscountList.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="form-group">
                                                        @Html.HiddenFor(q => Model.Discount.DiscountList[i].DiscountId)
                                                        @Html.CheckBoxFor(q => Model.Discount.DiscountList[i].IsSelected, new { @id = "DiscountCheckList" + Model.Discount.DiscountList[i].DiscountId })
                                                        <label for="exampleInputEmail1" class="erplabel">@Model.Discount.DiscountList[i].Code</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1" class="erplabel">@Model.Discount.DiscountList[i].DiscountPercent</label> %
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="clearfix"></div>
                                <br />
                                <p class="erplabel">No Discount Available</p>
                        }

                    </div>
                    <div class="clearfix"></div>
                    <br />
                </div>
                <div class="modal-footer" style="border-top:none !important;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="ModelDiscountSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>
}
@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $("#ModelDiscountCode").on("change keyup paste", function () {
            var DiscountCode = $('#ModelDiscountCode').val();
            var serviceURL = '@Url.Action("ExistingDiscountCode", "Discount")?DiscountCode=' + DiscountCode;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#ModelDiscountSubmit").prop("disabled", true);
                    $("#ERR_DiscountCode").text("Discount Code Already Exist");
                }
                else {
                    $('#ModelDiscountSubmit').prop("disabled", false);
                    $("#ERR_DiscountCode").text(null);
                }
            }
        })

        $("#ModelDiscountPercent,#ModelDiscountMax").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });
    });
</script>
