﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">*@

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .ui-autocomplete {
            z-index: 1050;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="height: auto;padding: 0px;">
    @if (DataLayer.Utils.SessionManager.GetSessionUser() == null)
    {
        Response.Redirect("~/Login/Login");
    }
    else
    {
        <div class="wrapper" style="overflow:visible;">
            <header class="main-header">
                <!-- Logo -->
                <a href="@Url.Action("Index", "Home" )" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">CENTRAL</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">CENTRAL</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">

                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("ProductSearch","InventoryReport")">Search</a>
                            </li>
                            @*<li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                         inner menu: contains the actual data 
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>*@

                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                    <span class="hidden-xs"> @DataLayer.Utils.SessionManager.GetSessionUser().Contact.FirstName - @DataLayer.Utils.SessionManager.GetSessionCompany().Name </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        @*<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                                        <p>
                                            @DataLayer.Utils.SessionManager.GetSessionUser().Contact.FirstName
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Action("ChangeSessionCompany", "Login")" class="btn btn-default btn-flat">Change Company</a>
                                        </div>
                                        <a href="@Url.Action("ChangePassword", "Login")" class="btn btn-default btn-flat">Change Password</a>
                                        <div class="pull-right">
                                            <a href="@Url.Action("LogOut","Login")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview"> <a href="@Url.Action("Index", "Home" )"> <i class="fa fa-desktop"></i> <span>Dashboard</span> </a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-address-card"></i>
                                <span>Account</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Ledger" )"><i class="fa fa-dot-circle-o"></i> Ledger </a></li>
                                <li><a href="@Url.Action("Index", "GST" )"><i class="fa fa-dot-circle-o"></i> GST Master</a></li>
                                <li><a href="@Url.Action("Index", "Discount" )"><i class="fa fa-dot-circle-o"></i> Discount Master</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-product-hunt"></i>
                                <span>Product</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Catalouge" )"><i class="fa fa-dot-circle-o"></i>Product / Service Category</a></li>
                                <li><a href="@Url.Action("Index", "SKU" )"><i class="fa fa-dot-circle-o"></i> SKU </a></li>
                                <li><a href="@Url.Action("Index", "HSNMaster" )"><i class="fa fa-dot-circle-o"></i> HSN Master</a></li>
                                <li><a href="@Url.Action("Index", "UnitMaster" )"><i class="fa fa-dot-circle-o"></i> Unit </a></li>
                                <li><a href="@Url.Action("Index", "Attribute" )"><i class="fa fa-dot-circle-o"></i> Attributes</a></li>
                                <li><a href="@Url.Action("Index", "Product" )"><i class="fa fa-dot-circle-o"></i> Product </a></li>
                                <li><a href="@Url.Action("Index", "Brand" )"><i class="fa fa-dot-circle-o"></i> Brand </a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Entries</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Purchase</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "PurchaseInvoice")"><i class="fa fa-dot-circle-o"></i> Purchase Invoice</a></li>
                                        <li><a href="@Url.Action("Index", "PurchaseVoucher")"><i class="fa fa-dot-circle-o"></i> Purchase Voucher</a></li>
                                        <li><a href="@Url.Action("Index", "PurchaseReturn")"><i class="fa fa-dot-circle-o"></i> Purchase Return</a></li>
                                    </ul>
                                </li>     
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Sale</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "SaleInvoice")"><i class="fa fa-dot-circle-o"></i> Sale Invoice</a></li>
                                        <li><a href="@Url.Action("Index", "WSP")"><i class="fa fa-dot-circle-o"></i> WSP</a></li>
                                        <li><a href="@Url.Action("Index", "SaleVoucher")"><i class="fa fa-dot-circle-o"></i> Sale Voucher</a></li>
                                        <li><a href="@Url.Action("Index", "SalesExchange")"><i class="fa fa-dot-circle-o"></i> Sales Exchange</a></li>
                                    </ul>
                                </li>     
                                <li><a href="@Url.Action("Index","DeliveryMemo")"><i class="fa fa-dot-circle-o"></i> Delivery Memo</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.PAYMENT_VOUCHER })"><i class="fa fa-dot-circle-o"></i> Payment Note</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.RECEIPT_VOUCHER })"><i class="fa fa-dot-circle-o"></i> Receipt Note</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.JOURNAL_ENTRY })"><i class="fa fa-dot-circle-o"></i> Journal Entry</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.CONTRA_ENTRY })"><i class="fa fa-dot-circle-o"></i> Contra Entry</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Inventory</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Inventory")"><i class="fa fa-plus-square"></i> Opening Stock</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Inventory Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Consolidated Report</a></li>
                                        <li><a href="@Url.Action("CustomeReport", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Custom Report</a></li>
                                        <li><a href="@Url.Action("AgingReport", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Aging Report</a></li>
                                    </ul>
                                </li>                                    
                                <li><a href="@Url.Action("Index","InternalConsumption",new { Type = DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION })"><i class="fa fa-dot-circle-o"></i> Internal consumption</a></li>
                                <li><a href="@Url.Action("Index","InternalConsumption",new { Type = DataLayer.Constants.SALE_TYPE_SHORTAGES })"><i class="fa fa-dot-circle-o"></i> Shortages</a></li>
                                <li><a href="@Url.Action("Index","Excesses",new { Type = DataLayer.Constants.SALE_TYPE_EXCESSES })"><i class="fa fa-dot-circle-o"></i> Excesses</a></li>
                                <li><a href="@Url.Action("Index","InternalTransfer")"><i class="fa fa-dot-circle-o"></i> Internal Transfer</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Production</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Production" )"><i class="fa fa-dot-circle-o"></i> Production</a></li>
                                <li><a href="@Url.Action("Index", "ProductionReport" )"><i class="fa fa-dot-circle-o"></i> Production Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Job Work</a></li>
                                <li><a href="@Url.Action("Index", "Measurment" )"><i class="fa fa-dot-circle-o"></i> Measurement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Order Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "PurchaseOrder" )"><i class="fa fa-dot-circle-o"></i> Purchase Orders</a></li>
                                <li><a href="@Url.Action("Index","SalesOrder")"><i class="fa fa-dot-circle-o"></i> Sales Orders</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="@Url.Action("Index","BudgetingMaster")">
                                <i class="fa fa-files-o"></i> <span>Budgeting Master</span>
                            </a>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>CRM</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Contact")"><i class="fa fa-dot-circle-o"></i> Contact</a></li>
                                <li><a href="@Url.Action("CustomerInformation","Lead")"><i class="fa fa-dot-circle-o"></i> Customer Information</a></li>
                                <li><a href="@Url.Action("Index","Lead")"><i class="fa fa-dot-circle-o"></i> Leads Management</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Loyalty Program</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Customer Communication</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>User</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Role")"><i class="fa fa-dot-circle-o"></i> User Rights</a></li>                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "StoreMaste" )"><i class="fa fa-dot-circle-o"></i> Store Master</a></li>
                                <li><a href="@Url.Action("Index", "Shipping" )"><i class="fa fa-dot-circle-o"></i> Shipping Master</a></li>
                                <li><a href="@Url.Action("Index", "PaymentType" )"><i class="fa fa-dot-circle-o"></i> Payment Type Master</a></li>
                                <li><a href="@Url.Action("Index", "ServiceType" )"><i class="fa fa-dot-circle-o"></i> Service Type Master</a></li>
                                <li><a href="@Url.Action("Index", "Designation" )"><i class="fa fa-dot-circle-o"></i> Designation Master</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">                                
                                <li><a href="@Url.Action("Index", "SaleReport" )"><i class="fa fa-dot-circle-o"></i> Sales Report</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseReport" )"><i class="fa fa-dot-circle-o"></i> Purchase Report</a></li>                                                                
                                <li><a href="@Url.Action("Index", "LedgerReport" )"><i class="fa fa-dot-circle-o"></i> Ledger Group Report</a></li>
                                <li><a href="@Url.Action("LedgerIndex", "LedgerReport" )"><i class="fa fa-dot-circle-o"></i> Ledger Report</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Financial Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "TradingReport" )"><i class="fa fa-dot-circle-o"></i>Trading A/C Report</a></li>
                                        <li><a href="@Url.Action("Index", "CashFlow" )"><i class="fa fa-dot-circle-o"></i> Cash Flow</a></li>
                                    </ul>
                                </li> 
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> CRM Report</a></li>

                                
                                
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Company Details</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Company" )"><i class="fa fa-dot-circle-o"></i>Company Details</a></li>
                                <li><a href="@Url.Action("Index", "Division" )"><i class="fa fa-dot-circle-o"></i> Division</a></li>
                                <li><a href="@Url.Action("Index", "Branch" )"><i class="fa fa-dot-circle-o"></i> Branch</a></li>
                                <li><a href="@Url.Action("Index", "Location" )"><i class="fa fa-dot-circle-o"></i> Location</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Email/SMS Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create", "EmailConfigs" )"><i class="fa fa-dot-circle-o"></i>Email Configs</a></li>
                                <li><a href="@Url.Action("Create", "SMSConfig" )"><i class="fa fa-dot-circle-o"></i>SMS Config</a></li>
                                <li><a href="@Url.Action("Create", "SMSQueue" )"><i class="fa fa-dot-circle-o"></i> SMS Queue</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->
                @RenderBody()
                <!-- /.content -->
                <!-- Main content -->
                <!-- /.content -->


                <input type="hidden" id="lblAccCategoryID" />
                <input type="hidden" id="lblSubcategory" />
                <div class="modal fade" id="LocationModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="height:150px; width: 500px;">
                            <div class="modal-header">
                                <h4 class="modal-title">Location</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Location Name</label>
                                        <input type="text" id="ModelLocationName"  name="ModelLocationName" value="" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelLocationSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="SKUModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/Home/AddSKU" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddSKUjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">SKU</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Product Category</label>
                                            <input id="ModelSKUCategoryHidden" type="hidden" name="model.CategoryId" />
                                            <input class="form-control text-box single-line valid ui-autocomplete-input" data-val="true" data-val-required="Required." name="model.CategoryName" required="required" type="text" value="" id="ModelSKUCategory">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.CategoryName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Product SubCategory</label>
                                            <input id="ModelSKUSubCategoryHidden" type="hidden" name="model.SubCategoryId" />
                                            <input class="form-control text-box single-line valid ui-autocomplete-input" data-val="true" data-val-required="Required." name="model.SubCategoryName" required="required" type="text" value="" id="ModelSKUSubCategory">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.SubCategoryName" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">SKU</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.SKU" required="required" type="text" value="" id="modelSKU">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.SKU" data-valmsg-replace="true"></span>
                                            <label id="ERR_ModelSKU" style="color: rgb(169, 68, 66); font-weight: normal; display: inline-block;"></label>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Product Name</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ProductName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ProductName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">GST % while Selling</label>
                                            <input class="form-control text-box single-line valid" data-val="true" name="model.GstforSelling" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="SAVE_ModelSKU">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal fade" id="CustomerModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/Home/AddCustomer" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddCustomerjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Create Ledger</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                                            <input class="form-control text-box single-line valid ui-autocomplete-input" data-val="true" id="txtAccCategoryName1" data-val-required="Required." name="model.CategoryName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.CategoryName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Subcategory Name</label>
                                            <input type="text" id="txtAccountSubcategoryName1" name="model.SubCategoryName" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Ledger Name</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.Name" required="required" type="text" value="" id="LedgerName" autocomplete="off">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Name" data-valmsg-replace="true"></span>
                                            <label class="text-danger" id="LedgerDup" style="color:#a94442;font-weight: normal;">Ledger Already Exist</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Opening Balance</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.StartingBalance" required="required" type="number" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.StartingBalance" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Balance Type</label>
                                            <select class="form-control" name="model.Type" data-val-required="Required." required>
                                                <option value="CR">CR</option>
                                                <option value="DR">DR</option>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Type" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Ledger Type</label>
                                            <select class="form-control" name="model.Contact.Type" data-val-required="Required." required>
                                                <option value="Customer">Customer</option>
                                                <option value="Supplier">Supplier</option>
                                                <option value="Employee">Employee</option>
                                                <option value="Other">Other</option>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.Type" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Email Id</label>
                                            <input type="email" id="txtCustomerEmailId" , name="model.Contact.Email" value="" class="form-control" data-val-email="Invalid Email Address" />
                                            <span class="text-danger field-validation-error" data-valmsg-for="model.Contact.Email" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Contact Number</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-regex="Invalid Number" data-val-regex-pattern="(^$)|(^[0-9a-fA-FxX]{10}$)" name="model.Contact.Mobile" type="text" value="" id="txtCustomerContactNumber">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.Mobile" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">GST Number</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-regex="Invalid GST Number" data-val-regex-pattern="(^$)|(^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$)" name="model.Contact.GSTNo" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.GSTNo" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">PAN Number</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-regex="Invalid PAN Number" data-val-regex-pattern="(^$)|(^[0-9a-fA-FxX]{10}$)" name="model.Contact.PanCardNo" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.PanCardNo" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">City</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" name="model.Contact.City" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.City" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Address</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" name="model.Contact.AddressLine1" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.AddressLine1" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="LedgerSave">Save</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal fade" id="SupplierModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/Home/AddSupplier" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddSupplierjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Supplier Ledger</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Supplier Name</label>
                                            <input type="text" id="txtCustomerName" , name="model.Contact.FirstName" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Email Id</label>
                                            <input type="email" id="txtCustomerEmailId" , name="model.Contact.Email" value="" class="form-control" data-val-email="Invalid Email Address" />
                                            <span class="text-danger field-validation-error" data-valmsg-for="model.Contact.Email" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Contact Number</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-regex="Invalid Number" data-val-regex-pattern="(^$)|(^[0-9a-fA-FxX]{10}$)" name="model.Contact.Mobile" type="text" value="" id="txtCustomerContactNumber">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.Mobile" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">GST Number</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-regex="Invalid Number" data-val-regex-pattern="(^$)|(^[0-9a-fA-FxX]{15}$)" name="model.Contact.GSTNo" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.GSTNo" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">PAN Number</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-regex="Invalid Number" data-val-regex-pattern="(^$)|(^[0-9a-fA-FxX]{10}$)" name="model.Contact.PanCardNo" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.PanCardNo" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">City</label>
                                            <input class="form-control text-box single-line input-validation-error" data-val="true" name="model.Contact.City" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Contact.City" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                                            <input class="form-control text-box single-line valid ui-autocomplete-input" data-val="true" id="txtAccCategoryName2" data-val-required="Required." name="model.CategoryName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.CategoryName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Subcategory Name</label>
                                            <input type="text" id="txtAccountSubcategoryName2" , name="model.SubCategoryName" value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Ledger Name</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.Name" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Name" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Opening Balance</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.StartingBalance" required="required" type="number" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.StartingBalance" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Type</label>
                                            <select class="form-control" name="model.Type" data-val-required="Required." required>
                                                <option value="CR">CR</option>
                                                <option value="DR">DR</option>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Type" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal fade" id="InProcessStatusModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddInProcessStatus" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddStatusjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">JobSheet Status</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">JobSheet Status</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.Status" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Status" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="GSTModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">GST</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Name</label>
                                        <input type="text" id="ModelGSTName" , name="ModelGSTName" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">CGST</label>
                                        <input type="text" id="ModelGSTCGST" , name="ModelGSTCGST" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">SGST</label>
                                        <input type="text" id="ModelGSTSGST" , name="ModelGSTSGST" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">IGST</label>
                                        <input type="text" id="ModelGSTIGST" , name="ModelGSTIGST" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">OtherTaxes</label>
                                        <input type="text" id="ModelGSTOtherTaxes" , name="ModelGSTOtherTaxes" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelGSTSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="BrandModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Brand</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <label for="exampleInputEmail1" class="erplabel">Brand Name</label>
                                        <input type="text" id="ModelBrandName" , name="ModelBrandName" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelBrandSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="UnitModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddUnit" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddUnitAjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">Unit</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1" class="erplabel">Unit</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.UnitValue" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.UnitValue" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="form-group">
                                            <br>
                                            <label class="control-label erplabel" for="email"></label>
                                            <input name="model.SellInPartial" type="checkbox">
                                            <label class="control-label erplabel" for="email">Sale In Partial</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="ModelUnitSubmit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="HSNModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddHSN" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddHSNAjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">HSN</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">HSN Product Name</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ProductName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ProductName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">HSN Product Code</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.Code" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Code" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="ModelHSNSubmit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="AttributeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddAttribute" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddAttributejaxSuccess(data);" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">Attribute</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Value</label>
                                            <input id="HiddenAttributeSetId" type="hidden" name="model.AttributeSetId" />
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ApplicableValues" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ApplicableValues" data-valmsg-replace="true"></span>
                                            <label id="ATTRIBUTE_ALREADY_PRESENT" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="ServiceTypeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddServiceType" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddServiceTypeSuccess(data);" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">Service Type</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Value</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ServicesName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ServicesName" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="AccountCategoryModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Ledger Account</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                                        <input type="text" id="ModelAccountCategoryName"  name="ModelAccountCategoryName" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Subcategory Name</label>
                                        <input type="text" id="ModelAccountSubcategoryName" , name="Modelsubcategory" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Ledger name</label>
                                        <input type="text" id="ModelAccountLedgerName" , name="ModelLedgerName" value="" class="form-control" />
                                    </div>
                                    <input type="hidden" id="txtrecordType" value="@DataLayer.Enums.RecordType.PurchaseAccount" />
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Type</label>
                                        <select class="form-control" id="drpLedgerName">
                                            <option value="CR">CR</option>
                                            <option value="DR">DR</option>
                                        </select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelAccountCategorySubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="ShippingTypeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Shipping</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                        <input type="text" id="ModelShippingType" , name="ModelShippingType" value="" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelShippingTypeSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="SaleAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                @Html.Action("_SaleAccount", "Home")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--  <footer class="main-footer">
                  <div class="pull-right hidden-xs">
                      <b>Version</b> 1.0.0
                  </div>
                  <strong>Copyright &copy; 2017 <a href="#">Siddhart Ethic & Mens Wear</a>.</strong> All rights
                  reserved.
              </footer>  -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                    <!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <!-- /.tab-pane -->

                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script>
        $(document).ready(function () {
            $("#LedgerDup").hide();
            $("#modelSKU").on("change keyup paste", function () {
                var SKU = $('#modelSKU').val();
            var serviceURL = '@Url.Action("GetSku", "SKU")?SKU=' + SKU;
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                });
                function successFunc(data) {
                    if (data == true) {
                        $("#SAVE_ModelSKU").prop("disabled", true);
                        $("#ERR_ModelSKU").text("SKU Already Exist");
                    }
                    else {
                        $('#SAVE_ModelSKU').prop("disabled", false);
                        $("#ERR_ModelSKU").text(null);
                    }
                }
            });
            

            $("#LedgerName").keyup(function () {
                  var Name = $('#LedgerName').val();
                  var serviceURL = '@Url.Action("ExistingLedger", "Ledger")?Name=' + Name;
                  $.ajax({
                      type: "POST",
                      url: serviceURL,
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: successFunc,
                  });
                  function successFunc(data) {
                      if (data == true) {
                          $("#LedgerDup").show();
                          $("#LedgerSave").prop("disabled", true);
                      }
                      else {
                          $("#LedgerSave").prop("disabled", false);
                          $("#LedgerDup").hide();
                      }
                  }
            });

            $("#txtSupplierContactNumber,#txtCustomerContactNumber").keypress(function (e) {
                if ((e.which < 48 || e.which > 57)) {
                    return false;
                }
                var stat = $(this).val();
                if (stat.length > 9) {
                    return false;
                }
            });

            $("button[id='ModelLocationSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelLocationName").val() == '' || $("#ModelLocationName").val() == null) {
                    $('#ModelLocationName').css('border-color', 'red');
                    Err++;
                }
                else {
                    var ModelLocationName = $("#ModelLocationName").val();
                    var model = { 'LocationName': ModelLocationName, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddLocation',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ModelLocationList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');

                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("#ModelGSTIGST,#ModelGSTOtherTaxes,#ModelGSTSGST,#ModelGSTCGST").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                    return false;
                }
            });

            $("button[id='ModelGSTSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelGSTName").val() == '' || $("#ModelGSTName").val() == null) {
                    $('#ModelGSTName').css('border-color', 'red');
                    Err++;
                }
                if (Err == 0) {
                    var IGST = $("#ModelGSTIGST").val();
                    var OtherTaxes = $("#ModelGSTOtherTaxes").val();
                    var SGST = $("#ModelGSTSGST").val();
                    var CGST = $("#ModelGSTCGST").val();
                    var Name = $("#ModelGSTName").val();
                    var model = { 'IGST': IGST, 'OtherTaxes': OtherTaxes, 'SGST': SGST, 'CGST': CGST, 'Name': Name, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddGST',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ModelGSTList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("button[id='ModelAccountCategorySubmit']").click(function () {
                var Err = 0;
                if ($("#ModelAccountCategoryName").val() == '' || $("#ModelAccountCategoryName").val() == null) {
                    $('#ModelAccountCategoryName').css('border-color', 'red');
                    Err++;
                }
                if ($("#ModelAccountSubcategoryName").val() == '' || $("#ModelAccountSubcategoryName").val() == null) {
                    $('#ModelAccountSubcategoryName').css('border-color', 'red');
                    Err++;
                }
                if ($("#ModelAccountLedgerName").val() == '' || $("#ModelAccountLedgerName").val() == null) {
                    $('#ModelAccountLedgerName').css('border-color', 'red');
                    Err++;
                }

                else {
                    var AccountCategory = $("#ModelAccountCategoryName").val();
                    var AccountSubcategory = $("#ModelAccountSubcategoryName").val();
                    var AccountLedger = $("#ModelAccountLedgerName").val();
                    var dr_cr = $("#drpLedgerName").val();

                    var model = { 'CategoryName': AccountCategory, 'SubCategoryName': AccountSubcategory, 'Name': AccountLedger, 'typeofact': dr_cr }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddAccountCategory',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#PurchaseAccountList_Purchase").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                    $("#ModelAccountCategoryList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                    $("#ModelSaleAccountList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                    $("#PurchaseAccountList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("button[id='ModelBrandSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelBrandName").val() == '' || $("#ModelBrandName").val() == null) {
                    $('#ModelBrandName').css('border-color', 'red');
                    Err++;
                }
                else {
                    var BrandName = $("#ModelBrandName").val();
                    var model = { 'BrandName': BrandName, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddBrand',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ModelBrandList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("button[id='ModelShippingTypeSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelShippingType").val() == '' || $("#ModelShippingType").val() == null) {
                    $('#ModelShippingType').css('border-color', 'red');
                    Err++;
                }
                else {
                    var ShippingType = $("#ModelShippingType").val();
                    var model = { 'ShippingType': ShippingType, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddShippingType',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ShippingTypeList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("button[id='ClosedDiscountPopup']").click(function () {
                $('#DiscountsModel').hide();
                $('.modal-backdrop').remove();
            });

            $("button[id='ModelMeasurementsSubmit']").click(function () {
                var Err = 0;
                if ($("#MeasurementsField").val() == '' || $("#MeasurementsField").val() == null) {
                    $('#MeasurementsField').css('border-color', 'red');
                    Err++;
                }
                else {
                    var MeasurmentType = $("#MeasurementsField").val();
                    var model = { 'MeasurmentType': MeasurmentType, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddMeasurment',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#MeasurmentId").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $('[data-dismiss=modal]').on('click', function (e) {
                var $t = $(this),
                    target = $t[0].href || $t.data("target") || $t.parents('.modal') || [];

                $(target)
                  .find("input,textarea,select")
                     .val('')
                     .end()
                  .find("input[type=checkbox], input[type=radio]")
                     .prop("checked", "")
                     .end();
            })

            $(function () {
                $("[id*=txtAccCategoryName2]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        $.ajax({
                            async: false,
                            cache: false,
                            url: "/Home/AccountCategory",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#txtAccCategoryName1").val(ui.item.label);
                        $("#txtAccCategoryName2").val(ui.item.label);
                        $('#lblAccCategoryID').val(ui.item.Id);
                        return false;
                    }
                });
            });

            $(function () {
                $("[id*=txtAccCategoryName1]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        $.ajax({
                            async: false,
                            cache: false,
                            url: "/Home/AccountCategory",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#txtAccCategoryName1").val(ui.item.label);
                        $("#txtAccCategoryName2").val(ui.item.label);
                        $('#lblAccCategoryID').val(ui.item.Id);
                        return false;
                    }
                });
            });

            $(function () {
                $("[id*=txtAccountSubcategoryName1]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        var AccCategoryID = $('#lblAccCategoryID').val();
                        $.ajax({
                            async: false,
                            cache: false,
                            url: "/Home/AccountSubCategory",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term, CategoryId: AccCategoryID },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#txtAccountSubcategoryName1").val(ui.item.label);
                        $("#txtAccountSubcategoryName2").val(ui.item.label);
                        $('#lblSubcategory').val(ui.item.Id);
                        return false;
                    }
                });
            });

            $(function () {
                $("[id*=txtAccountSubcategoryName2]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        var AccCategoryID = $('#lblAccCategoryID').val();
                        $.ajax({
                            async: false,
                            cache: false,
                            url: "/Home/AccountSubCategory",
                            type: "POST",
                            dataType: "json",
                            data: { Prefix: request.term, CategoryId: AccCategoryID },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#txtAccountSubcategoryName1").val(ui.item.label);
                        $("#txtAccountSubcategoryName2").val(ui.item.label);
                        $('#lblSubcategory').val(ui.item.Id);
                        return false;
                    }
                });
            });

            $(function () {
                $("[id*=ModelSKUCategory]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url: "/Home/GetCategoryList",
                            data: { Prefix: request.term },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#ModelSKUCategory").val(ui.item.label);
                        $('#ModelSKUCategoryHidden').val(ui.item.Id);
                        return false;
                    }
                });
            });

            $(function () {
                $("[id*=ModelSKUSubCategory]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        var CategoryId = $('#ModelSKUCategoryHidden').val();
                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url: "/Home/GetSubCategoryList",
                            data: { Prefix: request.term, CategoryId: CategoryId },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#ModelSKUSubCategory").val(ui.item.label);
                        $('#ModelSKUSubCategoryHidden').val(ui.item.Id);
                        return false;
                    }
                });
            });

        });
        function CreateLedgerSave(itemList) {
            if (itemList != null) {
                $.each(itemList, function (i, division) {
                    division.Selected = true;
                    $("#ModelSaleAccountList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $('#SaleAccount').hide();
                $('.modal-backdrop').remove();
            }
        }

        function AddHSNAjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ModelHSNList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }
        function AddCustomerjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ModelCustomerList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#ModelSaleAccountList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#ModelAccountCategoryList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#PaymentType1").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#ToLedger").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#ToLedger1").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#PaymentType").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#ModelSupplierList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#PurchaseAccountList_Purchase").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#PurchaseAccountList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }

        function AddSKUjaxSuccess(data) {
            if (data.SKUList != null) {
                $.each(data.SKUList, function (i, division) {
                    division.Selected = true;
                    $("#ModelSKUList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $.each(data.CategoryList1, function (i, division) {
                    division.Selected = true;
                    $("#ddlCategory").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $.each(data.SubCategoryList1, function (i, division) {
                    division.Selected = true;
                    $("#ddlSubCategory").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }

        function AddAttributejaxSuccess(data) {
            if (data == "@DataLayer.Constants.ATTRIBUTE_ALREADY_PRESENT")
            {
                $("#ATTRIBUTE_ALREADY_PRESENT").show();
                $("#ATTRIBUTE_ALREADY_PRESENT").text("@DataLayer.Constants.ATTRIBUTE_ALREADY_PRESENT");
                setTimeout(function () {
                    $('#ATTRIBUTE_ALREADY_PRESENT').fadeOut();
                }, 2000);
            }
            else
            {
                $("#AttributeValueList" + data.AttributeId).append('<option  selected="selected" value="' + data.AttributeValue + '">' + data.AttributeValue + '</option>');
                $("[data-dismiss=modal]").click();
            }
        }

        function addAttribute(id) {
            $("#HiddenAttributeSetId").val(id);
        }

        function AddSupplierjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ModelSupplierList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#PurchaseAccountList_Purchase").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                    $("#PurchaseAccountList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');

                });
                $("[data-dismiss=modal]").click();
            }
        }

        function AddServiceTypeSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ServiceTypeId").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');

                });
                $("[data-dismiss=modal]").click();
            }
        }
        function AddStatusjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#JobSheetInProcessStatusId").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');

                });
                $("[data-dismiss=modal]").click();
            }
        }

        function AddUnitAjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ModelUnitList").append('<option  selected="selected" value="' + division.Value + '" "' + (division.Selected ? ' "selected"' : '""') + '"">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }

    </script>
</body>
</html>
