﻿@model DataLayer.Models.Ledger
<div class="form-group">
    @using (Ajax.BeginForm("CreateLedger", "Home", new AjaxOptions { OnSuccess = "CreateLedgerSave" }))
    {
        <div class="box box-primary">
            <div class="box-body">
                @Html.HiddenFor(model => model.LedgerId)

                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Name</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName" } })
                        <label class="text-danger" id="ErrtxtName" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>

                <div class="col-lg-4" id="divUnderWhom">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Contact Category</label>
                        @Html.DropDownListFor(model => model.AccountCategoryId, Model.ContactCategoryList, new { @class = "form-control", @id = "ddlWhom" })
                        <label class="text-danger" id="ErrddlWhom" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>

                <div class="col-lg-4" id="divContactSubCategory">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Contact SubCategory</label>
                        @Html.DropDownListFor(model => model.AccountSubCategoryId, Model.ContactSubCategoryList, new { @class = "form-control", @id = "ContactSubCategory" })
                    </div>
                </div>
                <div class="col-lg-4" id="divOther">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Under Whom</label>
                        @Html.EditorFor(model => model.other, new { htmlAttributes = new { @class = "form-control", @id = "txtOther" } })
                        <label class="text-danger" id="ErrtxtOther" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>

                <div class="col-lg-4" id="divBankName">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Bank Name</label>
                        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @id = "BankName" } })
                        <label class="text-danger" id="ErrBankName" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>

                <div class="col-lg-4" id="divBankNumber">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Bank Number</label>
                        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @id = "BankNumber" } })
                        <label class="text-danger" id="ErrBankNumber" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>

                <div class="col-lg-4" id="divIFSC">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">IFSC</label>
                        @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @id = "IFSC" } })
                        <label class="text-danger" id="ErrIFSC" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>
                @if (Model.LedgerId == 0)
                {

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Opening Balance</label>
                            @Html.EditorFor(model => model.StartingBalance, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                }

                @if (Model.LedgerId != 0)
                {

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Opening Balance</label>
                            @Html.EditorFor(model => model.StartingBalance, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        </div>
                    </div>
                }

                @if (Model.LedgerId != 0)
                {
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email" id="lblCurrentBalance">Closing Balance</label>
                            @Html.EditorFor(model => model.CurrentBalance, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                        </div>
                    </div>
                }


                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">CR / DR</label>
                        @Html.DropDownListFor(model => model.Type, Model.TypesList, new { @class = "form-control", @id = "ddlType" })
                        <label class="text-danger" id="ErrddlType" style="color:#a94442;font-weight: normal;">Required</label>
                    </div>
                </div>

            </div>
        </div>
        <div class="box-footer">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-bitbucket btn-sm" id="ModelPopbtnSubmit" value="Save">Save</button>
                </div>
            </div>
        </div>
    }
</div>
@*<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#divContactSubCategory").hide();
        var underwhom = $("#ddlWhom option:selected").val();
        if (underwhom == 5) {
            $("#divBankName").hide();
            $("#divBankNumber").hide();
            $("#divIFSC").hide();
        }
        else {
            $("#divBankName").hide();
            $("#divIFSC").hide();
            $("#divBankNumber").hide();
        }
        if (underwhom == 0) {
            $("#divOther").show();
            $("#txtOther").show();
            $("#divContactSubCategory").hide();
        }
        else {
            $("#divOther").hide();
        }
        $("#ErrtxtOther").hide();
        $("#ErrddlType").hide();
        $("#ErrddlWhom").hide();
        $("#btnSubmit1").hide();
        $("#btnSubmit2").hide();
        $("#divOther").hide();
        $("#ErrtxtName").hide();

        if ($("#txtName").val() != null) {
            $("#txtPaymentType").text($("#ddlType").text());
        }



        $("#ModelPopbtnSubmit").click(function () {
            var errcount = 0;
            var valType = $("#ddlType").val();
            if ($("#txtName").val() == "" || $("#txtName").val() == null) {
                $("#ErrtxtName").show();
                setTimeout(function () {
                    $("#ErrtxtName").fadeOut();
                }, 3000);

                errcount++;
            }
            else {
                $("#ErrtxtName").hide();
            }

            if ($("#ddlType").val() == "-1") {
                $("#ErrddlType").show();
                setTimeout(function () {
                    $('#ErrddlType').fadeOut();
                }, 3000);
                errcount++;
            }
            else {
                $("#ErrddlType").hide();
            }

            if ($("#ddlType").val() == "-1") {
                $("#ErrddlType").show();
                setTimeout(function () {
                    $('#ErrddlType').fadeOut();
                }, 3000);
                errcount++;
            }
            else {
                $("#ErrddlType").hide();
            }

            //var underwhom = $("#ddlWhom option:selected").val();
            var underwhom = $("#ddlWhom option:selected").text();
            if (underwhom == "Bank") {
                if ($("#BankName").val() == "") {
                    $("#ErrBankName").show();
                    setTimeout(function () {
                        $("#ErrBankName").fadeOut();
                    }, 3000);
                    errcount++;
                }
                else {
                    $("#ErrBankName").hide();
                }

                if ($("#BankNumber").val() == "") {
                    $("#ErrBankNumber").show();
                    setTimeout(function () {
                        $("#ErrBankNumber").fadeOut();
                    }, 3000);
                    errcount++;
                }
                else {
                    $("#ErrBankNumber").hide();
                }

                if ($("#IFSC").val() == "") {
                    $("#ErrIFSC").show();
                    setTimeout(function () {
                        $("#ErrIFSC").fadeOut();
                    }, 3000);
                    errcount++;
                }
                else {
                    $("#ErrIFSC").hide();
                }

            }
            else if (underwhom == "Other") {
                if ($("#txtOther").val() == "") {
                    $("#ErrtxtOther").show();
                    setTimeout(function () {
                        $("#ErrtxtOther").fadeOut();
                    }, 3000);
                    errcount++;
                }
                else {
                    $("#ErrtxtOther").hide();
                }

            }
            else {
                if ($("#ddlWhom").val() == "-1") {
                    $("#ErrddlWhom").show();
                    setTimeout(function () {
                        $('#ErrddlWhom').fadeOut();
                    }, 3000);
                    errcount++;
                }
                else {
                    $("#ErrddlWhom").hide();
                }
            }
            if (errcount == 0) {
                return true;
            }
            else {
                return false;
            }
        });

        $("#ddlUserName").change(function () {

            var name = $("#ddlUserName option:selected").text();
            var val = $("#ddlUserName option:selected").val();
            if (val > 0) {
                $("#txtName").val(name);
            }
            else {
                $("#txtName").val("");
            }
        });

        $("#ddlWhom").change(function () {
            //var underwhom = $("#ddlWhom option:selected").val();
            var value = $("#ddlWhom option:selected").val();
            if (value != 0) {
                $("#divContactSubCategory").show();
                $("#ContactSubCategory").empty();

                $.ajax({
                    type: "Post",
                    url: '@Url.Action("ContactSubCategoryList", "Ledger")?contactcategoryid=' + value,
                    contentType: "application/json; charset=utf-8",
                    dataType: "Json",
                    success: function (ContactSubCategoryList) {

                        $("#ContactSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                        $.each(ContactSubCategoryList, function (i, Sub) {
                            //$("#ContactSubCategory").clearQueue();
                            $("#ContactSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                        });

                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }

        });
    });

</script>*@
