﻿@{
    ViewBag.Title = "Error";
    Layout = null;
}
<link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
<link href="~/Content/material.css" type="text/css" rel="stylesheet" />
<link href="~/Content/modern-business.css" type="text/css" rel="stylesheet" />
@*<link href="~/Content/Site.css" type="text/css" rel="stylesheet" />*@
<link href="~/Content/tasteoftongue.css" type="text/css" rel="stylesheet" />
<link href="~/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left">
            <br />
            <br />
            <br />
            <br />
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <h1>
                    Oops!
                </h1>
                <h3>We can't seem to find the</h3>
                <h3>page you're looking for.</h3>
                <br />
                <p>Error code: <b>404</b></p>
                <div class="clearfix"></div>
                <br />
                <a href="@Url.Action("Login","Login")">Back</a>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 pull-right" style="text-align:center;">
                <img src="~/Images/cart.png" />
            </div>
        </div>
    </div>

</div>