﻿@model DataLayer.ViewModels.BrandViewModel
@{
    ViewBag.Title = "Brand - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#err_BrandName").hide();

        $("#txtBrandName").keyup(function () {
            var Name = $('#txtBrandName').val();
            var serviceURL = '@Url.Action("ExistingBrand", "Brand")?Name=' + Name;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#err_BrandName").show();
                    $("#Button").prop("disabled", true);
                }
                else {
                    $("#Button").prop("disabled", false);
                    $("#err_BrandName").hide();
                }
            }
        });

        if ($("#hiddenBrandId").val() != 0) {
            $("Button").text("Update");
        }
        else {
            $("Button").text("Save");
        }

    });
</script>
<section class="content-header">
    <h1> Brand  <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Brand Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:120px">

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>


                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }
                <!-- /.box-header -->
                <div class="box-body">

                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.Brand.BrandId, new { @id = "hiddenBrandId" })
                        @Html.HiddenFor(model => model.Brand.CreatedBy)
                        @Html.HiddenFor(model => model.Brand.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Brand  Name</label>
                            @Html.EditorFor(model => model.Brand.BrandName, new { htmlAttributes = new { @class = "form-control", @id = "txtBrandName", @style = "max-width:100%;" } })
                            <label class="text-danger" id="err_BrandName" style="color:#a94442;font-weight: normal;">Brand Name Already Exist</label>
                            @Html.ValidationMessageFor(model => model.Brand.BrandName, "", new { @class = "text-danger" })
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-bitbucket btn-block btn-sm" id="Button"><i class="fa fa-plus-square"></i> Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.BrandList != null && Model.BrandList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Brand Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BrandList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BrandName)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index", "Brand")?id=@item.BrandId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "Brand",new { id = @item.BrandId })" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
