﻿@model DataLayer.Models.SaleInvoice
@{
    Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {








    });


</script>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrNoProducts").show();
        setTimeout(function () {
            $('#ErrNoProducts').fadeOut();
        }, 5000);
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrNoProducts").hide();
    </script>
}
<label id="ErrNoProducts" style="color:#a94442;font-weight: normal;" class="text-danger">No Product Found</label>
@if (Model.WSPProductList != null && Model.WSPProductList.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Product Number</th>
                @for (int i = 0; i < Model.AttributeSetListNew.Count; i++)
                {
                    <th class="erplabel"> @Model.AttributeSetListNew[i].Name </th>
                }
                <th class="erplabel">WSP Rate</th>

        </thead>
        <tbody>            
                @foreach (var item in Model.WSPProductList)
                {
                    <tr>
                        <td style="font-size:small">@item.SerialNumber</td>
                        @if (item.AttributeList != null)
                        {
                        foreach (var item1 in item.AttributeList)
                        {
                        <td style="font-size:small">
                            @item1
                        </td>
                        }
                        }
                        <td style="font-size:small">@item.WSPAmount</td>
                        <td><a class="btn btn-info btn-sm" onclick="Add('@item.ProductId')">Add</a></td>
                    </tr>
                }                    
        </tbody>
    </table>
}



