﻿@model DataLayer.ViewModels.WSPPrintViewModel
@{
    ViewBag.Title = "Sale Invoice Print";
}

<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;

        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    });
</script>

<section class="content">
    <div class="row">
        <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
            <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                <center>
                    <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                        <b>@Model.Company.Name</b>
                    </p>
                    <p style="margin: 0 0 0px;">
                        @Model.Branch.BranchName
                    </p>
                </center>
                <center>
                    @Model.Company.Address
                    @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                    GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                    <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                        TAX INVOICE

                    </div>
                    <div style="width:100%;display:inline-block;">
                        <div style="width:60%;display:inline-block;float:left;text-align:left;">
                            <span style="display: inline-block;    font-weight: bold;    padding-left: 7px;"> Bill No</span> <span style="margin:0 7px 0 23px ">:</span> @Model.SalesInvoice.SaleInvoiceNo   <br>
                            <span style="margin: 0px 5px 0 0;display: inline-block;    padding-left: 7px;"> Bill Date</span> <span style="margin:0 7px 0 10px ">:</span> @Model.SalesInvoice.InvoicingDate.ToString("dd'/'MM'/'yyyy") @Model.SalesInvoice.Time<br>
                            @if (Model.SalesInvoice.DueDate != null)
                            {
                                <span style="margin: 0px 5px 0 0;display: inline-block;    padding-left: 7px;"> Due Date</span> <span style="margin:0 7px 0 10px ">:</span> @Model.SalesInvoice.DueDate.Value.ToString("dd'/'MM'/'yyyy")<br>
                            }
                        </div>
                        <div style="width:40%;display:inline-block;float:right;text-align:left;">
                            <span style="margin: 0px 33px 0 0;display: inline-block;"> Sales Type</span> <span style="margin:0 7px 0 11px ">:</span>  @Model.SaleType <br>
                            <span style="margin: 0px 4px 0 0;display: inline-block;">  Salesman Code</span>    <span style="margin:0 7px 0 11px ">:</span> @Model.SalesMan <br>
                            <span style="margin: 0px 10px 0 0;display: inline-block;">  Shipping Type</span>  <span style="margin:0 7px 0 12px ">:</span> @Model.SalesInvoice.ShippingType    <br>
                            <span style="margin: 0px 32px 0 0;display: inline-block;">  Courier No</span>   <span style="margin:0 7px 0 11px "> :</span>  @Model.SalesInvoice.ShippingDetails  <br>
                        </div>
                    </div>
                </center>


                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    padding-left: 7px;">

                    Name , Address & GSTIN of the Recipient

                </div>

                <div style="width:100%;display:inline-block;">
                    <div style="width:60%;display:inline-block;float:left;text-align:left;">
                        <span style="margin: 0px 19px 0 0;display: inline-block;    padding-left: 7px;">  Name </span>   <span style="margin:0 7px 0 9px ">:</span>
                        @if (Model.Contact.TitleList == DataLayer.Enums.TitleType.Ms)
                        {
                            @Model.Contact.CompanyName
                        }
                        else
                        {
                            @Model.Contact.FirstName
                        }
                        <br>
                        <span style="margin: 0px 5px 0 0;display: inline-block;    padding-left: 7px;">  Address</span> <span style="margin:0 7px 0 11px ">:</span> @Model.Contact.AddressLine1 , @Model.Contact.City <br>
                        <span style="margin: 0px 4px 0 0;display: inline-block;    padding-left: 7px;">  GST No</span>  <span style="margin:0 7px 0 16px ">:</span> @Model.Contact.GSTNo   <br>
                        <span style="margin: 0px 4px 0 0;display: inline-block;    padding-left: 7px;">  Mobile No</span>  <span style="margin:0 7px 0 16px ">:</span> @Model.Contact.Mobile   <br>
                        <span style="margin: 0px 4px 0 0;display: inline-block;    padding-left: 7px;">  Delivery Memo</span> <span style="margin:0 7px 0 5px ">:</span> @Model.SalesInvoice.DeliveryMemoNumber  <br>
                    </div>
                    <div style="width:40%;display:inline-block;float:right;text-align:left;">
                        <span style="display:inline-block;">  Payment Type</span>  <span style="margin:0 7px 0 23px ">:</span> @Model.PaymentType.PaymentName  <br>
                        <span style="display:inline-block;">  Payment Detail </span>  <span style="margin:0 7px 0 18px ">:</span> <br>
                        <span style="display:inline-block;">  Shipping Address</span> <span style="margin:0 7px 0 5px ">:</span>   <br>
                        <span style="display:inline-block;">  Sale Order Number</span> <span style="margin:0 7px 0 5px ">:</span> @Model.SaleOrderNumber  <br>
                    </div>
                </div>


                @if (Model.SKUList != null)
                {

                    <table style="width:100%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                        <tr style="border:0px solid #000;  border-collapse: collapse;">
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;">SR NO.</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">SKU</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">HSN</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">QTY</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">WSP</th>                            
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">DISC. (%)</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">SGST</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">CGST</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">IGST</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">GST AMT</th>
                            <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-right: 0px;">Gross Amount</th>

                        </tr>

                        @foreach (var item in Model.SKUList.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            <tr>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0;">@item.Index</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.SKU </td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.Product.HSN.Code</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.TotalQuantity</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.WSP.ToString("#.##")</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@(item.Data.SaleDiscountPercent.ToString("0.##"))</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">(@item.Data.GST.SGST % )@item.Data.SGST.ToString("#.##") </td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">(@item.Data.GST.CGST %)@item.Data.CGST.ToString("#.##") </td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">(@item.Data.GST.IGST %)@item.Data.IGST.ToString("#.##") </td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@((item.Data.SGST + item.Data.CGST + item.Data.IGST).ToString("#.##"))</td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px;    border-right: 0;">@item.Data.BasicPrice.ToString("#.##")</td>
                            </tr>
                        }
                        <tr>
                            <td colspan=3 style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0;"></td>
                            <td style="text-align:center;">Total : @Model.SalesInvoice.TotalQuantity.ToString("#.##") </td>
                            <td colspan=7 style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px;    border-right: 0;"></td>
                        </tr>
                        <tr>
                            <td colspan=9 rowspan=8 style="border:1px solid #000;border-collapse: collapse;text-align:left;position: relative;border-left: 0px;">
                                <span style="position: absolute;top: 10px;    font-weight: bold;    font-weight: bold;padding-left:7px;"><span style="text-decoration:underline"> BANK DETAILS</span> <span style="margin:0 7px 0 0"> :</span></span>
                                @if (Model.BankLedger != null)
                                {                                    
                                    <span>Name : @Model.BankLedger.Name</span><br />
                                    <span>Account Number : @Model.BankLedger.AccountNo</span><br />
                                    <span>IFSC : @Model.BankLedger.IFSC</span><br />
                                    <span>Swift Code : @Model.BankLedger.SwiftCode</span><br />
                                    <span>Address : @Model.BankLedger.Address @if (Model.BankLedger.Contact == null) { <span>, @Model.BankLedger.Contact.City </span> }</span><br />
                                }
                            </td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;    font-weight: bold;">Sub total</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;"><b>@Model.SalesInvoice.Subtotal.ToString("0.00")</b></td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Discount</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right; padding-right:7px; border-right: 0;">
                                @Model.SalesInvoice.TotalDiscount.ToString("0.##")
                            </td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">SGST</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right; padding-right:7px; border-right: 0;">
                                @Model.SalesInvoice.TotalSGST.ToString("0.##")
                            </td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">CGST</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;">@Model.SalesInvoice.TotalCGST.ToString("0.##")</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">IGST</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;">@Model.SalesInvoice.TotalIGST.ToString("0.##")</td>
                        </tr>

                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Adjustment</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;">
                                @if (Model.SalesInvoice.Adjustment == null)
                                {
                                    <span> - </span>
                                }
                                else
                                {
                                    @Model.SalesInvoice.Adjustment.Value.ToString("0.##")
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Cash</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;">@((Model.SalesInvoice.Cash.HasValue ? Model.SalesInvoice.Cash.Value : 0).ToString("0.##"))</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Tender Change</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;">@((Model.SalesInvoice.TenderChange.HasValue ? Model.SalesInvoice.TenderChange.Value : 0).ToString("0.##"))</td>
                        </tr>
                        <tr>
                            <td colspan=9 style="border:0px solid #000;  border-collapse: collapse;text-align:left;    font-weight: bold;padding-left:7px;border-bottom: 1px solid #000 !important;">IN WORDS :  @Model.SalesInvoice.TotalInWord</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;    font-weight: bold;">GRAND TOTAL :</td>
                            <td style="border:1px solid #000;  border-collapse: collapse;text-align:right;padding-right:7px; border-right: 0;"><b>@Model.SalesInvoice.TotalWithAdjustment.ToString("0.00")</b></td>
                        </tr>

                    </table>
                }
                <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;padding-left:7px;">
                    <span style="font-weight: bold;text-decoration:underline"> Declaration</span> <span style="margin:0 7px 0 0"> :</span> <br>
                    <span>
                        Certified that the particulars given above are true & correct and the amount indicated represents the price
                        actually charged and there is no flow of additional consideration directly or indirectly from the buyers.
                    </span>
                </div><br>
                <div style="width:100%;display:inline-block;padding-left:7px;">
                    <span style="text-decoration:underline;font-weight: bold;">   Terms & Conditions </span> <span style="margin:0 7px 0 0"> :</span><br />
                    <span>
                        1. Subject To Nagpur Jurisdiction <br />
                        2. No Cancellation/ Exchange or Return of Made to Ordered or Altered Items. <br />
                        3. All Applicable Taxes/GST/Levies if/any apart from mentioned above would be Charged Extra at the time of Billing.<br />
                        4. Payment to be made on or before due date mentioned here, in favour of M/s. @Model.Company.Name ,bank details are given here-in.<br />
                        5. Cash Payment Without Original Reciept would be invalid. <br />
                        6. Payment against Made to Order or to be Altered product is Non-Refundable. <br />
                        7. No Gurantee/Warranty on designs/patterns and color fastness. <br />
                        8. Any Manufacturing/Fitting Defect would be resolved by means of Alteration/Repairs. <br />
                        9. Committed Delivery date can change,depending upon the prevailing conditions and supplies. <br />
                        10. We reserve the right to demand settlement of this invoice bill at any time before due date. <br />
                    </span>
                </div><br /><br /><br />
                <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                    <span> * This is a Computer Generated Document hence no Signature is Required</span>
                </div><br>
            </div>


        </div>
    </div>
</section>
