﻿@model DataLayer.ViewModels.UnitMasterViewModel
@{
    ViewBag.Title = "Unit Master - Index";
}
<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ERR_NEW_UNIT").hide();
        $("#ERR_PARENT_UNIT").hide();
        if ($("#hiddenUnitId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

        $("#txtSize").keyup(function () {
            var UnitValue = $('#txtSize').val();
            var serviceURL = '@Url.Action("ExistingUnit", "UnitMaster")?UnitValue=' + UnitValue;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#SaveUnitParent").prop("disabled", true);
                    $("#ERR_PARENT_UNIT").show();
                }
                else {
                    $("#SaveUnitParent").prop("disabled", false);
                    $("#ERR_PARENT_UNIT").hide();
                }
            }
        });

        $("#NewUnit").keyup(function () {
            var UnitValue = $('#NewUnit').val();
            var serviceURL = '@Url.Action("ExistingUnit", "UnitMaster")?UnitValue=' + UnitValue;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#SaveNewParent").prop("disabled", true);
                    $("#ERR_NEW_UNIT").show();
                }
                else {
                    $("#SaveNewParent").prop("disabled", false);
                    $("#ERR_NEW_UNIT").hide();
                }
            }
        });

        $("#err_size").hide();
        $("#submit").click(function () {
            $("#err_size").show();
            $("#err_size").text("Please Enter Unit.");
        });

        function error() {
            alert("error");
        }
    });
</script>
<section class="content-header">
    <h1> Unit Master <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action(" Index", "Home" )"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Unit Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6" style="height:160px;">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("CreateUnitCategory", "UnitMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        <div class="col-lg-7 nopadding">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Unit Name</label>
                                @Html.EditorFor(model => model.unitmaster.UnitValue, new { htmlAttributes = new { @class = "form-control", @id = "txtSize", @style = "max-width:100%;" } })
                                @Html.ValidationMessageFor(model => model.unitmaster.UnitValue, "", new { @class = "text-danger" })
                                <label class="text-danger" id="ERR_PARENT_UNIT" style="color:#a94442;font-weight: normal;">Unit Already Exist</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <br />
                                <label class="control-label erplabel" for="email"></label>
                                @Html.CheckBoxFor(model => model.unitmaster.SellInPartial, new { htmlAttributes = new { @class = "form-control" }, @id = "checkBoxLogin" })
                                <label class="control-label erplabel" for="email">Sale In Partial</label>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-bitbucket btn-sm" id="SaveUnitParent"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        @*<label class="control-label erplabel" for="email">Sale In Partial</label>*@
        <div class="col-md-6" style="height:160px;">
            <!-- general form elements -->
            <div class="box box-primary">
                @using (Html.BeginForm("CreateUnit", "UnitMaster", FormMethod.Post))
                {
                <div class="box-body">
                    @Html.HiddenFor(model => model.unitmaster.UnitId, new { @id = "hiddenUnitId" }) 
                    @Html.HiddenFor(model => model.unitmaster.SellInPartial)
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <label for="exampleInputEmail1" class="erplabel">&nbsp;&nbsp;&nbsp;</label>
                            <label for="exampleInputEmail1" class="erplabel">1</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-9 col-xs-9">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Unit Category</label>
                                @Html.DropDownListFor(model => model.unitmaster.UnitTypeId, Model.unitmaster.UnitTypeList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.unitmaster.UnitTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <label for="exampleInputEmail1" class="erplabel">&nbsp;&nbsp;&nbsp;</label>
                            <label for="exampleInputEmail1"><b>=</b></label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Conversion</label>
                                @Html.EditorFor(model => model.unitmaster.Conversion, new { htmlAttributes = new { @class = "form-control", @id = "txtSize", @style = "max-width:100%;" } })
                                @Html.ValidationMessageFor(model => model.unitmaster.Conversion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">New Unit</label>
                                @Html.EditorFor(model => model.unitmaster.UnitValue, new { htmlAttributes = new { @class = "form-control", @id = "NewUnit", @style = "max-width:100%;" } })
                                @Html.ValidationMessageFor(model => model.unitmaster.UnitValue, "", new { @class = "text-danger" })
                                <label class="text-danger" id="ERR_NEW_UNIT" style="color:#a94442;font-weight: normal;">Unit Already Exist</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-bitbucket btn-sm" id="SaveNewParent"> Save</button>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <form role="form">
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:250px;">
                            @if (Model.UnitMasterList != null && Model.UnitMasterList.Count > 0)
                            {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Unit Category</th>
                                        <th></th>
                                        <th></th>
                                        <th>Unit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UnitMasterList)
                                        {
                                        <tr>
                                            <td>1</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitParents)
                                            </td>
                                            <td>=</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Conversion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitValue)
                                            </td>
                                            @if(item.DisableDelete != true)
                                                {
                                                <td>
                                                    <a href="@Url.Action("Index", "UnitMaster" )?UnitId=@item.UnitId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("DeleteUnit", "UnitMaster" ,new { id=@item.UnitId})" onclick="return confirm('Are you sure you want to delete this Unit')">
                                                        Delete
                                                    </a>
                                                </td>
                                                }
                                        </tr>
                                        }
                                </tbody>

                            </table>
                            }
                            else
                            {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section>
