﻿@model DataLayer.ViewModels.ReportViewModel
@{
    ViewBag.Title = "_ItemList";
}

@if (Model.PurchaseInvoiceList != null && Model.PurchaseInvoiceList.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">SR NO.</th>
                <th class="erplabel">Invoice Number</th>
                <th class="erplabel">Invoicing Date</th>
                <th class="erplabel">Supplier Account</th>
                <th class="erplabel">Total</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PurchaseInvoiceList.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>
                    <td>@item.Index</td>
                    <td>@item.Data.PurchaseInvoiceNo</td>
                    <td>@item.Data.InvoicingDate @item.Data.Time</td>
                    <td>@item.Data.Account.Name</td>
                    <td>@((item.Data.TotalInvoiceValue.HasValue ? item.Data.TotalInvoiceValue.Value : 0).ToString("0.00"))</td>
                    <td>
                        <a href="@Url.Action("Create", "PurchaseInvoice")?id=@item.Data.PurchaseInvoiceId">
                            Details
                        </a>
                        ||
                        <a href="@Url.Action("CreateNote", "Notes",new { PurchaseInvoiceId = item.Data.PurchaseInvoiceId})">
                            Payment
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (Model.SaleInvoiceList != null && Model.SaleInvoiceList.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">SR NO.</th>
                <th class="erplabel">Invoice Number</th>
                <th class="erplabel">Invoicing Date</th>
                <th class="erplabel">Customer Account</th>
                <th class="erplabel">Total</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SaleInvoiceList.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>
                    <td>@item.Index</td>
                    <td>@item.Data.SaleInvoiceNo</td>
                    <td>@item.Data.InvoicingDate.ToString("dd'/'MM'/'yyyy") @item.Data.Time</td>
                    <td>@item.Data.Customer.Name</td>
                    <td>@item.Data.TotalWithAdjustment.ToString("0.00")</td>                 
                    <td>
                        <a href="@Url.Action("Create", "SaleInvoice")?id=@item.Data.SaleInvoiceId">
                            Details
                        </a>
                        ||
                        <a href="@Url.Action("CreateNote", "Notes",new { SaleInvoiceId = item.Data.SaleInvoiceId})">
                            Payment
                        </a>
                        ||
                        <a href="@Url.Action("PendingPayments", "Notes",new { SaleInvoiceId = item.Data.SaleInvoiceId})">
                            Send SMS
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
