﻿@model DataLayer.ViewModels.PaymentNoteViewModel

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateNote", "Notes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="box box-primary">
                    <div class="box-header">
                        <a href="@Url.Action("PaymentList", "Notes")?VoucherFor=@Model.Type" class="btn btn-bitbucket btn-sm pull-right">@Model.Type List</a>
                        <h3>@Model.Type</h3>
                        @Html.HiddenFor(model => model.FromVoucherId)
                        @Html.HiddenFor(model => model.ToVoucherId)
                        @Html.HiddenFor(model => model.Type, new { @id = "Type" })
                    </div>
                    <div class="box-body">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Voucher Number</label>
                                @Html.EditorFor(model => model.VoucherNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.VoucherNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Entry Date</label>
                                @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EntryDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (Model.Type == DataLayer.Constants.PAYMENT_VOUCHER || Model.Type == DataLayer.Constants.RECEIPT_VOUCHER)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Method Of Adjustment</label>
                                    @Html.EnumDropDownListFor(model => model.MethodList, "Select a Method", new { @class = "form-control", @required = "required", @id = "MethodList", @min = "1" })
                                    @Html.ValidationMessageFor(model => model.MethodList, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Model.Type == DataLayer.Constants.PAYMENT_VOUCHER || Model.Type == DataLayer.Constants.CONTRA_ENTRY)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">From Payment Type :</label>
                                    @Html.DropDownListFor(x => x.FromPaymentTypeId, Model.PaymentTyprList, new { @class = "form-control", @min = "1", @id = "FromPaymentType" })
                                    @Html.ValidationMessageFor(model => model.FromPaymentTypeId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Model.Type == DataLayer.Constants.RECEIPT_VOUCHER)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">From Ledger :</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.FromLedgerId, Model.LedgerList, new { @class = "form-control", @min = "1", @id = "FromLedger" })
                                        <span class="input-group-btn">
                                            <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#CustomerModel">+</i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FromLedgerId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else if (Model.Type == DataLayer.Constants.JOURNAL_ENTRY)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">CR :</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.FromLedgerId, Model.LedgerList, new { @class = "form-control", @min = "1", @id = "FromLedger" })
                                        <span class="input-group-btn">
                                            <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#CustomerModel">+</i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FromLedgerId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Model.Type == DataLayer.Constants.RECEIPT_VOUCHER || Model.Type == DataLayer.Constants.CONTRA_ENTRY)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">To Payment Type :</label>
                                    @Html.DropDownListFor(x => x.ToPaymentTypeId, Model.PaymentTyprList, new { @class = "form-control", @min = "1", @id = "ToPaymentType" })
                                    @Html.ValidationMessageFor(model => model.ToPaymentTypeId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Model.Type == DataLayer.Constants.PAYMENT_VOUCHER)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">To Ledger :</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.ToLedgerId, Model.LedgerList, new { @class = "form-control", @min = "1", @id = "ToLedger" })
                                        <span class="input-group-btn">
                                            <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#CustomerModel">+</i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ToLedgerId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else if (Model.Type == DataLayer.Constants.JOURNAL_ENTRY)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">DR :</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(x => x.ToLedgerId, Model.LedgerList, new { @class = "form-control", @min = "1", @id = "ToLedger" })
                                        <span class="input-group-btn">
                                            <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#CustomerModel">+</i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ToLedgerId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="col-lg-2" id="IsAgainstReference">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Invoice Number :</label>
                                @Html.DropDownListFor(x => x.InvoiceId, Model.InvoiceIdList, new { @class = "form-control", @min = "1", @id = "InvoiceNumber" })
                                @Html.ValidationMessageFor(model => model.InvoiceId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Amount :</label>
                                @Html.EditorFor(model => model.Payment, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Payment, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Check No. / Reference No. :</label>
                                @Html.EditorFor(model => model.Checknumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Checknumber, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Remark :</label>
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="reset" class="btn btn-info">Reset</button>
                            @if (Model.ToVoucherId > 0 && Model.FromVoucherId > 0)
                            {
                                <a class="btn btn-info" href="@Url.Action("Delete", "Notes",new { VoucherFor = @Model.Type , VoucherNumber = @Model.VoucherNumber })"> Delete </a>                        
                            }
                            <button type="submit" name="btn" class="btn btn-primary" value="Save and Print">Save & Print</button>
                            <button type="submit" name="btn" class="btn btn-info" value="Save">Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#IsAgainstReference").hide();
        $("#IsAgainstReference1").hide();

        $("#InvoiceNumber1").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
        $("#InvoiceNumber").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');

        $("#MethodList").change(function () {
            var val = parseInt($("#MethodList option:selected").val());
            if (val == 2) {
                $("#IsAgainstReference").show();
            }
            else {
                $("#IsAgainstReference").hide();
            }
        });

        $("#MethodList1").change(function () {
            var val = parseInt($("#MethodList1 option:selected").val());
            if (val == 2) {
                $("#IsAgainstReference1").show();
            }
            else {
                $("#IsAgainstReference1").hide();
                $("#InvoiceNumber").empty();
            }
        });

        $("#ToLedger").change(function () {
            var LedgerId = parseInt($("#ToLedger option:selected").val());
            var serviceURL = '@Url.Action("GetInvoice", "Notes")?LedgerId=' + LedgerId;
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                });
                function successFunc(data) {
                    $("#InvoiceNumber").empty();
                    $("#InvoiceNumber").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(data, function (i, Sub) {
                        $("#InvoiceNumber").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                }
        });

        $("#FromLedger").change(function () {
            var LedgerId = parseInt($("#FromLedger option:selected").val());
            var serviceURL = '@Url.Action("GetSaleInvoice", "Notes")?LedgerId=' + LedgerId;
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                });
                function successFunc(data) {
                    $("#InvoiceNumber").empty();
                    $("#InvoiceNumber").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(data, function (i, Sub) {
                        $("#InvoiceNumber").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                }

        });

    })

</script>




