﻿@model DataLayer.ViewModels.LedgerReportViewModel
@{
    ViewBag.Title = Model.Type + "- List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <h1> @Model.Type List </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-header">
                        <a href="@Url.Action("CreateNote", "Notes" ,new { Type = @Model.Type })" class="btn btn-bitbucket btn-sm pull-right">New @Model.Type</a>
                    </div>
                    <div class="box-body">
                        @if (Model.VoucherList != null && Model.VoucherList.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Date</b></th>
                                        @if (Model.Type == DataLayer.Constants.JOURNAL_ENTRY)
                                        {
                                            <th class="erplabel"><b>From Ledger</b></th>
                                            <th class="erplabel"><b>To Ledger</b></th>
                                        }
                                        else if (Model.Type == DataLayer.Constants.PAYMENT_VOUCHER)
                                        {
                                            <th class="erplabel"><b>Ledger</b></th>
                                            <th class="erplabel"><b>Payment Type</b></th>
                                        }
                                        else if (Model.Type == DataLayer.Constants.RECEIPT_VOUCHER)
                                        {
                                            <th class="erplabel"><b>Payment Type</b></th>
                                            <th class="erplabel"><b>Ledger</b></th>
                                        }
                                        else if (Model.Type == DataLayer.Constants.CONTRA_ENTRY)
                                        {
                                            <th class="erplabel"><b>From Payment Type</b></th>
                                            <th class="erplabel"><b>To Payment Type</b></th>
                                        }
                                        <th class="erplabel"><b>Particulars</b></th>
                                        <th class="erplabel"><b>@Model.Type Number</b></th>
                                        <th class="erplabel"><b>Amount</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VoucherList.Select((x, i) => new { Data = x, Index = i + 1 }))
                                    {
                                        <tr>
                                            <td> <span id="Date @item.Index"> @item.Data.EntryDate.ToString("dd'/'MM'/'yyyy")</span> </td>
                                            @if (Model.Type == DataLayer.Constants.JOURNAL_ENTRY)
                                            {
                                                <td>
                                                    <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId =  @item.Data.Ledger.LedgerId })">
                                                        @item.Data.Ledger.Name
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId =  @item.Data.Ledger2.LedgerId })">
                                                        @item.Data.Ledger2.Name
                                                    </a>
                                                </td>
                                            }
                                            else if (Model.Type == DataLayer.Constants.PAYMENT_VOUCHER)
                                            {
                                                <td>
                                                    <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId =  @item.Data.Ledger.LedgerId })">
                                                        @item.Data.Ledger.Name
                                                    </a>
                                                </td>
                                                <td>
                                                    @if (@item.Data.FromPaymentType != null)
                                                    {@item.Data.FromPaymentType.PaymentName }
                                                </td>

                                            }
                                            else if (Model.Type == DataLayer.Constants.RECEIPT_VOUCHER)
                                            {
                                                <td>
                                                    @if (@item.Data.ToPaymentType != null)
                                                    {@item.Data.ToPaymentType.PaymentName }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId =  @item.Data.Ledger2.LedgerId })">
                                                        @item.Data.Ledger2.Name
                                                    </a>
                                                </td>
                                            }
                                            else if (Model.Type == DataLayer.Constants.CONTRA_ENTRY)
                                            {
                                                <td> @item.Data.ToPaymentType.PaymentName </td>
                                                <td> @item.Data.FromPaymentType.PaymentName </td>
                                            }
                                            <td> @item.Data.Particulars </td>
                                            <td>
                                                @if (item.Data.InvoiceNumber != null)
                                                {
                                                    if (item.Data.SaleInvoiceId != null)
                                                    {
                                                        <a href="@Url.Action("Create", "SaleInvoice")?id=@item.Data.SaleInvoiceId">
                                                            @item.Data.InvoiceNumber
                                                        </a>
                                                    }
                                                    else if (item.Data.PurchaseInvoiceId != null)
                                                    {
                                                        <a href="@Url.Action("Create", "PurchaseInvoice")?id=@item.Data.PurchaseInvoiceId">
                                                            @item.Data.InvoiceNumber
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("EditNote", "Notes",new { Type = @item.Data.VoucherFor , VoucherNumber = @item.Data.VoucherNumber })">
                                                        @item.Data.VoucherNumber
                                                    </a>
                                                }
                                            </td>
                                            <td>@Math.Abs(item.Data.Total).ToString("0.00")</td>
                                            <td>
                                                <a href="@Url.Action("EditNote", "Notes",new { Type = @item.Data.VoucherFor , VoucherNumber = @item.Data.VoucherNumber })">
                                                    Edit
                                                </a>
                                                <span>||</span>
                                                <a href="@Url.Action("Delete", "Notes",new { VoucherFor = @item.Data.VoucherFor , VoucherNumber = @item.Data.VoucherNumber })">
                                                    Delete
                                                </a>
                                                <span>||</span>
                                                <a href="@Url.Action("Print", "Notes",new { VoucherFor = @item.Data.VoucherFor , VoucherNumber = @item.Data.VoucherNumber })">
                                                    Print
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
