﻿@model DataLayer.ViewModels.PrintVoucherViewModel
@{
    ViewBag.Title = "Receipt - Print";
}

<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;

        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    });
</script>

<section class="content">
    <div class="row">
        <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
            <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                <center>
                    <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                        <b>@Model.Company.Name</b>
                    </p>
                    <p style="margin: 0 0 0px;">
                        @Model.Branch.BranchName
                    </p>
                </center>
                <center>
                    @Model.Company.Address
                    @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                    GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                    <br />
                    <div class="time" style="width:100%;margin: 0px 0 0 0;    font-weight: bold;">

                        Receipt Voucher

                    </div>
                    <br />
                    <div style="width:100%;display:inline-block;">
                        <div style="width:60%;display:inline-block;float:left;text-align:left;">
                            <span style="display:inline-block;padding-left: 7px;"> No.</span> <span style="margin:0 7px 0 23px ">:</span> @Model.Voucher.VoucherNo  <br>
                        </div>
                        <div style="width:40%;display:inline-block;float:right;text-align:left;">
                            <span style="margin: 0px 33px 0 0;display: inline-block;"> Dated:</span> <span style="margin:0 7px 0 11px ">:</span>  @Model.Voucher.EntryDate.ToString("dd'/'MM'/'yyyy") <br>
                        </div>
                    </div>
                </center>
                <table style="width:100%;">
                    <thead>
                        <tr>
                            <td style="width:70%;border-top:1px solid #000;border-bottom:1px solid #000;border-right:1px solid #000;  border-collapse: collapse;text-align:center;">Particulars</td>
                            <td style="width:30%;border-top:1px solid #000;border-bottom:1px solid #000;  border-collapse: collapse;text-align:center;">Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:70%;border-right:1px solid #000;  border-collapse: collapse;text-align:left;">Account: <br />                                
                                @Model.Voucher.Ledger2.Name <br />
                                @if(@Model.Voucher.MethodId == DataLayer.Enums.MethodOfAdjustment.Against)
                                {
                                    <span>Agst Ref: 
                                    @if(@Model.Voucher.SaleInvoice != null)
                                    {
                                        <span>@Model.Voucher.SaleInvoice.SaleInvoiceNo      @Model.Voucher.SaleInvoice.TotalWithAdjustment</span>
                                    }
                                    </span>
                                }
                            </td>
                            <td style="width:30%; border-collapse: collapse;text-align:right;">@Model.Voucher.Total.ToString("0.00")</td>
                        </tr>
                        <tr>
                            <td style="width:70%;border-right:1px solid #000;  border-collapse: collapse;text-align:left;">Through:
                                @if (@Model.Voucher.FromPaymentType != null)
                                {
                                    <span>@Model.Voucher.FromPaymentType.PaymentName </span>
                                }
                            </td>
                            <td style="width:30%; border-collapse: collapse;text-align:right;"></td>
                        </tr>
                        <tr>
                            <td style="width:70%;border-right:1px solid #000;  border-collapse: collapse;text-align:left;">On Account of:</td>
                            <td style="width:30%;border-collapse: collapse;text-align:right;"></td>
                        </tr>
                        <tr>
                            <td style="width:70%;border-right:1px solid #000;  border-collapse: collapse;text-align:left;">Amount(In Words): @Model.TotalInWord</td>
                            <td style="width:30%;border:1px solid #000;border-collapse: collapse;text-align:right;">@Model.Voucher.Total.ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</section>


