﻿@model DataLayer.ViewModels.PrintVoucherViewModel
@{
    ViewBag.Title = "Payment Voucher - Print";
}

<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;

        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    });
</script>

<section class="content">
    <div class="row">
        <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
            <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                <center>
                    <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                        <b>@Model.Company.Name</b>
                    </p>
                    <p style="margin: 0 0 0px;">
                        @Model.Branch.BranchName
                    </p>
                </center>
                <center>
                    @Model.Company.Address
                    @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                    GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                    <br />
                    <div class="time" style="width:100%;margin: 0px 0 0 0;    font-weight: bold;">

                        Payment Voucher

                    </div>
                    <br />
                    <div style="width:100%;display:inline-block;">
                        <div style="width:60%;display:inline-block;float:left;text-align:left;">
                            <span style="display:inline-block;padding-left: 7px;"> Pay To</span> <span style="margin:0 7px 0 23px ">:</span>@Model.Voucher.Ledger.Name   <br>
                        </div>
                        <div style="width:40%;display:inline-block;float:right;text-align:left;">
                            <span style="margin: 0px 33px 0 0;display: inline-block;"> Voucher No</span> <span style="margin:0 7px 0 11px ">:</span> @Model.Voucher.VoucherNo  <br>
                        </div>
                    </div>
                </center>
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">Date</td>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">Bank</td>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">Check No.</td>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">Payment Amount</td>
                        </tr>
                        <tr>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">@Model.Voucher.EntryDate.ToString("dd'/'MM'/'yyyy")</td>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">@Model.Voucher.Ledger2.Name</td>
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">@Model.Voucher.Checknumber</td>  
                            <td style="width:25%;border-top:1px solid #000;border-bottom:1px solid #000;text-align:center;">@Model.Voucher.Total.ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div style="width:100%;display:inline-block;">
                    <div style="width:60%;display:inline-block;float:left;text-align:left;">
                        <span style="display:inline-block;font-weight: bold;padding-left: 7px;"> THE SUM OF </span> <span style="margin:0 7px 0 23px ">:</span>@Model.TotalInWord   <br>
                    </div>
                </div>
                <br />
                <div style="width:100%;display:inline-block;">
                    <div style="width:60%;display:inline-block;float:left;text-align:left;">
                        <span style="display:inline-block;font-weight: bold;padding-left: 7px;"> Description </span> <span style="margin:0 7px 0 23px ">:</span>@Model.Voucher.Description   <br>
                    </div>
                </div>

            </div>


        </div>
    </div>
</section>


