﻿@model DataLayer.Models.Voucher
@{
    ViewBag.Title = "Print";
}

<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;

        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;

        return false;
        //window.print();
    });
</script>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div style="width:100%;margin:0;max-width:1177px;margin:0 auto;" id="PrintThis">
            <div style="width:100%;margin:0 auto;">
                <center>
                    <b> @Model.Company.Name </b> <br />
                    @Model.Company.Address1&nbsp; @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                    @Model.Company.Address1  <br>
                    <span style="display: inline-block;font-size:13px;" class="text-center"> GST No. : @Model.Company.GST</span>
                    <div class="time" style="width:100%; font-weight: bold;">
                        @Model.VoucherFor
                    </div>

                </center>
                @if (Model != null)
                {
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="erplabel"><b>Date</b></th>
                                @if (Model.VoucherFor == DataLayer.Constants.JOURNAL_ENTRY || Model.VoucherFor == DataLayer.Constants.CONTRA_ENTRY)
                                {
                                    <th class="erplabel"><b>From</b></th>
                                    <th class="erplabel"><b>To</b></th>
                                }
                                else
                                {
                                    <th class="erplabel"><b>Ledger</b></th>
                                    <th class="erplabel"><b>Payment Type</b></th>
                                }
                                <th class="erplabel"><b>Particulars</b></th>
                                <th class="erplabel"><b>@Model.VoucherFor Number</b></th>
                                <th class="erplabel"><b>Amount</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> @Model.EntryDate.ToString("dd'/'MM'/'yyyy") </td>
                                @if (Model.VoucherFor == DataLayer.Constants.RECEIPT_VOUCHER)
                                {
                                    <td> @Model.Ledger2.Name </td>
                                    <td> @Model.Ledger.Name </td>
                                }
                                else
                                {
                                    <td> @Model.Ledger.Name </td>
                                    <td> @Model.Ledger2.Name </td>
                                }
                                <td> @Model.Particulars </td>
                                <td>
                                    @if (Model.InvoiceNumber != null)
                                    {
                                        @Model.InvoiceNumber
                                    }
                                    else
                                    {
                                        @Model.VoucherNumber
                                    }
                                </td>
                                <td>@Math.Abs(Model.Total).ToString("0.00")</td>
                            </tr>

                        </tbody>
                    </table>
                }
                </div>
            </div>
        </div>
    </section>


                @*<section class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="box box-primary">
                                <div class="box">
                                    <div class="box-body">
                                        @if (Model != null)
                                        {
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="erplabel"><b>Date</b></th>
                                                        @if (Model.Type == DataLayer.Constants.JOURNAL_ENTRY || Model.Type == DataLayer.Constants.CONTRA_ENTRY)
                                                        {
                                                            <th class="erplabel"><b>From</b></th>
                                                            <th class="erplabel"><b>To</b></th>
                                                        }
                                                        else
                                                        {
                                                            <th class="erplabel"><b>Ledger</b></th>
                                                            <th class="erplabel"><b>Payment Type</b></th>
                                                        }
                                                        <th class="erplabel"><b>Particulars</b></th>
                                                        <th class="erplabel"><b>@Model.VoucherFor Number</b></th>
                                                        <th class="erplabel"><b>Amount</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td> @Model.EntryDate.ToString("dd'/'MM'/'yyyy") </td>
                                                        <td> @Model.Ledger.Name </td>
                                                        <td> @Model.Ledger2.Name </td>
                                                        <td> @Model.Particulars </td>
                                                        <td>
                                                            @if (Model.InvoiceNumber != null)
                                                            {
                                                                @Model.InvoiceNumber
                                                            }
                                                            else
                                                            {
                                                                @Model.VoucherNumber
                                                            }
                                                        </td>
                                                        <td>@Math.Abs(Model.Total).ToString("0.00")</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {
                                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>*@



