﻿@model DataLayer.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Payment <small>Note</small>  </h1>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Key Word</label>
                            @Html.EditorFor(model => model.Search, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "KeyWord" } })
                            @Html.ValidationMessageFor(model => model.Search, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Starting Date</label>
                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "FromDate" } })
                            @Html.ValidationMessageFor(model => model.FromDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Last Date</label>
                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "ToDate" } })
                            @Html.ValidationMessageFor(model => model.ToDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin: 18px 0 0 0;">
                        <button type="submit" class="btn btn-info" id="Search">Search</button>
                        <a class="btn btn-info" href="@Url.Action("PurchaseIndex", "Notes")"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
                <div class="box-body tablediv">
                    <div id="ItemListView">
                        @Html.Partial("_InvoiceList")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Search").click(function () {
            var ToDate = $("#ToDate").val();
            var FromDate = $("#FromDate").val();
            var Search = $("#KeyWord").val();
            var model = { 'Search': Search, 'FromDate': FromDate, 'ToDate': ToDate }
            showProgress();
            $.ajax({
                type: "Post",
                url: '@Url.Action("_InvoiceList", "Notes")',
                data: { 'model': model },
                dataType: "html",
                success: function (result) {
                    $("#ItemListView").html(result);
                    hideProgress()
                },
                error: function (data) {
                    alert("error");
                }
            });

        });

        $(function () {
            $("[id*=KeyWord]").autocomplete({
                source: function (request, response) {
                    var Product = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        url: "/SaleReport/LedgerList",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length ; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#KeyWord").val(ui.item.label);
                    return false;
                }
            });
        });
    });
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
</script>