﻿@model DataLayer.Models.Measurment
@{
    ViewBag.Title = "Measurement - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->

            <div class="box box-primary">

                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Measurment", FormMethod.Post))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.MeasurmentId)
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">

                                @Html.EditorFor(model => model.MeasurmentType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.MeasurmentType, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">

                                @Html.TextArea("MeasurementValues", new { htmlAttributes = new { @class = "form-control" }, @cols = "90", @placeholder = "Values" })
                                @Html.ValidationMessageFor(model => model.MeasurementValues, "Required", new { @class = "text-danger" })
                                <p>Enter values, with each value separated by a new line</p>
                            </div>
                        </div>

                    </div>
                    <div>
                        <center>
                            <input type="reset" class="btn btn-bitbucket btn-sm" value="Cancel" />
                            <input type="submit" class="btn btn-bitbucket btn-sm" value="Save" />
                        </center>
                        <br />
                    </div>
                }

                <!-- /.box -->


            </div>
        </div>
    </div>
    <!--end main body-->
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

