﻿@model DataLayer.ViewModels.LedgerViewModel

@if (Model.LedgerList != null)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Account Category</th>
                <th>Account Subcategory</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LedgerList)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountCategory.Name)
                    </td>
                    <td>
                        @if (item.AccountSubCategory != null)
                        {
                            @Html.DisplayFor(modelItem => item.AccountSubCategory.ContactSubCategoryName)
                        }
                        else
                        {
                            <b>-</b>
                        }
                    </td>
                    <td>
                        @if (!item.IsDisableEdit)
                        {
                            <a href="@Url.Action("Create", "Ledger", new { id = item.LedgerId })">
                                Edit
                            </a>
                            <span>||</span>
                        }
                        <a href="@Url.Action("Delete", "Ledger", new { id = item.LedgerId })" onclick="return confirm('Are you sure you want to delete this Account?');">
                            Delete
                        </a>
                        ||
                        <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId = item.LedgerId })">
                            Report
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
}










