﻿@model DataLayer.ViewModels.ContactCategoryViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#SubCatgry,#txtCategory").keypress(function (e) {
            if ((e.which < 48 || e.which > 57) && (e.which < 97 || e.which > 122) && (e.which < 65 || e.which > 90)) {
                return false;
            }
        });
    });
</script>
<section class="content-header">
    <h1> Ledger<small>Category</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Catalogue</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Category</h3>
                </div>
                @using (Html.BeginForm("Createcategory", "Ledger", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.ContactCategory.AccountCategoryId)
                        @Html.HiddenFor(model => model.ContactCategory.CreatedBy)
                        @Html.HiddenFor(model => model.ContactCategory.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                            @Html.EditorFor(model => model.ContactCategory.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtCategory", @required = "true", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.ContactCategory.Name, "", new { @class = "text-danger" })
                            <label class="text-danger" id="err_Catgory" style="color:#a94442;font-weight: normal;">Category Already Exist</label> 
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-bitbucket  btn-sm" id="Button"><i class="fa fa-plus-square"></i> Add</button>
                            <button type="submit" class="btn btn-bitbucket btn-sm" id="ErrorButton" disabled><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Sub-Category</h3>

                    @using (Html.BeginForm("CreatesubCategory", "Catalouge", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            @Html.HiddenFor(model => model.ContactSubCategory.AccountSubCategoryId)
                            @Html.HiddenFor(model => model.ContactSubCategory.CreatedBy)
                            @Html.HiddenFor(model => model.ContactSubCategory.CreatedDate)
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Sub-Category Name</label>
                                    @Html.EditorFor(model => model.ContactSubCategory.ContactSubCategoryName, new { htmlAttributes = new { @class = "form-control", @id = "SubCatgry", @required = "true" } })
                                    <label class="text-danger" id="err_subCatgory" style="color:#a94442;font-weight: normal;">Category Already Exist</label>
                                    @Html.ValidationMessageFor(model => model.ContactSubCategory.ContactSubCategoryName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group" style="color:black;font-weight: normal;">
                                    <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                                    @Html.DropDownListFor(model => model.ContactSubCategory.AccountCategoryId, Model.ContactSubCategory.ContactCategoryList, new { @class = "form-control", @id = "Catgry" })
                                    @Html.ValidationMessageFor(model => model.ContactSubCategory.AccountCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-bitbucket btn-sm" id="Button1"><i class="fa fa-plus-square"></i> Add</button>
                                <button type="submit" class="btn btn-bitbucket btn-sm" id="ErrorButton1" disabled><i class="fa fa-plus-square"></i> Add</button>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Contact Category List</h3>
                </div>
                <div class="box-body">
                    <div>
                        @if (Model.ContactCategoryList != null && Model.ContactCategoryList.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContactCategoryList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @*<a class="fa fa-pencil fa-2x" href="@Url.Action("Index","Catalouge", new { Categoryid = item.CategoryId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                    <a class="fa fa-trash-o fa-2x" href="@Url.Action("Deletecategory","Catalouge", new { Categoryid = item.CategoryId })" onclick="return confirm('Are you sure you want to delete this Category?');" title="Delete"></a>*@
                                                <a href="@Url.Action("CreateContactCategory", "Ledger")?id=@item.AccountCategoryId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="#">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sub-Category List</h3>
                </div>
                <div class="box-body">
                    <div>
                        @if (Model.ContactSubCategoryList != null && Model.ContactSubCategoryList.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ContactSubCategoryList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactSubCategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ContactCategory.Name)
                                            </td>

                                            <td>
                                                @*<a class="fa fa-pencil fa-2x" href="@Url.Action("Index","Catalouge", new { SubCategoryid = item.SubCategoryId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                    <a class="fa fa-trash-o fa-2x" href="@Url.Action("DeletesubCategory","Catalouge", new { SubCategoryid = item.SubCategoryId })" onclick="return confirm('Are you sure you want to delete this Subcategory?');" title="Delete"></a>*@
                                                <a href="@Url.Action("CreateContactSubCategory", "Ledger")?id=@item.AccountSubCategoryId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="#">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>

