﻿@model DataLayer.Models.Ledger
@{
    ViewBag.Title = "Ledger - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        ShowBankDiv();
        $("#LedgerDup").hide();
        $("#IsBank").change(function () {
            ShowBankDiv()
        });
        $("#txtName").keyup(function () {
            var Name = $('#txtName').val();
                  var serviceURL = '@Url.Action("ExistingLedger", "Ledger")?Name=' + Name;
                  $.ajax({
                      type: "POST",
                      url: serviceURL,
                      contentType: "application/json; charset=utf-8",
                      dataType: "json",
                      success: successFunc,
                  });
                  function successFunc(data) {
                      if (data == true) {
                          $("#LedgerDup").show();
                          $("#btnSubmit").prop("disabled", true);
                      }
                      else {
                          $("#btnSubmit").prop("disabled", false);
                          $("#LedgerDup").hide();
                      }
                  }
        });

                var value = $("#AccountCategoryId option:selected").val();
        if (value != 0) {
            $("#AccountSubCategory").empty();
            $.ajax({
                type: "Post",
                url: '@Url.Action("ContactSubCategoryList", "Ledger")?contactcategoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (ContactSubCategoryList) {
                    $("#AccountSubCategory").append('<option selected="selected" value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(ContactSubCategoryList, function (i, Sub) {
                        $("#AccountSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
        var underwhom = $("#ddlWhom option:selected").val();
        if (underwhom == 5) {
            $("#divBankName").hide();
            $("#divBankNumber").hide();
            $("#divIFSC").hide();
        }
        else {
            $("#divBankName").hide();
            $("#divIFSC").hide();
            $("#divBankNumber").hide();
        }
        if (underwhom == 0) {
            $("#divOther").show();
            $("#txtOther").show();
        }
        else {
            $("#divOther").hide();
        }
        $("#ErrtxtOther").hide();
        $("#ErrddlType").hide();
        $("#ErrddlWhom").hide();
        $("#btnSubmit1").hide();
        $("#btnSubmit2").hide();
        $("#divOther").hide();
        $("#ErrtxtName").hide();

        $("#AccountCategoryId").change(function () {
            GetSubcategory();
        });


        $("#btnSubmit").click(function () {
            var errcount = 0;
            var valType = $("#ddlType").val();

            if ($("#ddlType").val() == "-1") {
                $("#ErrddlType").show();
                setTimeout(function () {
                    $('#ErrddlType').fadeOut();
                }, 3000);
                errcount++;
            }
            else {
                $("#ErrddlType").hide();
            }

            if ($("#ddlType").val() == "-1") {
                $("#ErrddlType").show();
                setTimeout(function () {
                    $('#ErrddlType').fadeOut();
                }, 3000);
                errcount++;
            }
            else {
                $("#ErrddlType").hide();
            }

            //var underwhom = $("#ddlWhom option:selected").val();
            if (errcount == 0) {
                return true;
            }
            else {
                return false;
            }
        });

        $("#ddlUserName").change(function () {

            var name = $("#ddlUserName option:selected").text();
            var val = $("#ddlUserName option:selected").val();
            if (val > 0) {
                $("#txtName").val(name);
            }
            else {
                $("#txtName").val("");
            }
        });

        $("#ddlWhom").change(function () {
            //var underwhom = $("#ddlWhom option:selected").val();
            GetSubactegory();
        });

        $("#txtName").keypress(function (e) {
            if ((e.which < 48 || e.which > 57) && (e.which < 97 || e.which > 122) && (e.which < 65 || e.which > 90) && e.which != 32) {
                return false;
            }
        });

        $("#OpeningBalanceTxt,#WalletBalance").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });
    });
    function ShowBankDiv() {
        if ($("#IsBank").is(':checked')) {
            $("#BankDiv").show();
        }
        else {
            $("#BankDiv").hide();
        }
    }
    function GetSubcategory() {
        var value = $("#AccountCategoryId option:selected").val();
        if (value != 0) {
            $("#AccountSubCategory").empty();
            $.ajax({
                type: "Post",
                url: '@Url.Action("ContactSubCategoryList", "Ledger")?contactcategoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (ContactSubCategoryList) {
                    $("#AccountSubCategory").append('<option selected="selected" value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(ContactSubCategoryList, function (i, Sub) {
                        $("#AccountSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }
</script>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            @using (Html.BeginForm("Create", "Ledger", FormMethod.Post))
            {
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account Details </h3>
                    </div>
                    <div class="box-body">
                        @Html.HiddenFor(model => model.LedgerId)
                        @Html.HiddenFor(model => model.ContactId)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.LedgerType)
                        <div class="row">

                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Name</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Name, "Required", new { @class = "text-danger" })
                                    <label class="text-danger" id="LedgerDup" style="color:#a94442;font-weight: normal;">Ledger Already Exist</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" id="divUnderWhom">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Account Category</label>
                                    @Html.DropDownListFor(model => model.AccountCategoryId, Model.ContactCategoryList, new { @class = "form-control", @min = "1", @id = "AccountCategoryId" })
                                    @Html.ValidationMessageFor(model => model.AccountCategoryId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" id="">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Account SubCategory</label>
                                    @Html.DropDownListFor(model => model.AccountSubCategoryId, Model.ContactSubCategoryList, new { @class = "form-control", @id = "AccountSubCategory" })

                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" id="divOther">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Under Whom</label>
                                    @Html.EditorFor(model => model.other, new { htmlAttributes = new { @class = "form-control", @id = "txtOther" } })
                                    <label class="text-danger" id="ErrtxtOther" style="color:#a94442;font-weight: normal;">Required</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" id="divBankName">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Bank Name</label>
                                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @id = "BankName" } })
                                    <label class="text-danger" id="ErrBankName" style="color:#a94442;font-weight: normal;">Required</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-122" id="divBankNumber">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Bank Number</label>
                                    @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control", @id = "BankNumber" } })
                                    <label class="text-danger" id="ErrBankNumber" style="color:#a94442;font-weight: normal;">Required</label>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" id="divIFSC">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">IFSC</label>
                                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @id = "IFSC" } })
                                    <label class="text-danger" id="ErrIFSC" style="color:#a94442;font-weight: normal;">Required</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Opening Balance</label>
                                    @Html.EditorFor(model => model.StartingBalance, new { htmlAttributes = new { @class = "form-control", @id = "OpeningBalanceTxt" } })
                                </div>
                            </div>


                            @if (Model.LedgerId != 0)
                            {
                                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email" id="lblCurrentBalance">Closing Balance</label>
                                        @Html.EditorFor(model => model.CurrentBalance, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    </div>
                                </div>
                            }

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Entry Date</label>
                                    @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EntryDate, "Required", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">CR / DR</label>
                                    @Html.DropDownListFor(model => model.Type, Model.TypesList, new { @class = "form-control", @id = "ddlType", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Type, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Wallet Balance</label>
                                    @Html.EditorFor(model => model.WalletBalance, new { htmlAttributes = new { @class = "form-control", @id = "WalletBalance" } })
                                    @Html.ValidationMessageFor(model => model.WalletBalance, "Required", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Address1 </label>
                                    @Html.EditorFor(model => model.Contact.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.AddressLine1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Address2 </label>
                                    @Html.EditorFor(model => model.Contact.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.AddressLine2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="erplabel" for="email">Country</label>
                                    @Html.EditorFor(model => model.Contact.Country, new { htmlAttributes = new { @class = "form-control", id = "Country" } })
                                    @Html.ValidationMessageFor(model => model.Contact.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="erplabel" for="email">State</label>
                                    @Html.EditorFor(model => model.Contact.State, new { htmlAttributes = new { @class = "form-control", @id = "State" } })
                                    @Html.ValidationMessageFor(model => model.Contact.State, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="erplabel" for="email">City</label>
                                    @Html.EditorFor(model => model.Contact.City, new { htmlAttributes = new { @class = "form-control", @id = "City" } })
                                    @Html.ValidationMessageFor(model => model.Contact.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Mobile</label>
                                    @Html.EditorFor(model => model.Contact.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.Mobile, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Phone</label>
                                    @Html.EditorFor(model => model.Contact.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Email ID</label>
                                    @Html.EditorFor(model => model.Contact.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Pan card No. </label>
                                    @Html.EditorFor(model => model.Contact.PanCardNo, new { htmlAttributes = new { @class = "form-control", @id = "PanCardNo" } })
                                    @Html.ValidationMessageFor(model => model.Contact.PanCardNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">GST No</label>
                                    @Html.EditorFor(model => model.Contact.GSTNo, new { htmlAttributes = new { @class = "form-control", @id = "GSTNo" } })
                                    @Html.ValidationMessageFor(model => model.Contact.GSTNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Ledger Type</label>
                                    @Html.DropDownListFor(model => model.Contact.Type, Model.ContactTypesList, new { @class = "form-control", @id = "LedgerType", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Contact.Type, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Social ID</label>
                                    @Html.EditorFor(model => model.Contact.SocialId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.SocialId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                                @Html.CheckBoxFor(m => m.IsBank, new { @id = "IsBank" })
                                <label class="control-label erplabel" for="email">Create Bank</label>
                            </div>
                            <div id="BankDiv">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Account No</label>
                                        @Html.EditorFor(model => model.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Bank Address</label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">IFSC code </label>
                                        @Html.EditorFor(model => model.IFSC, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group"> 
                                        <label class="control-label erplabel" for="email">Swift Code</label>
                                        @Html.EditorFor(model => model.SwiftCode, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-bitbucket btn-sm" id="btnSubmit" value="Save">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</section>
