﻿@model DataLayer.ViewModels.LedgerViewModel
@{
    ViewBag.Title = "Ledger - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlSelectType").change(function () {
            var type = $("#ddlSelectType").val();
            if (type != "-1") {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LedgerList", "Ledger")?Type=' + type,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
            else {
                alert("Please Select Valid Option");
                return false;
            }

        });
    });

</script>
<section class="content-header">
    <h1> Account <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Account Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Small boxes (Stat box) -->
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
            {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>
                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();

                        </script>
                    }
                    <div class="box-header">
                        <div class="pull-right">
                            <a href="@Url.Action("Index","ContactCategory")" class="btn btn-bitbucket btn-sm"><i class="fa fa-plus-square"></i> New Category</a>
                            <a href="@Url.Action("Create","Ledger")" class="btn btn-bitbucket btn-sm"><i class="fa fa-plus-square"></i> New Account</a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="col-lg-2 col-md-6 col-xs-12 col-sm-6 nopadding">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Select Type</label>
                                    @Html.DropDownListFor(model => model.Type, Model.SelectType, new { @class = "form-control", @id = "ddlSelectType" })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="box-body col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div id="ItemListView" class="tablediv">
                                @Html.Partial("_LedgerList")
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>

