﻿@model DataLayer.ViewModels.HSNMasterViewModel

@{
    ViewBag.Title = "HSN - Index";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {     
        $("#ERR_HSNCode").hide();
        if ($("#hiddenHSNId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

        $("#txtProductCode").keyup(function () {
            var Code = $('#txtProductCode').val();
            var serviceURL = '@Url.Action("ExistingHSNCode", "HSNMaster")?Code=' + Code;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });
            function successFunc(data) {
                if (data == true) {
                    $("#btnSubmit").prop("disabled", true);
                    $("#ERR_HSNCode").show();
                }
                else {
                    $('#btnSubmit').prop("disabled", false);
                    $("#ERR_HSNCode").hide();
                }
            }
            function errorFunc(data) {
            }
        });
    });
</script>

<section class="content-header">
    <h1> HSN  <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action(" Index", "Home" )"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">HSN Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:200px">

                <!-- /.box-header -->
                <div class="box-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>


                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();

                        </script>
                    }
                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "HSNMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.HsnMaster.HSNId, new { @id = "hiddenHSNId" })
                        @Html.HiddenFor(model => model.HsnMaster.CreatedBy)
                        @Html.HiddenFor(model => model.HsnMaster.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Product Name</label>
                            @Html.EditorFor(model => model.HsnMaster.ProductName, new { htmlAttributes = new { @class = "form-control", @id = "txtProductName", @style = "max-width:100%" } })
                            @Html.ValidationMessageFor(model => model.HsnMaster.ProductName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">HSN Code</label>
                            @Html.EditorFor(model => model.HsnMaster.Code, new { htmlAttributes = new { @class = "form-control", @id = "txtProductCode", @style = "max-width:100%" } })
                            @Html.ValidationMessageFor(model => model.HsnMaster.Code, "", new { @class = "text-danger" })
                            <label class="text-danger" id="ERR_HSNCode" style="color:#a94442;font-weight: normal;">HSN Code Already Exist</label>
                            <br />
                            <button type="submit" class="btn btn-bitbucket btn-block btn-sm" id="btnSubmit"><i class="fa fa-plus-square"></i> Save</button>

                        </div>
                        <div class="clearfix"></div>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body tablediv">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.HSNMasterList != null && Model.HSNMasterList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>HSN Code</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.HSNMasterList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Code)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index", "HSNMaster")?id=@item.HSNId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "HSNMaster",new { id=@item.HSNId})" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

