﻿@model DataLayer.Models.SaleInvoice
@{
    ViewBag.Title = "Sales Exchange / Return Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var Total = parseFloat($("#TotalInvoiceValue").val() || 0);
        var Adjust = parseFloat($("#txtadjust").val() || 0);
        $("#FinalTotalAdj").val(Total + Adjust);

        $("#txtadjust").keyup(function () {
            var Total = parseFloat($("#TotalInvoiceValue").val() || 0);
            var Adjust = parseFloat($("#txtadjust").val() || 0);
            $("#FinalTotalAdj").val(Total + Adjust);
        })

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        var IsPaymentDone = $("#IsPaymentDone").val();
        if (IsPaymentDone == "True") {
            $(function () {
                $("select").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });
        }
    });
</script>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @using (Html.BeginForm("Create", "SalesExchange", FormMethod.Post))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SaleInvoiceId, new { @id = "SaleInvoiceId" })
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.IsWPS, new { @id = "IsWPS" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.Time)
                        @Html.HiddenFor(model => model.PaymentTypeId)
                        @Html.HiddenFor(model => model.ReturnSaleInvoiceId)
                        @Html.HiddenFor(model => model.ReturnSaleInvoiceNumber)
                        @Html.HiddenFor(model => model.SaleInvoiceNo)
                        @Html.HiddenFor(model => model.IsPaymentDone, new { @id = "IsPaymentDone" })
                        @if (Model.SaleInvoiceNo != null)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Return Invoice Number</label>
                                    @Html.EditorFor(model => model.SaleInvoiceNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.SaleInvoiceNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Return Invoice Number</label>
                                @Html.EditorFor(model => model.ReturnSaleInvoiceNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.ReturnSaleInvoiceNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Order No.</label>
                                @Html.DropDownListFor(model => model.SaleOrderId, Model.SaleOrderList, new { @class = "form-control", @id = "PurchaseOrder" })
                                @Html.ValidationMessageFor(model => model.SaleOrderId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Account</label>
                                @Html.DropDownListFor(model => model.SaleAccountId, Model.SaleAccountList, new { @class = "form-control", @id = "ModelAccountCategoryList" })
                                @Html.ValidationMessageFor(model => model.SaleAccountId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Account</label>
                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Invoicing Date</label>
                                @Html.EditorFor(model => model.InvoicingDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvoicingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Salesman</label>
                                @Html.DropDownListFor(model => model.EmployeeId, Model.EmployeeAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Memo</label>
                                @Html.DropDownListFor(model => model.SaleMemoId, Model.SaleMemoList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SaleMemoId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Type</label>
                                @Html.DropDownListFor(model => model.SaleTypeId, Model.SaleTypeList, new { @class = "form-control", @id = "ModelSaleAccountList" })
                                @Html.ValidationMessageFor(model => model.SaleTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                @Html.TextBoxFor(model => model.ShippingType, new { @class = "form-control", @id = "ShippingType" })
                                @Html.ValidationMessageFor(model => model.ShippingType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Subtotal</label>
                                @Html.TextBoxFor(m => m.Subtotal, new { @readonly = "readonly", @class = "form-control", @id = "Subtotal" })
                                @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                @Html.TextBoxFor(m => m.TotalTax, new { @readonly = "readonly", @class = "form-control", @id = "TotalTax" })
                                @Html.ValidationMessageFor(model => model.TotalTax, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Discount</label>
                                @Html.TextBoxFor(m => m.TotalDiscount, new { @readonly = "readonly", @class = "form-control", @id = "TotalDiscount" })
                                @Html.ValidationMessageFor(model => model.TotalDiscount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                @Html.TextBoxFor(m => m.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                @Html.ValidationMessageFor(model => model.Adjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                <input type="hidden" id="txttotalInvoice" />
                                @Html.HiddenFor(m => m.TotalInvoiceValue, new { @id = "TotalInvoiceValue" })
                                @Html.TextBoxFor(m => m.TotalWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "FinalTotalAdj" })
                                @Html.ValidationMessageFor(model => model.TotalWithAdjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="row">
                        <div class="box-footer">
                            <div class="pull-right">
                                <input type="submit" name="btn" value="Save" class="btn btn-info btn-sm" />
                                <input type="submit" name="btn" value="Make Payment" class="btn btn-info btn-sm" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box box-primary">
                <div class="box-body">
                    @if (Model.SaleInvoiceItemList != null && Model.SaleInvoiceItemList.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="erplabel"><b>Product Number</b></th>
                                    <th class="erplabel"><b>Quantity</b></th>
                                    <th class="erplabel" width="90"><b>Conversion</b></th>
                                    <th class="erplabel" width="90">Conversion</th>
                                    <th class="erplabel" width="90" id="ForMRP"><b>MRP</b></th>
                                    <th class="erplabel" width="90"><b>Base Price</b></th>
                                    <th class="erplabel" width="90"><b>Discount</b></th>
                                    <th class="erplabel" width="90">GST</th>
                                    <th class="erplabel" width="90"><b>GST Amount</b></th>
                                    <th class="erplabel" width="100"><b>Salesman Commission(%)</b></th>
                                    <th class="erplabel" width="100"><b>Final Price</b></th>
                                </tr>
                            </thead>                            
                            @if (Model.SaleInvoiceItemList.Where(x => x.Status == DataLayer.Constants.SALE_ITEM_RETURN).Count() > 0)
                            {
                                <tbody>
                                    <tr><td style="font-weight:bold" colspan="11">Return Item</td></tr>
                                    @foreach (var item in Model.SaleInvoiceItemList.Where(x => x.Status == DataLayer.Constants.SALE_ITEM_RETURN))
                                    {
                                        <tr>
                                            @if (item.Product.SellInPartial == true)
                                            {
                                                <td>@item.Product.SerialNumber</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Unit.UnitValue</td>
                                                <td>@item.ConversionValue</td>
                                                <td>@item.MRP</td>
                                                <td>@item.BasicPrice</td>
                                                <td>@item.Discount</td>
                                                <td>@item.GST.Name</td>
                                                <td>@item.ApplicableTaxValue</td>
                                                <td>@item.SalesmanCommision</td>
                                                <td>@item.SubTotal</td>
                                                <th></th>
                                            }
                                            else
                                            {
                                                <td>@item.Product.SerialNumber</td>
                                                <td>@item.Quantity</td>
                                                <td></td>
                                                <td></td>
                                                <td>@item.MRP</td>
                                                <td>@item.BasicPrice</td>
                                                <td>@item.Discount</td>
                                                <td>@item.GST.Name</td>
                                                <td>@item.ApplicableTaxValue</td>
                                                <td>@item.SalesmanCommision</td>
                                                <td>@item.SubTotal</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            }
                            @if (Model.SaleInvoiceItemList.Where(x => x.Status == DataLayer.Constants.SALE_ITEM_SOLD).Count() > 0)
                            {
                                <tbody>
                                    <tr><td style="font-weight:bold" colspan="11">Sold Item</td></tr>
                                    @foreach (var item in Model.SaleInvoiceItemList.Where(x => x.Status == DataLayer.Constants.SALE_ITEM_SOLD))
                                    {
                                        <tr>
                                            @if (item.Product.SellInPartial == true)
                                            {
                                                <td>@item.Product.SerialNumber</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Unit.UnitValue</td>
                                                <td>@item.ConversionValue</td>
                                                <td>@item.MRP</td>
                                                <td>@item.BasicPrice</td>
                                                <td>@item.Discount</td>
                                                <td>@item.GST.Name</td>
                                                <td>@item.ApplicableTaxValue</td>
                                                <td>@item.SalesmanCommision</td>
                                                <td>@item.SubTotal</td>
                                                <th></th>
                                            }
                                            else
                                            {
                                                <td>@item.Product.SerialNumber</td>
                                                <td>@item.Quantity</td>
                                                <td></td>
                                                <td></td>
                                                <td>@item.MRP</td>
                                                <td>@item.BasicPrice</td>
                                                <td>@item.Discount</td>
                                                <td>@item.GST.Name</td>
                                                <td>@item.ApplicableTaxValue</td>
                                                <td>@item.SalesmanCommision</td>
                                                <td>@item.SubTotal</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    }
                    else
                    {
                        <label>No Invoice Items</label>
                    }
                </div>

            </div>
        </div>
    </div>
    <!--end main body-->
</section>
<!-- Modal -->
