﻿@model DataLayer.ViewModels.SaleInvoiceViewModel
@{
    ViewBag.Title = "Sales Exchange/Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .field-validation-valid {
        display: none;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtadjust").keyup(function () {
            var Total = parseFloat($("#TotalInvoiceValue").val() || 0);
            var Adjust = parseFloat($("#txtadjust").val() || 0);
            $("#FinalTotalAdj").val(Total - Adjust);

            var TotalDiscount = parseFloat($("#TotalDiscountNotMapped").val() || 0);
            $("#DiscWithAd").val(TotalDiscount + Adjust);
        });

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        $("#InvoicingDate").attr('readonly', 'readonly');

            $("#AddProduct").val("");
            $("#ReturnProduct").val("");
            $("#AddProduct").on('keyup', function () {
                var IsWPS = ($("#IsWPS").val() || false);
                var ProdId = $("#AddProduct").val();
                var SaleInvoiceId = $("#SaleInvoiceId").val();
                var ReturnSaleInvoiceId = $("#ReturnSaleInvoiceId").val();
                if (ProdId.length == 10) {
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("AddItem", "SalesExchange")?ProdId=' + ProdId + '&IsWPS=' + IsWPS + '&SaleInvoiceId=' + SaleInvoiceId + '&ReturnSaleInvoiceId=' + ReturnSaleInvoiceId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (result) {
                            $("#AddProduct").val("");
                            $("#ItemListView").html(result);
                        },
                        error: function (data) {
                            $("#AddProduct").val("");
                            alert("Product Not Found");
                        }
                    });
                }
                else if (ProdId.length > 10) {
                    $("#ErrReturnProduct").show();
                    setTimeout(function () {
                        $('#ErrReturnProduct').fadeOut();
                        $("#AddProduct").val("");
                    }, 3000);
                }
            });

            $("#Save,#MakePayment").click(function () {
                var ItemCount = parseInt($("#SaleInvoiceItemCount").val() || 0);
                if (ItemCount == 0) {
                    $("#ErrReturnProduct").text("Items Required");
                    $("#ErrReturnProduct").show();
                    setTimeout(function () {
                        $('#ErrReturnProduct').fadeOut();
                    }, 5000);
                    return false;
                }
            });

            $(function () {
                $("#PurchaseOrder,#ModelAccountCategoryList,#ModelCustomerList,#ModelCustomerList,#DivisionId,#ModelLocationList,#ModelSaleAccountList,#ShippingId").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });

            $("#ReturnProduct").on('keyup', function () {
                var ProdId = $("#ReturnProduct").val();

                var SaleInvoiceId = $("#SaleInvoiceId").val();
                var ReturnSaleInvoiceId = $("#ReturnSaleInvoiceId").val();
                if (ProdId.length == 10) {
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("ReturnItem", "SalesExchange")?ProdId=' + ProdId + '&SaleInvoiceId=' + SaleInvoiceId + '&ReturnSaleInvoiceId=' + ReturnSaleInvoiceId,
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (result) {
                            $("#ReturnProduct").val("");
                            $("#ItemListView").html(result);
                        },
                        error: function (data) {
                            $("#ReturnProduct").val("");
                            alert("Product Not Found");
                        }
                    });
                }
                else if (ProdId.length > 10) {
                    $("#ErrReturnProduct").show();
                    setTimeout(function () {
                        $('#ErrReturnProduct').fadeOut();
                        $("#AddProduct").val("");
                    }, 3000);
                }
            });
        });
</script>

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div>
                    @if (Model.SaleInvoice == null)
                    {
                        using (Html.BeginForm("Exchange", "SalesExchange", FormMethod.Post))
                        {
                            <div class="box-header">
                                <div class="col-lg-8">
                                    <div class="col-lg-6">
                                        <label for="exampleInputEmail1" class="erplabel">Search Sale Invoice / Product Serial Number</label> <br />
                                    </div><br />
                                    <div class="col-lg-6">
                                        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(m => m.Search, "Required", new { @class = "text-danger" })
                                        <label class="text-danger" id="Err_Invoice" style="color:#a94442;font-weight: normal;">Invoice Not Available</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-bitbucket btn-sm">Search</button>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#Err_Invoice").show();
                        </script>
                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#Err_Invoice").hide();
                        </script>
                    }
                    @if (Model.SaleInvoice != null)
                    {
                        using (Html.BeginForm("SaveInvoice", "SalesExchange", FormMethod.Post))
                        {
                            <div class="box-body">
                                @Html.HiddenFor(model => model.SaleInvoice.ReturnSaleInvoiceId, new { @id = "ReturnSaleInvoiceId" })
                                @Html.HiddenFor(model => model.SaleInvoice.SaleInvoiceId, new { @id = "SaleInvoiceId" })
                                @Html.HiddenFor(model => model.SaleInvoice.SaleInvoiceId)
                                @Html.HiddenFor(model => model.SaleInvoice.Status)
                                @Html.HiddenFor(model => model.SaleInvoice.Type)
                                @Html.HiddenFor(model => model.SaleInvoice.IsWPS, new { @id = "IsWPS" })
                                @Html.HiddenFor(model => model.SaleInvoice.CreatedBy)
                                @Html.HiddenFor(model => model.SaleInvoice.CreatedDate)
                                @Html.HiddenFor(model => model.SaleInvoice.CompanyId)
                                @Html.HiddenFor(model => model.SaleInvoice.PaymentTypeId)
                                @Html.HiddenFor(model => model.SaleInvoice.IsInventoryUpdate)
                                @Html.HiddenFor(model => model.SaleInvoice.IsLedgerUpdate)
                                @Html.HiddenFor(model => model.SaleInvoice.ReturnSaleInvoiceId)
                                @Html.HiddenFor(model => model.SaleInvoice.IsPaymentDone, new { @id = "IsPaymentDone" })

                                @if (Model.SaleInvoice.SaleInvoiceNo != null)
                                {
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="erplabel">Sale Invoice Number</label>
                                            @Html.EditorFor(model => model.SaleInvoice.SaleInvoiceNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        </div>
                                    </div>
                                }

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Original Invoice Number</label>
                                        @Html.EditorFor(model => model.SaleInvoice.ReturnSaleInvoiceNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Sale Order No.</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.SaleOrderId, Model.SaleInvoice.SaleOrderList, new { @class = "form-control", @id = "PurchaseOrder" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Sale Account</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.SaleAccountId, Model.SaleInvoice.SaleAccountList, new { @class = "form-control", @id = "ModelAccountCategoryList" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Account</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.CustomerId, Model.SaleInvoice.CustomerAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Invoicing Date</label>
                                        @Html.EditorFor(model => model.SaleInvoice.InvoicingDate, new { htmlAttributes = new { @class = "form-control", @id = "InvoicingDate" } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Salesman</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.EmployeeId, Model.SaleInvoice.EmployeeAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Division</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.DivisionId, Model.SaleInvoice.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.BranchId, Model.SaleInvoice.BranchList, new { @class = "form-control", @id = "BranchId" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Location</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.LocationId, Model.SaleInvoice.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Sale Memo</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.SaleOrderId, Model.SaleInvoice.SaleMemoList, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Sale Type</label>
                                        @Html.DropDownListFor(model => model.SaleInvoice.SaleTypeId, Model.SaleInvoice.SaleTypeList, new { @class = "form-control", @id = "ModelSaleAccountList" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                        @Html.TextBoxFor(model => model.SaleInvoice.ShippingType, new { @class = "form-control", @id = "ShippingType" })
                                        @Html.ValidationMessageFor(model => model.SaleInvoice.ShippingType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Base Total</label>
                                        @Html.TextBoxFor(m => m.SaleInvoice.Points, new { @readonly = "readonly", @class = "form-control", @id = "BasePrice" })
                                        @Html.ValidationMessageFor(model => model.SaleInvoice.Points, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Total Discount</label>
                                        @Html.TextBoxFor(m => m.SaleInvoice.DiscountWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "DiscWithAd" })
                                        @Html.HiddenFor(m => m.SaleInvoice.TotalDiscount, new { @id = "TotalDiscount" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Gross Total</label>
                                        @Html.TextBoxFor(m => m.SaleInvoice.Subtotal, new { @readonly = "readonly", @class = "form-control", @id = "Subtotal" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                        @Html.TextBoxFor(m => m.SaleInvoice.TotalTax, new { @readonly = "readonly", @class = "form-control", @id = "TotalTax" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                        @Html.TextBoxFor(m => m.SaleInvoice.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                        @Html.ValidationMessageFor(model => model.SaleInvoice.Adjustment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                        @Html.HiddenFor(m => m.SaleInvoice.TotalInvoiceValue, new { @id = "TotalInvoiceValue" })
                                        @Html.TextBoxFor(m => m.SaleInvoice.TotalWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "FinalTotalAdj" })
                                        @Html.ValidationMessageFor(model => model.SaleInvoice.TotalWithAdjustment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="box-footer">
                                    <div class="pull-right">
                                        <input type="submit" name="btn" value="Save" class="btn btn-info btn-sm" id="Save" />
                                        <input type="submit" name="btn" value="Make Payment" class="btn btn-info btn-sm" id="MakePayment" />
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
            @if (Model.SaleInvoice != null)
            {
                <div class="box box-primary">
                    @if (Model.SaleInvoice.IsInventoryUpdate == false)
                    {
                        <div class="box-header">
                            <div class="pull-left">
                                <label for="exampleInputEmail1" class="erplabel">Return Product</label> <br />
                                @Html.TextBoxFor(model => model.SaleInvoice.Search, new { @class = "form-control", @id = "ReturnProduct" })
                                <label id="ErrReturnProduct" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                            </div>
                            <div class="pull-right">
                                <label for="exampleInputEmail1" class="erplabel">Add Product</label> <br />
                                @Html.TextBoxFor(model => model.SaleInvoice.Search, new { @class = "form-control", @id = "AddProduct" })
                                <label id="ErrAddProduct" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                            </div>
                        </div>
                    }
                    <div>
                        <div class="box-body" id="ItemListView">
                            @Html.Partial("_ItemList")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>