﻿@model DataLayer.ViewModels.SaleInvoiceViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Sales Exchange / Return Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1> Sales <small>Exchange </small> </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }
                    <div class="pull-right">
                        <a class="btn btn-bitbucket" href="@Url.Action("Exchange", "SalesExchange")"> Exchange Item</a>
                    </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body tablediv">
                        @if (Model.SaleInvoiceLists.Count > 0 && Model.SaleInvoiceLists != null)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Return Invoice Number</b></th>
                                        <th class="erplabel"><b>Original Invoice Number</b></th>
                                        <th class="erplabel"><b>Invoicing Date</b></th>
                                        <th class="erplabel"><b>Total</b></th>
                                        <th class="erplabel"><b>Type</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SaleInvoiceLists)
                                    {
                                        <tr>
                                            <td>@item.SaleInvoiceNo</td>
                                            <td>
                                                @if (item.ReturnType == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                                {
                                                    <a href="@Url.Action("Edit", "SalesExchange",new { id = @item.SaleInvoiceId })">
                                                        @item.ReturnSaleInvoiceNumber
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Create", "SaleInvoice")?id=@item.ReturnSaleInvoiceId">
                                                        @item.ReturnSaleInvoiceNumber
                                                    </a>
                                                }
                                            </td>
                                            <td>@item.InvoicingDate.ToString("dd'/'MM'/'yyyy") @item.Time</td>
                                            <td>@item.TotalWithAdjustment</td>
                                            <td>@item.Type</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "SalesExchange",new { id = @item.SaleInvoiceId })">
                                                    Edit
                                                </a>
                                                <span>||</span>
                                                <a href="@Url.Action("Delete", "SalesExchange",new { id = @item.SaleInvoiceId })">
                                                    Delete
                                                </a>
                                                <span>||</span>
                                                <a href="@Url.Action("GenerateInvoice", "SalesExchange",new { InvoiceId = @item.SaleInvoiceId })">
                                                    Print Invoice
                                                </a>
                                                @if (item.IsWPS != true)
                                                {
                                                <span>||</span>
                                                <a href="@Url.Action("POS", "SalesExchange",new { InvoiceId = @item.SaleInvoiceId })">
                                                    Print POS
                                                </a>
                                                }
                                                @*<a href="@Url.Action("Update", "SalesExchange",new { id = @item.SaleInvoiceId })">
                                                    Update
                                                </a>*@
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Invoice Items</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    @if (Model.SaleInvoiceLists.Count > 0)
    {
        <p>
            Page @(Model.SaleInvoiceLists.PageCount < Model.SaleInvoiceLists.PageNumber ? 0 : Model.SaleInvoiceLists.PageNumber) of @Model.SaleInvoiceLists.PageCount
            @Html.PagedListPager(Model.SaleInvoiceLists, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>
