﻿@model DataLayer.ViewModels.LocationViewModel
@{
    ViewBag.Title = "Location - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hiddenLocationId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }
    });
</script>
<section class="content-header">
    <h1> Location <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Location </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:200px">
                <div class="box-header with-border">
                    <h3 class="box-title">Location Details</h3>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                            $("#ErrLabel").hide();
                    </script>
                }
                <!-- /.box-header -->

                @using (Html.BeginForm("Create", "Location", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.Location.LocationId, new { @id = "hiddenLocationId" })
                        @Html.HiddenFor(model => model.Location.CreatedBy)
                        @Html.HiddenFor(model => model.Location.CreatedDate)

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Select Branch</label>
                            @Html.DropDownListFor(model => model.Location.BranchId, Model.Location.BranchList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Location.BranchId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Location  Name</label>
                            @Html.EditorFor(model => model.Location.LocationName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Location.LocationName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-bitbucket btn-sm" id="btnSubmit"><i class="fa fa-save"></i> Save</button>
                        </div>
                }

            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.LocationList != null && Model.LocationList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Location name</th>
                                            <th>Branch</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LocationList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.LocationName
                                                </td>
                                                <td>
                                                    @if (item.Branch == null)
                                                    {
                                                        <span>-</span>
                                                    }
                                                    else
                                                    {
                                                        @item.Branch.BranchName
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index","Location",new { id = @item.LocationId })">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete","Location",new { id = @item.LocationId })" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>