﻿@model DataLayer.Models.InternalTransfer
@{
    Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {

        function RefreshList(data) {
            if (data == true) {
                alert("Product Updated");
            }
            else {
                alert("Product Not Updated");
            }
        }

        var SubTotalDemo = parseFloat($("#SubTotalDemo").val() || 0);
        $("#SubTotal").val(SubTotalDemo);

        var DiscountTotalDemo = parseFloat($("#DiscountTotalDemo").val() || 0);
        $("#DiscountTotal").val(DiscountTotalDemo);

        var TaxTotalDemo = parseFloat($("#TaxTotalDemo").val() || 0);
        $("#TaxTotal").val(TaxTotalDemo);

        var GrandTotalDemo = parseFloat($("#GrandTotalDemo").val() || 0);
        $("#GrandTotal").val(GrandTotalDemo);
    });

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

    function Remove(ProductNumber, InternalTransferId) {
        ProductNumber = pad(ProductNumber, 10);
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveItem", "InternalTransfer")?ProductId=' + ProductNumber + '&InternalTransferId=' + InternalTransferId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#ItemListView").html(response);
                $("#ItemListDiv123").hide();
            },
            error: function (data) {
                alert("Product Not Found");
            }
        });
    }
</script>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel").text("@ViewBag.ErrorMsg");
        $("#ErrLabel").show();
        setTimeout(function () {
            $('#ErrLabel').fadeOut();
        }, 5000);
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel").hide();
    </script>
}

@if (Model.InternalTransfers != null && Model.InternalTransfers.Count > 0)
{
    @Html.HiddenFor(model => model.SubTotal, new { @id = "SubTotalDemo" })
    @Html.HiddenFor(model => model.TaxTotal, new { @id = "TaxTotalDemo" })
    @Html.HiddenFor(model => model.DiscountTotal, new { @id = "DiscountTotalDemo" })
    @Html.HiddenFor(model => model.GrandTotal, new { @id = "GrandTotalDemo" })
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel"><b>Product Number</b></th>
                <th class="erplabel"><b>Quantity</b></th>
                <th class="erplabel" width="90"><b>Conversion</b></th>
                <th class="erplabel" width="90">Conversion</th>
                <th class="erplabel" width="90"><b>Base Price</b></th>
                <th class="erplabel" width="90"><b>Discount</b></th>
                <th class="erplabel" width="90">GST</th>
                <th class="erplabel" width="90"><b>GST Amount</b></th>
                <th class="erplabel" width="100"><b>Salesman Commission(%)</b></th>

                <th class="erplabel" width="100"><b>Final Price</b></th>
            </tr>
        </thead>
        <tbody>
                    @foreach (var item in Model.InternalTransfers.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                        if (item.Data.Product.SellInPartial == true)
                        {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Data.SaleInvoiceItemId, new { @class = "form-control", @id = "SaleInvoiceItemId" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })
                            @Html.HiddenFor(modelItem => item.Data.ProductId, new { @id = "PNo" + item.Index })
                            @Html.HiddenFor(modelItem => item.Data.MRP, new {  @id = "Mrp" + item.Index })
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@Html.TextBoxFor(model => item.Data.Quantity, new { @class = "form-control", @id = "qty" + item.Index, @onchange = "Call(this,'" + @item.Index + "')" })</td>
                            <td width="10">@Html.DropDownListFor(modelItem => item.Data.UnitId, item.Data.UnitList, new { @class = "form-control", @id = "Units" + item.Index, @onchange = "Call(this,'" + @item.Index + "')" })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.ConversionValue, new { @class = "form-control", @id = "Conversion" + item.Index, @readonly = true })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.BasicPrice, new { @class = "form-control", @readonly = true, @id = "BasicPrice" + item.Index })</td>
                            <td>@Html.DropDownListFor(modelItem => item.Data.DiscountId, item.Data.DiscountCodeList, new { @class = "form-control", @id = "DiscountedCode" + item.Index, @onchange = "Cal1(this,'" + @item.Index + "')" })</td>
                            @Html.HiddenFor(modelItem => item.Data.Discount, new { @class = "form-control", @id = "DiscountedAmount" + item.Index, @onchange = "Cal1(this,'" + @item.Index + "')" })
                            <td>@Html.DropDownListFor(modelItem => item.Data.GSTId, item.Data.GSTList, new { @class = "form-control", @id = "gstID" + item.Index, @onchange = "Cal1(this,'" + @item.Index + "')" })</td>
                            @Html.HiddenFor(modelItem => item.Data.ApplicableTax, new { @class = "form-control", @id = "ApplicableTax" + item.Index, @onchange = "Cal1(this,'" + @item.Index + "')" })
                            <td>@Html.TextBoxFor(modelItem => item.Data.ApplicableTaxValue, new { @class = "form-control", @readonly = true })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.Product.SalesmanCommision, new { @class = "form-control", @id = "SalesComission" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.SubTotal, new { @class = "form-control", @id = "SubTotal" + item.Index, @readonly = true })</td>
                            <th></th>
                            <th><a style="cursor:pointer;" onclick="Remove('@item.Data.ProductId','@item.Data.InternalTransferId')">Remove</a></th>
                        </tr>
                        <tr>
                            <td>
                                SKU :
                            </td>
                            <td>
                                @item.Data.SKUMaster.SKU
                            </td>
                            <td>
                                Category :
                            </td>
                            <td>
                                @item.Data.SKUMaster.Category.Name
                            </td>
                            <td>
                                SubCategory:
                            </td>
                            <td>
                                @item.Data.SKUMaster.SubCategory.Name
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Data.SaleInvoiceItemId, new { @class = "form-control", @id = "SaleInvoiceItemId" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })
                            @Html.HiddenFor(modelItem => item.Data.ProductId, new { @id = "PNo" + item.Index })
                            @Html.HiddenFor(modelItem => item.Data.MRP, new { @id = "Mrp" + item.Index })
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@Html.TextBoxFor(model => item.Data.Quantity, new { @class = "form-control", @readonly = true, @id = "qty" + item.Index })</td>
                            <td></td>
                            <td></td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.BasicPrice, new { @class = "form-control", @readonly = true, @id = "BasicPrice" + item.Index })</td>
                            <td>@Html.DropDownListFor(modelItem => item.Data.DiscountId, item.Data.DiscountCodeList, new { @class = "form-control", @id = "DiscountedCode" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })</td>
                            @Html.HiddenFor(modelItem => item.Data.ApplicableTax, new { @class = "form-control", @id = "ApplicableTax" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })
                            <td>@Html.DropDownListFor(modelItem => item.Data.GSTId, item.Data.GSTList, new { @class = "form-control", @id = "gstID" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.ApplicableTaxValue, new { @class = "form-control", @readonly = true })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.Product.SalesmanCommision, new { @class = "form-control", @id = "SalesComission" + item.Index, @onchange = "Cal(this,'" + @item.Index + "')" })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.SubTotal, new { @class = "form-control", @id = "SubTotal" + item.Index, @readonly = true })</td>
                            <th></th>
                            <th><a style="cursor:pointer;" onclick="Remove('@item.Data.ProductId','@item.Data.InternalTransferId')">Remove</a></th>
                        </tr>
                        <tr>
                            <td>
                                SKU :
                            </td>
                            <td>
                                @item.Data.SKUMaster.SKU
                            </td>
                            <td>
                                Category :
                            </td>
                            <td>
                                @item.Data.SKUMaster.Category.Name
                            </td>
                            <td>
                                SubCategory:
                            </td>
                            <td>
                                @item.Data.SKUMaster.SubCategory.Name
                            </td>
                        </tr>
                    }
                }

            @*else
            {
                foreach (var item in Model.SaleInvoiceItemList.Select((x, i) => new { Data = x, Index = i + 1 }))
                {
                    if (item.Data.Product.SellInPartial == true)
                    {
                        <tr>
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@item.Data.Quantity</td>
                            <td>@item.Data.Unit.UnitValue</td>
                            <td>@item.Data.ConversionValue</td>
                            <td>@item.Data.BasicPrice</td>
                            <td>@item.Data.Discount</td>
                            <td>@item.Data.GST.Name</td>
                            <td>@item.Data.ApplicableTaxValue</td>
                            <td>@item.Data.SalesmanCommision</td>
                            <td>@item.Data.SubTotal</td>
                            <th>@item.Data.Status</th>
                        </tr>
                        <tr>
                            <td>
                                SKU :
                            </td>
                            <td>
                                @item.Data.SKUMaster.SKU
                            </td>
                            <td>
                                Category :
                            </td>
                            <td>
                                @item.Data.SKUMaster.Category.Name
                            </td>
                            <td>
                                SubCategory:
                            </td>
                            <td>
                                @item.Data.SKUMaster.SubCategory.Name
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@item.Data.Quantity</td>
                            <td></td>
                            <td></td>
                            <td>@item.Data.BasicPrice</td>
                            <td>@item.Data.Discount</td>
                            <td>@item.Data.GST.Name</td>
                            <td>@item.Data.ApplicableTaxValue</td>
                            <td>@item.Data.SalesmanCommision</td>
                            <td>@item.Data.SubTotal</td>
                            <th>@item.Data.Status</th>
                        </tr>
                        <tr>
                            <td>
                                SKU :
                            </td>
                            <td>
                                @item.Data.SKUMaster.SKU
                            </td>
                            <td>
                                Category :
                            </td>
                            <td>
                                @item.Data.SKUMaster.Category.Name
                            </td>
                            <td>
                                SubCategory:
                            </td>
                            <td>
                                @item.Data.SKUMaster.SubCategory.Name
                            </td>
                        </tr>

                    }
                }
            }*@

            <tr>
                <td style="border-top: 1px solid #000;">Quantity : </td>
                <td style="border-top: 1px solid #000;">@Model.InternalTransfers.Sum(x => x.Quantity)</td>
                <td style="border-top: 1px solid #000;" colspan="9"></td>
            </tr>
        </tbody>
    </table>
}
else
{
    <label>No Order Items</label>
}

<script type="text/javascript">
    function Cal(ID, Productid) {
        var Type = $("#Type").val();
        var InternalTransferId = parseInt($("#InternalTransferId").val() || 0);
        var GSTId = $("#gstID" + Productid + " option:selected").val();
        var DiscountId = $("#DiscountedCode" + Productid + " option:selected").val();
        var SaleInvoiceItemId = parseInt($("#SaleInvoiceItemId" + Productid).val() || 0);
        var BasicPrice = parseFloat($("#BasicPrice" + Productid).val() || 0);
        var qty = parseFloat($("#qty" + Productid).val() || 0);
        var ApplicableTax = parseFloat($("#ApplicableTax" + Productid).val() || 0);
        var MRP = parseFloat($("#Mrp" + Productid).val() || 0);
        var Adj = parseFloat($("#Adjustment" + Productid).val() || 0);
        var SalesComission = parseFloat($("#SalesComission" + Productid).val() || 0);
        var ProductNumber = parseInt($("#PNo" + Productid).val() || 0);
        ProductNumber = pad(ProductNumber, 10);
        var Adj = parseFloat($("#Adjustment" + Productid).val() || 0);
        var serviceURL = '@Url.Action("UpdateProduct", "InternalTransfer")';
        var GstID = $("#gstID" + Productid + " option:selected").val();
        var model = {
            'MRP': MRP, 'Adjustment': Adj, 'ProductId': ProductNumber, 'ApplicableTax': ApplicableTax, 'Quantity': qty, 'SaleInvoiceItemId': SaleInvoiceItemId, 'DiscountId': DiscountId, 'GSTId': GstID, 'SalesmanCommision': SalesComission, 'GSTId': GSTId, 'BasicPrice': BasicPrice, 'InternalTransferId': InternalTransferId }
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: {
                'model': model, 'Type': Type },
            dataType: "html",
            success: function (response) {
                $("#ItemListView").html(response);
            },
            error: function errorFunc() {
                alert("Error");
            }
        });
    }

    function Call(ID, Productid) {
        var Unit = $("#Units" + Productid + " option:selected").val();
        var serviceURL = '@Url.Action("GetUnit", "SaleInvoice")';
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { 'id': Unit },
            dataType: "json",
            success: function (data) {
                var Conversion = parseFloat(data.Conversion);
                var UnitParents = data.UnitParents.toString();
                var qty = parseFloat($("#qty" + Productid).val() || 0);
                var x = (qty / Conversion).toFixed(3);
                var BasicPrice = parseFloat($("#BasicPrice" + Productid).val());
                $("#SubTotal" + Productid).val(x * BasicPrice);
                $("#Conversion" + Productid).val(x);
                Cal1(ID, Productid);
            }
        });
    }

    function Cal1(ID, Productid) {
        var Type = $("#Type").val();
        var InternalTransferId = parseInt($("#InternalTransferId").val() || 0);
        var GSTId = $("#gstID" + Productid + " option:selected").val();
        var DiscountId = $("#DiscountedCode" + Productid + " option:selected").val();
        var BasicPrice = parseFloat($("#BasicPrice" + Productid).val() || 0);
        var SaleInvoiceItemId = parseInt($("#SaleInvoiceItemId" + Productid).val() || 0);
        var Unit = $("#Units" + Productid + " option:selected").val();
        var qty = parseFloat($("#qty" + Productid).val() || 0);
        var Conversion = $("#Conversion" + Productid).val();
        var ApplicableTax = parseFloat($("#ApplicableTax" + Productid).val() || 0);
        var SalesComission = parseFloat($("#SalesComission" + Productid).val() || 0);
        var MRP = parseFloat($("#Mrp" + Productid).val() || 0);
        var ProductNumber = parseInt($("#PNo" + Productid).val() || 0);
        ProductNumber = pad(ProductNumber, 10);
        var Adj = parseFloat($("#Adjustment" + Productid).val() || 0);
        var serviceURL = '@Url.Action("UpdateProduct", "InternalTransfer")';
        var model = { 'SalesmanCommision': SalesComission, 'MRP': MRP, 'Adjustment': Adj, 'ProductId': ProductNumber, 'ApplicableTax': ApplicableTax, 'UnitId': Unit, 'Quantity': qty, 'ConversionValue': Conversion, 'SaleInvoiceItemId': SaleInvoiceItemId, 'DiscountId': DiscountId, 'GSTId': GSTId, 'BasicPrice': BasicPrice, 'InternalTransferId': InternalTransferId }
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: {
                'model': model, 'Type': Type },
            dataType: "html",
            success: function (response) {
                $("#ItemListView").html(response);
            },
            error: function errorFunc() {
                alert("Error");
            }
        });
    }

</script>
