﻿@model DataLayer.Models.InternalTransfer
@{
    ViewBag.Title = "Internal Transfer- Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#FromDivisionId").change(function () {
            GetBranchList('From');
        });

        $("#ToDivisionId").change(function () {
            GetBranchList('To');
        });

        $("#FromBranchId").change(function () {
            GetLocationList('From');
        });

        $("#ToBranchId").change(function () {
            GetLocationList('To');
        });


        $("#Search").on('keyup', function () {
            var InternalTransferId = $("#InternalTransferId").val();
            var ProdId = $("#Search").val();
            if (ProdId.length == 10) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ItemList", "InternalTransfer")?ProdId=' + ProdId + '&InternalTransferId=' + InternalTransferId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#Search").val("");
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        $("#Search").val("");
                        alert("Product Not Found");
                    }
                });
            }
            else if (ProdId.length > 10) {
                $("#err_Product").show();
                setTimeout(function () {
                    $('#err_Product').fadeOut();
                    $("#Search").val("");
                }, 3000);
            }
        });

        function RefreshList() {
            $('#myModal').modal('hide');
            alert('successFunction')
        }

        function error() {
            alert('successFunction')
        }

        $("#ItemListView").load();
    });

    function GetLocationList(Type){
        var BranchId = $("#" + Type + "BranchId option:selected").val();
        $("#" + Type + "LocationId").empty();
        if (BranchId != 0) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("GetLocationList", "Home")?BranchId=' + BranchId,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (LocationList) {
                    $.each(LocationList, function (i, Sub) {
                        $("#" + Type + "LocationId").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }

    function GetBranchList(Type){
        var DivisionId = $("#" + Type + "DivisionId option:selected").val();
        $("#" + Type + "BranchId").empty();
        if (DivisionId != 0) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("GetBranchList", "Home")?DivisionId=' + DivisionId,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (BranchList) {
                    $.each(BranchList, function (i, Sub) {
                        $("#" + Type + "BranchId").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }
</script>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                @using (Html.BeginForm("Create", "InternalTransfer", FormMethod.Post))
                {
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        @Html.HiddenFor(model => model.InternalTransferId, new { @id = "InternalTransferId" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CompanyId)


                        @if (Model.InternalTransferId > 0)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Internal Transfer No.</label>
                                    @Html.EditorFor(model => model.InternalTransferNo, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InternalTransferNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Transfer Date</label>
                                @Html.EditorFor(model => model.TransferDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TransferDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">From Division</label>
                                @Html.DropDownListFor(model => model.FromDivisionId, Model.DivisionList, new { @class = "form-control", @id = "FromDivisionId", @min = "1" })
                                @Html.ValidationMessageFor(model => model.FromDivisionId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">From Branch</label>
                                @Html.DropDownListFor(model => model.FromBranchId, Model.FromBranchList, new { @class = "form-control", @id = "FromBranchId", @min = "1" })
                                @Html.ValidationMessageFor(model => model.FromBranchId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">From Location</label>
                                @Html.DropDownListFor(model => model.FromLocationId, Model.FromLocationList, new { @class = "form-control", @id = "FromLocationId", @min = "1" })
                                @Html.ValidationMessageFor(model => model.FromLocationId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">To Division</label>
                                @Html.DropDownListFor(model => model.ToDivisionId, Model.DivisionList, new { @class = "form-control", @id = "ToDivisionId", @min = "1" })
                                @Html.ValidationMessageFor(model => model.ToDivisionId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">To Branch</label>
                                @Html.DropDownListFor(model => model.ToBranchId, Model.ToBranchList, new { @class = "form-control", @id = "ToBranchId", @min = "1" })
                                @Html.ValidationMessageFor(model => model.ToBranchId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">To Location</label>
                                @Html.DropDownListFor(model => model.ToLocationId, Model.ToLocationList, new { @class = "form-control", @id = "ToLocationId", @min = "1" })
                                @Html.ValidationMessageFor(model => model.ToLocationId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">SubTotal</label>
                                @Html.TextBoxFor(m => m.SubTotal, new { @readonly = "readonly", @class = "form-control", @id = "SubTotal" })
                                @Html.ValidationMessageFor(model => model.SubTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                @Html.TextBoxFor(m => m.TaxTotal, new { @readonly = "readonly", @class = "form-control", @id = "TaxTotal" })
                                @Html.ValidationMessageFor(model => model.TaxTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Discount</label>
                                @Html.TextBoxFor(m => m.DiscountTotal, new { @readonly = "readonly", @class = "form-control", @id = "DiscountTotal" })
                                @Html.ValidationMessageFor(model => model.DiscountTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Grand Total</label>
                                @Html.TextBoxFor(m => m.GrandTotal, new { @readonly = "readonly", @class = "form-control", @id = "GrandTotal" })
                                @Html.ValidationMessageFor(model => model.GrandTotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                    <div class="row">
                        <div class="box-footer">
                            <div class="pull-right">
                                <input type="submit" name="btn" value="Save" class="btn btn-info btn-sm" id="Save" />
                                <input type="submit" name="btn" value="Save & Print Invoice" class="btn btn-info btn-sm" id="SavePrint" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />

                <div class="box-header">
                    <div class="pull-left">
                        <label for="exampleInputEmail1" class="erplabel">Search Product</label> <br />
                        @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @id = "Search" })
                        <label id="ErrLabel" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                    </div>
                </div>
                <div>
                    <div class="box-body" id="ItemListView">
                        @Html.Partial("_ItemList")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end main body-->
</section>

<!-- Modal -->
