﻿@model DataLayer.ViewModels.InternalTransferViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "InternalTransfer - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Internal Transfer </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();
                    </script>
                }
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 pull-right">
                    <a class="btn btn-bitbucket btn-block" href="@Url.Action("Create", "InternalTransfer")"><i class="fa fa-plus-square"></i>&nbsp; Add Internal Transfer</a>
                </div>

                <form role="form">
                    <div class="box-body tablediv">
                        @if (Model != null && Model.InternalTransferList.Count() > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Internal Transfer Number</b></th>
                                        <th class="erplabel"><b>Transfer Date</b></th>
                                        <th class="erplabel"><b>Total</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InternalTransferList)
                                    {
                                        <tr>
                                            <td>@item.InternalTransferNo</td>
                                            <td>@item.TransferDate.ToString("dd'/'MM'/'yyyy") </td>
                                            <td>@item.GrandTotal.ToString("0.00")</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "InternalTransfer",new { id = @item.InternalTransferId })">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("Delete", "InternalTransfer",new { id = @item.InternalTransferId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                               @* <span>||</span>
    <a href="@Url.Action("GenerateInvoice", "InternalTransfer",new { id = @item.InternalTransferId })">
        Print
    </a>*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Invoice Items</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    @if (Model.InternalTransferList.Count() > 0)
    {
        <p>
            Page @(Model.InternalTransferList.PageCount < Model.InternalTransferList.PageNumber ? 0 : Model.InternalTransferList.PageNumber) of @Model.InternalTransferList.PageCount
            @Html.PagedListPager(Model.InternalTransferList, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>

