﻿@model DataLayer.ViewModels.ReportViewModel
@{
    ViewBag.Title = "_ItemList";
}

<div class="col-lg-4">
    <h5><b>Total Purchase Amount</b> : @Model.GrandTotal.ToString("0.00")</h5>
</div>
@if (Model.PurchaseInvoiceList != null && Model.PurchaseInvoiceList.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Details</th>
                <th class="erplabel">SR NO.</th>
                <th class="erplabel">Invoice Number</th>
                <th class="erplabel">Invoicing Date</th>
                <th class="erplabel">Entry Date</th>
                <th class="erplabel">Supplier Account</th>
                <th class="erplabel">No. Of Item</th>
                <th class="erplabel">CGST</th>
                <th class="erplabel">SGST</th>
                <th class="erplabel">IGST</th>
                <th class="erplabel">No Tax</th>
                <th class="erplabel">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PurchaseInvoiceList.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>
                    <td>
                        <center> <a href="@Url.Action("Details", "PurchaseReport",new { PurchaseInvoiceId = item.Data.PurchaseInvoiceId})"> <i class="fa fa-desktop"></i> <span></span> </a></center>
                    </td>
                    <td>@item.Index</td>
                    <td>@item.Data.PurchaseInvoiceNo</td>
                    <td>@item.Data.InvoicingDate @item.Data.Time</td>
                    <td>@item.Data.EntryDate.Value.ToString("dd'/'MM'/'yyyy")</td>
                    <td>@item.Data.Account.Name</td>
                    <td>@item.Data.PurchaseInvoiceItemList.Count</td>
                    <td>@item.Data.CGST</td>
                    <td>@item.Data.SGST</td>
                    <td>@item.Data.IGST</td>
                    <td>@item.Data.ItemTotalTax</td>
                    <td>@((item.Data.TotalInvoiceValue.HasValue ? item.Data.TotalInvoiceValue.Value : 0).ToString("0.00"))</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <label>No Invoice Items</label>
}
