﻿@model DataLayer.Models.PurchaseInvoice
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box-body tablediv">
                    @if (Model.PurchaseInvoiceItemList != null && Model.PurchaseInvoiceItemList.Count > 0)
                    {

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="erplabel">SKU</th>
                                    <th class="erplabel">Quantity</th>
                                    <th class="erplabel">Basic Rate</th>
                                    <th class="erplabel">GST Applicable</th>
                                    <th class="erplabel">Purchase Net Price/Unit</th>
                                    <th class="erplabel">MRP</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PurchaseInvoiceItemList)
                                {
                                    <tr>
                                        <td>@item.SKUMaster.SKU</td>
                                        @if (item.SellInPartial != true)
                                        {
                                            <td>@item.Quantity.ToString("0.##")</td>
                                        }
                                        else
                                        {
                                            <td>@item.Quantity.ToString("0.00")</td>
                                        }
                                        <td>@item.Rate.ToString("0.##")</td>
                                        <td>(@item.GST.Name) @((item.SGST + item.CGST + item.IGST).Value.ToString("0.##"))</td>

                                        <td>@item.NetAmount.Value.ToString("0.##")</td>
                                        <td>@item.MRP.ToString("0.##")</td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>

                                    <td><b>Total</b></td>
                                    <td>
                                        <b>@Model.ItemTotalQuantity</b>
                                    </td>
                                    <td><b>@Model.ItemTotalBasicPrice.ToString("0.##")</b></td>
                                    <td><b>@Model.ItemTotalTax.ToString("0.##")</b></td>
                                    <td><b>@Model.ItemPurchasePrice.ToString("0.##")</b></td>
                                    <td><b>@Model.ItemTotalMRP.ToString("0.##")</b></td>

                                    <td></td>

                                </tr>
                            </tfoot>
                        </table>
                    }
                    else
                    {
                        <label>No Invoice Items</label>
                    }
                </div>

            </div>
        </div>
    </div>
</section>

