﻿@model DataLayer.Models.Lead
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel1").show();
        $("#ErrLabel1").text("@ViewBag.ErrorMsg");
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel1").hide();
    </script>
}
<label id="ErrLabel1" style="color:red"></label>
@if (Model.LeadItemList != null && Model.LeadItemList.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Product Name</th>
                <th class="erplabel">Quantity</th>
                <th class="erplabel">Rate</th>
                <th class="erplabel">Status</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeadItemList)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Rate</td>
                    <td>@item.LeadProoductStatus.ToString()</td>
                    <td class="erplabel">
                        <a style="cursor:pointer;" onclick="EditLeadItem('@item.LeadItemId','@item.LeadId')">Edit</a>
                        ||
                        <a style="cursor:pointer;" onclick="RemoveLeadItem('@item.LeadItemId','@item.LeadId')">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
