﻿@model DataLayer.Models.Lead
@{
    ViewBag.Title = "Lead - Create";
}

<section class="content">

    @using (Html.BeginForm("Create", "Lead", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.LeadId, new { @id = "LeadId" })
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lead Details</h3>
                    </div>
                    <div class="box-body">

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Existing Customer </label>
                                @Html.DropDownListFor(model => model.ContactId, Model.ContactList, new { @class = "form-control", @id = "ContactId" })
                                @Html.ValidationMessageFor(model => model.ContactId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">First name</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @id = "FirstName" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Last Name </label>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @id = "LastName" } }) 
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Company</label>
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">No Of Employees</label>
                                @Html.EditorFor(model => model.NoOfEmployee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NoOfEmployee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">WebSite</label>
                                @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Lead Owner</label>
                                @Html.EditorFor(model => model.LeadOwner, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LeadOwner, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="erplabel" for="email">Lead Source</label>
                                @Html.DropDownListFor(model => model.LeadSource, Model.LeadSourceList, new { @class = "form-control", @id = "ddlLeadSource" })
                                @Html.ValidationMessageFor(model => model.LeadSource, "", new { @class = "text-danger" })
                                <label class="text-danger" id="ErrLeadSource" style="color:#a94442;font-weight: normal;">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="erplabel" for="email">Lead Status</label>
                                @Html.DropDownListFor(model => model.LeadStatus, Model.LeadStatusList, new { @class = "form-control", @id = "ddlLeadStatus" })
                                @Html.ValidationMessageFor(model => model.LeadStatus, "", new { @class = "text-danger" })
                                <label class="text-danger" id="ErrLeadStatus" style="color:#a94442;font-weight: normal;">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="erplabel" for="email">Industry</label>
                                @Html.DropDownListFor(model => model.Industry, Model.IndustryList, new { @class = "form-control", @id = "ddlIndustry" })
                                @Html.ValidationMessageFor(model => model.Industry, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="erplabel" for="email">Rating</label>
                                @Html.DropDownListFor(model => model.Rating, Model.RatingList, new { @class = "form-control", @id = "ddlDesignation" })
                                @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Annual Revenue</label>
                                @Html.EditorFor(model => model.AnnualRevenue, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AnnualRevenue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Mobile No</label>
                                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @id = "MobileNo" } }) 
                                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Phone No</label>
                                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", @id = "PhoneNo" } }) 
                                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Email</label>
                                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @id = "Email" } }) 
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Street</label>
                                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="erplabel" for="email">State</label>
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="erplabel" for="email">City</label>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Country</label>
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @id = "Country" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Zip/Postal Code</label>
                                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", @id = "ContactNo" } })
                                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Product Interest</label>
                                @Html.DropDownListFor(model => model.ProductInterest, Model.ProductInterestList, new { @class = "form-control", @id = "ddlProductInterest" })
                                @Html.ValidationMessageFor(model => model.ProductInterest, "", new { @class = "text-danger" })
                                <label class="text-danger" id="ErrProductInterest" style="color:#a94442;font-weight: normal;">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Current Generators</label>
                                @Html.EditorFor(model => model.CurrentGenerators, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CurrentGenerators, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">SIC Code</label>
                                @Html.EditorFor(model => model.SICCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SICCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Primary</label>
                                @Html.DropDownListFor(model => model.Primary, Model.PrimaryList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Primary, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">No Of Locations</label>
                                @Html.EditorFor(model => model.NumberOfLocations, new { htmlAttributes = new { @class = "form-control", @id = "PerMonth" } })
                                @Html.ValidationMessageFor(model => model.NumberOfLocations, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Description</label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "PerMonth" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="box-footer pull-right">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                <button type="submit" class="btn btn-bitbucket btn-sm " id="btnSubmit">Save</button>

                                <button type="submit" class="btn btn-bitbucket btn-sm" id="btnSubmit">Email</button>

                                <button type="submit" class="btn btn-bitbucket btn-sm" id="btnSubmit">SMS</button>

                                @*<button type="submit" class="btn btn-bitbucket btn-sm" id="btnSubmit">Whatsapp</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="box-body">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Products</h3>
                </div>
                <div class="box-body">
                    @Html.HiddenFor(model => model.LeadItem.LeadItemId, new { @id = "LeadItemId" })
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Product Name</label>
                            @Html.EditorFor(model => model.LeadItem.ProductName, new { htmlAttributes = new { @class = "form-control", @id = "ProductName" } })
                            <label id="Err_ProductName" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Rate</label>
                            @Html.EditorFor(model => model.LeadItem.Rate, new { htmlAttributes = new { @class = "form-control", @id = "Rate" } })
                            <label id="Err_Rate" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Quantity</label>
                            @Html.EditorFor(model => model.LeadItem.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity" } })
                            <label id="Err_Quantity" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Status</label>
                            @Html.EnumDropDownListFor(model => model.LeadProoductStatus, "Select a Status", new { @class = "form-control", @id = "LeadProoductStatus" })
                            <label id="Err_ProoductStatus" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                        </div>
                    </div>


                    <div class="col-lg-2" style="margin: 18px 0 0 0;">
                        <button type="button" class="btn btn-bitbucket btn-sm" id="AddLeadItem">Add</button>
                    </div>
                </div>
                <div class="box-body" id="LeadItemList">
                    @Html.Partial("_LeadItemList")
                </div>
            </div>
        </div>
    </div>

</section>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/state.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrProductInterest").hide();
        $("#ErrLeadStatus").hide();
        $("#ErrLeadSource").hide();
        $("#Errstate").hide();
        $("#ErrCity").hide();
        $("#Err_ProductName").hide();
        $("#Err_Rate").hide();
        $("#Err_Quantity").hide();
        $("#Err_ProoductStatus").hide();

        $("#ddlProductInterest").change(function () {
            if ($(this).val() == "-1") {
                $("#ErrProductInterest").show();
                return false;
            }
            else {
                $("#ErrProductInterest").hide();
                return true;
            }
        });

        $("#ddlLeadStatus").change(function () {
            if ($(this).val() == "-1") {
                $("#ErrLeadStatus").show();
                return false;
            }
            else {
                $("#ErrLeadStatus").hide();
                return true;
            }
        });

        $("#ddlLeadSource").change(function () {
            if ($(this).val() == "-1") {
                $("#ErrLeadSource").show();
                return false;
            }
            else {
                $("#ErrLeadSource").hide();
                return true;
            }
        });

        $("#AddLeadItem").click(function () {
            var Err = 0;
            var ProductName = $("#ProductName").val();
            if (ProductName == "" || ProductName == null) {
                $("#Err_ProductName").show();
                setTimeout(function () {
                    $('#Err_ProductName').fadeOut();
                }, 5000);
                Err++;
            }
            var Rate = $('#Rate').val();
            if (Rate == "" || Rate == null) {
                $("#Err_Rate").show();
                setTimeout(function () {
                    $('#Err_Rate').fadeOut();
                }, 5000);
                Err++;
            }
            var Quantity = $('#Quantity').val();
            if (Quantity == "" || Quantity == null) {
                $("#Err_Quantity").show();
                setTimeout(function () {
                    $('#Err_Quantity').fadeOut();
                }, 5000);
                Err++;
            }
            var LeadProoductStatus = $('#LeadProoductStatus').val();
            if (LeadProoductStatus == "" || LeadProoductStatus == null) {
                $("#Err_ProoductStatus").show();
                setTimeout(function () {
                    $('#Err_ProoductStatus').fadeOut();
                }, 5000);
                Err++;
            }
            if (Err == 0) {
                var LeadId = $('#LeadId').val();
                var LeadItemId = parseFloat($('#LeadItemId').val() || 0);
                var model = { 'LeadId': LeadId, 'LeadItemId': LeadItemId, 'LeadProoductStatus': LeadProoductStatus, 'Quantity': Quantity, 'Rate': Rate, 'ProductName': ProductName }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LeadItemList", "Lead")',
                    data: { 'model': model },
                    dataType: "html",
                    success: function (result) {
                        $("#LeadItemList").html(result);
                        $("#ProductName").val(null);
                        $('#Quantity').val(null);
                        $('#Rate').val(null);
                        $('#LeadItemId').val(null);
                        $('#LeadProoductStatus').val(null);
                    },
                });
            }
        });

        $("#ContactId").change(function () {
            var ContactId = parseInt($("#ContactId option:selected").val());
            if (ContactId > 0) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("GetContact", "Lead")?ContactId=' + ContactId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#FirstName").val(data.FirstName);
                        $('#LastName').val(data.LastName);
                        $('#Email').val(data.Email);   
                        $("#PhoneNo").val(data.Phone);
                        $('#MobileNo').val(data.Mobile);
                        $('#Country').val(data.Country);
                        $("#listBox option").filter(function () {
                            if ($(this).val() == data.State) {
                                return true;
                            }
                        }).prop('selected', true);
                        $("#secondlist option").filter(function () {
                            if ($(this).val() == data.City) {
                                return true;
                            }
                        }).prop('selected', true);
                        
                    },
                });
            }
            else
            {
                $("#FirstName").val(null);
                $('#LastName').val(null);
                $('#Email').val(null);
                $("#PhoneNo").val(null);
                $('#MobileNo').val(null);
                $('#Country').val(null);
            }
        });



        $("#btnSubmit").click(function () {
            var errCount = 0;
            var POB2 = $("#listBox").val();
            document.getElementById('state').value = POB2;

            var POB1 = $("#secondlist").val();
            document.getElementById('City').value = POB1;

            if ($("#ddlProductInterest").val() == "-1") {
                $("#ErrProductInterest").show();
                errCount++;
            }
            else {
                $("#ErrProductInterest").hide();
            }

            if ($("#ddlLeadSource").val() == "-1") {
                $("#ErrLeadSource").show();
                errCount++;
            }
            else {
                $("#ErrLeadSource").hide();
            }

            if ($("#ddlLeadStatus").val() == "-1") {
                $("#ErrLeadStatus").show();
                errCount++;
            }
            else {
                $("#ErrLeadStatus").hide();
            }

            var city = $("#City").val();
            var state = $("#state").val();

            if (state == "SELECT STATE") {
                $("#Errstate").show();
                setTimeout(function () {
                    $('#Errstate').fadeOut();
                }, 5000);
                errCount++;
            }
            else {
                $("#Errstate").hide();
            }

            if (city == "") {
                $("#ErrCity").show();
                setTimeout(function () {
                    $('#ErrCity').fadeOut();
                }, 5000);
                errCount++;
            }
            else {
                $("#ErrCity").hide();
            }

            if (errCount == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });

    function EditLeadItem(LeadItemId, LeadId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("EditLead", "Lead")?LeadItemId=' + LeadItemId + '&LeadId=' + LeadId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#ProductName").val(data.ProductName);
                $('#Quantity').val(data.Quantity);
                $('#Rate').val(data.Rate);
                $("#LeadItemId").val(data.LeadItemId);
                $('#LeadProoductStatus').val(data.LeadProoductStatus);
            },
        });
    }

    function RemoveLeadItem(LeadItemId, LeadId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveLead", "Lead")?LeadItemId=' + LeadItemId + '&LeadId=' + LeadId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $("#LeadItemList").html(result);
            },
            error: function (data) {
                alert("Error");
            }
        });
    }
</script>