﻿@model DataLayer.ViewModels.CustomerInformationViewModel
@{
    ViewBag.Title = "CRM - Customer Information";
}

<section class="content-header">
    <h1> Customer Information </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    @if (Model.Contact == null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div>
                        @using (Html.BeginForm("CustomerInformation", "Lead", FormMethod.Post))
                        {
                            <div class="box-header">
                                <div class="col-lg-8">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Search Customer</label> <br />
                                    </div><br />
                                    <div class="col-lg-4">
                                        @Html.DropDownListFor(model => model.ContactId, Model.ContactList, new { @class = "form-control", @min = "1" })
                                        @Html.ValidationMessageFor(m => m.ContactId, "Required", new { @class = "text-danger" })                                        
                                    </div>
                                    <div class="col-lg-2">
                                        <button type="submit" class="btn btn-bitbucket btn-sm">Search</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">User Details</h3>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-12">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Title</label>
                                        @Html.EnumDropDownListFor(model => model.Contact.TitleList, "Select a Title", new { @class = "form-control", @id = "ContactTitle" })
                                    </div>
                                </div>
                                <div class="col-lg-2" id="DivFirstName">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">First Name </label>
                                        @Html.EditorFor(model => model.Contact.FirstName, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2" id="DivMiddleName">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Middle Name </label>
                                        @Html.EditorFor(model => model.Contact.MiddleName, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2" id="DivLastName">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Last Name </label>
                                        @Html.EditorFor(model => model.Contact.LastName, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>

                                <div class="col-lg-2" id="DivCompanyName">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Company Name </label>
                                        @Html.EditorFor(model => model.Contact.CompanyName, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Address1 </label>
                                        @Html.EditorFor(model => model.Contact.AddressLine1, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.Contact.AddressLine1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Address2 </label>
                                        @Html.EditorFor(model => model.Contact.AddressLine2, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.Contact.AddressLine2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="erplabel" for="email">Country</label>
                                        @Html.EditorFor(model => model.Contact.Country, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.Contact.Country, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="erplabel" for="email">State</label>
                                        @Html.EditorFor(model => model.Contact.State, new { htmlAttributes = new { @class = "form-control", } })
                                        @Html.ValidationMessageFor(model => model.Contact.Country, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="erplabel" for="email">City</label>
                                        @Html.EditorFor(model => model.Contact.City, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Mobile</label>
                                        @Html.EditorFor(model => model.Contact.Mobile, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Phone</label>
                                        @Html.EditorFor(model => model.Contact.Phone, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Email ID</label>
                                        @Html.EditorFor(model => model.Contact.Email, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Pan card No. </label>
                                        @Html.EditorFor(model => model.Contact.PanCardNo, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">GST No</label>
                                        @Html.EditorFor(model => model.Contact.GSTNo, new { htmlAttributes = new { @class = "form-control", } })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Social ID</label>
                                        @Html.EditorFor(model => model.Contact.SocialId, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sale Invoice Details</h3>
                        <div class="pull-right">
                            Total Sale : @Model.TotalSaleValue.ToString("0.00")
                        </div>
                    </div>
                    <div class="box-body tablediv">
                        @if (Model.SaleInvoiceList != null && Model.SaleInvoiceList.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Invoice Number</b></th>
                                        <th class="erplabel"><b>Customer</b></th>
                                        <th class="erplabel"><b>Invoicing Date</b></th>                                        
                                        <th class="erplabel"><b>Status</b></th>
                                        <th class="erplabel"><b>Total Invoice Value</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SaleInvoiceList)
                                    {
                                        <tr>
                                            <td>@item.SaleInvoiceNo</td>
                                            <td>@item.Customer.Name</td>
                                            <td>@item.InvoicingDate.ToString("dd'/'MM'/'yyyy")</td>                                            
                                            <td>@item.Status</td>
                                            <td>@item.TotalWithAdjustment.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Sale Invoice</label>
                        }
                    </div>

                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
        </div>

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Purchase Invoice Details</h3>
                        <div class="pull-right">
                            Total Purchase : @Model.TotalPurchaseValue.ToString("0.00")
                        </div>
                    </div>
                    <div class="box-body tablediv">
                        @if (Model.PurchaseInvoiceList != null && Model.PurchaseInvoiceList.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Purchase Invoice No</b></th>
                                        <th class="erplabel"><b>Supplier</b></th>
                                        <th class="erplabel"><b>Invoicing Date</b></th>
                                        <th class="erplabel"><b>Due Date</b></th>
                                        <th class="erplabel"><b>Total Invoice Value</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PurchaseInvoiceList)
                                    {
                                        <tr>
                                            <td>@item.PurchaseInvoiceNo</td>
                                            <td>@item.Account.Name</td>
                                            @if (item.InvoicingDate.HasValue)
                                            {
                                                <td>@item.InvoicingDate.Value.ToString("dd'/'MM'/'yyyy")</td>
                                            }
                                            else
                                            {
                                                <td> - </td>
                                            }
                                            <td>@item.DueDate</td>
                                            <td>@item.TotalInvoiceValue.Value.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Invoice Items</label>
                        }
                    </div>

                </div>
                <!-- /.box -->
                <!-- /.box -->
            </div>
        </div>
    }
</section>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(function () {
            $("#ContactTitle").mousedown(function (e) {
                if ($(this).find('option').length > 0) {
                    e.preventDefault();
                }
            });
        });

        $(function () {
            $("input").keypress(function (e) {
                return false;
            });
        });
    });
</script>