﻿@model DataLayer.ViewModels.LeadViewModel
@{
    ViewBag.Title = "Lead - Index";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<section class="content-header">
    <h1> Lead <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Lead Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Small boxes (Stat box) -->
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>
                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();

                        </script>
                    }
                    <div class="box-header">
                        <a href="@Url.Action("Create","Lead")" class="btn btn-bitbucket btn-sm pull-right">Add Lead</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body tablediv">
                        <div style="overflow-y:scroll; height:450px;">
                            @if (Model.LeadsList != null)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Mobile Number</th>
                                            <th>Status</th>
                                            <th>Annual Revenue</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LeadsList)
                                        {
                                            <tr>
                                                <td>
                                                 <a href="#"> @item.FirstName </a>
                                                </td>
                                                <td>
                                                    @item.MobileNo
                                                </td>
                                                <td>
                                                    @item.LeadStatus
                                                </td>
                                                <td>
                                                    @item.AnnualRevenue
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Create", "Lead")?id=@item.LeadId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Create", "Lead",new { id = @item.LeadId })" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>


