﻿@model DataLayer.Models.PurchaseInvoice
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        var ItemSubTotal = parseFloat($("#ItemSubTotal").val() || 0);
        var NotMappedTotalTax = parseFloat($("#NotMappedTotalTax").val() || 0);
        var txtadjust = parseFloat($("#txtadjust").val() || 0);
        var NotmappedInvoiceValue = ItemSubTotal + NotMappedTotalTax + txtadjust;
        $("#GrossAmount").val(ItemSubTotal);
        $("#TotalTax").val(NotMappedTotalTax);
        $("#NotmappedInvoiceValue").val(NotmappedInvoiceValue);
        
    });
</script>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel1").show();
        $("#ErrLabel1").text("@ViewBag.ErrorMsg");
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel1").hide();
    </script>
}
<label id="ErrLabel1" style="color:red"></label>
@if (Model.ProductVoucherItems != null && Model.ProductVoucherItems.Count > 0)
{
    @Html.HiddenFor(model => model.ItemSubTotal, new { @id = "ItemSubTotal" })
    @Html.HiddenFor(model => model.NotMappedTotalTax, new { @id = "NotMappedTotalTax" })
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Product</th>
                <th class="erplabel">Quantity</th>
                <th class="erplabel">Rate</th>
                <th class="erplabel">GST</th>
                <th class="erplabel">TotalTax</th>
                <th class="erplabel">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductVoucherItems)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Rate</td>
                    <td>@item.GST.Name</td>
                    <td>@item.TotalTax</td>
                    <td>@item.Total</td>
                    <td class="erplabel">
                        <a style="cursor:pointer;" onclick="EditVoucher('@item.ProductVoucherId','@item.PurchaseInvoiceId')">Edit</a>
                        ||
                        <a style="cursor:pointer;" onclick="RemoveVoucher('@item.ProductVoucherId','@item.PurchaseInvoiceId')">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
