﻿@model DataLayer.Models.PurchaseInvoice
@{
    ViewBag.Title = "Purchase Voucher - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        Calculation();
        $("#txtadjust").keyup(function () {
            Calculation();
        });

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });
    })
    function Calculation() {
        var GrossAmount = parseFloat($("#GrossAmount").val() || 0);
        var TotalTax = parseFloat($("#TotalTax").val() || 0);
        var Adjust = parseFloat($("#txtadjust").val() || 0);
        $("#NotmappedInvoiceValue").val(GrossAmount + TotalTax + Adjust);
    }
</script>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<section class="content-header">
    <h1> Purchase Voucher<small>Entry</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
        {
            <script type="text/javascript">
                $("#ErrLabel").text("@ViewBag.ErrorMsg");
                setTimeout(function () {
                    $('#ErrLabel').fadeOut();
                }, 5000);
            </script>
        }
        else
        {
            <script type="text/javascript">
                $("#ErrLabel").hide();
            </script>
        }

        <div class="col-md-12">

            <div class="box box-primary">

                @using (Html.BeginForm("Create", "PurchaseVoucher", FormMethod.Post, new { autocomplete = "off" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.PurchaseInvoiceId, new { @id = "PurchaseInvoiceId" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.IsLedgerUpdate, new { @id = "IsLedgerUpdate" })
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.IsOpeningStock)
                        @Html.HiddenFor(model => model.Type)

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Purchase Voucher No</label>
                                @Html.EditorFor(model => model.PurchaseInvoiceNo, new { htmlAttributes = new { @class = "form-control", @id = "PurchaseInvoiceNo", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.PurchaseInvoiceNo, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Invoicing Date</label>
                                @Html.EditorFor(model => model.InvoicingDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvoicingDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Entry Date</label>
                                @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control", @id = "EntryDate" } })
                                @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Purchase Account</label>
                                @Html.DropDownListFor(model => model.PurchaseAccountId, Model.PurchaseAccountList, new { @class = "form-control", @id = "PurchaseAccountList_Purchase" })
                                @Html.ValidationMessageFor(model => model.PurchaseAccountId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Account</label>
                                @Html.DropDownListFor(model => model.AccountId, Model.AccountList, new { @class = "form-control", @id = "ModelSupplierList", @min = "1" })
                                @Html.ValidationMessageFor(model => model.AccountId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Payment Type</label>
                                @Html.DropDownListFor(model => model.PaymentId, Model.PaymentTypeList, new { @class = "form-control", @min = "1", @id = "PaymentTypeList" })
                                @Html.ValidationMessageFor(model => model.PaymentId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Due Days</label>
                                @Html.EditorFor(model => model.DueDays, new { htmlAttributes = new { @class = "form-control", @id = "DueDays" } })
                                @Html.ValidationMessageFor(model => model.DueDays, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Due Date  </label>
                                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control", @id = "DueDate", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.ShippingId, Model.ShippingTypeList, new { @class = "form-control", @id = "ShippingTypeList" })
                                    <span class="input-group-btn">
                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#ShippingTypeModel">+</i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.ShippingId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Tracking No.</label>
                                @Html.EditorFor(model => model.ShippingTrackingNumber, new { htmlAttributes = new { @class = "form-control", @id = "ShippingTrackingNumber" } })
                                @Html.ValidationMessageFor(model => model.ShippingTrackingNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                @Html.ValidationMessageFor(model => model.LocationId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Purchase Type</label>
                                @Html.DropDownListFor(model => model.PurchaseTypeId, Model.PurchaseTypeList, new { @class = "form-control", @id = "PurchaseAccountList", @min = "1" })
                                @Html.ValidationMessageFor(model => model.PurchaseTypeId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Gross Amount</label>
                                @Html.TextBoxFor(model => model.GrossAmount, new { @readonly = "readonly", @class = "form-control", @id = "GrossAmount" })
                                @Html.ValidationMessageFor(model => model.GrossAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                @Html.TextBoxFor(model => model.TotalTax, new { @readonly = "readonly", @class = "form-control", @id = "TotalTax" })
                                @Html.ValidationMessageFor(model => model.TotalTax, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                @Html.TextBoxFor(model => model.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                @Html.ValidationMessageFor(model => model.Adjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                @Html.TextBoxFor(model => model.TotalInvoiceValue, new { @readonly = "readonly", @class = "form-control", @id = "NotmappedInvoiceValue" })
                                @Html.ValidationMessageFor(model => model.TotalInvoiceValue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pull-right">
                                <a href="@Url.Action("Create", "PurchaseVoucher" )" class="btn btn-default btn-sm">New Voucher</a>
                                @if (Model.IsLedgerUpdate == false)
                                {
                                    <input type="button" name="btn" value="Create Ledger" data-toggle="modal" data-target="#CustomerModel" class="btn btn-bitbucket btn-sm" />
                                }
                                <input type="submit" name="btn" value="Save" class="btn btn-bitbucket btn-sm" />
                                <input type="submit" name="btn" value="Email" class="btn btn-dropbox btn-sm" />
                                <input type="submit" name="btn" value="SMS" class="btn btn-primary btn-sm" />
                            </div>
                        </div>
                    </div>

                }

            </div>
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                <div class="box-header">
                    @Html.HiddenFor(m => m.ProductVoucher.ProductVoucherId, new { @id = "ProductVoucherId" })
                    @Html.HiddenFor(m => m.ProductVoucher.CGST, new { @id = "CGST" })
                    @Html.HiddenFor(m => m.ProductVoucher.SGST, new { @id = "SGST" })
                    @Html.HiddenFor(m => m.ProductVoucher.IGST, new { @id = "IGST" })
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">Product Name</label>
                            @Html.TextBoxFor(m => m.ProductVoucher.ProductName, new { @class = "form-control", @id = "ProductName" })
                            <label id="ErrProductName" style="color:red" class="erplabel">Required</label>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Quantity</label>
                            @Html.TextBoxFor(m => m.ProductVoucher.Quantity, new { @class = "form-control", @id = "Quantity" })
                            <label id="ErrQuantity" style="color:red" class="erplabel">Required</label>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Rate</label>
                            @Html.TextBoxFor(m => m.ProductVoucher.Rate, new { @class = "form-control", @id = "Rate" })
                            <label id="ErrRate" style="color:red" class="erplabel">Required</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="erplabel">GST</label>
                            @Html.DropDownListFor(model => model.ProductVoucher.GSTId, Model.ProductVoucher.GSTMasterList, new { @class = "form-control", @id = "GSTId" })
                            <label id="ErrGST" style="color:red" class="erplabel">Required</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Total Tax</label>
                            @Html.TextBoxFor(m => m.ProductVoucher.TotalTax, new { @class = "form-control", @readonly = "readonly", @id = "ProductTax" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Total</label>
                            @Html.TextBoxFor(m => m.ProductVoucher.Total, new { @class = "form-control", @readonly = "readonly", @id = "ProductTotal" })
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin: 18px 0 0 0;">
                        <button id="AddProduct" class="btn btn-info btn-sm">Add</button>
                    </div>
                </div>
                <div class="box-body" id="ProductVoucherList">
                    @Html.Partial("_AddProductVoucher")
                </div>
            </div>
            <!-- /.box -->
            <!-- /.box -->

        </div>
    </div>

    <!--end main body-->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrProductName").hide();
        $("#ErrQuantity").hide();
        $("#ErrRate").hide();
        $("#ErrGST").hide();
        $("#Rate").val(null);
        $('#Quantity').val(null);
        var IsLedgerUpdate = $("#IsLedgerUpdate").val();
        if (IsLedgerUpdate == "True") {
            $(function () {
                $("#PurchaseAccountList_Purchase,#ModelSupplierList,#PaymentTypeList,#PurchaseAccountList").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });
        }

        $("#btnnewInoice").click(function () {
            location.href = '@Url.Action("Create", "PurchaseInvoice")';
        })

        $("#PurchaseOrder").change(function () {
            var serviceURL = '@Url.Action("GetPurchaseOrder", "PurchaseInvoice")';
            var PurchaseOrder = parseInt($("#PurchaseOrder option:selected").val());
            if (PurchaseOrder > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': PurchaseOrder },
                    dataType: "json",
                    success: function successFunc(data) {
                        document.getElementById('DivisionId').value = data.DivisionId;
                        document.getElementById('BranchId').value = data.BranchId;
                        document.getElementById('ModelLocationList').value = data.LocationId;
                        document.getElementById('PurchaseAccountList').value = data.PurchaseTypeID;
                        document.getElementById('ModelSupplierList').value = data.AccountID;
                        document.getElementById('PurchaseAccountList_Purchase').value = data.PurchaseAccountId;

                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                $("#Supplier").prop("disabled", false);
                $("#DivisionId").prop("disabled", false);
                $("#BranchId").prop("disabled", false);
                $("#ModelLocationList").prop("disabled", false);
            }
        });

        $("#ShippingTrackingNumber,#DueDays").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#DueDays").keyup(function (e) {
            var serviceURL = '@Url.Action("DueDays", "PurchaseInvoice")';
            var DueDays = $("#DueDays").val();
            var EntryDate = $("#EntryDate").val();
            if (DueDays > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'DueDays': DueDays, 'EntryDate': EntryDate },
                    dataType: "json",
                    success: function successFunc(data) {
                        var value = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                        var NewDate = (value.getMonth() + 1) + '/' + value.getDate() + '/' + value.getFullYear();
                        document.getElementById("DueDate").value = NewDate;
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                $("#DueDate").val(null);
            }
        });


        $("#AddProduct").click(function () {
            var Err = 0;
            var GSTId = $("#GSTId option:selected").val();
            if (GSTId == -1) {
                $("#ErrGST").show();
                setTimeout(function () {
                    $('#ErrGST').fadeOut();
                }, 2000);
                Err++;
            }
            var Rate = parseFloat($("#Rate").val() || 0);
            if (Rate == "" || Rate == null) {
                $("#ErrRate").show();
                setTimeout(function () {
                    $('#ErrRate').fadeOut();
                }, 2000);
                Err++;
            }
            var Quantity = parseFloat($("#Quantity").val() || 0);
            if (Quantity == "" || Quantity == null) {
                $("#ErrQuantity").show();
                setTimeout(function () {
                    $('#ErrQuantity').fadeOut();
                }, 2000);
                Err++;
            }
            var ProductName = $('#ProductName').val();
            if (ProductName == "" || ProductName == null) {
                $("#ErrProductName").show();
                setTimeout(function () {
                    $('#ErrProductName').fadeOut();
                }, 2000);
                Err++;
            }

            if (Err == 0) {

                var ProductVoucherId = parseInt($("#ProductVoucherId").val() || 0);
                var PurchaseInvoiceId = parseInt($("#PurchaseInvoiceId").val() || 0);
                var TotalTax = parseFloat($('#ProductTax').val());
                var Total = parseFloat($('#ProductTotal').val());
                var IGST = parseFloat($('#IGST').val());
                var SGST = parseFloat($('#SGST').val());
                var CGST = parseFloat($('#CGST').val());
                var model = { 'ProductVoucherId': ProductVoucherId, 'PurchaseInvoiceId': PurchaseInvoiceId, 'Quantity': Quantity, 'Rate': Rate, 'Total': Total, 'GSTId': GSTId, 'TotalTax': TotalTax, 'ProductName': ProductName, 'IGST': IGST, 'SGST': SGST, 'CGST': CGST, }
                    $.ajax({
                    type: "Post",
                        url: '@Url.Action("_AddProductVoucher", "PurchaseVoucher")',
                        data: { 'model': model },
                        dataType: "html",
                        success: function (result) {
                            $("#ProductVoucherList").html(result);
                            $("#Rate").val(null);
                            $('#Quantity').val(null);
                            $('#ProductVoucherId').val(null);
                            $('#ProductName').val(null);
                            $("#ProductTotal").val(null);
                            $("#ProductTax").val(null);
                            $('#IGST').val(null);
                            $("#SGST").val(null);
                            $("#CGST").val(null);
                            $("#GSTId").val(-1);
                    },
                    });
                }
        });

        $("#GSTId").change(function () {
            GetTax();
        });

        $("#Quantity,#Rate").keyup(function () {
            GetTax();
        });

        $("#Quantity,#Rate").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });


        function GetTax() {
            var GST = parseInt($("#GSTId option:selected").val());
            if (GST > 0) {
                var serviceURL = '@Url.Action("GetGST", "PurchaseInvoice")';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': GST },
                    dataType: "json",
                    success: function successFunc(data) {
                        var Rate = parseFloat($("#Rate").val() || 0);
                        var Quantity = parseFloat($("#Quantity").val() || 0);
                        var ProductTax = parseFloat(((data.CGST + data.SGST + data.IGST) / 100) * (Rate * Quantity) || 0);
                        var CGST = parseFloat((data.CGST / 100) * (Rate * Quantity) || 0);
                        var SGST = parseFloat((data.SGST / 100) * (Rate * Quantity) || 0);
                        var IGST = parseFloat((data.IGST / 100) * (Rate * Quantity) || 0);
                        $('#IGST').val(IGST);
                        $("#SGST").val(SGST);
                        $("#CGST").val(CGST);
                        $('#ProductTax').val(ProductTax);
                        $('#ProductTotal').val(ProductTax + (Rate * Quantity));
                    },
                });
            }
            else {
                var Rate = parseFloat($("#Rate").val() || 0);
                var Quantity = parseFloat($("#Quantity").val() || 0);
                $('#ProductTax').val(0);
                $('#IGST').val(0);
                $("#SGST").val(0);
                $("#CGST").val(0);
                $('#ProductTotal').val(Rate * Quantity);
            }
        }
    });
    function EditVoucher(ProductVoucherId, PurchaseInvoiceId) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("EditProductVoucher", "PurchaseVoucher")?ProductVoucherId=' + ProductVoucherId + '&PurchaseInvoiceId=' + PurchaseInvoiceId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#Rate").val(data.Rate);
                    $('#Quantity').val(data.Quantity);
                    $('#ProductVoucherId').val(data.ProductVoucherId);
                    $('#ProductName').val(data.ProductName);
                    $("#ProductTotal").val(data.Total);
                    $("#ProductTax").val(data.TotalTax);
                    $('#IGST').val(data.IGST);
                    $("#SGST").val(data.SGST);
                    $("#CGST").val(data.CGST);
                    $("#GSTId").val(data.GSTId);
                },
            });
        }

        function RemoveVoucher(ProductVoucherId, PurchaseInvoiceId) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("RemoveProductVoucher", "PurchaseVoucher")?ProductVoucherId=' + ProductVoucherId + '&PurchaseInvoiceId=' + PurchaseInvoiceId,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#ProductVoucherList").html(result);
                },
                error: function (data) {
                    alert("Error");
                }
            });
        }
</script>



