﻿@model DataLayer.Models.SMSConfig

<section class="content-header">
    <h1> SMS <small>panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">SMS</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-body">
                        @using (Html.BeginForm("Create", "SMSConfig", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="right_col" role="main">
                                    <div class="page-title">
                                        <div class="title_left col-md-2">
                                            <h3>SMS Manager</h3>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel panel-group">
                                                <div class="x_content panel-body">

                                                    <table id="datatable" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Name)
                                                                </th>

                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.AuthKey)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Route)
                                                                </th>

                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.SendSMSUri)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.IsDefault)
                                                                </th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @foreach (var item in (IEnumerable<DataLayer.Models.SMSConfig>)ViewData["users"])
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Name)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.AuthKey)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Route)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.SendSMSUri)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.IsDefault)
                                                                    </td>
                                                                    <td>
                                                                        <a class="fa fa-pencil fa-2x" href="@Url.Action("Create", "SMSConfig", new { id = item.SmsConfigId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                                        <a class="fa fa-trash-o fa-2x" href="@Url.Action("Delete", "SMSConfig", new { id = item.SmsConfigId })" onclick="return confirm('Are you sure you want to delete this SMS Configuration?');" title="Delete"></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel panel-group">
                                                <div id="_create">
                                                    <div class="col-lg-12">
                                                        <h3>
                                                            @((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "Edit" : "Create")  SMS
                                                            <span class="pull-right">
                                                                <button type="submit" name="Save" value="Save" class="btn btn-primary align-right"><i class="fa fa-floppy-o "></i> &nbsp;Save</button>
                                                            </span>
                                                        </h3>

                                                    </div>


                                                    <div class="x_content panel-body">

                                                        <hr />
                                                        <form class="form-horizontal form-label-left">
                                                            @if (ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0)
                                                            {
                                                                @Html.HiddenFor(model => model.SmsConfigId)
                                                            }

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>

                                                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { id = "txtEmailId", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.Route, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.Route, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Route, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.AuthKey, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.AuthKey, new { htmlAttributes = new { id = "txtHost", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.AuthKey, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.SenderId, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.SenderId, new { htmlAttributes = new { id = "txtHost", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.SenderId, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.SendSMSUri, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.SendSMSUri, new { htmlAttributes = new { id = "txtHost", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.SendSMSUri, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.IsDefault, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.CheckBoxFor(model => model.IsDefault, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                            <br />

                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>