﻿@model DataLayer.Models.SaleInvoice
@{
    ViewBag.Title = "Sale Report - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-body">
                        @if (Model.SaleInvoiceItemList != null)
                        {
                            @Html.HiddenFor(model => model.TotalNotMapped, new { @id = "TotalNotMapped" })
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Product Number</b></th>
                                        <th class="erplabel"><b>Quantity</b></th>
                                        <th class="erplabel"><b>MRP</b></th>
                                        <th class="erplabel"><b>Tax</b></th>
                                        <th class="erplabel"><b>Discount</b></th>
                                        <th class="erplabel"><b>Subtotal</b></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SaleInvoiceItemList.Where(x => x.Status == DataLayer.Constants.SALE_ITEM_SOLD))
                                    {
                                        <tr>
                                            <td>@item.Product.SerialNumber</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.MRP</td>
                                            <td>@item.ApplicableTaxValue</td>
                                            <td>@item.Discount</td>
                                            <td>@(item.BasicPrice)</td>
                                        </tr>
                                    }
                                    @foreach (var item in Model.SaleInvoiceItemList.Where(x => x.Status == DataLayer.Constants.SALE_ITEM_RETURN))
                                    {
                                        <tr>
                                            <td>@item.Product.SerialNumber</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.MRP</td>
                                            <td>- @item.ApplicableTaxValue</td>
                                            <td>@item.Discount</td>
                                            <td>- @(item.BasicPrice)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-body" style="height:380px;">
                        <table class="table">
                            <tr><th>Invoice Number:</th><td>@Model.SaleInvoiceNo</td></tr>
                            <tr><th>Invoicing Date :</th><td>@Model.InvoicingDate.ToString("dd'/'MM'/'yyyy") @Model.Time</td></tr>
                            <tr><th>Subtotal :</th><td>@Model.Subtotal</td></tr>
                            <tr><th>Total Discount :</th><td>@Model.TotalDiscount</td></tr>
                            <tr><th>Total Tax: </th><td>@Model.TotalTax</td></tr>
                            <tr><th>Total : </th><td>@Model.TotalWithAdjustment.ToString("0.00")</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>

