﻿@model DataLayer.ViewModels.TradingReportViewModel
@{
    ViewBag.Title = "_ItemList";
}

<div class="box box-primary">
    <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
        <div style="width:100%;margin:0 auto;border: 1px solid #000;">
            <center>
                <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                    <b>@Model.Company.Name</b>
                </p>
                <p style="margin: 0 0 0px;">
                    @Model.Branch.BranchName
                </p>
            </center>
            <center>
                @Model.Company.Address
                @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                    Trading A/C Report
                    @if (Model.StartingDate != null)
                    { <span> From @Model.StartingDate.Value.ToString("dd'/'MM'/'yyyy") </span>}
                    @if (Model.LastDate != null)
                    { <span> To @Model.LastDate.Value.ToString("dd'/'MM'/'yyyy") </span>}

                </div>

            </center>

            @if (Model.TradingReportItemList != null && Model.TradingReportItemList.Count > 0)
            {
                <table class="table table-bordered" style="border-collapse:collapse">
                    <thead>
                        <tr>
                            <th class="erplabel" style="border: 1px solid #000;">Invoicing Date</th>
                            <th class="erplabel" style="border: 1px solid #000;">Invoice Number</th>
                            <th class="erplabel" style="border: 1px solid #000;">Total Sale Amount</th>
                            <th class="erplabel" style="border: 1px solid #000;">Total Purchase Amount</th>
                            <th class="erplabel" style="border: 1px solid #000;">Gross Profit/Loss</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TradingReportItemList)
                        {
                            <tr>
                                <td style="border: 1px solid #000;">@item.SaleInvoice.InvoicingDate.ToString("dd'/'MM'/'yyyy")</td>
                                <td style="border: 1px solid #000;">
                                    @if (item.SaleInvoice.Type == DataLayer.Constants.SALE_TYPE_SALE_INVOICE)
                                    {
                                        <a href="@Url.Action("Create","SaleInvoice")?id=@item.SaleInvoice.SaleInvoiceId" style="text-decoration: none;">
                                            @item.SaleInvoice.SaleInvoiceNo
                                        </a>
                                    }
                                    else if (item.SaleInvoice.Type == DataLayer.Constants.SALE_TYPE_SALE_VOUCHER)
                                    {
                                        <a href="@Url.Action("Create","SaleVoucher")?id=@item.SaleInvoice.SaleInvoiceId" style="text-decoration: none;">
                                            @item.SaleInvoice.SaleInvoiceNo
                                        </a>
                                    }
                                    else if (item.SaleInvoice.Type == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                    {
                                        <a href="@Url.Action("Exchange","SalesExchange")?id=@item.SaleInvoice.SaleInvoiceId" style="text-decoration: none;">
                                            @item.SaleInvoice.SaleInvoiceNo
                                        </a>
                                    }
                                </td>
                                <td style="border: 1px solid #000;">@item.SalesAmmount.ToString("0.00")</td>
                                <td style="border: 1px solid #000;">@item.PurchaseAmmount.ToString("0.00")</td>
                                <td style="border: 1px solid #000;">
                                    @item.ProfiteLoss.ToString("0.00")
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="border: 1px solid #000;"></td>
                            <td style="border: 1px solid #000;"><b>Total :</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.TotalSalesAmmount.ToString("0.00")</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.TotalPurchaseAmmount.ToString("0.00")</b></td>
                            <td style="border: 1px solid #000;"><b>@Model.TotalProfiteLoss.ToString("0.00") </b></td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                <label>No Invoice Items</label>
            }

            <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                <span> * This is a Computer Generated Document hence no Signature is Required</span>

            </div><br>

        </div>


    </div>
</div>
