﻿@model DataLayer.ViewModels.BranchViewModel
@{
    ViewBag.Title = "Branch - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#hiddenBranchId").val() != 0) {
            $("#Button").text("Update");
        }
        else {
            $("#Button").text("Save");
        }
    });

</script>

<section class="content-header">
    <h1> Branch Master <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Branch Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:230px">
                <div class="box-header with-border">
                    <h3 class="box-title">Branch Master Details</h3>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text(@ViewBag.ErrorMsg);
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "Branch", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.Branch.BranchId, new { @id = "hiddenBranchId" })
                        @Html.HiddenFor(model => model.Branch.CompanyId)
                        @Html.HiddenFor(model => model.Branch.CreatedBy)
                        @Html.HiddenFor(model => model.Branch.CreatedDate)

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Division</label>
                            @Html.DropDownListFor(model => model.Branch.DivisionId, Model.Branch.DivisionList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Branch.DivisionId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Branch Name</label>
                            @Html.EditorFor(model => model.Branch.BranchName, new { htmlAttributes = new { @class = "form-control", @id = "txtBrandName" } })
                            <label class="text-danger" id="err_BrandName" style="color:#a94442;font-weight: normal;"></label>
                            @Html.ValidationMessageFor(model => model.Branch.BranchName, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-bitbucket btn-sm pull-right" id="Button">Save</button>

                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.BranchList != null && Model.BranchList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BranchList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BranchName)
                                                </td>

                                                <td>
                                                    @*<a href="@Url.Action("Delete","Brand", new { id = item.BrandId })" onclick="return confirm('Are you sure you want to delete this Brand?');" title="Delete"></a>*@
                                                    <a href="@Url.Action("Index", "Branch")?id=@item.BranchId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "Branch",new { id = @item.BranchId })" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
