﻿@model DataLayer.ViewModels.GSTViewModel
@{
    ViewBag.Title = "GST - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ERR_GST").hide();
        if ($("#hiddenGSTId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

       
        $("#txtSGST").bind('focusout', function () {
            if($("#txtSGST").text=="")
            {
                $("#txtSGST").text("s");
            }
        });

        $("#txtSGST").on('focusout', 'input', function () {
            alert("Lost Focus");
        });

        $("#txtGSTNameName").keyup(function () {
            var Name = $('#txtGSTNameName').val();
            var serviceURL = '@Url.Action("ExistingGST", "GST")?Name=' + Name;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#ERR_GST").show();
                    $("#btnSubmit").prop("disabled", true);
                }
                else {
                    $("#btnSubmit").prop("disabled", false);
                    $("#ERR_GST").hide();
                }
            }
        });
    });
</script>

<section class="content-header">
    <h1> GST  <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">GST Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:400px">
               
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                    </script>


                }
                else
                {
                    <script type="text/javascript">
                            $("#ErrLabel").hide();

                    </script>
                }
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "GST", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.GST.GSTId,new { @id= "hiddenGSTId" })
                        @Html.HiddenFor(model => model.GST.CreatedBy)
                        @Html.HiddenFor(model => model.GST.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Name</label>
                            @Html.EditorFor(model => model.GST.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtGSTNameName", @style="max-width:100%;" } })
                            <label class="text-danger" id="ERR_GST" style="color:#a94442;font-weight: normal;">GST Name Already Exist</label>
                            @Html.ValidationMessageFor(model => model.GST.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">SGST</label>
                            @Html.EditorFor(model => model.GST.SGST, new { htmlAttributes = new { @class = "form-control", @id = "txtSGST", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.GST.SGST, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">CGST</label>
                            @Html.EditorFor(model => model.GST.CGST, new { htmlAttributes = new { @class = "form-control", @id = "txtCGST", @style = "max-width:100%;"} })
                            @Html.ValidationMessageFor(model => model.GST.CGST, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">IGST</label>
                            @Html.EditorFor(model => model.GST.IGST, new { htmlAttributes = new { @class = "form-control", @id = "txtIGST", @style = "max-width:100%;"} })
                            @Html.ValidationMessageFor(model => model.GST.IGST, "", new { @class = "text-danger" })
                     
                       <br />
                            <button type="submit" class="btn btn-bitbucket btn-block btn-sm" id="btnSubmit"><i class="fa fa-save"></i> Save</button>

                         </div>
                        
                        <div class="clearfix"></div>
                      
                           
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;" class="tablediv">
                            @if (Model.GSTvalueList != null && Model.GSTvalueList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>SGST</th>
                                            <th>CGST</th>
                                            <th>IGST</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.GSTvalueList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SGST)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CGST)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IGST)
                                                </td>
                                                <td>
                                                    @*<a class="fa fa-pencil fa-2x" href="@Url.Action("Index", "GST", new { id = item.GSTId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                    <a class="fa fa-trash-o fa-2x" href="@Url.Action("Delete","GST", new { id = item.GSTId })" onclick="return confirm('Are you sure you want to delete this GST ?');" title="Delete"></a>*@
                                                    <a href="@Url.Action("Index", "GST")?id=@item.GSTId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "GST",new { id = @item.GSTId })" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>