.erplabel {
    margin-bottom: 0px !important;
    font-weight: 500 !important;
    font-size: 90% !important;
}

.form-group {
    margin-bottom: 5px !important;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.tablediv {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    display: block;
}

.nopadding {
    padding: 0px;
}

.paddingright {
    padding-right: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


@media print {

    .printadjust {
        width: 20%;
        background-color: #ffffff;
    }
}

.ListItem {
    position: relative;
    display: block;
    /* padding: 10px 15px; */
    margin-bottom: -1px;
    background-color: #fff;
    /* border: 1px solid #ddd;*/
}


.form-control-dropdown {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.form-control-textbox {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}