﻿@model DataLayer.Models.PurchaseInvoiceItem
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel").text("@ViewBag.ErrorMsg");
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel").hide();
    </script>
}

<label id="ErrLabel" style="color:red"></label>
@if (Model.AttributeLinkingList != null && Model.AttributeLinkingList.Count > 0)
{
    <input type="hidden" value="@Model.AttributeLinkingList.Sum(y => y.Quantity)" id="TotalAttributeQuantity" />
    <input type="hidden" value="@Model.AttributeLinkingList.Count" id="TotalAttributeCount" />
        <table class="table table-striped">
            <thead>
                <tr>
                    @for (int i = 0; i < Model.AttributeLinkingList.Count;)
                    {
                        foreach (var item in Model.AttributeLinkingList[i].NameList)
                        {
                            <th class="erplabel" width="30">
                                <b>
                                    @item
                                </b>
                            </th>
                        }
                        break;
                    }
                    <th class="erplabel" width="30">Quantity</th>
                    <th class="erplabel" width="30"></th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.AttributeLinkingList.Count; i++)
                {
                    <tr>
                        @foreach (var item in Model.AttributeLinkingList[i].ValuesList)
                        {
                            <td class="erplabel" width="30">
                                @item
                            </td>
                        }
                        <td class="erplabel" width="30">@Model.AttributeLinkingList[i].Quantity</td>
                        <td class="erplabel" width="30">
                            <a style="cursor:pointer;" onclick="Edit('@Model.AttributeLinkingList[i].AttributeLinkingId','@Model.AttributeLinkingList[i].PurchaseInvoiceItemId')">Edit</a>
                            ||
                            <a style="cursor:pointer;" onclick="RemoveAttribute('@Model.AttributeLinkingList[i].AttributeLinkingId','@Model.AttributeLinkingList[i].PurchaseInvoiceItemId')">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}
else
{
    <input type="hidden" value="0" id="TotalAttributeQuantity" />
    <input type="hidden" value="0" id="TotalAttributeCount" />
}


