﻿@model IEnumerable<DataLayer.ViewModels.BarcodeViewModel>
@{
    ViewBag.Title = "Print Barcode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item('PrintThis').innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
        //window.print();
    });
</script>

<style type="text/css">
    @@page {
        size: A4;
        margin: 0;
    }

    @@media print {
        aside#sidebar, header[role="banner"], footer, #comments, #respond {
            display: none;
        }

        /*html, body {
          width: 210mm;
          height: 297mm;
        }*/



        /*#PrintThis {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  margin-left: 4px;
                  margin-right: 4px;
                  margin-top: 5px;
                  margin-bottom: 5px;
              }

              .print {
                  position: relative;
                  width: 18%;
                  height: 25%;
                  /*font-size: 10px;
                  float: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                  margin-right: 6px;
                  margin-left: 4px;
                  padding-left: 6px;
              }*/

        #PrintThis {
            position: relative;
            width: 100%;
            height: 100%;
            margin-left: 12px;
            margin-right: 12px;
            margin-top: 29px;
            margin-bottom: 10px;
        }

        /*.print {
                  position: relative;
                  width: 18.6%;
                  height: 25%;
                  float: left;
                  margin-top: 30px;
                  margin-bottom: 30px;
                  margin-right: 15px;
                  margin-left: 18px !important;
                  padding-left: 5px;

              }*/

        .print {
            position: relative;
            width: 18.6%;
            height: 25%;
            float: left;
            margin-top: 29px;
            margin-bottom: 20px;
            margin-right: 15px;
            margin-left: 18px !important;
            /*padding-left: 5px;*/
        }
    }

    .paddingadjust {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<style type="text/css">
    @@page {
        size: A4;
        margin: 0;
    }

    @@media print {
        aside#sidebar, header[role="banner"], footer, #comments, #respond {
            display: none;
        }

        /*html, body {
      width: 210mm;
      height: 297mm;
    }*/



        /*#PrintThis {
              position: relative;
              width: 100%;
              height: 100%;
              margin-left: 4px;
              margin-right: 4px;
              margin-top: 5px;
              margin-bottom: 5px;
          }

          .print {
              position: relative;
              width: 18%;
              height: 25%;
              /*font-size: 10px;
              float: left;
              margin-top: 10px;
              margin-bottom: 10px;
              margin-right: 6px;
              margin-left: 4px;
              padding-left: 6px;
          }*/

        #PrintThis {
            position: relative;
            width: 100%;
            height: 100%;
            margin-left: 12px !important;
            margin-right: 10px !important;
            margin-top: 15px !important;
            margin-bottom: 20px !important;
        }

        /*.print {
              position: relative;
              width: 18.6%;
              height: 25%;
              float: left;
              margin-top: 30px;
              margin-bottom: 30px;
              margin-right: 15px;
              margin-left: 18px !important;
              padding-left: 5px;

          }*/

        .print {
            position: relative;
            width: 18.6%;
            height: 25%;
            float: left;
            margin-top: 25px !important;
            margin-bottom: 19px;
            margin-right: 18px;
            margin-left: 20px !important;
            /*padding-left: 5px;*/
        }
    }

    .paddingadjust {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>
<!-- left column -->

<div id="div">

    <div id="PrintThis">
        @foreach (var item in Model)
        {
            <div style="width: 160px;font-size: 11px;margin-top: 15px !important;margin-bottom: 25px !important; height: 26%;" class="print">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingadjust">
                    <img src="@item.Barcode" style="height:30px; width:100% !important;" />
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingadjust">
                    <h6 style="margin-bottom:0px; margin-top:0px;"><b> <span style="text-align:right;">@item.SerialNumber</span></b></h6>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingadjust">
                    <h6 style="margin-bottom:0px; margin-top:0px;"><b><span style="text-align:left;">Sku#-@item.SKUMaster.SKU</span></b></h6>
                </div>
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-md-3 paddingadjust" style="position: relative;height:35px;  float: left; width: 100%;">
                    <b><span style="text-align:left;">@item.SKUMaster.Category.Name</span> </b>&nbsp;
                    <b><span style="text-align:right;">@item.SKUMaster.SubCategory.Name</span></b>
                    <div class="clearfix"></div>
                    @if (item.Attribute != null)
                    {

                        foreach (var item1 in item.Attribute.Select((x, i) => new { Data = x, Index = i + 1 }))
                        {
                            if (item1.Index == 1)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingadjust" style="position: relative;height:25px;">
                                    <b style="float:left;">
                                        <span style="font-size:11px;">@item1.Data,</span>
                                    </b>
                                </div>
                            }
                            else if (item1.Index == 2)
                            {
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 paddingadjust" style="position: relative;height:25px;line-height: 12px;">
                                    <b style="float:right;">
                                        <span style="font-size:18px;text-align:right;">@item1.Data</span>
                                    </b>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingadjust" style="position: relative;float:left;">
                    <b class="text-left" style="text-align:left;font-size:14px;">MRP: </b>
                    <i class="fa fa-rupee"></i><b class="text-left" style="text-align:right; font-size: 20px;"> @item.MRP.ToString("0.00")</b>
                    <br />
                    <b style="text-align:left;font-size:15px;">INCL GST @item.SKUMaster.GstforSelling %</b>
                    <div class="clearfix"></div>
                    <b style="font-size:10px;">@item.Company.Name</b>
                    <div class="clearfix"></div>
                    <b style="font-size:10px;">
                        @item.Company.City,
                        @if (item.Company.PINCode.ToString() != "0")
                        {
                            @item.Company.PINCode
                        }
                        ,@item.Company.PhoneNo
                    </b>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>


