﻿@model DataLayer.Models.PurchaseInvoiceItem
@{
    ViewBag.Title = "Purchase Invoice Product - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                @using (Html.BeginForm("DeleteProduct", "PurchaseInvoice", FormMethod.Post))
                {
                    <div class="box">
                        <div class="box-header">
                            <input type="submit" name="btn" value="Delete" class="btn btn-default" />
                            <input type="submit" name="btn" value="Add To Barcode Queue" class="btn btn-default" />
                            <input type="submit" name="btn" value="Print Barcode" class="btn btn-default" />
                            
                        </div>
                        <!-- /.box-header -->

                        <div class="box-body">
                            @if (Model != null)
                            {
                                @Html.HiddenFor(model => model.PurchaseInvoiceId)
                                @Html.HiddenFor(model => model.PurchaseInvoiceItemId)
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.CheckBoxFor(model => model.checkAllProduct, new { @id = "checkall", onclick = "CheckAllEmp(this);" })&nbsp;Select All</th>
                                            <th class="erplabel"><b>Serial Number</b></th>
                                            <th class="erplabel"><b>SKU Product Name</b></th>
                                            <th class="erplabel"><b>Purchase Net Price</b></th>
                                            <th class="erplabel"><b>MRP</b></th>
                                            <th class="erplabel"><b>Quantity</b></th>
                                            <th class="erplabel"><b>Action</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.ProductList.Count(); i++)
                                        {
                                            <tr>

                                                @if (Model.ProductList[i].IsSold == false)
                                                {
                                                    <td> @Html.CheckBoxFor(model => model.ProductList[i].checkProduct, new { @id = "checkboxes", onclick = "check()" }) </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @Html.CheckBoxFor(model => model.ProductList[i].checkProduct, new { @id = "checkboxes", onclick = "check()", @disabled = "disabled" })
     
                                                    </td>

                                                }

                                                <td>
                                                    @Html.HiddenFor(model => model.ProductList[i].ProductId)
                                                    @Html.DisplayFor(model => model.ProductList[i].SerialNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.ProductList[i].SKUMaster.SKU)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.ProductList[i].NetAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.ProductList[i].MRP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.ProductList[i].Quantity)
                                                </td>

                                                @if (Model.ProductList[i].IsSold == false)
                                                {
                                                    <td>
                                                        <a href="@Url.Action("EditProduct", "PurchaseInvoice")?id=@Model.ProductList[i].ProductId">
                                                            Edit
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <b style="color:red;">Product Sold</b>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                        <!-- /.box-body -->
                    </div>
                <!-- /.box -->
                }
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function CheckAllEmp(Checkbox) {
        var table = document.getElementById("example1");
        for (i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[0].getElementsByTagName("INPUT")[0].checked = Checkbox.checked;
        }
    }
    function check() {
        var table = document.getElementById("example1");
        for (i = 1; i < table.rows.length; i++) {
            var Value = table.rows[i].cells[0].getElementsByTagName("INPUT")[0].checked;
            if (Value == false) {
                $("#checkall").prop("checked", false);
                //  $("#example1").attr('checked', false)
            }
        }
    }
</script>