﻿@model DataLayer.Models.Product
@{
    ViewBag.Title = "Product - Edit";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .ui-autocomplete {
            z-index: 1050;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="height: auto;padding: 0px;">
    @if (DataLayer.Utils.SessionManager.GetSessionUser() == null)
    {
        Response.Redirect("~/Login/Login");
    }
    else
    {
        <div class="wrapper" style="overflow:visible;">
            <header class="main-header">
                <!-- Logo -->
                <a href="@Url.Action("Index", "Home" )" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>E</b>RP</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>E</b>RP</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">

                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("ProductSearch","InventoryReport")">Search Product</a>
                            </li>
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                    <span class="hidden-xs"> @DataLayer.Utils.SessionManager.GetSessionUser().Contact.FirstName </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        @*<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                                        <p>
                                            @DataLayer.Utils.SessionManager.GetSessionUser().Contact.FirstName
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Action("ChangeSessionCompany", "Login")" class="btn btn-default btn-flat">Change Company</a>
                                        </div>
                                        <a href="@Url.Action("ChangePassword", "Login")" class="btn btn-default btn-flat">Change Password</a>
                                        <div class="pull-right">
                                            <a href="@Url.Action("LogOut","Login")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview"> <a href="@Url.Action("Index", "Home" )"> <i class="fa fa-desktop"></i> <span>Dashboard</span> </a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-address-card"></i>
                                <span>Account</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Ledger" )"><i class="fa fa-dot-circle-o"></i> Ledger </a></li>
                                <li><a href="@Url.Action("Index", "GST" )"><i class="fa fa-dot-circle-o"></i> GST Master</a></li>
                                <li><a href="@Url.Action("Index", "Discount" )"><i class="fa fa-dot-circle-o"></i> Discount Master</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-product-hunt"></i>
                                <span>Product</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Catalouge" )"><i class="fa fa-dot-circle-o"></i>Product / Service Category</a></li>
                                <li><a href="@Url.Action("Index", "SKU" )"><i class="fa fa-dot-circle-o"></i> SKU </a></li>
                                <li><a href="@Url.Action("Index", "HSNMaster" )"><i class="fa fa-dot-circle-o"></i> HSN Master</a></li>
                                <li><a href="@Url.Action("Index", "UnitMaster" )"><i class="fa fa-dot-circle-o"></i> Unit </a></li>
                                <li><a href="@Url.Action("Index", "Attribute" )"><i class="fa fa-dot-circle-o"></i> Attributes</a></li>
                                <li><a href="@Url.Action("Index", "Product" )"><i class="fa fa-dot-circle-o"></i> Product </a></li>
                                <li><a href="@Url.Action("Index", "Brand" )"><i class="fa fa-dot-circle-o"></i> Brand </a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Entries</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "PurchaseInvoice")"><i class="fa fa-dot-circle-o"></i> Purchase Invoice</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseVoucher")"><i class="fa fa-dot-circle-o"></i> Purchase Voucher</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseReturn")"><i class="fa fa-dot-circle-o"></i> Purchase Return</a></li>
                                <li><a href="@Url.Action("Index", "SaleInvoice")"><i class="fa fa-dot-circle-o"></i> Sale Invoice</a></li>
                                <li><a href="@Url.Action("Index", "SaleVoucher")"><i class="fa fa-dot-circle-o"></i> Sale Voucher</a></li>
                                <li><a href="@Url.Action("Index", "SalesExchange")"><i class="fa fa-dot-circle-o"></i> Sales Exchange</a></li>
                                <li><a href="@Url.Action("Index","DeliveryMemo")"><i class="fa fa-dot-circle-o"></i> Delivery Memo</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.PAYMENT_VOUCHER })"><i class="fa fa-dot-circle-o"></i> Payment Note</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.RECEIPT_VOUCHER })"><i class="fa fa-dot-circle-o"></i> Receipt Note</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.JOURNAL_ENTRY })"><i class="fa fa-dot-circle-o"></i> Journal Entry</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.CONTRA_ENTRY })"><i class="fa fa-dot-circle-o"></i> Contra Entry</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Inventory</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Inventory")"><i class="fa fa-plus-square"></i> Opening Stock</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Inventory Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Consolidated Report</a></li>
                                        <li><a href="@Url.Action("CustomeReport", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Custom Report</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","InternalConsumption",new { Type = DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION })"><i class="fa fa-dot-circle-o"></i> Internal consumption</a></li>
                                <li><a href="@Url.Action("Index","InternalConsumption",new { Type = DataLayer.Constants.SALE_TYPE_SHORTAGES })"><i class="fa fa-dot-circle-o"></i> Shortages</a></li>
                                <li><a href="@Url.Action("Index","Excesses",new { Type = DataLayer.Constants.SALE_TYPE_EXCESSES })"><i class="fa fa-dot-circle-o"></i> Excesses</a></li>
                                <li><a href="@Url.Action("Index","InternalTransfer")"><i class="fa fa-dot-circle-o"></i> Internal Transfer</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Production</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Production" )"><i class="fa fa-dot-circle-o"></i> Production</a></li>
                                <li><a href="@Url.Action("Index", "ProductionReport" )"><i class="fa fa-dot-circle-o"></i> Production Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Job Work</a></li>
                                <li><a href="@Url.Action("Index", "Measurment" )"><i class="fa fa-dot-circle-o"></i> Measurement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Order Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "PurchaseOrder" )"><i class="fa fa-dot-circle-o"></i> Purchase Orders</a></li>
                                <li><a href="@Url.Action("Index","SalesOrder")"><i class="fa fa-dot-circle-o"></i> Sales Orders</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="@Url.Action("Index","BudgetingMaster")">
                                <i class="fa fa-files-o"></i> <span>Budgeting Master</span>
                            </a>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>CRM</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Contact")"><i class="fa fa-dot-circle-o"></i> Contact</a></li>
                                <li><a href="@Url.Action("CustomerInformation","Lead")"><i class="fa fa-dot-circle-o"></i> Customer Information</a></li>
                                <li><a href="@Url.Action("Index","Lead")"><i class="fa fa-dot-circle-o"></i> Leads Management</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Loyalty Program</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Customer Communication</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>User</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Role")"><i class="fa fa-dot-circle-o"></i> User Rights</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "StoreMaste" )"><i class="fa fa-dot-circle-o"></i> Store Master</a></li>
                                <li><a href="@Url.Action("Index", "Shipping" )"><i class="fa fa-dot-circle-o"></i> Shipping Master</a></li>
                                <li><a href="@Url.Action("Index", "PaymentType" )"><i class="fa fa-dot-circle-o"></i> Payment Type Master</a></li>
                                <li><a href="@Url.Action("Index", "ServiceType" )"><i class="fa fa-dot-circle-o"></i> Service Type Master</a></li>
                                <li><a href="@Url.Action("Index", "Designation" )"><i class="fa fa-dot-circle-o"></i> Designation Master</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "SaleReport" )"><i class="fa fa-dot-circle-o"></i> Sales Report</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseReport" )"><i class="fa fa-dot-circle-o"></i> Purchase Report</a></li>
                                <li><a href="@Url.Action("Index", "LedgerReport" )"><i class="fa fa-dot-circle-o"></i> Ledger Group Report</a></li>
                                <li><a href="@Url.Action("LedgerIndex", "LedgerReport" )"><i class="fa fa-dot-circle-o"></i> Ledger Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Financial Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> CRM Report</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Company Details</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Company" )"><i class="fa fa-dot-circle-o"></i>Company Details</a></li>
                                <li><a href="@Url.Action("Index", "Division" )"><i class="fa fa-dot-circle-o"></i> Division</a></li>
                                <li><a href="@Url.Action("Index", "Branch" )"><i class="fa fa-dot-circle-o"></i> Branch</a></li>
                                <li><a href="@Url.Action("Index", "Location" )"><i class="fa fa-dot-circle-o"></i> Location</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Email/SMS Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create", "EmailConfigs" )"><i class="fa fa-dot-circle-o"></i>Email Configs</a></li>
                                <li><a href="@Url.Action("Create", "SMSConfig" )"><i class="fa fa-dot-circle-o"></i>SMS Config</a></li>
                                <li><a href="@Url.Action("Create", "SMSQueue" )"><i class="fa fa-dot-circle-o"></i> SMS Queue</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->

                <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
                <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
                <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

                <script type="text/javascript">
                    $(function () {
                        $('.listbox').multiselect({
                            includeSelectAllOption: true
                        });
                    });
                </script>

                <section class="content">
                    <div class="row">
                        @using (Html.BeginForm("EditProduct", "PurchaseInvoice", FormMethod.Post))
                        {
                            @Html.HiddenFor(model => model.ProductId)
                            @Html.HiddenFor(model => model.PurchaseInvoiceItemId)
                            @Html.HiddenFor(model => model.IsSold)
                            @Html.HiddenFor(model => model.Barcode)
                            @Html.HiddenFor(model => model.SellInPartial, new { @id = "SellInPartialId" })
                            @Html.HiddenFor(model => model.AttributeLinkingId)
                            @Html.HiddenFor(model => model.CompanyId)
                            @Html.HiddenFor(model => model.BranchId)
                            @Html.HiddenFor(model => model.DivisionId)
                            @Html.HiddenFor(model => model.ApplicableTax)
                            @Html.HiddenFor(model => model.CreatedBy)
                            @Html.HiddenFor(model => model.CreatedDate)
                            @Html.HiddenFor(model => model.IsOpeningStock)
                            <input type="hidden" id="SGSTPer" />
                            <input type="hidden" id="CGSTPer" />
                            <input type="hidden" id="IGSTPer" />
                            <input type="hidden" id="OtherTaxPer" />
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Serial Number</label>
                                                @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "SerialNumber" } })
                                                @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Product Category</label>
                                                @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, new { @class = "form-control", @id = "ddlCategory" })
                                                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Product Sub-category</label>
                                                @Html.DropDownListFor(model => model.SubCategoryId, Model.SubCategoryList, new { @class = "form-control", @id = "ddlSubCategory" })
                                                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">SKU</label>
                                                <div class="input-group">
                                                    @Html.DropDownListFor(model => model.SKUMasterId, Model.SKUList, new { @class = "form-control", @id = "ModelSKUList" })
                                                    <span class="input-group-btn">
                                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#SKUModel">+</i>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.SKUMasterId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Brand</label>
                                                <div class="input-group">
                                                    @Html.DropDownListFor(model => model.BrandId, Model.BrandList, new { @class = "form-control", @id = "ModelBrandList" })
                                                    <span class="input-group-btn">
                                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#BrandModel">+</i>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Unit</label>
                                                <div class="input-group">
                                                    @Html.DropDownListFor(model => model.UnitId, Model.UnitList, new { @class = "form-control", @id = "ModelUnitList" })
                                                    <span class="input-group-btn">
                                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#UnitModel">+</i>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.UnitId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">HSN Id</label>
                                                <div class="input-group">
                                                    @Html.DropDownListFor(model => model.HSNId, Model.HSNList, new { @class = "form-control", @id = "ModelHSNList" })
                                                    <span class="input-group-btn">
                                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#HSNModel">+</i>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.HSNId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @if (Model.SellInPartial == false)
                                        {
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="erplabel">Quantity</label>
                                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity", @readonly = true } })
                                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1" class="erplabel">Quantity</label>
                                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "Quantity" } })
                                                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        }

                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Base Price</label>
                                                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control", @id = "Rate" } })
                                                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">GST</label>
                                                <div class="input-group">
                                                    @Html.DropDownListFor(model => model.GSTId, Model.GSTList, new { @class = "form-control", @id = "ModelGSTList" })
                                                    <span class="input-group-btn">
                                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#GSTModel">+</i>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.GSTId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">SGST</label>
                                                @Html.EditorFor(model => model.SGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxSGST", @readonly = true } })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">CGST</label>
                                                @Html.EditorFor(model => model.CGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxCGST", @readonly = true } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">IGST</label>
                                                @Html.EditorFor(model => model.IGST, new { htmlAttributes = new { @class = "form-control", @id = "TaxIGST", @readonly = true } })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Purchase Net Price/Unit</label>
                                                @Html.EditorFor(model => model.NetAmount, new { htmlAttributes = new { @class = "form-control", @id = "Net", @readonly = "true" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">WSP (%)</label>
                                                @Html.EditorFor(model => model.WSPPercent, new { htmlAttributes = new { @class = "form-control", @id = "WSPPercent" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">WSP Net Price/Unit</label>
                                                @Html.EditorFor(model => model.WSPAmount, new { htmlAttributes = new { @class = "form-control", @id = "WSPAmount", @readonly = true } })
                                                @Html.ValidationMessageFor(model => model.WSPAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <label for="exampleInputEmail1" class="erplabel">Location</label>
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">MRP</label>
                                                @Html.EditorFor(model => model.MRP, new { htmlAttributes = new { @class = "form-control", @id = "MRP" } })
                                                <label for="exampleInputPassword1" class="erplabel" style="color:#a94442;font-weight: normal;" id="MRPComparision">MRP Should Be Greater Than Rate</label>
                                                @Html.ValidationMessageFor(model => model.MRP, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Sales Discount Code</label>
                                                <div class="input-group">
                                                    @Html.ListBoxFor(m => m.DiscountIds, Model.DiscountCodeList, new { @class = "listbox" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button class="btn btn-bitbucket pull-right" id="ProductSubmit">Save</button>
                                </div>
                            </div>
                        }
                    </div>
                </section>

                <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
                <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
                <script type="text/javascript">
    $(document).ready(function () {
        $('#MRPComparision').hide();
        GetTax();
        SetSKU();
        $("#Rate,#Frieght,#WSPPercent").keyup(function () {
            calculation();
            GetTax();
            compareMRPandRate();
        })

        $("#MRP").keyup(function () {
            compareMRPandRate();
        })

        function compareMRPandRate() {
            if ($('#MRP').val() != null || $('#MRP').val() == "") {
                var MRP = parseFloat($('#MRP').val() || 0);
                var Rate = parseFloat($('#Rate').val() || 0);
                if (MRP > Rate) {
                    $('#MRPComparision').hide();
                    $("#ProductSubmit").prop("disabled", false);
                }
                else {
                    $('#MRPComparision').show();
                    $("#ProductSubmit").prop("disabled", true);
                }
            }
        }


        $("#Rate,#MRP,#Comission,#Quantity,#WSPPercent").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });


        $("#ModelGSTList").change(function () {
            GetTax();
        });

        function GetTax() {
            var GST = parseInt($("#ModelGSTList option:selected").val());
            if (GST > 0) {
                var serviceURL = '@Url.Action("GetGST", "PurchaseInvoice")';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': GST },
                    dataType: "json",
                    success: function successFunc(data) {
                        var Rate = parseFloat($('#Rate').val() || 0);
                        var CGST = parseFloat((data.CGST / 100) * Rate || 0);
                        var SGST = parseFloat((data.SGST / 100) * Rate || 0);
                        var IGST = parseFloat((data.IGST / 100) * Rate || 0);
                        var Other = parseFloat((data.Other / 100) * Rate || 0);
                        $('#TaxSGST').val(SGST.toFixed(4));
                        $('#TaxCGST').val(CGST.toFixed(4));
                        $('#TaxIGST').val(IGST.toFixed(4));
                        //  $('#OtherTaxes').val(Other.toFixed(2));
                        $('#SGSTPer').val(data.SGST);
                        $('#CGSTPer').val(data.CGST);
                        $('#IGSTPer').val(data.IGST);
                        $('#OtherTaxPer').val(data.Other);
                        calculation();
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
        }

        function calculation() {

            var TaxIGST = parseFloat($('#TaxIGST').val() || 0);
            var TaxCGST = parseFloat($('#TaxCGST').val() || 0);
            var TaxSGST = parseFloat($('#TaxSGST').val() || 0);
            var Rate = parseFloat($('#Rate').val() || 0);
            var WSPPercent = parseFloat($('#WSPPercent').val() || 0);
            var Net = (Rate + TaxIGST + TaxCGST + TaxSGST);
            $('#Net').val(Net.toFixed(2));
            if (WSPPercent > 0) {
                WSPPercent = (WSPPercent / 100) * Rate;
                var SGSTPer = parseFloat($('#SGSTPer').val()) || 0;
                var CGSTPer = parseFloat($('#CGSTPer').val()) || 0;
                var IGSTPer = parseFloat($('#IGSTPer').val()) || 0;

                var TotalGST = SGSTPer + CGSTPer + IGSTPer;
                var WSPWithOutGst = WSPPercent + Rate;
                var TAXonWSP = parseFloat((TotalGST / 100) * WSPWithOutGst || 0);
                var WSPAmount = TAXonWSP + WSPWithOutGst;
                $('#WSPAmount').val(WSPAmount.toFixed(4));
            }
            else {
                $('#WSPAmount').val(Net.toFixed(2));
            }
            compareMRPandRate();
        }

        $("#ddlCategory").change(function () {
            $("#ddlSubCategory").empty();
            var value = $("#ddlCategory option:selected").val();
            $.ajax({
                type: "Post",
                url: '@Url.Action("SubCategoryList", "PurchaseInvoice")?categoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (SubCategoryList) {

                    $("#ddlSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(SubCategoryList, function (i, Sub) {
                        //$("#ContactSubCategory").clearQueue();
                        $("#ddlSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                    $("#ModelSKUList").empty();
                    $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');

                },
                error: function (data) {
                    alert("error");
                }
            });
        });

        $("#ModelSKUList").change(function () {
            SetSKU();
        });
        $("#ddlSubCategory").change(function () {
            $("#ModelSKUList").empty();
            var CatId = $("#ddlCategory option:selected").val();
            var SubId = $("#ddlSubCategory option:selected").val();
            var serviceURL = '@Url.Action("SKUList", "PurchaseInvoice")';
            var model = { 'CategoryId': CatId, 'SubCategoryId': SubId };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (skulist) {
                    $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(skulist, function (i, Sub) {
                        //$("#ContactSubCategory").clearQueue();
                        $("#ModelSKUList").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });

                },
                error: function (data) {
                    alert("error");
                }

            });
        });

    });

    function SetSKU() {
        var id = $("#ModelSKUList option:selected").val();
        $("#ModelDiscountList").empty();
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListFromSKU", "PurchaseInvoice")?id=' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (model) {
                    $("#ddlCategory").val(model.CategoryId);
                    $('#ddlSubCategory').val(model.SubCategoryId);
                    $("#ModelDiscountList").empty();
                    $("#ModelDiscountList").append('<option selected="selected" value="-1">' + "--Select One--" + '</option>');
                    for (var i = 0; i < model.CountList; i++) {
                        if ($("#txtHiddenDiscount").val() != model.DiscountCodeList[i].Value) {
                            $("#ModelDiscountList").append('<option value="' + model.DiscountCodeList[i].Value + '">' + model.DiscountCodeList[i].Text + '</option>');
                        }
                        else {
                            $("#ModelDiscountList").append('<option  selected="selected" value="' + model.DiscountCodeList[i].Value + '">' + model.DiscountCodeList[i].Text + '</option>');
                        }

                    }
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }
                </script>


                <div class="modal fade" id="LocationModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="height:150px; width: 500px;">
                            <div class="modal-header">
                                <h4 class="modal-title">Location</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Location Name</label>
                                        <input type="text" id="ModelLocationName" , name="ModelLocationName" value="" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelLocationSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="SKUModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/Home/AddSKU" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddSKUjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">SKU</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Product Category</label>
                                            <input id="ModelSKUCategoryHidden" type="hidden" name="model.CategoryId" />
                                            <input class="form-control text-box single-line valid ui-autocomplete-input" data-val="true" data-val-required="Required." name="model.CategoryName" required="required" type="text" value="" id="ModelSKUCategory">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.CategoryName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Product SubCategory</label>
                                            <input id="ModelSKUSubCategoryHidden" type="hidden" name="model.SubCategoryId" />
                                            <input class="form-control text-box single-line valid ui-autocomplete-input" data-val="true" data-val-required="Required." name="model.SubCategoryName" required="required" type="text" value="" id="ModelSKUSubCategory">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.SubCategoryName" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">SKU</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.SKU" required="required" type="text" value="" id="modelSKU">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.SKU" data-valmsg-replace="true"></span>
                                            <label id="ERR_ModelSKU" style="color: rgb(169, 68, 66); font-weight: normal; display: inline-block;"></label>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Product Name</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ProductName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ProductName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">GST % while Selling</label>
                                            <input class="form-control text-box single-line valid" data-val="true" name="model.GstforSelling" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="SAVE_ModelSKU">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>







                <div class="modal fade" id="GSTModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">GST</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">Name</label>
                                        <input type="text" id="ModelGSTName" , name="ModelGSTName" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">CGST</label>
                                        <input type="text" id="ModelGSTCGST" , name="ModelGSTCGST" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">SGST</label>
                                        <input type="text" id="ModelGSTSGST" , name="ModelGSTSGST" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">IGST</label>
                                        <input type="text" id="ModelGSTIGST" , name="ModelGSTIGST" value="" class="form-control" />
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="exampleInputEmail1" class="erplabel">OtherTaxes</label>
                                        <input type="text" id="ModelGSTOtherTaxes" , name="ModelGSTOtherTaxes" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelGSTSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="BrandModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Brand</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <div class="col-lg-12">
                                        <label for="exampleInputEmail1" class="erplabel">Brand Name</label>
                                        <input type="text" id="ModelBrandName" , name="ModelBrandName" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer" style="border-top:none !important;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="ModelBrandSubmit">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="UnitModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddUnit" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddUnitAjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">Unit</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-6">
                                            <label for="exampleInputEmail1" class="erplabel">Unit</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.UnitValue" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.UnitValue" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="form-group">
                                            <br>
                                            <label class="control-label erplabel" for="email"></label>
                                            <input name="model.SellInPartial" type="checkbox">
                                            <label class="control-label erplabel" for="email">Sale In Partial</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="ModelUnitSubmit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="HSNModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddHSN" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddHSNAjaxSuccess(data);" id="form0" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">HSN</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">HSN Product Name</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ProductName" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ProductName" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">HSN Product Code</label>
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.Code" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.Code" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="ModelHSNSubmit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="AttributeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/Home/AddAttribute" data-ajax="true" data-ajax-method="POST" data-ajax-success="AddAttributejaxSuccess(data);" method="post" novalidate="novalidate">
                                <div class="modal-header">
                                    <h4 class="modal-title">Attribute</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="col-lg-12">
                                        <div class="col-lg-4">
                                            <label for="exampleInputEmail1" class="erplabel">Value</label>
                                            <input id="HiddenAttributeSetId" type="hidden" name="model.AttributeSetId" />
                                            <input class="form-control text-box single-line valid" data-val="true" data-val-required="Required." name="model.ApplicableValues" required="required" type="text" value="">
                                            <span class="text-danger field-validation-valid" data-valmsg-for="model.ApplicableValues" data-valmsg-replace="true"></span>
                                            <label id="ATTRIBUTE_ALREADY_PRESENT" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="modal-footer" style="border-top:none !important;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



            </div>

            <!--  <footer class="main-footer">
                  <div class="pull-right hidden-xs">
                      <b>Version</b> 1.0.0
                  </div>
                  <strong>Copyright &copy; 2017 <a href="#">Siddhart Ethic & Mens Wear</a>.</strong> All rights
                  reserved.
              </footer>  -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                    <!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <!-- /.tab-pane -->

                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    }
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>*@
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script>
        $(document).ready(function () {

            $("#modelSKU").on("change keyup paste", function () {
                var SKU = $('#modelSKU').val();
                var serviceURL = '@Url.Action("GetSku", "SKU")?SKU=' + SKU;
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                });
                function successFunc(data) {
                    if (data == true) {
                        $("#SAVE_ModelSKU").prop("disabled", true);
                        $("#ERR_ModelSKU").text("SKU Already Exist");
                    }
                    else {
                        $('#SAVE_ModelSKU').prop("disabled", false);
                        $("#ERR_ModelSKU").text("");
                    }
                }
            });

            $("button[id='ModelLocationSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelLocationName").val() == '' || $("#ModelLocationName").val() == null) {
                    $('#ModelLocationName').css('border-color', 'red');
                    Err++;
                }
                else {
                    var ModelLocationName = $("#ModelLocationName").val();
                    var model = { 'LocationName': ModelLocationName, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddLocation',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ModelLocationList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');

                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("#ModelGSTIGST,#ModelGSTOtherTaxes,#ModelGSTSGST,#ModelGSTCGST").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                    return false;
                }
            });

            $("button[id='ModelGSTSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelGSTName").val() == '' || $("#ModelGSTName").val() == null) {
                    $('#ModelGSTName').css('border-color', 'red');
                    Err++;
                }
                if (Err == 0) {
                    var IGST = $("#ModelGSTIGST").val();
                    var OtherTaxes = $("#ModelGSTOtherTaxes").val();
                    var SGST = $("#ModelGSTSGST").val();
                    var CGST = $("#ModelGSTCGST").val();
                    var Name = $("#ModelGSTName").val();
                    var model = { 'IGST': IGST, 'OtherTaxes': OtherTaxes, 'SGST': SGST, 'CGST': CGST, 'Name': Name, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddGST',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ModelGSTList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("button[id='ModelBrandSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelBrandName").val() == '' || $("#ModelBrandName").val() == null) {
                    $('#ModelBrandName').css('border-color', 'red');
                    Err++;
                }
                else {
                    var BrandName = $("#ModelBrandName").val();
                    var model = { 'BrandName': BrandName, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddBrand',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ModelBrandList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $("button[id='ModelShippingTypeSubmit']").click(function () {
                var Err = 0;
                if ($("#ModelShippingType").val() == '' || $("#ModelShippingType").val() == null) {
                    $('#ModelShippingType').css('border-color', 'red');
                    Err++;
                }
                else {
                    var ShippingType = $("#ModelShippingType").val();
                    var model = { 'ShippingType': ShippingType, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddShippingType',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#ShippingTypeList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });


            $("button[id='ModelMeasurementsSubmit']").click(function () {
                var Err = 0;
                if ($("#MeasurementsField").val() == '' || $("#MeasurementsField").val() == null) {
                    $('#MeasurementsField').css('border-color', 'red');
                    Err++;
                }
                else {
                    var MeasurmentType = $("#MeasurementsField").val();
                    var model = { 'MeasurmentType': MeasurmentType, }
                    $.ajax({
                        type: "POST",
                        url: '/Home/AddMeasurment',
                        data: { 'model': model },
                        dataType: "json",
                        success: function successFunc(itemList) {
                            if (itemList != null) {
                                $.each(itemList, function (i, division) {
                                    division.Selected = true;
                                    $("#MeasurmentId").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                                });
                                $("[data-dismiss=modal]").click();
                            }
                        },
                    });
                }
            });

            $('[data-dismiss=modal]').on('click', function (e) {
                var $t = $(this),
                    target = $t[0].href || $t.data("target") || $t.parents('.modal') || [];

                $(target)
                  .find("input,textarea,select")
                     .val('')
                     .end()
                  .find("input[type=checkbox], input[type=radio]")
                     .prop("checked", "")
                     .end();
            })

            $(function () {
                $("[id*=ModelSKUCategory]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url: "/Home/GetCategoryList",
                            data: { Prefix: request.term },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#ModelSKUCategory").val(ui.item.label);
                        $('#ModelSKUCategoryHidden').val(ui.item.Id);
                        return false;
                    }
                });
            });

            $(function () {
                $("[id*=ModelSKUSubCategory]").autocomplete({
                    source: function (request, response) {
                        var Product = new Array();
                        var CategoryId = $('#ModelSKUCategoryHidden').val();
                        $.ajax({
                            async: false,
                            cache: false,
                            type: "POST",
                            url: "/Home/GetSubCategoryList",
                            data: { Prefix: request.term, CategoryId: CategoryId },
                            success: function (data) {
                                for (var i = 0; i < data.length ; i++) {
                                    Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                                }
                            }
                        });
                        response(Product);
                    },
                    select: function (event, ui) {
                        $("#ModelSKUSubCategory").val(ui.item.label);
                        $('#ModelSKUSubCategoryHidden').val(ui.item.Id);
                        return false;
                    }
                });
            });

        });

        function AddHSNAjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ModelHSNList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }

        function AddSKUjaxSuccess(data) {
            if (data.SKUList != null) {
                $.each(data.SKUList, function (i, division) {
                    division.Selected = true;
                    $("#ModelSKUList").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $.each(data.CategoryList1, function (i, division) {
                    division.Selected = true;
                    $("#ddlCategory").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $.each(data.SubCategoryList1, function (i, division) {
                    division.Selected = true;
                    $("#ddlSubCategory").append('<option  selected="selected" value="' + division.Value + '">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }

        function AddAttributejaxSuccess(data) {
            if (data == "@DataLayer.Constants.ATTRIBUTE_ALREADY_PRESENT")
            {
                $("#ATTRIBUTE_ALREADY_PRESENT").show();
                $("#ATTRIBUTE_ALREADY_PRESENT").text("@DataLayer.Constants.ATTRIBUTE_ALREADY_PRESENT");
                setTimeout(function () {
                    $('#ATTRIBUTE_ALREADY_PRESENT').fadeOut();
                }, 2000);
            }
            else
            {
                $("#AttributeValueList" + data.AttributeId).append('<option  selected="selected" value="' + data.AttributeValue + '">' + data.AttributeValue + '</option>');
                $("[data-dismiss=modal]").click();
            }
        }

        function addAttribute(id) {
            $("#HiddenAttributeSetId").val(id);
        }

        function AddUnitAjaxSuccess(data) {
            if (data != null) {
                $.each(data, function (i, division) {
                    division.Selected = true;
                    $("#ModelUnitList").append('<option  selected="selected" value="' + division.Value + '" "' + (division.Selected ? ' "selected"' : '""') + '"">' + division.Text + '</option>');
                });
                $("[data-dismiss=modal]").click();
            }
        }

    </script>
</body>
</html>
