﻿@model DataLayer.ViewModels.PurchaseInvoiceViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Purchase Invoice - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<section class="content-header">
    <h1> Purchase <small>Invoice</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }
                <a href="@Url.Action("Create", "PurchaseInvoice")" class="btn btn-bitbucket btn-sm pull-right"><i class="fa fa-plus-square"></i> &nbsp; Add Purchase Invoice</a>                

                <!-- /.box-header -->
                <br />
                <!-- form start -->
                <form role="form">
                    <div class="box-body tablediv">
                        @if (Model.PurchaseInvoiceLists.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Purchase Invoice No</b></th>
                                        <th class="erplabel"><b>Supplier</b></th>
                                        <th class="erplabel"><b>Invoicing Date</b></th>
                                        <th class="erplabel"><b>Due Date</b></th>
                                        <th class="erplabel"><b>Total Invoice Value</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PurchaseInvoiceLists)
                                    {
                                        <tr>
                                            <td>@item.PurchaseInvoiceNo</td>
                                            <td>
                                                <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId = item.Account.LedgerId })">
                                                    @item.Account.Name
                                                </a>
                                            </td>
                                            @if (item.InvoicingDate.HasValue)
                                            {
                                                <td>@item.InvoicingDate.Value.ToString("dd'/'MM'/'yyyy")</td>
                                            }
                                            else
                                            {
                                                <td> - </td>
                                            }
                                            <td>@item.DueDate</td>
                                            <td>@((item.TotalInvoiceValue + (item.Adjustment ?? 0)).Value.ToString("0.00"))  </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "PurchaseInvoice")?id=@item.PurchaseInvoiceId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("Delete", "PurchaseInvoice",new { id = @item.PurchaseInvoiceId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                                @*<a href="@Url.Action("Update", "PurchaseInvoice")?id=@item.PurchaseInvoiceId">
                                                    Update
                                                </a>*@
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Invoice Items</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    @if (Model.PurchaseInvoiceLists.Count > 0)
    {
        <p>
            Page @(Model.PurchaseInvoiceLists.PageCount < Model.PurchaseInvoiceLists.PageNumber ? 0 : Model.PurchaseInvoiceLists.PageNumber) of @Model.PurchaseInvoiceLists.PageCount
            @Html.PagedListPager(Model.PurchaseInvoiceLists, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>
