﻿@model DataLayer.Models.SaleInvoice
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        var Subtotal = parseFloat($("#SubtotalNotMapped").val() || 0);
        $("#Subtotal").val(Subtotal);

        var TotalDiscount = parseFloat($("#TotalDiscountNotMapped").val() || 0);
        $("#TotalDiscount").val(TotalDiscount);
        $("#BasePrice").val(Subtotal + TotalDiscount);
        var TotalTax = parseFloat($("#TotalTaxNotMapped").val() || 0);
        $("#TotalTax").val(TotalTax);
        $("#TotalInvoiceValue").val(Subtotal + TotalTax);
        var Adjust = parseFloat($("#txtadjust").val() || 0);
        $("#FinalTotalAdj").val(Subtotal + TotalTax - Adjust);
        $("#DiscWithAd").val(TotalDiscount + Adjust);

        var NoItems = parseInt($("#SaleInvoiceItemCount").val() || 0);
        $("#NumberOfProduct").val(NoItems);               
    });
</script>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel1").show();
        $("#ErrLabel1").text("@ViewBag.ErrorMsg");
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel1").hide();
    </script>
}
<label id="ErrLabel1" style="color:red"></label>
@Html.HiddenFor(model => model.Subtotal, new { @id = "SubtotalNotMapped" })
@Html.HiddenFor(model => model.TotalTax, new { @id = "TotalTaxNotMapped" })
@Html.HiddenFor(model => model.TotalDiscount, new { @id = "TotalDiscountNotMapped" })
@Html.HiddenFor(model => model.TotalInvoiceValue, new { @id = "TotalNotMapped" })
@Html.HiddenFor(model => model.ProductVoucherItems.Count, new { @id = "SaleInvoiceItemCount" })
@if (Model.ProductVoucherItems != null && Model.ProductVoucherItems.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Product</th>
                <th class="erplabel">Quantity</th>
                <th class="erplabel">MRP</th>
                <th class="erplabel">Gross Price</th>
                <th class="erplabel">Unit</th>
                <th class="erplabel">Discount</th>
                <th class="erplabel">GST</th>
                <th class="erplabel">Tax</th>                
                <th class="erplabel">Total</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductVoucherItems)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Rate</td>
                    <td>@((item.BasePrice ?? 0).ToString("0.##"))</td>
                    @if (item.Unit != null)
                    {
                        <td>@item.Unit.UnitValue</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td>@((item.TotalDiscount ?? 0).ToString("0.##"))</td>
                    <td>@item.GST.Name</td>
                    <td>@item.TotalTax.ToString("0.##")</td>                    
                    <td>@item.Total.ToString("0.##")</td>
                    @if (Model.IsLedgerUpdate == false)
                    {
                        <td class="erplabel">
                            <a style="cursor:pointer;" onclick="EditVoucher('@item.ProductVoucherId','@item.SaleInvoiceId')">Edit</a>
                            ||
                            <a style="cursor:pointer;" onclick="RemoveVoucher('@item.ProductVoucherId','@item.SaleInvoiceId')">Remove</a>
                        </td>
                    }
                    else
                    {
                        <td class="erplabel">Payment Done</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
