﻿@model DataLayer.Models.SaleInvoice
@{
    ViewBag.Title = "Sale Voucher - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        var IsLedgerUpdate = $("#IsLedgerUpdate").val();
        if (IsLedgerUpdate == "True") {
            $(function () {
                $("select").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });
            $("#InvoicingDate").attr('readonly', 'readonly');
        }
        $("#ItemListView").load();
    });
</script>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                @using (Html.BeginForm("Create", "SaleVoucher", FormMethod.Post))
                {
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SaleInvoiceId, new { @id = "SaleInvoiceId" })
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.IsWPS, new { @id = "IsWPS" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.PaymentTypeId)
                        @Html.HiddenFor(model => model.Time)
                        @Html.HiddenFor(model => model.SalesOrderItemId)
                        @Html.HiddenFor(model => model.IsPaymentDone, new { @id = "IsPaymentDone" })
                        @Html.HiddenFor(model => model.IsLedgerUpdate, new { @id = "IsLedgerUpdate" })
                        @Html.HiddenFor(model => model.IsInventoryUpdate)
                        @if (Model.SaleInvoiceId > 0)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Sale Invoice Number</label>
                                    @Html.EditorFor(model => model.SaleInvoiceNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.SaleInvoiceNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Invoicing Date</label>
                                @Html.EditorFor(model => model.InvoicingDate, new { htmlAttributes = new { @class = "form-control", @id = "InvoicingDate" } })
                                @Html.ValidationMessageFor(model => model.InvoicingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Account</label>
                                @Html.DropDownListFor(model => model.SaleAccountId, Model.SaleAccountList, new { @class = "form-control", @id = "ModelAccountCategoryList", @min = "1" })
                                @Html.ValidationMessageFor(model => model.SaleAccountId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Account</label>
                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Salesman</label>
                                @Html.DropDownListFor(model => model.EmployeeId, Model.EmployeeAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Details</label>
                                @Html.TextBoxFor(m => m.ShippingDetails, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ShippingDetails, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                @Html.TextBoxFor(m => m.ShippingType, new { @class = "form-control", @id = "ShippingType" })
                                @Html.ValidationMessageFor(model => model.ShippingType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Delivery Memo</label>
                                @Html.DropDownListFor(model => model.SaleMemoId, Model.SaleMemoList, new { @class = "form-control", @id = "SaleMemoId" })
                                @Html.ValidationMessageFor(model => model.SaleMemoId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Type</label>
                                @Html.DropDownListFor(model => model.SaleTypeId, Model.SaleTypeList, new { @class = "form-control", @id = "ModelSaleAccountList", @min = "1" })
                                @Html.ValidationMessageFor(model => model.SaleTypeId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Product Count</label>
                                @Html.TextBoxFor(m => m.NumberOfProduct, new { @class = "form-control", @id = "NumberOfProduct" })
                                @Html.ValidationMessageFor(model => model.NumberOfProduct, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Base Total</label>
                                @Html.TextBoxFor(m => m.Subtotal, new { @readonly = "readonly", @class = "form-control", @id = "Subtotal" })
                                @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Discount</label>
                                @Html.TextBoxFor(m => m.DiscountWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "DiscWithAd" })
                                @Html.HiddenFor(m => m.TotalDiscount, new { @id = "TotalDiscount" })
                                @Html.ValidationMessageFor(model => model.TotalDiscount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Gross Total</label>
                                @Html.TextBoxFor(m => m.Points, new { @readonly = "readonly", @class = "form-control", @id = "BasePrice" })
                                @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                @Html.TextBoxFor(m => m.TotalTax, new { @readonly = "readonly", @class = "form-control", @id = "TotalTax" })
                                @Html.ValidationMessageFor(model => model.TotalTax, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                @Html.TextBoxFor(m => m.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                @Html.ValidationMessageFor(model => model.Adjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                <input type="hidden" id="txttotalInvoice" />
                                @Html.HiddenFor(m => m.TotalInvoiceValue, new { @id = "TotalInvoiceValue" })
                                @Html.TextBoxFor(m => m.TotalWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "FinalTotalAdj" })
                                @Html.ValidationMessageFor(model => model.TotalWithAdjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <!-- /.box-body -->
                    <div class="row">
                        <div class="box-footer">
                            <div class="pull-right">
                                <a href="@Url.Action("Create", "SaleInvoice", new { NewInvoice = "NewInvoice" })" class="btn btn-info btn-sm"> New Invoice </a>
                                <input type="button" name="btn" value="Create Ledger" data-toggle="modal" data-target="#CustomerModel" class="btn btn-info btn-sm" />
                                @if (Model.IsInventoryUpdate == false)
                                {
                                    <input type="submit" name="btn" value="Hold" class="btn btn-info btn-sm" />
                                }
                                <input type="submit" name="btn" value="Save" class="btn btn-info btn-sm" />
                                <input type="submit" name="btn" value="Make Payment" class="btn btn-info btn-sm" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                @if (Model.IsLedgerUpdate == false)
                {
                    <div class="box-header">
                        @Html.HiddenFor(m => m.ProductVoucher.ProductVoucherId, new { @id = "ProductVoucherId" })
                        @Html.HiddenFor(m => m.ProductVoucher.CGST, new { @id = "CGST" })
                        @Html.HiddenFor(m => m.ProductVoucher.SGST, new { @id = "SGST" })
                        @Html.HiddenFor(m => m.ProductVoucher.IGST, new { @id = "IGST" })
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Product Name</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.ProductName, new { @class = "form-control", @id = "ProductName" })
                                <label id="ErrProductName" style="color:red" class="erplabel">Required</label>
                            </div>
                        </div>

                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Quantity</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.Quantity, new { @class = "form-control", @id = "Quantity" })
                                <label id="ErrQuantity" style="color:red" class="erplabel">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Rate</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.Rate, new { @class = "form-control", @id = "Rate" })
                                <label id="ErrRate" style="color:red" class="erplabel">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Gross Price</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.BasePrice, new { @class = "form-control", @id = "BasePrice", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Unit</label>
                                @Html.DropDownListFor(model => model.ProductVoucher.UnitId, Model.ProductVoucher.UnitMasterList, new { @class = "form-control", @id = "UnitId" })
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Discount</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.TotalDiscount, new { @class = "form-control", @id = "ProductDiscount" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">GST</label>
                                @Html.DropDownListFor(model => model.ProductVoucher.GSTId, Model.ProductVoucher.GSTMasterList, new { @class = "form-control", @id = "GSTId" })
                                <label id="ErrGST" style="color:red" class="erplabel">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Total Tax</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.TotalTax, new { @class = "form-control", @readonly = "readonly", @id = "ProductTax" })
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Total</label>
                                @Html.TextBoxFor(m => m.ProductVoucher.Total, new { @class = "form-control", @readonly = "readonly", @id = "ProductTotal" })
                            </div>
                        </div>
                        <div class="col-lg-1" style="margin: 18px 0 0 0;">
                            <button id="AddProduct" class="btn btn-info btn-sm">Add</button>
                        </div>
                    </div>
                }

                <div class="box-body" id="ProductVoucherList">
                    @Html.Partial("_AddProductVoucher")
                </div>
            </div>
        </div>
    </div>
    <!--end main body-->
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrProductName").hide();
        $("#ErrQuantity").hide();
        $("#ErrRate").hide();
        $("#ErrGST").hide();
        $("#Rate").val(null);
        $('#Quantity').val(null);
        $("#txtadjust").keyup(function () {
            var Total = parseFloat($("#TotalInvoiceValue").val() || 0);
            var Adjust = parseFloat($("#txtadjust").val() || 0);
            $("#FinalTotalAdj").val(Total - Adjust);

            var TotalDiscount = parseFloat($("#TotalDiscountNotMapped").val() || 0);
            $("#DiscWithAd").val(TotalDiscount + Adjust);
        })
        $("#AddProduct").click(function () {
            var Err = 0;
            var GSTId = $("#GSTId option:selected").val();
            if (GSTId == -1) {
                $("#ErrGST").show();
                setTimeout(function () {
                    $('#ErrGST').fadeOut();
                }, 2000);
                Err++;
            }
            var Rate = parseFloat($("#Rate").val() || 0);
            if (Rate == "" || Rate == null) {
                $("#ErrRate").show();
                setTimeout(function () {
                    $('#ErrRate').fadeOut();
                }, 2000);
                Err++;
            }
            var Quantity = parseFloat($("#Quantity").val() || 0);
            if (Quantity == "" || Quantity == null) {
                $("#ErrQuantity").show();
                setTimeout(function () {
                    $('#ErrQuantity').fadeOut();
                }, 2000);
                Err++;
            }
            var ProductName = $('#ProductName').val();
            if (ProductName == "" || ProductName == null) {
                $("#ErrProductName").show();
                setTimeout(function () {
                    $('#ErrProductName').fadeOut();
                }, 2000);
                Err++;
            }
            if (Err == 0) {
                var UnitId = $("#UnitId option:selected").val();
                var ProductVoucherId = parseInt($("#ProductVoucherId").val() || 0);
                var SaleInvoiceId = parseInt($("#SaleInvoiceId").val() || 0);
                var TotalDiscount = parseFloat($("#ProductDiscount").val() || 0);
                var TotalTax = parseFloat($('#ProductTax').val());
                var Total = parseFloat($('#ProductTotal').val());
                var IGST = parseFloat($('#IGST').val());
                var SGST = parseFloat($('#SGST').val());
                var CGST = parseFloat($('#CGST').val());
                var BasePrice = parseFloat($('#BasePrice').val());

                var model = {
                    'ProductVoucherId': ProductVoucherId, 'SaleInvoiceId': SaleInvoiceId, 'Quantity': Quantity, 'Rate': Rate, 'Total': Total, 'GSTId': GSTId, 'TotalTax': TotalTax, 'ProductName': ProductName, 'IGST': IGST, 'SGST': SGST, 'CGST': CGST, 'UnitId': UnitId, 'TotalDiscount': TotalDiscount, 'BasePrice': BasePrice }
                    $.ajax({
                    type: "Post",
                        url: '@Url.Action("_AddProductVoucher", "SaleVoucher")',
                        data: { 'model': model },
                        dataType: "html",
                        success: function (result) {
                            $("#ProductVoucherList").html(result);
                            $("#Rate").val(null);
                            $('#Quantity').val(null);
                            $('#ProductVoucherId').val(null);
                            $('#ProductName').val(null);
                            $("#ProductTotal").val(null);
                            $("#ProductTax").val(null);
                            $('#IGST').val(null);
                            $("#SGST").val(null);
                            $("#CGST").val(null);
                            $('#BasePrice').val(null);
                            $("#ProductDiscount").val(null);
                            $("#GSTId").val(-1);
                    },
                    });
                }
        });

        $("#GSTId").change(function () {
            GetTax();
        });

        $("#Quantity,#Rate,#ProductDiscount").keyup(function () {
            GetTax();
        });

        $("#Quantity,#Rate,#ProductDiscount").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });


        function GetTax() {
            var GST = parseInt($("#GSTId option:selected").val());
            if (GST > 0) {
                var serviceURL = '@Url.Action("GetGST", "PurchaseInvoice")';
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': GST },
                    dataType: "json",
                    success: function successFunc(data) {
                        var Rate = parseFloat($("#Rate").val() || 0);
                        var Quantity = parseFloat($("#Quantity").val() || 0);
                        var TotalDiscount = parseFloat($("#ProductDiscount").val() || 0);
                        var BasicPrice = parseFloat((Rate * Quantity) / (1 + ((data.CGST + data.SGST + data.IGST) / 100)) - TotalDiscount);
                        var ProductTax = parseFloat(((BasicPrice) * (data.CGST + data.SGST + data.IGST) / 100));
                        var CGST = parseFloat((data.CGST / 100) * BasicPrice || 0);
                        var SGST = parseFloat((data.SGST / 100) * BasicPrice || 0);
                        var IGST = parseFloat((data.IGST / 100) * BasicPrice || 0);
                        var SubTotal = parseFloat(((BasicPrice - TotalDiscount) + ProductTax));
                        $('#IGST').val(IGST);
                        $("#SGST").val(SGST);
                        $("#CGST").val(CGST);
                        $('#ProductTax').val(ProductTax);
                        $('#BasePrice').val(BasicPrice);
                        $('#ProductTotal').val(SubTotal);
                    },
                });
            }
            else {
                var Rate = parseFloat($("#Rate").val() || 0);
                var Quantity = parseFloat($("#Quantity").val() || 0);
                var TotalDiscount = parseFloat($("#ProductDiscount").val() || 0);
                $('#ProductTax').val(0);
                $('#IGST').val(0);
                $("#SGST").val(0);
                $("#CGST").val(0);
                $('#BasePrice').val((Rate * Quantity) - TotalDiscount);
                $('#ProductTotal').val((Rate * Quantity) - TotalDiscount - TotalDiscount);
            }
        }
    });
    function EditVoucher(ProductVoucherId, SaleInvoiceId) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("EditProductVoucher", "SaleVoucher")?ProductVoucherId=' + ProductVoucherId + '&SaleInvoiceId=' + SaleInvoiceId,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#Rate").val(data.Rate);
                    $('#Quantity').val(data.Quantity);
                    $('#ProductVoucherId').val(data.ProductVoucherId);
                    $('#ProductName').val(data.ProductName);
                    $("#ProductTotal").val(data.Total);
                    $("#ProductTax").val(data.TotalTax);
                    $('#IGST').val(data.IGST);
                    $("#SGST").val(data.SGST);
                    $("#CGST").val(data.CGST);
                    $("#GSTId").val(data.GSTId);
                    $("#ProductDiscount").val(data.TotalDiscount);
                    $('#BasePrice').val(data.BasePrice);
                },
            });
        }

    function RemoveVoucher(ProductVoucherId, SaleInvoiceId) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("RemoveProductVoucher", "SaleVoucher")?ProductVoucherId=' + ProductVoucherId + '&SaleInvoiceId=' + SaleInvoiceId,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result) {
                    $("#ProductVoucherList").html(result);
                },
                error: function (data) {
                    alert("Error");
                }
            });
        }
</script>
