﻿@model DataLayer.Models.PurchaseInvoice
@{
    ViewBag.Title = "Opening Stock - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        Calculation();
        $("#txtadjust").keyup(function () {
            Calculation();
        });          

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });
    })
    function Calculation() {
        var TotalInvoiceValue = parseFloat($("#TotalInvoiceValue").val() || 0);
        var Adjust = parseFloat($("#txtadjust").val() || 0);
        var NewTotal = TotalInvoiceValue + Adjust;
        $("#NotmappedInvoiceValue").val(NewTotal);
    }
</script>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<section class="content-header">
    <h1> Opening Stock </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
        {
            <script type="text/javascript">
                $("#ErrLabel").text("@ViewBag.ErrorMsg");
                setTimeout(function () {
                    $('#ErrLabel').fadeOut();
                }, 5000);
            </script>
        }
        else
        {
            <script type="text/javascript">
                $("#ErrLabel").hide();
            </script>
        }

        <div class="col-md-12">

            <div class="box box-primary">

                @using (Html.BeginForm("Create", "Inventory", FormMethod.Post, new { autocomplete = "off" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.PurchaseInvoiceId)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.IsLedgerUpdate)
                        @Html.HiddenFor(model => model.IsOpeningStock)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.TotalInvoiceValue, new { @id = "TotalInvoiceValue" })
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Opening Stock Number</label>
                                    @Html.EditorFor(model => model.PurchaseInvoiceNo, new { htmlAttributes = new { @class = "form-control", @id = "PurchaseInvoiceNo", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.PurchaseInvoiceNo, "Required", new { @class = "text-danger" })                                    
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Invoicing Date</label>
                                    @Html.EditorFor(model => model.InvoicingDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.InvoicingDate, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Entry Date</label>
                                    @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control", @id = "EntryDate" } })
                                    @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                    <div class="input-group">
                                        @Html.DropDownListFor(model => model.ShippingId, Model.ShippingTypeList, new { @class = "form-control", @id = "ShippingTypeList" })                                        
                                        <span class="input-group-btn">
                                            <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#ShippingTypeModel">+</i>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.ShippingId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Shipping Tracking No.</label>
                                    @Html.EditorFor(model => model.ShippingTrackingNumber, new { htmlAttributes = new { @class = "form-control", @id = "ShippingTrackingNumber" } })
                                    @Html.ValidationMessageFor(model => model.ShippingTrackingNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Division</label>
                                    @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                    @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                    @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                    @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Location</label>
                                    @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                    @Html.ValidationMessageFor(model => model.LocationId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                    @Html.TextBoxFor(m => m.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                    @Html.ValidationMessageFor(model => model.Adjustment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                    <input type="hidden" id="txttotalInvoice" />
                                    @Html.TextBoxFor(m => m.NotmappedInvoiceValue, new { @readonly = "readonly", @class = "form-control", @id = "NotmappedInvoiceValue" })
                                    @Html.ValidationMessageFor(model => model.NotmappedInvoiceValue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pull-right">
                                @if (Model.PurchaseInvoiceId > 0)
                                {
                                    <input type="submit" name="btn" value="Save Opening Stock" class="btn btn-bitbucket btn-sm"  />
                                    <input type="submit" name="btn" value="Save and Print Barcode" class="btn btn-github btn-sm " />
                                }
                                else
                                {
                                    <input type="submit" name="btn" value="Save" class="btn btn-bitbucket btn-sm" />
                                }
                            </div>
                        </div>
                    </div>

                }

            </div>
            @if (Model.PurchaseInvoiceId > 0)
            {

                <div class="box box-primary">
                    <div class="clearfix"></div>
                    <br />
                    <a class="btn btn-bitbucket btn-sm pull-right" href="@Url.Action("AddInvoiceItem", "Inventory" )?invoiceId=@Model.PurchaseInvoiceId"><i class="fa fa-plus-square"></i> &nbsp; Add Item</a>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="box-body tablediv">
                            @if (Model.PurchaseInvoiceItemList != null && Model.PurchaseInvoiceItemList.Count > 0)
                            {

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="erplabel"><b>SKU</b></th>
                                            <th class="erplabel"><b>Quantity</b></th>
                                            <th class="erplabel"><b>Basic Rate</b></th>
                                            <th class="erplabel"><b>GST Applicable</b></th>
                                            <th class="erplabel"><b>Purchase Net Price/Unit</b></th>
                                            <th class="erplabel"><b>MRP</b></th>
                                            <th class="erplabel"><b>Action</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PurchaseInvoiceItemList)
                                        {
                                            <tr>
                                                <td>@item.SKUMaster.SKU</td>
                                                @if (item.SellInPartial != true)
                                                {
                                                    <td>@item.Quantity.ToString("0.##")</td>
                                                }
                                                else
                                                {
                                                    <td>@item.Quantity.ToString("0.00")</td>
                                                }
                                                <td>@item.Rate.ToString("0.##")</td>
                                                <td>(@item.GST.Name) @((item.SGST + item.CGST + item.IGST).Value.ToString("0.##"))</td>

                                                <td>@item.NetAmount.Value.ToString("0.##")</td>
                                                <td>@item.MRP.ToString("0.##")</td>

                                                <td>
                                                    <a href="@Url.Action("AddInvoiceItem", "Inventory")?invoiceId=@Model.PurchaseInvoiceId&invoiceItemId=@item.PurchaseInvoiceItemId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("DeleteInvoiceItem", "Inventory" )?invoiceId=@Model.PurchaseInvoiceId&invoiceItemId=@item.PurchaseInvoiceItemId">
                                                        Delete
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("ClonePurchaseInvoiceItem", "Inventory" )?invoiceId=@Model.PurchaseInvoiceId&invoiceItemId=@item.PurchaseInvoiceItemId">
                                                        Create Clone
                                                    </a>
                                                    @if (item.IsProductCreated == true)
                                                    {
                                                        <span>||</span>
                                                        <a href="@Url.Action("Details", "Inventory" )?id=@item.PurchaseInvoiceItemId">
                                                            Details
                                                        </a>

                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><b>Total</b></td>
                                            <td>
                                                <b>@Model.ItemTotalQuantity</b>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            }
                            else
                            {
                                <label>No Invoice Items</label>
                            }
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>

    <!--end main body-->
</section>

<script type="text/javascript">
    $(document).ready(function () {


        $("#btnnewInoice").click(function () {
            location.href = '@Url.Action("Create", "PurchaseInvoice")';
        })

        $("#PurchaseOrder").change(function () {
            var serviceURL = '@Url.Action("GetPurchaseOrder", "PurchaseInvoice")';
            var PurchaseOrder = parseInt($("#PurchaseOrder option:selected").val());
            if (PurchaseOrder > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'id': PurchaseOrder },
                    dataType: "json",
                    success: function successFunc(data) {
                        document.getElementById('DivisionId').value = data.DivisionId;
                        document.getElementById('BranchId').value = data.BranchId;
                        document.getElementById('ModelLocationList').value = data.LocationId;
                        document.getElementById('PurchaseAccountList').value = data.PurchaseTypeID;
                        document.getElementById('ModelSupplierList').value = data.AccountID;
                        document.getElementById('PurchaseAccountList_Purchase').value = data.PurchaseAccountId;

                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                $("#Supplier").prop("disabled", false);
                $("#DivisionId").prop("disabled", false);
                $("#BranchId").prop("disabled", false);
                $("#ModelLocationList").prop("disabled", false);
            }
        });

        $("#ShippingTrackingNumber,#DueDays").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#DueDays").keyup(function (e) {
            var serviceURL = '@Url.Action("DueDays", "PurchaseInvoice")';
            var DueDays = $("#DueDays").val();
            var EntryDate = $("#EntryDate").val();
            if (DueDays > 0) {
                $.ajax({
                    type: "POST",
                    url: serviceURL,
                    data: { 'DueDays': DueDays, 'EntryDate': EntryDate },
                    dataType: "json",
                    success: function successFunc(data) {
                        var value = new Date(parseInt(data.replace("/Date(", "").replace(")/", ""), 10));
                        var NewDate = (value.getMonth() + 1) + '/' + value.getDate() + '/' + value.getFullYear();
                        document.getElementById("DueDate").value = NewDate;
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            }
            else {
                $("#DueDate").val(null);
            }
        });
    });

</script>



