﻿@model DataLayer.ViewModels.SKUViewModel
@{
    ViewBag.Title = "SKU - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrSKU").hide();
        if ($("#hiddenSKUMasterId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

        $("#GSTPer").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46 && e.which != 37) {
                return false;
            }
        });

        $("#ddlCategory").change(function () {
            $("#ddlSubCategory").empty();
            var value = $("#ddlCategory option:selected").val();
            $.ajax({
                type: "Post",
                url: '@Url.Action("SubCategoryList", "SKU")?categoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (SubCategoryList) {

                    $("#ddlSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(SubCategoryList, function (i, Sub) {
                        //$("#ContactSubCategory").clearQueue();
                        $("#ddlSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });

                },
                error: function (data) {
                    alert("error");
                }
            });
        });

        $("#txtProductName").keyup(function () {
            var SKU = $('#txtProductName').val();
            var serviceURL = '@Url.Action("GetSku", "SKU")?SKU=' + SKU;
            $.ajax({
                type: "POST",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#ErrSKU").show();
                    $("#btnSubmit").prop("disabled", true);
                }
                else {
                    $("#btnSubmit").prop("disabled", false);
                    $("#ErrSKU").hide();
                }
            }
        });
    });
</script>

<section class="content-header">
    <h1> SKU  <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">SKU Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:514px">

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();
                    </script>
                }
                <!-- /.box-header -->

                @using (Html.BeginForm("Create", "SKU", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SKUMaster.SKUMasterId, new { @id = "hiddenSKUMasterId" })
                        @Html.HiddenFor(model => model.SKUMaster.CreatedBy)
                        @Html.HiddenFor(model => model.SKUMaster.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Category</label>
                            @Html.DropDownListFor(model => model.SKUMaster.CategoryId, Model.SKUMaster.CategoryList, new { @class = "form-control", @id = "ddlCategory", @style = "max-width:100% !important;" })
                            @Html.ValidationMessageFor(model => model.SKUMaster.CategoryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Sub-Category</label>
                            @Html.DropDownListFor(model => model.SKUMaster.SubCategoryId, Model.SKUMaster.SubCategoryList, new { @class = "form-control", @id = "ddlSubCategory", @style = "max-width:100% !important;" })
                            @Html.ValidationMessageFor(model => model.SKUMaster.SubCategoryId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">SKU</label>
                            @Html.EditorFor(model => model.SKUMaster.SKU, new { htmlAttributes = new { @class = "form-control", @id = "txtProductName", @style = "max-width:100% !important;" } })
                            <label id="ErrSKU" style="color:#a94442;font-weight: normal;" class="text-danger">SKU Already Exist</label>
                            @Html.ValidationMessageFor(model => model.SKUMaster.SKU, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Product Name</label>
                            @Html.EditorFor(model => model.SKUMaster.ProductName, new { htmlAttributes = new { @class = "form-control", @id = "txtProductCode", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.SKUMaster.ProductName, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="exampleInputEmail1" class="erplabel">GST % while Selling</label>
                            @Html.EditorFor(model => model.SKUMaster.GstforSelling, new { htmlAttributes = new { @class = "form-control", @id = "GSTPer", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.SKUMaster.GstforSelling, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Shortend Description</label>
                            @Html.EditorFor(model => model.SKUMaster.ShortendDescriptionBase, new { htmlAttributes = new { @class = "form-control", @id = "txtProductCode", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.SKUMaster.ShortendDescriptionBase, "", new { @class = "text-danger" })
                        </div>
                        @*@if (Model.SKUMaster.DiscountList.Count > 0)
                        {
                            <div style="overflow-y:auto;height:110px;">
                                <h5 class="header">Applicable Discounts on this SKU</h5>
                                @for (int i = 0; i < Model.SKUMaster.DiscountList.Count; i++)
                                {
                                    <div class="form-group">
                                        @Html.HiddenFor(q => Model.SKUMaster.DiscountList[i].DiscountId)
                                        @Html.CheckBoxFor(q => Model.SKUMaster.DiscountList[i].IsSelected, new { htmlAttributes = new { @class = "form-control" } })
                                        <label for="exampleInputEmail1" class="erplabel">@Model.SKUMaster.DiscountList[i].Code</label>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="clearfix"></div>
                            <br />
                            <p class="erplabel">No Discount Available</p>
                        }*@

                    </div>
                    <br />
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-bitbucket btn-block  btn-sm" id="btnSubmit" style="margin: 0px 0 8px 0;"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>

                }

            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body tablediv">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.SKUList != null && Model.SKUList.Count > 0)
                            {
                            <table id="example1" style="font-size:11px;" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>SKU</th>
                                        <th>Product Name</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Shortend Description</th>
                                        <th>GST % while Selling</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SKUList)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SKU)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubCategory.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShortendDescriptionBase)
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.GstforSelling)</td>
                                            <td>
                                                <a href="@Url.Action("Index", "SKU")?id=@item.SKUMasterId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("Delete", "SKU",new { id = @item.SKUMasterId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                </tbody>

                            </table>
                            }
                            else
                            {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
