﻿@model DataLayer.ViewModels.ReportViewModel
@{
    ViewBag.Title = "_ItemList";
}
  
@if (Model.LedgerList != null && Model.LedgerList.Count > 0)
{
    @*<div class="col-lg-4">
        <h5><b>Current Balance</b> : @Model.GrandTotal.ToString("0.00")</h5>
    </div>*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Details</th>
                <th class="erplabel">SR NO.</th>
                <th class="erplabel">Ledger Name</th>
                <th class="erplabel">Starting Balance</th>
                <th class="erplabel">Current Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LedgerList.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                <tr>
                    <td>
                        <a href="@Url.Action("LedgerIndex", "LedgerReport",new { LedgerId = item.Data.LedgerId})"> <i class="fa fa-desktop"></i> <span></span> </a>
                    </td>
                    <td>@item.Index</td>
                    <td>@item.Data.Name</td>
                    <td>@Math.Abs(item.Data.StartingBalance).ToString("0.00") @item.Data.OpeningBalanceType</td>

                    @if (item.Data.CurrentBalance < 0)
                    {
                        <td>@Math.Abs(@item.Data.CurrentBalance).ToString("0.00") DR</td>
                    }
                    else
                    {
                        <td>@Math.Abs(@item.Data.CurrentBalance).ToString("0.00") CR</td>
                    } 
                </tr>
            }
        </tbody>
    </table>
    <div class="pull-right">
        <label class="erplabel">
            <b>
                Current Balance :
                @if (Model.GrandTotal < 0)
                {
                    <span> @Math.Abs(Model.GrandTotal).ToString("0.00") DR </span>
                }
                else
                {
                    <span> @Math.Abs(Model.GrandTotal).ToString("0.00") CR </span>
                }
            </b>
        </label>
    </div>
}
else
{
    <label>No Ledger</label>
}
