﻿@model DataLayer.ViewModels.LedgerReportViewModel
@{
    ViewBag.Title = "Ledger - Details";
}

<div class="box box-primary">
    <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
        <div style="width:100%;margin:0 auto;border: 1px solid #000;">
            <center>
                <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                    <b>@Model.Company.Name</b>
                </p>
                <p style="margin: 0 0 0px;">
                    @Model.Branch.BranchName
                </p>
            </center>
            <center>
                @Model.Company.Address
                @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                    <span style="font-size:15px">Ledger Report 
                    @if (Model.Ledger != null)
                    { <span> of @Model.Ledger.Name </span>}</span>
                    @if (Model.StartingDate != null)
                    { <span> From @Model.StartingDate.Value.ToString("dd'/'MM'/'yyyy") </span>}
                    @if (Model.LastDate != null)
                    { <span> To @Model.LastDate.Value.ToString("dd'/'MM'/'yyyy") </span>} 

                </div>

            </center>

            <div class="box-body">
                @if (Model != null && Model.VoucherList != null)
                {
                    <table id="example1" class="table table-bordered" style="border-collapse:collapse">
                        <thead>
                            <tr>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Date</b></th>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Particulars</b></th>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Invoice Number</b></th>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Debit</b></th>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Credit</b></th>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Opening Balance</b></th>
                                <th class="erplabel" style="border: 1px solid #000;"><b>Closing Balance</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VoucherList)
                            {
                                <tr>
                                    <td style="border: 1px solid #000;">
                                        @item.EntryDate.ToString("dd'/'MM'/'yyyy")
                                    </td>
                                    <td style="border: 1px solid #000;"> @item.Particulars </td>
                                    <td style="border: 1px solid #000;">
                                        @if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_INVOICE)
                                        {
                                        <a href="@Url.Action("Create","SaleInvoice")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                            @item.InvoiceNumber
                                        </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                        {
                                            <a href="@Url.Action("Exchange","SalesExchange")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_PURCHASE_RETURN)
                                        {
                                            <a href="@Url.Action("Create","PurchaseReturn")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION || item.VoucherFor == DataLayer.Constants.SALE_TYPE_SHORTAGES)
                                        {
                                            <a href="@Url.Action("Create","InternalConsumption")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_VOUCHER)
                                        {
                                            <a href="@Url.Action("Create","SaleVoucher")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_INVOICE)
                                        {
                                        <a href="@Url.Action("Create", "PurchaseInvoice")?id=@item.PurchaseInvoiceId" style="text-decoration: none;">
                                            @item.InvoiceNumber
                                        </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_WPS)
                                        {
                                            <a href="@Url.Action("Create", "WSP")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_VOUCHER)
                                        {
                                            <a href="@Url.Action("Create", "PurchaseVoucher")?id=@item.PurchaseInvoiceId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_ORDER)
                                        {
                                            <a href="@Url.Action("Create", "SalesOrder")?id=@item.SalesOrderId" style="text-decoration: none;">
                                                @item.InvoiceNumber
                                            </a>
                                        }
                                        else if (item.VoucherFor == DataLayer.Constants.PAYMENT_VOUCHER || item.VoucherFor == DataLayer.Constants.RECEIPT_VOUCHER || item.VoucherFor == DataLayer.Constants.JOURNAL_ENTRY || item.VoucherFor == DataLayer.Constants.CONTRA_ENTRY)
                                        {
                                            <a href="@Url.Action("CreateNote", "Notes",new { Type = @item.VoucherFor , VoucherNumber = @item.VoucherNumber })">
                                                @item.VoucherNumber
                                            </a>
                                        }

                                    </td>
                                    @if (item.Type == DataLayer.Constants.DR)
                                    {
                                        <td style="border: 1px solid #000;">@Math.Abs(item.Total).ToString("0.00")</td>
                                                <td style="border: 1px solid #000;">-</td>
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid #000;">-</td>
                                                <td style="border: 1px solid #000;">@Math.Abs(item.Total).ToString("0.00")</td>
                                    }

                                    @if (item.OpeningBalance < 0)
                                    {
                                        <td style="border: 1px solid #000;">@Math.Abs(@item.OpeningBalance).ToString("0.00") DR</td>
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid #000;">@Math.Abs(@item.OpeningBalance).ToString("0.00") CR</td>
                                    }

                                    @if (item.ClosingBalance < 0)
                                    {
                                        <td style="border: 1px solid #000;">@Math.Abs(@item.ClosingBalance).ToString("0.00") DR</td>
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid #000;">@Math.Abs(@item.ClosingBalance).ToString("0.00") CR</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td style="border: 1px solid #000;">Total</td>
                                <td style="border: 1px solid #000;"></td>
                                <td style="border: 1px solid #000;"></td>
                                <td style="border: 1px solid #000;">@Model.TotalDebitAmmount.ToString("0.00")</td>
                                <td style="border: 1px solid #000;">@Model.TotalCreditAmmount.ToString("0.00")</td>
                                <td style="border: 1px solid #000;"></td>
                                <td style="border: 1px solid #000;"></td>
                            </tr>
                        </tbody>
                    </table>
                            <div class="pull-right">
                                <label style="font-size:15px">Opening Balance : @Model.Ledger.StartingBalance.ToString("0.00") @Model.Ledger.OpeningBalanceType</label>
                                <div class="clearfix"></div>
                                <label style="font-size:15px">
                                    Current Balance :
                                    @if (Model.Ledger.CurrentBalance < 0)
                                    {
                                        <span> @Math.Abs(Model.Ledger.CurrentBalance).ToString("0.00") DR </span>
                                    }
                                    else
                                    {
                                        <span> @Math.Abs(Model.Ledger.CurrentBalance).ToString("0.00") CR </span>
                                    }
                                </label>
                            </div>
                }
                else
                {
                    <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                }
            </div>

            <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                <span> * Balances are subject to change,pending mistakes and/or entries, please reconcile and confirm within 7 days.</span> <br />
                <span> * This is a Computer Generated Document hence no Signature is Required </span> <br />

            </div><br>

        </div>


    </div>
</div>