﻿@model DataLayer.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Ledger Group Report - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Ledger Group
        <small>Report</small>
    </h1>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Account Category</label>
                                @Html.DropDownListFor(model => model.AccountCategoryId, Model.AccountCategoryList, new { @class = "form-control", @required = "required", @id = "AccountCategoryId" })
                                @Html.ValidationMessageFor(model => model.AccountCategoryId, "Required", new { @class = "text-danger" })
                                <label id="ErrAccountCategoryId" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Account SubCategory</label>
                                @Html.DropDownListFor(model => model.AccountSubCategoryId, Model.AccountSubCategoryList, new { @class = "form-control", @id = "AccountSubCategoryId" })
                                @Html.ValidationMessageFor(model => model.AccountSubCategoryId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">From Date</label>
                                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "FromDate" } })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">To Date</label>
                                @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "ToDate" } })
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin: 18px 0 0 0;">
                            <button class="btn btn-bitbucket btn-sm" id="Search">Search</button>
                        </div>
                    </div>
                    <div class="box-body tablediv">
                        <div id="ItemListView">
                            @Html.Partial("_InvoiceList")
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrAccountCategoryId").hide();
        $("#Search").click(function () {
            var Err = 0;
            var AccountCategoryId = parseFloat($("#AccountCategoryId option:selected").val() || 0); 
            if (AccountCategoryId <= 0) {
                $("#ErrAccountCategoryId").show();
                setTimeout(function () {
                    $('#ErrAccountCategoryId').fadeOut();
                }, 2000);
                Err++;
            }
            var AccountSubCategoryId = $("#AccountSubCategoryId option:selected").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();

            if (Err == 0) {
                showProgress();
                var model = { 'AccountCategoryId': AccountCategoryId, 'AccountSubCategoryId': AccountSubCategoryId, 'FromDate': FromDate, 'ToDate': ToDate, }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_InvoiceList", "LedgerReport")',
                    data: { 'model': model },
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                        hideProgress()
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }

        });

        $("#AccountCategoryId").change(function () {
            var value = $("#AccountCategoryId option:selected").val();
        if (value != 0) {
            $("#AccountSubCategoryId").empty();
            $.ajax({
                type: "Post",
                url: '@Url.Action("ContactSubCategoryList", "Ledger")?contactcategoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (ContactSubCategoryList) {
                    $("#AccountSubCategoryId").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(ContactSubCategoryList, function (i, Sub) {
                        $("#AccountSubCategoryId").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
        });

        $(function () {
            $("[id*=KeyWord]").autocomplete({
                source: function (request, response) {
                    var Product = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        url: "/SaleReport/LedgerList",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length ; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#KeyWord").val(ui.item.label);
                    return false;
                }
            });
        });

    });
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
</script>
