﻿@model DataLayer.ViewModels.LedgerReportViewModel
@{
    ViewBag.Title = "Ledger Report - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#IsHidden").hide();
        $("#Search").click();
        var LedgerId = parseFloat($("#LedgerId").val() || 0);
        if (LedgerId > 0)
        {
                            var FromDate = $("#FromDate").val();
                var ToDate = $("#ToDate").val();
                var Ledger = $("#LedgerName").val();
                $("label[for='NewLable']").text("Ledger : " + Ledger + " From " + FromDate + " To " + ToDate);
                var model = { 'LedgerId': LedgerId, 'FromDate': FromDate, 'ToDate': ToDate, }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LedgerList", "LedgerReport")',
                    data: { 'ViewModel': model },
                    dataType: "html",
                    success: function (result) {
                        $("#IsHidden").show();
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
        }
        $("#Print").click(function () {
                       var Err = 0;
            var LedgerId = parseFloat($("#LedgerId").val() || 0);
            if (LedgerId <= 0) {
                $("#ErrAccountCategoryId").show();
                setTimeout(function () {
                    $('#ErrAccountCategoryId').fadeOut();
                }, 2000);
                Err++;
            }
            if (Err == 0) {
                var FromDate = $("#FromDate").val();
                var ToDate = $("#ToDate").val();
                var Ledger = $("#LedgerName").val();
                $("label[for='NewLable']").text("Ledger : " + Ledger + " From " + FromDate + " To " + ToDate);
                var model = { 'LedgerId': LedgerId, 'FromDate': FromDate, 'ToDate': ToDate, }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LedgerList", "LedgerReport")',
                    data: { 'ViewModel': model },
                    dataType: "html",
                    success: function (result) {
                        $("#IsHidden").show();
                        $("#ItemListView").html(result);
                        Print();
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
        });

        $("#Search").click(function () {
            var Err = 0;
            var LedgerId = parseFloat($("#LedgerId").val() || 0);
            if (LedgerId <= 0) {
                $("#ErrAccountCategoryId").show();
                setTimeout(function () {
                    $('#ErrAccountCategoryId').fadeOut();
                }, 2000);
                Err++;
            }
            if (Err == 0) {
                var FromDate = $("#FromDate").val();
                var ToDate = $("#ToDate").val();
                var Ledger = $("#LedgerName").val();
                $("label[for='NewLable']").text("Ledger : " + Ledger + " From " + FromDate + " To " + ToDate);
                var model = { 'LedgerId': LedgerId, 'FromDate': FromDate, 'ToDate': ToDate, }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LedgerList", "LedgerReport")',
                    data: { 'ViewModel': model },
                    dataType: "html",
                    success: function (result) {
                        $("#IsHidden").show();
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
        });

        $(function () {
            $("[id*=LedgerName]").autocomplete({
                source: function (request, response) {
                    var Product = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        url: "/LedgerReport/LedgerList",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#LedgerName").val(ui.item.label);
                    $('#LedgerId').val(ui.item.Id);
                    return false;
                }
            });
        });
    });

    function Print() {
        var printContents = document.getElementById('PrintThis').innerHTML;
        var originalContents = document.body.innerHTML;
        if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
            var popupWin = window.open('', '_blank', 'width=600,height=600,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
            popupWin.document.write('<!DOCTYPE html><html><head>' +
                '<link rel="stylesheet" type="text/css" href="style.css" />' +
                '</head><body onload="window.print()"><div class="reward-body">' + printContents + '</div></html>');
            popupWin.onbeforeunload = function (event) {
                popupWin.close();
                return '.\n';
            };
            popupWin.onabort = function (event) {
                popupWin.document.close();
                popupWin.close();
            }
        } else {
            var popupWin = window.open('', '_blank', 'width=800,height=600');
            popupWin.document.open();
            popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</html>');
            popupWin.document.close();
        }
        popupWin.document.close();
    }

</script>
<section class="content-header">
    <h1> Ledger <small>Report</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Account Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- Small boxes (Stat box) -->
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="col-lg-2 col-md-6 col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label class="control-label erplabel">Search Ledger</label>
                                    @Html.EditorFor(model => model.LedgerName, new { htmlAttributes = new { @class = "form-control", @id = "LedgerName" } })
                                    @Html.HiddenFor(model => model.LedgerId, new { htmlAttributes = new { @id = "LedgerId" } })
                                    @*<input type="text" id="LedgerName" , name="model.Contact.FirstName" value="" class="form-control" />
                                    <input type="hidden" id="LedgerId" , name="model.Contact.FirstName" value="" class="form-control" />*@
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">From Date</label>
                                    @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "FromDate" } })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">To Date</label>
                                    @Html.EditorFor(model => model.LastDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "ToDate" } })
                                </div>
                            </div>
                            <div class="col-lg-2" style="margin: 18px 0 0 0;">
                                <button class="btn btn-bitbucket btn-sm" id="Search">Search</button>
                                <button class="btn btn-bitbucket btn-sm" id="Print">Print</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content" id="IsHidden">
    <div class="row col-md-12" id="ItemListView">
        @Html.Partial("_LedgerList")
    </div>
</section>
