﻿@model DataLayer.ViewModels.LedgerReportViewModel
@{
    ViewBag.Title = "Ledger - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-12">
                            @if (Model.Ledger != null)
                            {

                                <div class="pull-left">
                                    <h3>Ledger: <span class="erplabel">@Model.Ledger.Name</span></h3>
                                </div>
                                <div class="clearfix"></div>
                                using (Html.BeginForm("Details", "Ledger", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.Ledger.LedgerId)
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label class="control-label erplabel" for="email">Starting Date</label>
                                            @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.StartingDate, "Required", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label class="control-label erplabel" for="email">Last Date</label>
                                            @Html.EditorFor(model => model.LastDate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.LastDate, "Required", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2" style="margin: 18px 0 0 0;">
                                        <button type="submit" class="btn btn-info">Search</button>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model != null)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Date</b></th>
                                        <th class="erplabel"><b>Particulars</b></th>
                                        <th class="erplabel"><b>Invoice Number</b></th>
                                        <th class="erplabel"><b>Debit</b></th>
                                        <th class="erplabel"><b>Credit</b></th>
                                        <th class="erplabel"><b>Opening Balance</b></th>
                                        <th class="erplabel"><b>Closing Balance</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VoucherList)
                                    {
                                        <tr>
                                            <td>
                                                @item.EntryDate.ToString("dd'/'MM'/'yyyy")
                                            </td>
                                            <td> @item.Particulars </td>
                                            <td>
                                                @if (item.InvoiceNumber != null)
                                                {
                                                    if (item.SaleInvoiceId != null)
                                                    {
                                                        <a href="@Url.Action("Create", "SaleInvoice")?id=@item.SaleInvoiceId">
                                                            @item.InvoiceNumber
                                                        </a>
                                                    }
                                                    else if (item.PurchaseInvoiceId != null)
                                                    {
                                                        <a href="@Url.Action("Create", "PurchaseInvoice")?id=@item.PurchaseInvoiceId">
                                                            @item.InvoiceNumber
                                                        </a>
                                                    }
                                                }
                                                else if (item.VoucherFor == DataLayer.Constants.PAYMENT_VOUCHER)
                                                {
                                                    <a href="@Url.Action("CreateNote", "Notes")?PaymentVoucherNumber=@item.VoucherNumber">
                                                        @item.VoucherNumber
                                                    </a>
                                                }
                                                else if (item.VoucherFor == DataLayer.Constants.RECEIPT_VOUCHER)
                                                {
                                                    <a href="@Url.Action("CreateNote", "Notes")?ReceiptVoucherNumber=@item.VoucherNumber">
                                                        @item.VoucherNumber
                                                    </a>
                                                }
                                                else if (item.VoucherFor == DataLayer.Constants.JOURNAL_ENTRY)
                                                {
                                                    <a href="@Url.Action("GernalEntry", "Notes")?JournalEntryNumber=@item.VoucherNumber">
                                                        @item.VoucherNumber
                                                    </a>
                                                }
                                                else if (item.VoucherFor == DataLayer.Constants.CONTRA_ENTRY)
                                                {
                                                    <a href="@Url.Action("GernalEntry", "Notes")?ContraEntryNumber=@item.VoucherNumber">
                                                        @item.VoucherNumber
                                                    </a>
                                                }
                                            </td>
                                            @if (item.Type == DataLayer.Constants.DR)
                                            {
                                                <td>@Math.Abs(item.Total).ToString("0.00")</td>
                                                <td>-</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                                <td>@Math.Abs(item.Total).ToString("0.00")</td>
                                            }

                                            @if (item.OpeningBalance < 0)
                                            {
                                                <td>@Math.Abs(@item.OpeningBalance).ToString("0.00") DR</td>
                                            }
                                            else
                                            {
                                                <td>@Math.Abs(@item.OpeningBalance).ToString("0.00") CR</td>
                                            }

                                            @if (item.ClosingBalance < 0)
                                            {
                                                <td>@Math.Abs(@item.ClosingBalance).ToString("0.00") DR</td>
                                            }
                                            else
                                            {
                                                <td>@Math.Abs(@item.ClosingBalance).ToString("0.00") CR</td>
                                            }
                                        </tr>
                                    }
                                    <tr style="border-top: 2px solid #000;">
                                        <td>Total</td>
                                        <td></td>
                                        <td></td>
                                        @*<td></td>*@
                                        <td>@Model.TotalDebitAmmount</td>
                                        <td>@Model.TotalCreditAmmount</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pull-right">
                                <label class="erplabel">Opening Balance : @Model.Ledger.StartingBalance</label>
                                <div class="clearfix"></div>
                                <label class="erplabel">
                                    Current Balance :
                                    @if (Model.Ledger.CurrentBalance < 0)
                                    {
                                        <span> @Math.Abs(Model.Ledger.CurrentBalance).ToString("0.00") DR </span>
                                    }
                                    else
                                    {
                                        <span> @Math.Abs(Model.Ledger.CurrentBalance).ToString("0.00") CR </span>
                                    }
                                </label>
                            </div>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>