﻿@model DataLayer.ViewModels.PaymentTypeViewModel
@{
    ViewBag.Title = "Payment Type - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrorButton").hide();
        $("err_BrandName").hide();

        if ($("#hiddenBrandId").val() != 0) {
            $("Button").text("Update");
        }
        else {
            $("Button").text("Save");
        }

    });
</script>
<section class="content-header">
    <h1> Payment Type <small>Master</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Brand Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:200px">

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text(@ViewBag.ErrorMsg);
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>


                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }
                <!-- /.box-header -->
                @using (Html.BeginForm("Create", "PaymentType", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.PaymentType.PaymentTypeId, new { @id = "hiddenBrandId" })
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Payment Type</label>
                            @Html.EditorFor(model => model.PaymentType.PaymentName, new { htmlAttributes = new { @class = "form-control", @id = "txtBrandName", @style = "max-width:100%;", required = "required" } })
                            @Html.ValidationMessageFor(model => model.PaymentType.PaymentName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Ledger</label>
                            @Html.DropDownListFor(x => x.PaymentType.LedgerId, Model.PaymentType.LedgerList, new { @class = "form-control", @min = "1", @id = "LedgerId" })
                            @Html.ValidationMessageFor(model => model.PaymentType.LedgerId, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-bitbucket pull-right btn-sm" id="Button"><i class="fa fa-plus-square"></i> Save</button>
                        <button type="submit" class="btn btn-bitbucket btn-sm btn-block" id="ErrorButton" disabled><i class="fa fa-save"></i> Save</button>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.PaymentTypeList != null && Model.PaymentTypeList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Payment Type</th>
                                            <th>Ledger</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PaymentTypeList)
                                        {
                                            <tr>
                                                <td>
                                                    @item.PaymentName
                                                </td>
                                                @if (item.Ledger != null)
                                                {
                                                    <td>@item.Ledger.Name</td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                <td>
                                                    @if (item.DisableDelete != true)
                                                    {
                                                        <a href="@Url.Action("Index", "PaymentType")?id=@item.PaymentTypeId">Edit</a>
                                                        <a href="@Url.Action("Delete", "PaymentType",new { id = @item.PaymentTypeId })" onclick="return confirm('Are you sure you want to delete this')">
                                                            Delete
                                                        </a>
                                                    }
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
