﻿@*@model DataLayer.ViewModels.CSVViewModel*@
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <div class="box box-primary">
                <div class="box-body">
                    @using (Html.BeginForm("Index", "CSV", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel">Table List</label>
                                @Html.DropDownListFor(model => model.TableNam, Model.TableList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputFile" class="control-label erplabel">Upload File</label>
                                <input name="File" type="file" id="uploadedFile" multiple="multiple" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-bitbucket btn-sm" value="Save">Submit</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>*@

@using (Html.BeginForm("Index", "CSV", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}  