﻿@model DataLayer.Models.EmailConfig


<section class="content-header">
    <h1> Email <small>panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Email</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-body">
                        @using (Html.BeginForm("Create", "EmailConfigs", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="row">
                                <div class="right_col" role="main">
                                    <div class="page-title">
                                        <div class="title_left col-md-2">
                                            <h3>Email Manager</h3>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel panel-group">
                                                <div class="x_content panel-body">
                                                    <table id="datatable" class="table table-striped table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.UserEmailId)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Password)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Host)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.UsedDefaultCredentials)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.EnableSsl)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.Port)
                                                                </th>
                                                                <th>
                                                                    @Html.DisplayNameFor(model => model.IsDefault)
                                                                </th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in (IEnumerable<DataLayer.Models.EmailConfig>)ViewData["users"])
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.UserEmailId)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Password)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Host)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.UsedDefaultCredentials)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.EnableSsl)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Port)
                                                                    </td>

                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.IsDefault)
                                                                    </td>
                                                                    <td>
                                                                        <a class="fa fa-pencil fa-2x" href="@Url.Action("Create","EmailConfigs", new { id = item.EmailConfigId })" title="Edit"></a> &nbsp;   <span style="font-size:1.5em;">|</span>  &nbsp;
                                                                        <a class="fa fa-trash-o fa-2x" href="@Url.Action("Delete","EmailConfigs", new { id = item.EmailConfigId })" onclick="return confirm('Are you sure you want to delete this Email Configuration?');" title="Delete"></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel panel-group">
                                                <div id="_create">
                                                    <div class="col-lg-12">
                                                        <h3>
                                                            @((ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0) ? "Edit" : "Create")  Email
                                                            <span class="pull-right">
                                                                <button type="submit" name="Save" value="Save" class="btn btn-primary align-right"><i class="fa fa-floppy-o "></i> &nbsp;Save</button>
                                                            </span>
                                                        </h3>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <br />
                                                    <div class="x_content panel-body">
                                                        <hr />
                                                        <form class="form-horizontal form-label-left">
                                                            @if (ViewData["Operation"] != null && Convert.ToInt32(ViewData["Operation"]) > 0)
                                                            {
                                                                @Html.HiddenFor(model => model.EmailConfigId)
                                                            }
                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.UserEmailId, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.UserEmailId, new { htmlAttributes = new { id = "txtEmailId", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.UserEmailId, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />
                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.Host, new { htmlAttributes = new { id = "txtHost", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.UsedDefaultCredentials, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.CheckBoxFor(model => model.UsedDefaultCredentials, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.UsedDefaultCredentials, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.EnableSsl, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.CheckBoxFor(model => model.EnableSsl, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.EnableSsl, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.Port, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.EditorFor(model => model.Port, new { htmlAttributes = new { id = "txtPort", @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />

                                                            <div class="form-group">
                                                                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                    <label>
                                                                        @Html.LabelFor(model => model.IsDefault, htmlAttributes: new { @class = "control-label" })
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    @Html.CheckBoxFor(model => model.IsDefault, new { htmlAttributes = new { @class = "form-control" } })
                                                                    @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <br />

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>