﻿@model DataLayer.ViewModels.CustomInventoryReportModal
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
    });
</script>
<div class="col-lg-2">
    <div class="form-group">
        <label for="exampleInputPassword1" class="erplabel">Product Category</label>
        @Html.ListBoxFor(m => m.CategoryIds, Model.CategoryList, new { @class = "listbox", @id = "CategoryIds" })
    </div>
</div>

