﻿@model DataLayer.ViewModels.InventoryReportViewModel
@{
    Layout = null;
}
<table class="table table-bordered" style="border-collapse:collapse" id="DeleteDiv">
    <tbody>
        <tr>
            <th rowspan="3" class="erplabel" style="border: 1px solid #000;text-align:center">Particulars</th>
            <th colspan="3" class="erplabel" style="border: 1px solid #000;text-align:center">InWards</th>
            <th colspan="3" class="erplabel" style="border: 1px solid #000;text-align:center">OutWards</th>
            <th colspan="3" class="erplabel" style="border: 1px solid #000;text-align:center">Closing Balance</th>
        </tr>

        <tr>
            <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="3">Total Inwards : @((Model.TotalInWardsValue ?? 0).ToString("0.00"))</td>
            <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="3">Total OutWards : @((Model.TotalOutWardsValue ?? 0).ToString("0.00"))</td>
            <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="3">Total Balance : @((Model.ClosingBalance ?? 0).ToString("0.00"))</td>
        </tr>
        <tr>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
            <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
        </tr>
        @foreach (var Cateogory in Model.CateogoryList)
        {
            <tr style="text-align:center">
                <td class="erplabel" style="border: 1px solid #000;text-align:center">@Cateogory.CategoryName</td>
                <td colspan="9" class="erplabel" style="border: 1px solid #000;text-align:center"></td>
            </tr>
            foreach (var SubCategory in Cateogory.SubCategoryList)
            {
                <tr style="text-align:center;border-top:solid;border-top-width:2px;cursor:pointer;" class="header" id="header-@SubCategory.Count">
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">@SubCategory.SubCategoryName</td>
                    <td colspan="9" class="erplabel" style="border: 1px solid #000;text-align:center"></td>
                </tr>
                foreach (var SKUMaster in SubCategory.SKUMasterList)
                {
                    <tr>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            <a href="@Url.Action("SKUStock", "InventoryReport")?id=@SKUMaster.SKUMasterId" style="text-decoration: none;"> @SKUMaster.SKUName </a>
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.InWards.Count.ToString("0.##") - @SKUMaster.Unit
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.InWards.Rate.ToString("0.00")
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.InWards.Value.ToString("0.00")
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.OnWards.Count.ToString("0.##") - @SKUMaster.Unit
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.OnWards.Rate.ToString("0.00")
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.OnWards.Value.ToString("0.00")
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.ClosingBalance.Count.ToString("0.##") - @SKUMaster.Unit
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.ClosingBalance.Rate.ToString("0.00")
                        </td>
                        <td class="erplabel" style="border: 1px solid #000;text-align:center">
                            @SKUMaster.ClosingBalance.Value.ToString("0.00")
                        </td>
                    </tr>

                }
                <tr class="header">
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b>Total</b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.InWardsCountTotal.ToString("0.##") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.InWardsRateTotal.ToString("0.00") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.InWardsValueTotal.ToString("0.00") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.OnWardsCountTotal.ToString("0.##") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.OnWardsRateTotal.ToString("0.00") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.OnWardsValueTotal.ToString("0.00") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.ClosingBalanceCountTotal.ToString("0.##") </b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b> @SubCategory.ClosingBalanceRateTotal.ToString("0.00")</b>
                    </td>
                    <td class="erplabel" style="border: 1px solid #000;text-align:center">
                        <b>@SubCategory.ClosingBalanceValueTotal.ToString("0.00")</b>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>