﻿@model DataLayer.ViewModels.ProductSearchViewModel
@{
    ViewBag.Title = "Ledger - Details";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            @if (Model != null && Model.LedgerReportViewModel != null && Model.LedgerReportViewModel.VoucherList != null)
            {
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="erplabel"><b>Date</b></th>
                            <th class="erplabel"><b>Particulars</b></th>
                            <th class="erplabel"><b>Invoice Number</b></th>
                            <th class="erplabel"><b>Debit</b></th>
                            <th class="erplabel"><b>Credit</b></th>
                            <th class="erplabel"><b>Opening Balance</b></th>
                            <th class="erplabel"><b>Closing Balance</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.LedgerReportViewModel.VoucherList)
                        {
                        <tr>
                            <td>
                                @item.EntryDate.ToString("dd'/'MM'/'yyyy")
                            </td>
                            <td> @item.Particulars </td>
                            <td>
                                @if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_INVOICE)
                                {
                                    <a href="@Url.Action("Create","SaleInvoice")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                {
                                    <a href="@Url.Action("Exchange","SalesExchange")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_PURCHASE_RETURN)
                                {
                                    <a href="@Url.Action("Create","PurchaseReturn")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION || item.VoucherFor == DataLayer.Constants.SALE_TYPE_SHORTAGES)
                                {
                                    <a href="@Url.Action("Create","InternalConsumption")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_VOUCHER)
                                {
                                    <a href="@Url.Action("Create","SaleVoucher")?id=@item.SaleInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_INVOICE)
                                {
                                    <a href="@Url.Action("Create", "PurchaseInvoice")?id=@item.PurchaseInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_VOUCHER)
                                {
                                    <a href="@Url.Action("Create", "PurchaseVoucher")?id=@item.PurchaseInvoiceId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.SALE_TYPE_SALE_ORDER)
                                {
                                    <a href="@Url.Action("Create", "SalesOrder")?id=@item.SalesOrderId" style="text-decoration: none;">
                                        @item.InvoiceNumber
                                    </a>
                                }
                                else if (item.VoucherFor == DataLayer.Constants.PAYMENT_VOUCHER || item.VoucherFor == DataLayer.Constants.RECEIPT_VOUCHER || item.VoucherFor == DataLayer.Constants.JOURNAL_ENTRY || item.VoucherFor == DataLayer.Constants.CONTRA_ENTRY)
                                {
                                    <a href="@Url.Action("CreateNote", "Notes",new { Type = @item.VoucherFor , VoucherNumber = @item.VoucherNumber })">
                                        @item.VoucherNumber
                                    </a>
                                }

                            </td>

                            @if (item.Type == DataLayer.Constants.DR)
                                {
                                <td>@Math.Abs(item.Total).ToString("0.00")</td>
                                <td>-</td>
                                }
                                else
                                {
                                <td>-</td>
                                <td>@Math.Abs(item.Total).ToString("0.00")</td>
                                }

                            @if (item.OpeningBalance < 0)
                                {
                                <td>@Math.Abs(@item.OpeningBalance).ToString("0.00") DR</td>
                                }
                                else
                                {
                                <td>@Math.Abs(@item.OpeningBalance).ToString("0.00") CR</td>
                                }

                            @if (item.ClosingBalance < 0)
                                {
                                <td>@Math.Abs(@item.ClosingBalance).ToString("0.00") DR</td>
                                }
                                else
                                {
                                <td>@Math.Abs(@item.ClosingBalance).ToString("0.00") CR</td>
                                }
                        </tr>
                        }
                        <tr style="border-top: 2px solid #000;">
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td>@Model.LedgerReportViewModel.TotalDebitAmmount.ToString("0.00")</td>
                            <td>@Model.LedgerReportViewModel.TotalCreditAmmount.ToString("0.00")</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <label class="erplabel">Opening Balance : @Model.LedgerReportViewModel.Ledger.StartingBalance.ToString("0.00") @Model.LedgerReportViewModel.Ledger.OpeningBalanceType</label>
                    <div class="clearfix"></div>
                    <label class="erplabel">
                        Current Balance :
                        @if (Model.LedgerReportViewModel.Ledger.CurrentBalance < 0)
                        {
                        <span> @Math.Abs(Model.LedgerReportViewModel.Ledger.CurrentBalance).ToString("0.00") DR </span>
                        }
                        else
                        {
                        <span> @Math.Abs(Model.LedgerReportViewModel.Ledger.CurrentBalance).ToString("0.00") CR </span>
                        }
                    </label>
                </div>
            }
            else
            {
                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
            }
        </div>
    </div>
</div>