﻿@model DataLayer.ViewModels.CustomInventoryReportModal
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#SKUIds").change(function () {
            var SKUIdList = $("#SKUIds").val();
            if (SKUIdList != null) {
                var SKUIds = ($("#SKUIds").val()).toString();
            }
            else {
                var SKUIds = "";
            }
            $.ajax({
                type: "Post",
                url: '@Url.Action("GetSelectedSubCategory", "InventoryReport")?SKUIds=' + SKUIds,
                dataType: "html",
                success: function successFunc(result) {
                    $("#_SubCategoryList").html(result);
                    var SubCategoryIdList = $("#SubCategoryIds").val();
                    if (SubCategoryIdList == null) {
                        $.ajax({
                            type: "Post",
                            url: '@Url.Action("GetSelectedCategory", "InventoryReport")?SubCategoryIds=' + SubCategoryIds,
                            dataType: "html",
                            success: function successFunc(result) {
                                $("#_CategoryList").html(result);
                            },
                        });
                    }
                },
            });
        });
    });

    $(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
    });
</script>
<div class="col-lg-2">
    <div class="form-group">
        <label for="exampleInputPassword1" class="erplabel">SKU</label>
        @Html.ListBoxFor(m => m.SKUIds, Model.SKUList, new { @class = "listbox", @id = "SKUIds" })
    </div>
</div>

