﻿@model DataLayer.ViewModels.CustomInventoryReportModal
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#SubCategoryIds").change(function () {
            var SubCategoryIdList = $("#SubCategoryIds").val();
            if (SubCategoryIdList != null) {
                var SubCategoryIds = ($("#SubCategoryIds").val()).toString();
            }
            else {
                var SubCategoryIds = "";
            }
            $.ajax({
                type: "Post",
                url: '@Url.Action("_SKUList", "InventoryReport")?SubCategoryIds=' + SubCategoryIds,
                dataType: "html",
                success: function successFunc(result) {
                    $("#_SKUList").html(result);
                    var CategoryList = $("#CategoryIds").val();
                    if (CategoryList == null) {
                        $.ajax({
                            type: "Post",
                            url: '@Url.Action("GetSelectedCategory", "InventoryReport")?SubCategoryIds=' + SubCategoryIds,
                            dataType: "html",
                            success: function successFunc(result) {
                                $("#_CategoryList").html(result);
                            },
                        });
                    }
                },
            });
        });
    });

    $(function () {
        $('.listbox').multiselect({
            includeSelectAllOption: true
        });
    });
</script>
<div class="col-lg-2">
    <div class="form-group">
        <label for="exampleInputPassword1" class="erplabel">Product Sub-category</label>
        @Html.ListBoxFor(m => m.SubCategoryIds, Model.SubcategoryList, new { @class = "listbox", @id = "SubCategoryIds" })
    </div>
</div>

