﻿@model DataLayer.ViewModels.CustomInventoryReportModal
@{
    ViewBag.Title = "CustomeReport";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .ui-autocomplete {
            z-index: 1050;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="height: auto;padding: 0px;">
    @if (DataLayer.Utils.SessionManager.GetSessionUser() == null)
    {
        Response.Redirect("~/Login/Login");
    }
    else
    {
        <div class="wrapper" style="overflow:visible;">
            <header class="main-header">
                <!-- Logo -->
                <a href="@Url.Action("Index", "Home" )" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>E</b>RP</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>E</b>RP</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">

                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="@Url.Action("ProductSearch","InventoryReport")">Search Product</a>
                            </li>
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                    page and may cause design problems
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-users text-red"></i> 5 new members joined
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user text-red"></i> You changed your username
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                    <span class="hidden-xs"> @DataLayer.Utils.SessionManager.GetSessionUser().Contact.FirstName </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header">
                                        @*<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                                        <p>
                                            @DataLayer.Utils.SessionManager.GetSessionUser().Contact.FirstName
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Action("ChangeSessionCompany", "Login")" class="btn btn-default btn-flat">Change Company</a>
                                        </div>
                                        <a href="@Url.Action("ChangePassword", "Login")" class="btn btn-default btn-flat">Change Password</a>
                                        <div class="pull-right">
                                            <a href="@Url.Action("LogOut","Login")" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview"> <a href="@Url.Action("Index", "Home" )"> <i class="fa fa-desktop"></i> <span>Dashboard</span> </a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-address-card"></i>
                                <span>Account</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Ledger" )"><i class="fa fa-dot-circle-o"></i> Ledger </a></li>
                                <li><a href="@Url.Action("Index", "GST" )"><i class="fa fa-dot-circle-o"></i> GST Master</a></li>
                                <li><a href="@Url.Action("Index", "Discount" )"><i class="fa fa-dot-circle-o"></i> Discount Master</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-product-hunt"></i>
                                <span>Product</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Catalouge" )"><i class="fa fa-dot-circle-o"></i>Product / Service Category</a></li>
                                <li><a href="@Url.Action("Index", "SKU" )"><i class="fa fa-dot-circle-o"></i> SKU </a></li>
                                <li><a href="@Url.Action("Index", "HSNMaster" )"><i class="fa fa-dot-circle-o"></i> HSN Master</a></li>
                                <li><a href="@Url.Action("Index", "UnitMaster" )"><i class="fa fa-dot-circle-o"></i> Unit </a></li>
                                <li><a href="@Url.Action("Index", "Attribute" )"><i class="fa fa-dot-circle-o"></i> Attributes</a></li>
                                <li><a href="@Url.Action("Index", "Product" )"><i class="fa fa-dot-circle-o"></i> Product </a></li>
                                <li><a href="@Url.Action("Index", "Brand" )"><i class="fa fa-dot-circle-o"></i> Brand </a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Entries</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "PurchaseInvoice")"><i class="fa fa-dot-circle-o"></i> Purchase Invoice</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseVoucher")"><i class="fa fa-dot-circle-o"></i> Purchase Voucher</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseReturn")"><i class="fa fa-dot-circle-o"></i> Purchase Return</a></li>
                                <li><a href="@Url.Action("Index", "SaleInvoice")"><i class="fa fa-dot-circle-o"></i> Sale Invoice</a></li>
                                <li><a href="@Url.Action("Index", "SaleVoucher")"><i class="fa fa-dot-circle-o"></i> Sale Voucher</a></li>
                                <li><a href="@Url.Action("Index", "SalesExchange")"><i class="fa fa-dot-circle-o"></i> Sales Exchange</a></li>
                                <li><a href="@Url.Action("Index","DeliveryMemo")"><i class="fa fa-dot-circle-o"></i> Delivery Memo</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.PAYMENT_VOUCHER })"><i class="fa fa-dot-circle-o"></i> Payment Note</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.RECEIPT_VOUCHER })"><i class="fa fa-dot-circle-o"></i> Receipt Note</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.JOURNAL_ENTRY })"><i class="fa fa-dot-circle-o"></i> Journal Entry</a></li>
                                <li><a href="@Url.Action("CreateNote", "Notes" ,new { Type = DataLayer.Constants.CONTRA_ENTRY })"><i class="fa fa-dot-circle-o"></i> Contra Entry</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Inventory</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Inventory")"><i class="fa fa-plus-square"></i> Opening Stock</a></li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-files-o"></i>
                                        <span>Inventory Report</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="@Url.Action("Index", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Consolidated Report</a></li>
                                        <li><a href="@Url.Action("CustomeReport", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Custom Report</a></li>
                                        <li><a href="@Url.Action("AgingReport", "InventoryReport" )"><i class="fa fa-dot-circle-o"></i> Aging Report</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","InternalConsumption",new { Type = DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION })"><i class="fa fa-dot-circle-o"></i> Internal consumption</a></li>
                                <li><a href="@Url.Action("Index","InternalConsumption",new { Type = DataLayer.Constants.SALE_TYPE_SHORTAGES })"><i class="fa fa-dot-circle-o"></i> Shortages</a></li>
                                <li><a href="@Url.Action("Index","Excesses",new { Type = DataLayer.Constants.SALE_TYPE_EXCESSES })"><i class="fa fa-dot-circle-o"></i> Excesses</a></li>
                                <li><a href="@Url.Action("Index","InternalTransfer")"><i class="fa fa-dot-circle-o"></i> Internal Transfer</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Production</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Production" )"><i class="fa fa-dot-circle-o"></i> Production</a></li>
                                <li><a href="@Url.Action("Index", "ProductionReport" )"><i class="fa fa-dot-circle-o"></i> Production Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Job Work</a></li>
                                <li><a href="@Url.Action("Index", "Measurment" )"><i class="fa fa-dot-circle-o"></i> Measurement</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Order Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "PurchaseOrder" )"><i class="fa fa-dot-circle-o"></i> Purchase Orders</a></li>
                                <li><a href="@Url.Action("Index","SalesOrder")"><i class="fa fa-dot-circle-o"></i> Sales Orders</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="@Url.Action("Index","BudgetingMaster")">
                                <i class="fa fa-files-o"></i> <span>Budgeting Master</span>
                            </a>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>CRM</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Contact")"><i class="fa fa-dot-circle-o"></i> Contact</a></li>
                                <li><a href="@Url.Action("CustomerInformation","Lead")"><i class="fa fa-dot-circle-o"></i> Customer Information</a></li>
                                <li><a href="@Url.Action("Index","Lead")"><i class="fa fa-dot-circle-o"></i> Leads Management</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Loyalty Program</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Customer Communication</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>User</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index","Role")"><i class="fa fa-dot-circle-o"></i> User Rights</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "StoreMaste" )"><i class="fa fa-dot-circle-o"></i> Store Master</a></li>
                                <li><a href="@Url.Action("Index", "Shipping" )"><i class="fa fa-dot-circle-o"></i> Shipping Master</a></li>
                                <li><a href="@Url.Action("Index", "PaymentType" )"><i class="fa fa-dot-circle-o"></i> Payment Type Master</a></li>
                                <li><a href="@Url.Action("Index", "ServiceType" )"><i class="fa fa-dot-circle-o"></i> Service Type Master</a></li>
                                <li><a href="@Url.Action("Index", "Designation" )"><i class="fa fa-dot-circle-o"></i> Designation Master</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Reports</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "SaleReport" )"><i class="fa fa-dot-circle-o"></i> Sales Report</a></li>
                                <li><a href="@Url.Action("Index", "PurchaseReport" )"><i class="fa fa-dot-circle-o"></i> Purchase Report</a></li>
                                <li><a href="@Url.Action("Index", "LedgerReport" )"><i class="fa fa-dot-circle-o"></i> Ledger Group Report</a></li>
                                <li><a href="@Url.Action("LedgerIndex", "LedgerReport" )"><i class="fa fa-dot-circle-o"></i> Ledger Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> Financial Report</a></li>
                                <li><a href="#"><i class="fa fa-dot-circle-o"></i> CRM Report</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Company Details</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "Company" )"><i class="fa fa-dot-circle-o"></i>Company Details</a></li>
                                <li><a href="@Url.Action("Index", "Division" )"><i class="fa fa-dot-circle-o"></i> Division</a></li>
                                <li><a href="@Url.Action("Index", "Branch" )"><i class="fa fa-dot-circle-o"></i> Branch</a></li>
                                <li><a href="@Url.Action("Index", "Location" )"><i class="fa fa-dot-circle-o"></i> Location</a></li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Email/SMS Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Create", "EmailConfigs" )"><i class="fa fa-dot-circle-o"></i>Email Configs</a></li>
                                <li><a href="@Url.Action("Create", "SMSConfig" )"><i class="fa fa-dot-circle-o"></i>SMS Config</a></li>
                                <li><a href="@Url.Action("Create", "SMSQueue" )"><i class="fa fa-dot-circle-o"></i> SMS Queue</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- Main content -->

                <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
                <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
                <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />

                <script type="text/javascript">

                    $(function () {
                        $('.listbox').multiselect({
                            includeSelectAllOption: true
                        });
                    });
                    $(document).ready(function () {
                        $('.header').click(function () {
                            $(this).nextUntil('tr.header').slideToggle(1000);
                        });
                        $("#CategoryIds").change(function () {
                            var CategoryList = $("#CategoryIds").val();
                            if (CategoryList != null) {
                                var Categorys = ($("#CategoryIds").val()).toString();
                            }
                            else {
                                var Categorys = "";
                            }
                            $.ajax({
                                type: "Post",
                                url: '@Url.Action("_SubCategoryList", "InventoryReport")?CategoryIds=' + Categorys,
                                dataType: "html",
                                success: function successFunc(result) {
                                    $("#_SubCategoryList").html(result);
                                },
                            });
                        });  
                        $("#Print").click(function () {
                            var printContents = document.getElementById('PrintThis').innerHTML;

                            var originalContents = document.body.innerHTML;
                            if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
                                var popupWin = window.open('', '_blank', 'width=600,height=600,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
                                popupWin.document.write('<!DOCTYPE html><html><head>' +
                                    '<link rel="stylesheet" type="text/css" href="style.css" />' +
                                    '</head><body onload="window.print()"><div class="reward-body">' + printContents + '</div></html>');
                                popupWin.onbeforeunload = function (event) {
                                    popupWin.close();
                                    return '.\n';
                                };
                                popupWin.onabort = function (event) {
                                    popupWin.document.close();
                                    popupWin.close();
                                }
                            } else {
                                var popupWin = window.open('', '_blank', 'width=800,height=600');
                                popupWin.document.open();
                                popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</html>');
                                popupWin.document.close();
                            }
                            popupWin.document.close();
                        });
                    });
                </script>

                <div class="box box-primary">
                    <div class="box-body">
                        @using (Html.BeginForm("CustomeReport", "InventoryReport", FormMethod.Post, new { autocomplete = "off" }))
                        {
                            <div class="col-lg-12">
                                <div id="_CategoryList">
                                    @Html.Partial("_CategoryList")
                                </div>
                                <div id="_SubCategoryList">
                                    @Html.Partial("_SubCategoryList")
                                </div>
                                <div id="_SKUList">
                                    @Html.Partial("_SKUList")
                                </div>



                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="erplabel">Brand</label>
                                        <div class="input-group">
                                            @Html.ListBoxFor(m => m.BrandIds, Model.BrandList, new { @class = "listbox form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="erplabel">Location</label>
                                        <div class="input-group">
                                            @Html.ListBoxFor(m => m.LocationIds, Model.LocationList, new { @class = "listbox form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="erplabel">From Date</label>
                                            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1" class="erplabel">To Date</label>
                                            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="erplabel">From MRP</label>
                                        @Html.EditorFor(model => model.MRPFrom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MRPFrom, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="erplabel">To MRP</label>
                                        @Html.EditorFor(model => model.MRPTo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MRPTo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr>
                                            @for (int i = 0; i < Model.AttributeSetListNew.Count; i++)
                                            {
                                                <td>
                                                    <label class="erplabel">@Model.AttributeSetListNew[i].Name</label><div class="clearfix"></div>
                                                    <div class="input-group">
                                                        @Html.DropDownListFor(model => model.AttributeSetListNew[i].ApplicableValues, Model.AttributeSetListNew[i].AttributeValueList, new { @class = "form-control", })                                                   
                                                        @Html.HiddenFor(model => model.AttributeSetListNew[i].Name, new { @id = "AttributeName" + Model.AttributeSetListNew[i].AttributeSetId })
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="col-lg-2" style="margin: 18px 0 0 0;">
                                    <button type="submit" class="btn btn-bitbucket btn-sm">Search</button>
                                    <button type="button" class="btn btn-bitbucket btn-sm" id="Print">Print</button>
                                </div>
                            </div>

                        }
                    </div>
                </div>


                @if (Model.SKUMasterList != null)
                {
                    <div class="row">
                            <div class="box box-primary">
                                <div class="box-body" id="PrintThis">                                    
                                    @if (Model.InventoryReportViewModel != null)
                                    {
                                        <table class="table table-bordered" style="border-collapse:collapse" id="DeleteDiv">
                                            <tbody>
                                                <tr>
                                                    <th rowspan="3" class="erplabel" style="border: 1px solid #000;text-align:center">Particulars</th>
                                                    <th colspan="4" class="erplabel" style="border: 1px solid #000;text-align:center">Opening Balance</th>
                                                    <th colspan="4" class="erplabel" style="border: 1px solid #000;text-align:center">InWards</th>
                                                    <th colspan="4" class="erplabel" style="border: 1px solid #000;text-align:center">OutWards</th>
                                                    <th colspan="4" class="erplabel" style="border: 1px solid #000;text-align:center">Closing Balance</th>
                                                </tr>

                                                <tr>
                                                    <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="4">Total Opening : @((Model.InventoryReportViewModel.TotalOpeningValue ?? 0).ToString("0.00"))</td>
                                                    <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="4">Total Inwards : @((Model.InventoryReportViewModel.TotalInWardsValue ?? 0).ToString("0.00"))</td>
                                                    <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="4">Total OutWards : @((Model.InventoryReportViewModel.TotalOutWardsValue ?? 0).ToString("0.00"))</td>
                                                    <td class="erplabel" style="border: 1px solid #000;text-align:center" colspan="4">Total Balance : @((Model.InventoryReportViewModel.ClosingBalance ?? 0).ToString("0.00"))</td>
                                                </tr>
                                                <tr>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">MRP</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">MRP</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">MRP</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Quantity</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Average Rate</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">Value</th>
                                                    <th class="erplabel" style="border: 1px solid #000;text-align:center">MRP</th>
                                                </tr>
                                                @foreach (var Cateogory in Model.InventoryReportViewModel.CateogoryList)
                                                {
                                                    <tr style="text-align:center">
                                                        <td class="erplabel" style="border: 1px solid #000;text-align:center">@Cateogory.CategoryName</td>
                                                        <td colspan="16" class="erplabel" style="border: 1px solid #000;text-align:center"></td>
                                                    </tr>
                                                    foreach (var SubCategory in Cateogory.SubCategoryList)
                                                    {
                                                        <tr style="text-align:center;border-top:solid;border-top-width:2px;cursor:pointer;" class="header" id="header-@SubCategory.Count">
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">@SubCategory.SubCategoryName</td>
                                                            <td colspan="16" class="erplabel" style="border: 1px solid #000;text-align:center"></td>
                                                        </tr>
                                                        foreach (var SKUMaster in SubCategory.SKUMasterList)
                                                        {
                                                            <tr>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    <a href="@Url.Action("SKUStock", "InventoryReport")?id=@SKUMaster.SKUMasterId" style="text-decoration: none;"> @SKUMaster.SKUName </a>
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OpeningBalance.Count.ToString("0.##") - @SKUMaster.Unit
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OpeningBalance.Rate.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OpeningBalance.Value.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OpeningBalance.MRP.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.InWards.Count.ToString("0.##") - @SKUMaster.Unit
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.InWards.Rate.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.InWards.Value.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.InWards.MRP.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OnWards.Count.ToString("0.##") - @SKUMaster.Unit
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OnWards.Rate.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OnWards.Value.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.OnWards.MRP.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.ClosingBalance.Count.ToString("0.##") - @SKUMaster.Unit
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.ClosingBalance.Rate.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.ClosingBalance.Value.ToString("0.00")
                                                                </td>
                                                                <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                    @SKUMaster.ClosingBalance.MRP.ToString("0.00")
                                                                </td>
                                                            </tr>

                                                        }
                                                        <tr class="header">
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b>Total</b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.OpeningCountTotal.ToString("0.##") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.OpeningRateTotal.ToString("0.00") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.OpeningValueTotal.ToString("0.00") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.InWardsCountTotal.ToString("0.##") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.InWardsRateTotal.ToString("0.00") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.InWardsValueTotal.ToString("0.00") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.OnWardsCountTotal.ToString("0.##") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.OnWardsRateTotal.ToString("0.00") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.OnWardsValueTotal.ToString("0.00") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b>  </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.ClosingBalanceCountTotal.ToString("0.##") </b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b> @SubCategory.ClosingBalanceRateTotal.ToString("0.00")</b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b>@SubCategory.ClosingBalanceValueTotal.ToString("0.00")</b>
                                                            </td>
                                                            <td class="erplabel" style="border: 1px solid #000;text-align:center">
                                                                <b></b>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    
                                    <div class="clearfix"></div>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th><b></b></th>
                                                <th class="erplabel"><b>Serial Number</b></th>
                                                @if (Model.SKUMasterList.AttributeSetList != null)
                                                {
                                                    foreach (var item in Model.SKUMasterList.AttributeSetList)
                                                    {
                                                        <th class="erplabel" style="font-size:small"><b>@item.Name</b></th>
                                                    }
                                                }
                                                <th class="erplabel"><b>Brand</b></th>
                                                <th class="erplabel"><b>Quantity</b></th>
                                                <th class="erplabel"><b>MRP</b></th>
                                                <th class="erplabel"><b>InWards</b></th>
                                                <th class="erplabel"><b>OutWard</b></th>
                                                <th class="erplabel"><b>Action</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.SKUMasterList.ProductList.Select((x, i) => new { Data = x, Index = i + 1 }))
                                            {
                                                <tr>
                                                    <td>
                                                        @item.Index
                                                    </td>
                                                    <td>
                                                        @item.Data.SerialNumber
                                                    </td>
                                                    @if (item.Data.AttributeList != null)
                                                    {
                                                        foreach (var item1 in item.Data.AttributeList)
                                                        {
                                                            <td style="font-size:small">
                                                                @item1
                                                            </td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td style="font-size:small">None</td>
                                                        <td style="font-size:small">None</td>
                                                        <td style="font-size:small">None</td>
                                                        <td style="font-size:small">None</td>
                                                        <td style="font-size:small">None</td>
                                                        <td style="font-size:small">None</td>
                                                    }
                                                    <td>
                                                        @if (item.Data.Brand != null)
                                                        {
                                                            @item.Data.Brand.BrandName                                                        }
                                                        else
                                                        {
                                                            <span>-</span>
                                                        }
                                                    </td>
                                                    <td>
                                                        @item.Data.Quantity.ToString("0.##")
                                                    </td>
                                                    <td>
                                                        @item.Data.MRP
                                                    </td>
                                                    <td>
                                                        @if (item.Data.JobSheetNumber != null)
                                                        {
                                                            <a href="@Url.Action(" Create","Production")?id=@item.Data.JobSheetId">
                                                                @item.Data.JobSheetNumber
                                                            </a>
                                                        }
                                                        else if (item.Data.PurchaseInvoiceNumber == null)
                                                        {
                                                            <span> - </span>
                                                        }
                                                        else
                                                        {
                                                            if (item.Data.IsOpeningStock == true)
                                                            {
                                                                <a href="@Url.Action(" Create","Inventory")?id=@item.Data.PurchaseInvoiceId">
                                                                    @item.Data.PurchaseInvoiceNumber
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="@Url.Action(" Create","PurchaseInvoice")?id=@item.Data.PurchaseInvoiceId">
                                                                    @item.Data.PurchaseInvoiceNumber
                                                                </a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var item1 in item.Data.SaleInvoiceList)
                                                        {
                                                            <a href="@Url.Action("Create","SaleInvoice" )?id=@item1.SaleInvoiceId">
                                                                @item1.SaleInvoiceNo
                                                            </a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.Data.IsSold == true)
                                                        {
                                                            <b style="color:red;font-size:12px">Product Sold</b>
                                                        }
                                                        else if (item.Data.IsBooked == true)
                                                        {
                                                            <b style="color:red;font-size:12px">Product Booked</b>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Action(" Create","Product")?id=@item.Data.ProductId">
                                                                Edit
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>
                }
                <!-- /.content -->
                <!-- Main content -->
                <!-- /.content -->
            </div>

            <!--  <footer class="main-footer">
                  <div class="pull-right hidden-xs">
                      <b>Version</b> 1.0.0
                  </div>
                  <strong>Copyright &copy; 2017 <a href="#">Siddhart Ethic & Mens Wear</a>.</strong> All rights
                  reserved.
              </footer>  -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Create the tabs -->
                <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                    <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                    <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Home tab content -->
                    <div class="tab-pane" id="control-sidebar-home-tab">
                    </div>
                    <!-- /.tab-pane -->
                    <!-- Stats tab content -->
                    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                    <!-- /.tab-pane -->

                </div>
            </aside>
            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
    }
    @*<script src="~/Scripts/bootstrap.js"></script>*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="~/Scripts/jquery-2.2.3.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>*@
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/demo.js"></script>
</body>
</html>
