﻿@model DataLayer.Models.PurchaseInvoiceItem
@{
    ViewBag.Title = "Product - List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-header">
                        <div>SKU : @Model.SKUMaster.SKU</div>
                    </div>
                    <div class="box-body">
                        @if (Model != null)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Serial Number</b></th>
                                        <th class="erplabel"><b>SKU Product Name</b></th>
                                        <th class="erplabel"><b>Purchase Net Price</b></th>
                                        <th class="erplabel"><b>MRP</b></th>
                                        <th class="erplabel"><b>Quantity</b></th>
                                        <th class="erplabel" colspan="2"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProductList)
                                    {
                                        <tr>
                                            <td>
                                                @item.SerialNumber
                                            </td>
                                            <td>
                                                @item.SKUMaster.SKU
                                            </td>
                                            <td>
                                                @item.NetAmount
                                            </td>
                                            <td>
                                                @item.MRP
                                            </td>
                                            <td>
                                                @item.Quantity.ToString("0.##")
                                            </td>

                                            @if (item.IsSold == true)
                                            {
                                                <td>
                                                    <b style="color:red;">Product Sold</b>
                                                </td>

                                            }
                                            else if (item.IsBooked == true)
                                            {
                                                <td>
                                                    <b style="color:red;">Product Booked</b>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <a href="@Url.Action("Create", "Product")?id=@item.ProductId">
                                                        Edit
                                                    </a>
                                                </td>
                                            }
                                            <td>
                                                <a href="@Url.Action("ProductStock", "InventoryReport")?ProductId=@item.ProductId">
                                                    Product Stock
                                                </a>
                                            </td>                                            
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    </div>
</section>
