﻿@model DataLayer.ViewModels.InventoryReportViewModel
@{
    ViewBag.Title = "Inventory Report - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div#spinner {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        background: url(spinner.gif) no-repeat center #fff;
        text-align: center;
        padding: 10px;
        font: normal 16px Tahoma, Geneva, sans-serif;
        border: 1px solid #666;
        margin-left: -50px;
        margin-top: -50px;
        z-index: 2;
        overflow: auto;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Search").click(function () {
            showProgress();
            var LocationId = $("#LocationId option:selected").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();               
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ConsolidatedReport", "InventoryReport")',
                    data: { 'LocationId': LocationId, 'FromDate': FromDate, 'ToDate': ToDate, },
                    dataType: "html",
                    success: function (result) {
                        $("#ReportView").html(result);
                        hideProgress();
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
        });

        $('.header').click(function () {

            $(this).nextUntil('tr.header').slideToggle(1000);
        });

        $('#Test').click(function () {
            var Count = $('#Count').val();
            for (var i = 1; i <= Count; i++) {
                $('#header-' + i).click();
            }
        });

        $("#Print").click(function () {
            var printContents = document.getElementById('PrintThis').innerHTML;

            var originalContents = document.body.innerHTML;
            if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
                var popupWin = window.open('', '_blank', 'width=600,height=600,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
                popupWin.document.write('<!DOCTYPE html><html><head>' +
                    '<link rel="stylesheet" type="text/css" href="style.css" />' +
                    '</head><body onload="window.print()"><div class="reward-body">' + printContents + '</div></html>');
                popupWin.onbeforeunload = function (event) {
                    popupWin.close();
                    return '.\n';
                };
                popupWin.onabort = function (event) {
                    popupWin.document.close();
                    popupWin.close();
                }
            } else {
                var popupWin = window.open('', '_blank', 'width=800,height=600');
                popupWin.document.open();
                popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</html>');
                popupWin.document.close();
            }
            popupWin.document.close();
        });
    });
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
</script>
<div id="spinner">
    Loading...
</div>
<section class="content-header">
    <h1> Inventory  <small>Report</small> </h1>
</section>
<div class="pull-right">
    <button class="btn btn-info" id="Test">Collapse</button>
    <button class="btn btn-info" id="Print">Print</button>
</div>
@Html.HiddenFor(model => model.Count, new { @id = "Count" })
<section class="content">
    <div class="row col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">From Date</label>
                        @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control", @id = "FromDate", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.FromDate, "Required", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">To Date</label>
                        @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control", @id = "ToDate", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.ToDate, "Required", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label erplabel" for="email">Select Location</label>
                        @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @min = "1", @id = "LocationId" })
                        @Html.ValidationMessageFor(model => model.LocationId, "Required", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2" style="margin: 18px 0 0 0;">
                    <button class="btn btn-bitbucket btn-sm" id="Search">Search</button>
                </div>
            </div>

            <div class="box-body">
                <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
                    <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                        <center>
                            <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                                <b>@Model.Company.Name</b>
                            </p>
                            <p style="margin: 0 0 0px;">
                                @Model.Branch.BranchName
                            </p>
                        </center>
                        <center>
                            @Model.Company.Address
                            @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                            GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                            <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                                Inventory Report

                            </div>

                        </center>
                        <div id="ReportView">
                            @Html.Partial("_ConsolidatedReport")
                        </div>

                        <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                            <span> * This is a Computer Generated Document hence no Signature is Required</span>
                        </div><br>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


