﻿@model DataLayer.ViewModels.SKUMasterList
@{
    ViewBag.Title = "Inventory Report - Product Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1> Inventory  <small>Report</small> </h1>
</section>

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="5" style="text-align:center">InWards</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center">Entry</th>
                                    <th style="text-align:center">Supplier</th>
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:center">Rate</th>
                                    <th style="text-align:center">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SKUStockList.Where(x => x.IsInword == true))
                                {
                                    <tr>
                                        <td>
                                            @if (item.PurchaseInvoice != null)
                                            {
                                                <span>Purchase Invoice Number : </span>
                                                <a href="@Url.Action("Create", "PurchaseInvoice")?id=@item.PurchaseInvoice.PurchaseInvoiceId">
                                                    @item.PurchaseInvoice.PurchaseInvoiceNo
                                                </a>
                                            }
                                            else if (item.JobSheet != null)
                                            {
                                                <span>JobSheet Number : </span>
                                                <a href="@Url.Action("Create", "Production")?id=@item.JobSheet.JobSheetId">
                                                    @item.JobSheet.ProductNumber
                                                </a>
                                            }
                                            else
                                            {
                                                <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.PurchaseInvoice != null && item.PurchaseInvoice.Account != null)
                                            {
                                                @item.PurchaseInvoice.Account.Name
                                            }
                                            else
                                            {
                                                <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @item.Count.ToString("0.##")
                                        </td>
                                        <td>
                                            @item.Rate.ToString("0.00")
                                        </td>
                                        <td>
                                            @item.Value.ToString("0.00")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="5" style="text-align:center">Out Word</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center">Entry</th>
                                    <th style="text-align:center">Customer</th>
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:center">Rate</th>
                                    <th style="text-align:center">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SKUStockList.Where(x => x.IsInword == false))
                                {
                                    <tr>
                                        <td>
                                            @if (item.SaleInvoice != null)
                                            {
                                                <span>Sale Invoice Number : </span>
                                                <a href="@Url.Action("Create", "SaleInvoice")?id=@item.SaleInvoice.SaleInvoiceId">
                                                    @item.SaleInvoice.SaleInvoiceNo
                                                </a>

                                            }
                                            else if (item.JobSheet != null)
                                            {
                                                <span>JobSheet Number : </span>
                                                if (item.JobSheet.JobSheetStatus == DataLayer.Enums.JobSheetStatus.New)
                                                {
                                                    <a href="@Url.Action("Create", "Production")?id=@item.JobSheet.JobSheetId">
                                                        @item.JobSheet.ProductNumber
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("FutherProcess", "Production")?id=@item.JobSheet.JobSheetId">
                                                        @item.JobSheet.ProductNumber
                                                    </a>
                                                }

                                            }
                                            else
                                            {
                                                <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.SaleInvoice != null && item.SaleInvoice.Customer != null)
                                            {
                                                @item.SaleInvoice.Customer.Name
                                            }
                                            else
                                            {
                                                <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @item.Count.ToString("0.##")
                                        </td>
                                        <td>
                                            @item.Rate.ToString("0.00")
                                        </td>
                                        <td>
                                            @item.Value.ToString("0.00")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>