﻿@model DataLayer.ViewModels.ProductSearchViewModel
@{
    ViewBag.Title = "Product - Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Search</h3>
                </div>
                <div class="box-body">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Search Type</label>
                            @Html.DropDownListFor(model => model.SearchType, Model.SearchTypeList, new { @class = "form-control", @id = "SearchType" })
                        </div>
                    </div>
                    <div id="SearchTypeLedger"> 
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel">Search Ledger</label>
                                <input type="text" id="LedgerName" , name="model.Contact.FirstName" value="" class="form-control" />
                                <input type="hidden" id="LedgerId" , name="model.Contact.FirstName" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">From Date</label>
                                @Html.EditorFor(model => model.LedgerReportViewModel.StartingDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "FromDate" } })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">To Date</label>
                                @Html.EditorFor(model => model.LedgerReportViewModel.LastDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "ToDate" } })
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin: 18px 0 0 0;">
                            <button class="btn btn-bitbucket btn-sm" id="Search">Search</button>
                        </div>
                    </div>

                    <div id="SearchTypeProduct">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Search SKU</label>
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.SKU, new { @class = "form-control", @id = "SKU" })
                                    @Html.HiddenFor(model => model.SKUMasterId, new { @id = "SKUMasterId" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Product Serial Number</label>
                                @Html.EditorFor(model => model.SearchProduct, new { htmlAttributes = new { @class = "form-control", @id = "SearchProduct" } })
                                <label id="ErrProduct" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin: 18px 0 0 0;">
                            <button class="btn btn-bitbucket btn-sm" id="ProductSearch">Search Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="SKUDetails">
        @Html.Partial("_SKUDetails")
    </div>
    <div id="LedgerDetails">
        @Html.Partial("_LedgerList")
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrModelSKUList").hide();
        $("#ErrProduct").hide();
        $("#SearchTypeProduct").hide();
        $("#SearchTypeLedger").hide();

        $("#SearchType").change(function () {
            var SearchType = $("#SearchType").val();
            if (SearchType == "-1"){
                $("#SearchTypeProduct").hide();
                $("#SearchTypeLedger").hide();
            }
            else if (SearchType == "Product") {
                $("#SearchTypeProduct").show();
                $("#SearchTypeLedger").hide();
            }
            else if (SearchType == "Ledger"){
                $("#SearchTypeProduct").hide();
                $("#SearchTypeLedger").show();
            }
            //else if (){
            //    $("#SearchTypeProduct").hide();
            //    $("#SearchTypeLedger").hide();
            //}

        });
        $("#ProductSearch").click(function () {
            var Err = 0;
            var SearchProduct = $("#SearchProduct").val();
            if (SearchProduct == "" || SearchProduct == null) {
                $("#ErrProduct").show();
                setTimeout(function () {
                    $('#ErrProduct').fadeOut();
                }, 2000);
                Err++;
            }
            else
            {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ProductDetails", "InventoryReport")?SearchProduct=' + SearchProduct,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#SKUDetails").show();
                        $("#SKUDetails").html(result);
                        $("#LedgerDetails").hide();
                    },
                    error: function (data) {
                        //$("#Search").val("");
                        //alert("Product Not Found");
                    }
                });
            }
        });

        $("#Search").click(function () {
            var Err = 0;
            var LedgerId = parseFloat($("#LedgerId").val() || 0);
            if (LedgerId <= 0) {
                $("#ErrAccountCategoryId").show();
                setTimeout(function () {
                    $('#ErrAccountCategoryId').fadeOut();
                }, 2000);
                Err++;
            }
            if (Err == 0) {
                var FromDate = $("#FromDate").val();
                var ToDate = $("#ToDate").val();
                var Ledger = $("#LedgerName").val();
                $("label[for='NewLable']").text("Ledger : " + Ledger + " From " + FromDate + " To " + ToDate);
                var model = { 'LedgerId': LedgerId, 'FromDate': FromDate, 'ToDate': ToDate, }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LedgerList", "InventoryReport")',
                    data: { 'ViewModel': model },
                    dataType: "html",
                    success: function (result) {
                        $("#LedgerDetails").show();
                        $("#LedgerDetails").html(result);
                        $("#SKUDetails").hide();
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
        });

        $(function () {
            $("[id*=LedgerName]").autocomplete({
                source: function (request, response) {
                    var Product = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        url: "/LedgerReport/LedgerList",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#LedgerName").val(ui.item.label);
                    $('#LedgerId').val(ui.item.Id);
                    return false;
                }
            });
        });

        $(function () {
            $("[id*=SKU]").autocomplete({
                source: function (request, response) {
                    $('#SKUMasterId').val(0);
                    var Product = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url:
                       "@(Url.Action("GetSKUList", "Home"))",
                        data: {
                            "term": request.term
                        },
                        success: function (data) {
                            for (var i = 0; i < data.length ; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#SKU").val(ui.item.label);
                    $('#SKUMasterId').val(ui.item.Id);
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("_SKUDetails", "InventoryReport")?SKUMasterId=' + ui.item.Id,
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        success: function (result) {
                            $("#SKUDetails").show();
                            $("#SKUDetails").html(result);
                            $("#LedgerDetails").hide();
                        },
                        error: function (data) {

                        }
                    });
                    return false;
                }
            });
        });
     });

</script>