﻿@model DataLayer.ViewModels.SKUMasterList
@{
    ViewBag.Title = "Inventory Report - Product Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1> Product  <small>Ledger</small> </h1>
</section>

<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <label class="erplabel"><b>SKU</b> : @Model.SKUMaster.SKU</label> &nbsp&nbsp&nbsp&nbsp
                    <label class="erplabel"><b>Category</b> : @Model.SKUMaster.Category.Name</label> &nbsp&nbsp&nbsp&nbsp
                    <label class="erplabel"><b>Sub-Category</b> : @Model.SKUMaster.SubCategory.Name</label> &nbsp&nbsp
                    <div class="pull-right">
                        <h4><label>Stock Available : @((Model.SKUStockList.Where(x => x.IsInword == true).Sum(x => x.Count) - Model.SKUStockList.Where(x => x.IsInword == false && !(x.IsReturn ?? false)).Sum(x => x.Count)).ToString("0.##"))</label></h4>
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align:center">InWards</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center">Entry</th>
                                    <th style="text-align:center">Supplier</th>
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:center">Rate</th>
                                    <th style="text-align:center">Value</th>
                                    <th style="text-align:center">MRP</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SKUStockList.Where(x => x.IsInword == true))
                                {
                                    <tr>
                                        <td>
                                            @if (item.PurchaseInvoice != null)
                                            {
                                                if (item.PurchaseInvoice.IsOpeningStock == true)
                                                {
                                            <span>Opening Stock Number : </span>
                                            <a href="@Url.Action("Create","Inventory")?id=@item.PurchaseInvoice.PurchaseInvoiceId">
                                                @item.PurchaseInvoice.PurchaseInvoiceNo
                                            </a>
                                                }
                                                else
                                                {
                                            <span>Purchase Invoice Number : </span>
                                            <a href="@Url.Action("Create","PurchaseInvoice")?id=@item.PurchaseInvoice.PurchaseInvoiceId">
                                                @item.PurchaseInvoice.PurchaseInvoiceNo
                                            </a>
                                                }
                                            }
                                            else if (item.JobSheet != null)
                                            {
                                            <span>JobSheet Number : </span>
                                            <a href="@Url.Action("Create", "Production")?id=@item.JobSheet.JobSheetId">
                                                @item.JobSheet.ProductNumber
                                            </a>
                                            }
                                            else
                                            {
                                            <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.PurchaseInvoice != null && item.PurchaseInvoice.Account != null)
                                            {
                                            @item.PurchaseInvoice.Account.Name
                                            }
                                            else
                                            {
                                            <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @item.Count.ToString("0.##")
                                        </td>
                                        <td>
                                            @item.Rate.ToString("0.00")
                                        </td>
                                        <td>
                                            @item.Value.ToString("0.00")
                                        </td>
                                        <td>
                                            @item.MRP.ToString("0.00")
                                        </td>
                                    </tr>
                                }
                                <tr style="border: solid thin;">
                                    <td>Total InWards :</td>
                                    <td></td>
                                    <td>
                                        @Model.SKUStockList.Where(x => x.IsInword == true).Sum(x => x.Count).ToString("0.##")
                                    </td>
                                    <td>
                                        @Model.SKUStockList.Where(x => x.IsInword == true).Sum(x => x.Rate).ToString("0.##")
                                    </td>
                                    <td>
                                        @Model.SKUStockList.Where(x => x.IsInword == true).Sum(x => x.Value).ToString("0.##")
                                    </td>
                                    <td></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="5" style="text-align:center">OutWard</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center">Entry</th>
                                    <th style="text-align:center">Customer</th>
                                    <th style="text-align:center">Quantity</th>
                                    <th style="text-align:center">Rate</th>
                                    <th style="text-align:center">Value</th>
                                    <th style="text-align:center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SKUStockList.Where(x => x.IsInword == false))
                                {
                                    <tr>
                                        <td>
                                            @if (item.SaleInvoice != null)
                                            {
                                                if (item.SaleInvoice.Type == DataLayer.Constants.SALE_TYPE_SALE_INVOICE)
                                                {
                                                    <span>Sale Invoice Number : </span>
                                                    <a href="@Url.Action("Create","SaleInvoice")?id=@item.SaleInvoice.SaleInvoiceId">
                                                        @item.SaleInvoice.SaleInvoiceNo
                                                    </a>
                                                }
                                                else if (item.SaleInvoice.Type == DataLayer.Constants.SALE_TYPE_PURCHASE_RETURN)
                                                {
                                                    <span>Purchase Return : </span>
                                                    <a href="@Url.Action("Create", "PurchaseReturn")?id=@item.SaleInvoice.SaleInvoiceId">
                                                        @item.SaleInvoice.SaleInvoiceNo
                                                    </a>
                                                }
                                                else if (item.SaleInvoice.Type == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                                {
                                                    <span>Sales Exchange Number : </span>
                                                    <a href="@Url.Action("Exchange", "SalesExchange")?id=@item.SaleInvoice.SaleInvoiceId">
                                                        @item.SaleInvoice.SaleInvoiceNo
                                                    </a>
                                                }
                                            }
                                            else if (item.JobSheet != null)
                                            {
                                                <span>JobSheet Number : </span>
                                                if (item.JobSheet.JobSheetStatus == DataLayer.Enums.JobSheetStatus.New)
                                                {
                                                    <a href="@Url.Action("Create", "Production")?id=@item.JobSheet.JobSheetId">
                                                        @item.JobSheet.ProductNumber
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("FutherProcess", "Production")?id=@item.JobSheet.JobSheetId">
                                                        @item.JobSheet.ProductNumber
                                                    </a>
                                                }

                                            }
                                            else
                                            {
                                                <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.SaleInvoice != null && item.SaleInvoice.Customer != null)
                                            {
                                                @item.SaleInvoice.Customer.Name
                                            }
                                            else
                                            {
                                                <span> - </span>
                                            }
                                        </td>
                                        <td>
                                            @item.Count.ToString("0.##")
                                        </td>
                                        <td>
                                            @item.Rate.ToString("0.00")
                                        </td>
                                        <td>
                                            @item.Value.ToString("0.00")
                                        </td>
                                        <td>
                                            @if (item.IsReturn ?? false)
                                            {
                                                <span>Return</span>
                                            }
                                            else
                                            {
                                                <span>Sold</span>
                                            }
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td>Total OutWard :</td>
                                    <td></td>
                                    <td>
                                        @Model.SKUStockList.Where(x => x.IsInword == false && !(x.IsReturn ?? false)).Sum(x => x.Count).ToString("0.##")
                                    </td>
                                    <td>
                                        @Model.SKUStockList.Where(x => x.IsInword == false && !(x.IsReturn ?? false)).Sum(x => x.Rate).ToString("0.##")
                                    </td>
                                    <td>
                                        @Model.SKUStockList.Where(x => x.IsInword == false && !(x.IsReturn ?? false)).Sum(x => x.Value).ToString("0.##")
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="erplabel"><b>Serial Number</b></th>

                                @if (Model.AttributeSetList != null)
                                {
                                    foreach (var item in Model.AttributeSetList)
                                    {
                                        <th class="erplabel"><b>@item.Name</b></th>
                                    }
                                }
                                <th class="erplabel"><b>Quantity</b></th>
                                <th class="erplabel"><b>InWards</b></th>
                                <th class="erplabel"><b>Action</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductList)
                            {
                                <tr>
                                    <td>
                                        @item.SerialNumber
                                    </td>
                                    @if (item.AttributeList != null)
                                    {
                                        foreach (var item1 in item.AttributeList)
                                        {
                                            <td>
                                                @item1
                                            </td>
                                        }
                                    }
                                    <td>
                                        @item.Quantity.ToString("0.##")
                                    </td>
                                    <td>
                                        @if (item.JobSheetNumber != null)
                                        {
                                            <span>JobSheet Number : </span>
                                            <a href="@Url.Action("Create", "Production")?id=@item.JobSheetId">
                                                @item.JobSheetNumber
                                            </a>
                                        }
                                        else if (item.PurchaseInvoiceNumber == null)
                                        {
                                            <span> - </span>
                                        }
                                        else
                                        {

                                            if (item.IsOpeningStock == true)
                                            {
                                                <span>Opening Stock Number : </span>
                                                <a href="@Url.Action("Create","Inventory")?id=@item.PurchaseInvoiceId">
                                                    @item.PurchaseInvoiceNumber
                                                </a>
                                            }
                                            else
                                            {
                                                <span>Purchase Invoice Number : </span>
                                                <a href="@Url.Action("Create","PurchaseInvoice")?id=@item.PurchaseInvoiceId">
                                                    @item.PurchaseInvoiceNumber
                                                </a>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsSold == true)
                                        {
                                            <b style="color:red;">Product Sold</b>
                                        }
                                        else if (item.IsBooked == true)
                                        {
                                            <b style="color:red;">Product Booked</b>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Create", "Product")?id=@item.ProductId">
                                                Edit
                                            </a>
                                        }
                                        @*<span>||</span>
                                            <a href="@Url.Action("ProductStock", "InventoryReport")?ProductId=@item.ProductId">
                                                Product Stock
                                            </a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>