﻿@model DataLayer.Models.Contact

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            @using (Html.BeginForm("Create", "Contact", FormMethod.Post))
            {
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">User Details</h3>
                    </div>
                    <div class="box-body">
                        @Html.HiddenFor(model => model.Type, new { @id = "RecordType" })
                        @Html.HiddenFor(model => model.ContactId, new { @id = "UserId" })
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.SupplierNumber)
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Title</label>
                                @Html.EnumDropDownListFor(model => model.TitleList, "Select a Title", new { @class = "form-control", @required = "required", @id = "ContactTitle" })
                                @Html.ValidationMessageFor(model => model.TitleList, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright" id="DivFirstName">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">First Name </label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required", @id = "FirstName" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright" id="DivMiddleName">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Middle Name </label>
                                @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control", @id = "MiddleName" } })
                                @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright" id="DivLastName">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Last Name </label>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @id = "LastName" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright" id="DivCompanyName">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Company Name </label>
                                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @id = "CompanyName", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.CompanyName, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Address1 </label>
                                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Address2 </label>
                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="erplabel" for="email">Country</label>
                                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", id = "Country" } })
                                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="erplabel" for="email">State</label>
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @id = "State" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="erplabel" for="email">City</label>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @id = "City" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Mobile</label>
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @id = "ContactNo1", @required = "required", @min = "7000000000" } })
                                @Html.ValidationMessageFor(model => model.Mobile, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Phone</label>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @id = "ContactNo2" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Email ID</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Pan card No. </label>
                                @Html.EditorFor(model => model.PanCardNo, new { htmlAttributes = new { @class = "form-control" , @id = "PanCardNo" } })
                                @Html.ValidationMessageFor(model => model.PanCardNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">GST No</label>
                                @Html.EditorFor(model => model.GSTNo, new { htmlAttributes = new { @class = "form-control", @id = "GSTNo" } })
                                @Html.ValidationMessageFor(model => model.GSTNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 nopadding paddingright">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Social ID</label>
                                @Html.EditorFor(model => model.SocialId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SocialId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-body">
                        <div class="col-lg-12 nopadding paddingright">
                            <div class="box-header with-border">
                                <h3 class="box-title pull-left">Ledger Details </h3>
                                <div class="col-lg-2 createmargin">
                                    <div class="col-md-12">
                                        @Html.CheckBoxFor(m => m.IsLedgerRequired, new { @id = "ledgerCheck" })
                                        <label class="control-label erplabel" for="email">Create Ledger</label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="ledgerDiv">
                            <div class="col-lg-12">
                                @Html.HiddenFor(model => model.Ledger.LedgerId)
                                @Html.HiddenFor(model => model.Ledger.ContactId)
                                @Html.HiddenFor(model => model.Ledger.Name)
                                @Html.HiddenFor(model => model.Ledger.CurrentBalance)
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Category</label>
                                        @Html.DropDownListFor(model => model.Ledger.AccountCategoryId, Model.Ledger.ContactCategoryList, new { @class = "form-control", @id = "AccountCategoryId" })
                                        @Html.ValidationMessageFor(model => model.Ledger.AccountCategoryId, "Required", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Subcategory </label>
                                        @Html.DropDownListFor(model => model.Ledger.AccountSubCategoryId, Model.Ledger.ContactSubCategoryList, new { @class = "form-control", @id = "AccountSubCategory" })
                                        @Html.ValidationMessageFor(model => model.Ledger.AccountSubCategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Opening Balance </label>
                                        @Html.EditorFor(model => model.Ledger.StartingBalance, new { htmlAttributes = new { @class = "form-control", @id = "OpeningBalance" } })
                                        @Html.ValidationMessageFor(model => model.Ledger.StartingBalance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Dr/Cr </label>
                                        @Html.DropDownListFor(model => model.Ledger.Type, Model.Ledger.TypesList, new { @class = "form-control", @id = "DrCr" })
                                        @Html.ValidationMessageFor(model => model.Ledger.Type, "Required", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Entry Date</label>
                                        @Html.EditorFor(model => model.Ledger.EntryDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ledger.EntryDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Wallet Balance</label>
                                        @Html.EditorFor(model => model.Ledger.WalletBalance, new { htmlAttributes = new { @class = "form-control", @id = "WalletBalance" } })
                                        @Html.ValidationMessageFor(model => model.Ledger.WalletBalance, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-lg-2 nopadding paddingright">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary mdl-js-button btn-block mdl-button--raised mdl-js-ripple-effect mdl-button--colored form-control" id="btnContactSubmit" value="Save" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        var City = $("#City").val();
        $("#secondlist option").filter(function () {
            if ($(this).val() == City) {
                return true;
            }
        }).prop('selected', true);
    });
</script>
