﻿@model DataLayer.ViewModels.ContactViewModel
@{
    ViewBag.Title = "_ItemList";
}

@if (Model.ContactList != null)
{
    <div class="dropdown pull-right inline">
        <a href="@Url.Action("Create","Contact",new { type = Model.Type } )" class="pull-right btn-bitbucket btn-sm">New @Model.Type</a>
    </div>
    <div class="tablediv">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Contact No.</th>
                    <th>GST No.</th>
                    <th>Email Id</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ContactList)
                {
                    <tr>
                        @if (item.TitleList == DataLayer.Enums.TitleType.Ms)
                        {
                            <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                        <td>@Html.DisplayFor(modelItem => item.GSTNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        @if (item.IsDeleted != true)
                        {
                            <td>
                                <a href="@Url.Action("Create", "Contact",new { id = @item.ContactId, type = @item.Type })">
                                    Edit
                                </a>
                                ||
                                <a href="@Url.Action("Delete", "Contact",new { id = @item.ContactId, type = @item.Type })" onclick="return confirm('Are you sure you want to delete this.')">
                                    Delete
                                </a>
                                @if (Model.Type == "Customer")
                                {
                                    <span>||</span>
                                    <a href="@Url.Action("Details", "Contact",new { id = @item.ContactId })">
                                        Details
                                    </a>

                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }


                    </tr>
                }
            </tbody>
        </table>

    </div>
}
else
{
    <label>No User Found</label>
}
