﻿@model DataLayer.Models.Contact
@{
    ViewBag.Title = "User - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .field-validation-valid {
        display: none;
    }

    .validation-summary-valid {
        display: none;
    }
</style>
<script src="~/Scripts/state.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        ShowledgerDiv();
        ShowLoginDiv();
        ShowNameField();

        $("#ErrUserName").hide();
        $("#ErrDesignation").hide();
        $("#ErrDivision").hide();
        $("#ErrBranch").hide();

        $("#ContactTitle").change(function () {
            ShowNameField();
        });

        $("#UserName").keyup(function () {
            var UserName = $('#UserName').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExistingUser", "Contact")?UserName=' + UserName,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#ErrUserName").show();
                    $("#btnContactSubmit").prop("disabled", true);
                }
                else {
                    $("#btnContactSubmit").prop("disabled", false);
                    $("#ErrUserName").hide();
                }
            }
        });

        $("#ledgerCheck").change(function () {
            ShowledgerDiv()
        });

        $("#loginCheck").change(function () {
            ShowLoginDiv();
        });

        $("#IdType").change(function () {
            $("#IdNumber").val("");            
        });
        
        $("#FirstName,#MiddleName,#LastName,#Country,#State,#City").keypress(function (e) {
            if ((e.which < 97 || e.which > 122) && (e.which < 65 || e.which > 90)) {
                return false;
            }
        });

        $("#PanCardNo").keypress(function (e) {
            if ((e.which < 48 || e.which > 57) && (e.which < 97 || e.which > 122) && (e.which < 65 || e.which > 90)) {
                return false;
            }
            var stat = $(this).val();
            if (stat.length > 9) {
                return false;
            }
        });

        $("#AadharCardNo").keypress(function (e) {
            if ((e.which < 48 || e.which > 57)) {
                return false;
            }
            var stat = $(this).val();
            if (stat.length > 11) {
                return false;
            }
        });

        $("#GSTNo").keypress(function (e) {
            if ((e.which < 48 || e.which > 57) && (e.which < 97 || e.which > 122) && (e.which < 65 || e.which > 90)) {
                return false;
            }
            var stat = $(this).val();
            if (stat.length > 14) {
                return false;
            }
        });

        $("#SalaryPerMonth,#WalletBalance").keypress(function (e) {
            if ((e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });

        $("#ContactNo1,#ContactNo2").keypress(function (e) {
            if ((e.which < 48 || e.which > 57)) {
                return false;
            }
            var stat = $(this).val();
            if (stat.length > 9) {
                return false;
            }
        });

        $("#AccountCategoryId").change(function () {
            GetSubcategory();
        });

        $("#btnContactSubmit").click(function () {
            var Error = 0;
            var POB2 = $("#listBox").val();
            document.getElementById('state').value = POB2;

            var POB1 = $("#secondlist").val();
            document.getElementById('City').value = POB1;

            if ($("#loginCheck").is(':checked'))
            {
                if ($("#UserPassword").val() != $("#ConfirmPassword").val())
                {
                    $("#ErrConfirmPassword").show();
                    Error++;
                }
            }
                     
            var RecordType = $("#RecordType").val();
            if (RecordType == "Employee")
            {
                if($("#DesignationId option:selected").val() == "-1")
                {
                    $("#ErrDesignation").show();
                    Error++;
                }

                if($("#DivisionId option:selected").val() == "-1")
                {
                    $("#ErrDivision").show();
                    Error++;
                }

                if ($("#BranchId option:selected").val() == "-1")
                {
                    $("#ErrBranch").show();
                    Error++;
                }
            }
            if(Error > 0)
            {
                return false;
            }
            else
            {
                return true;
            }
        });
    });
    function ShowNameField() {
        var val = $("#ContactTitle option:selected").text();
        if (val == "M/s.") {
            $("#DivFirstName").hide();
            $("#DivMiddleName").hide();
            $("#DivLastName").hide();
            $("#DivCompanyName").show();

        }
        else {
            $("#DivFirstName").show();
            $("#DivMiddleName").show();
            $("#DivLastName").show();
            $("#DivCompanyName").hide();
        }
    }

    function ShowledgerDiv()
    {
        if ($("#ledgerCheck").is(':checked')) {
            $("#ledgerDiv").show();
        }
        else {
            $("#ledgerDiv").hide();
        }
    }

    function ShowLoginDiv()
    {
        if ($("#loginCheck").is(':checked')) {
            $("#loginDiv").show();
            $("#ErrConfirmPassword").hide();
        }
        else {
            $("#loginDiv").hide();
        }
    }

    function GetSubcategory() {
        var value = $("#AccountCategoryId option:selected").val();
        if (value != 0) {
            $("#AccountSubCategory").empty();
            $.ajax({
                type: "Post",
                url: '@Url.Action("ContactSubCategoryList", "Ledger")?contactcategoryid=' + value,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (ContactSubCategoryList) {
                    $("#AccountSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                    $.each(ContactSubCategoryList, function (i, Sub) {
                        $("#AccountSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                    });
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }
</script>

<div style="background-color:lightgray">

    @if (Model.Type == "Employee")
    {
        @Html.Partial("_CreateEmployee", Model)
    }
    else if (Model.Type == "Customer")
    {
        @Html.Partial("_CreateCustomer", Model)
    }
    else if (Model.Type == "Supplier")
    {
        @Html.Partial("_CreateSupplier", Model)
    }
</div>
