﻿
@{
    ViewBag.Title = "Details";
}



<section class="content">

    @using (Html.BeginForm("Create", "Lead", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
     
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Details</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8 col-md-8 nopadding paddingright">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Title</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">Abc</label>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">First Name</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">John</label>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Last Name</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">Doe</label>


                                    </div>
                                </div>




                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Address 1</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">71 ,Prilgrim Avenue Chevy Chase,Md 20815,44 Shirley Avenue,West Chicago,Philadephia,Pennesylvia 15666 USA</label>

                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Address 2</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">71 ,Prilgrim Avenue Chevy Chase,Md 20815,44 Shirley Avenue,West Chicago,Philadephia,Pennesylvia 15666 USA</label>

                                    </div>
                                </div>




                            </div>

                            <div class="row">


                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Country</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">USA</label>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">State</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">Pennslyavia</label>
                                    </div>
                                </div>




                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">City</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">Chicago</label>
                                    </div>
                                </div>



                            </div>









                            <div class="row">



                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Mobile</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">0123456789</label>
                                    </div>
                                </div>




                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Phone</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">0712-758456</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Email</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">johndoe@gmail.com</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Pan No.</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">7451236589</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">GST No.</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">27</label>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label erplabel" for="email">Social ID</label><span style="margin: 0px 5px 0 10px;">:</span>
                                        <label class="control-label erplabel" for="email">444-444-444</label>
                                    </div>
                                </div>





                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4">
                            <div class="row">
                                <div class="box box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Details</h3>




                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                            <div class="form-group">
                                                <label class="control-label erplabel" for="email">Opening Balance</label><span style="margin: 0px 5px 0 10px;">:</span>
                                                <label class="control-label erplabel" for="email">10,000</label>

                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
                                            <div class="form-group">
                                                <label class="control-label erplabel" for="email">Closing Balance</label><span style="margin: 0px 5px 0 10px;">:</span>
                                                <label class="control-label erplabel" for="email">50,000</label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                        <br/>
                <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Details</h3>
                                

                                    <div class="tablediv">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Invoice No.</th>
                                                    <th>Invoice Amount</th>
                                                    <th>Invoice Date</th>
                                                    <th>No. of Item</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                    </div>
                            </div>

                                </div>


                                <div class="col-lg-4 col-md-4 ">
                                    <div class="">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Leads</h3>




                                                <div class="form-group">
                                                    <label class="control-label erplabel" for="email">William</label>
                                                    <label class="control-label erplabel" for="email">10,000</label>
                                                    <label class="control-label erplabel" for="email">Status</label>

                                                </div>

                                               

                                            </div>
                                        </div>
                                    </div>

                                </div>
                        </div>








                                <div class="clearfix"></div>


                            </div>

                        </div>
                </div>
            </div>
      
    }
</section>