﻿@model DataLayer.ViewModels.ContactViewModel
@{
    ViewBag.Title = "User - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    div#spinner {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        background: url(spinner.gif) no-repeat center #fff;
        text-align: center;
        padding: 10px;
        font: normal 16px Tahoma, Geneva, sans-serif;
        border: 1px solid #666;
        margin-left: -50px;
        margin-top: -50px;
        z-index: 2;
        overflow: auto;
    }
</style>

<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlSelectType").change(function () {
            var type = $("#ddlSelectType").val();
            showProgress();
            if (type != "-1") {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ItemList", "Contact")?Type=' + type,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                        hideProgress()
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            }
            else {
                alert("Please Select Valid Option");
                return false;
            }

        });
    });
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
</script>
<div id="spinner">
    Loading...
</div>
<section class="content-header">

    <label id="ErrLabel" class="text-danger"></label>

</section>
<section class="content-header">
    <h1> User<small>panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User </li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
    {
        <script type="text/javascript">
        $("#ErrLabel").text("@ViewBag.ErrorMsg");
        setTimeout(function () {
            $('#ErrLabel').fadeOut();
        }, 5000);
        </script>
    }
    else
    {
        <script type="text/javascript">
        $("#ErrLabel").hide();

        </script>
    }
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div>
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Select Type</label>
                                    @Html.DropDownListFor(model => model.Type, Model.SelectType, new { @class = "form-control", @id = "ddlSelectType" })
                                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="box-body col-lg-12" style="overflow-y:scroll; height:450px;">
                            <div id="ItemListView">
                                @Html.Partial("_ItemList")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
