﻿@model DataLayer.Models.SmsQueue

<section class="content-header">
    <h1> SMS <small>panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">SMS</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <div class="box-body">
                        @using (Html.BeginForm("Edit", "SMSQueue", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <div class="right_col" role="main">
                                    <div class="page-title">
                                        <div class="title_left col-md-4">
                                            <h3>Send SMS Manager</h3>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <br />

                                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                                    {
                                        <script>alert("@ViewBag.ErrorMsg")</script>
                                    }

                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel panel-group">
                                                <div class="col-lg-12">
                                                    <input type="submit" value="Save" class="btn btn-primary col-lg-offset-11" id="btnSubmitSub" />
                                                </div>
                                                <div class="x_content panel-body">
                                                    <hr />
                                                    <form class="form-horizontal form-label-left">

                                                        <div class="form-group">
                                                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                <label>
                                                                    @Html.HiddenFor(model => model.Subject)
                                                                    @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label" })
                                                                </label>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                @Html.TextAreaFor(model => model.Body, htmlAttributes: new { @class = "form-control", id = "BodyId", onkeyup = "countChar(this)", rows = "5", maxlength = "160", })
                                                                <div id="charNum"></div>
                                                                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <br />

                                                        <div class="form-group">
                                                            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                                                                <label>
                                                                    @Html.LabelFor(model => model.SendDate, htmlAttributes: new { @class = "control-label" })
                                                                </label>
                                                            </div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                                @Html.EditorFor(model => model.SendDate, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.ValidationMessageFor(model => model.SendDate, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <br />

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
