﻿@model DataLayer.ViewModels.DesignationViewModel
@{
    ViewBag.Title = "Desigantion Master - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#err_DesignationType").hide();

        if ($("#hiddenDesignationId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

        $("#btnSubmit").click(function () {
            if ($("#txtDesignationType").val() == "") {
                $("#err_DesignationType").show();
                $("#err_DesignationType").text("Designation type");
                return false;
            }
           });

    });
</script>

<section class="content-header">
    <h1> Desigantion Master <small>panel</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Desigantion Master</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4">
            <div class="box box-primary" style="height:514px">
                <div class="box-header with-border">
                    <h3 class="box-title">Desigantion Master Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>


                    }
                    else
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").hide();

                        </script>
                    }
                    <!-- /.box-header -->
                    <!-- form start  <p class="help-block">Example block-level help text here.</p>-->
                    @using (Html.BeginForm("Create", "Designation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.Desigantion.DesignationId,new { @id= "hiddenDesignationId" })
                        @Html.HiddenFor(model => model.Desigantion.CreatedBy)
                        @Html.HiddenFor(model => model.Desigantion.CreatedDate)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Designation Type</label>
                            @Html.EditorFor(model => model.Desigantion.DesignationType, new { htmlAttributes = new { @class = "form-control", @id = "txtDesignationType" } })
                            <label class="text-danger" id="err_DesignationType" style="color:#a94442;font-weight: normal;"></label>
                            @Html.ValidationMessageFor(model => model.Desigantion.DesignationType, "", new { @class = "text-danger" })
                        </div>

                        <div class="box-footer">
                            <button class="btn btn-bitbucket btn-sm" id="btnSubmit">Save</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-8">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="overflow-y:scroll; height:488px;">
                            @if (Model.DesignationList != null && Model.DesignationList.Count > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Designation name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.DesignationList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DesignationType)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Index", "Designation")?id=@item.DesignationId">
                                                        Edit
                                                    </a>
                                                    ||
                                                    <a href="@Url.Action("Delete", "Designation",new { id=@item.DesignationId})" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>