﻿@model DataLayer.ViewModels.SaleInvoiceViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Delivery Memo - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Delivery<small> Memo </small> </h1> 
    <label id="ErrLabel" style="color:red"></label>

</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();
                    </script>
                }

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 pull-right">
                    <a href="@Url.Action("Create", "DeliveryMemo")" class="btn btn-bitbucket btn-block"><i class="fa fa-plus-square"></i> Add Memo </a>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body tablediv">
                        @if (Model.SaleInvoiceLists.Count > 0 && Model.SaleInvoiceLists != null)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Delivery Memo Number</b></th>
                                        <th class="erplabel"><b>Invoicing Date</b></th>
                                        <th class="erplabel"><b>Total</b></th>
                                        <th class="erplabel"><b>Status</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SaleInvoiceLists)
                                    {
                                        <tr>
                                            <td>@item.SaleInvoiceNo</td>
                                            <td>@item.InvoicingDate.ToString("dd'/'MM'/'yyyy") @item.Time</td>
                                            <td>@((item.TotalWithAdjustment).ToString("0.00"))</td>
                                            <td>@item.Status</td>
                                            <td>
                                                <a href="@Url.Action("Edit", "DeliveryMemo")?id=@item.SaleInvoiceId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("Delete", "DeliveryMemo",new { id = @item.SaleInvoiceId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                                ||
                                                <a href="@Url.Action("GenerateInvoice", "DeliveryMemo",new { InvoiceId = @item.SaleInvoiceId })">
                                                    Print Invoice
                                                </a>
                                            </td> 
                                        </tr> 
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Invoice Items</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    @if (Model.SaleInvoiceLists.Count > 0)
    {
        <p>
            Page @(Model.SaleInvoiceLists.PageCount < Model.SaleInvoiceLists.PageNumber ? 0 : Model.SaleInvoiceLists.PageNumber) of @Model.SaleInvoiceLists.PageCount
            @Html.PagedListPager(Model.SaleInvoiceLists, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>
