﻿@model DataLayer.ViewModels.CashFlowReportViewModel






@if (Model.MonthlyCashMovementList != null)
{
    <div class="box box-primary">
        <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
            <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                <table style="width:100%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                    <tr style="border:0px solid #000;  border-collapse: collapse;">
                        <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;" rowspan=3>Perticulars</th>
                        <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;" colspan=3>
                            <b>@Model.Company.Name</b>
                            <br />
                            @Model.StartingDate.ToString("dd'/'MM'/'yyyy") <span>To</span> @Model.LastDate.ToString("dd'/'MM'/'yyyy")
                        </th>
                    </tr>
                    <tr style="border:0px solid #000;  border-collapse: collapse;">
                        <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;" colspan=2>Cash Movement</th>
                        <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;" rowspan=2>Net Flow</th>
                    </tr>
                    <tr style="border:0px solid #000;  border-collapse: collapse;">
                        <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;">InFlow</th>
                        <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;border-left: 0px;">OutFlow</th>
                    </tr>
                    @foreach (var item in Model.MonthlyCashMovementList.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {
                    <tr>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;"><a href="@Url.Action("MonthlySummary", "CashFlow",new { Month = @item.Data.Month, Year = @item.Data.Year  })">@item.Data.MonthString </a></td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.InFlow.ToString("0.00")</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.OutFlow.ToString("0.00")</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@item.Data.NetFlow.ToString("0.00")</td>
                    </tr>
                    }
                    <tr>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Total : </td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@Model.TotalInFlow.ToString("0.00")</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@Model.TotalOutFlow.ToString("0.00")</td>
                        <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@Model.TotalNetFlow.ToString("0.00")</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

