﻿@model DataLayer.ViewModels.CashFlowReportViewModel
@{
    ViewBag.Title = "Cash Flow - Monthly Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Cash Flow <small>Monthly Summary</small> </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
                    <div style="width:100%;margin:0 auto;border: 1px solid #000;">
                        <center>
                            <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                                <b>@Model.Company.Name</b>
                            </p>
                            <p style="margin: 0 0 0px;">
                                @*@Model.Branch.BranchName*@
                            </p>
                        </center>
                        <center>
                            @Model.Company.Address
                            @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                            GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                            <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                                @if (Model.StartingDate != null)
                                { <span> From @Model.StartingDate.ToString("dd'/'MM'/'yyyy") </span>}
                                @if (Model.LastDate != null)
                                { <span> To @Model.LastDate.ToString("dd'/'MM'/'yyyy") </span>}

                            </div>

                        </center>
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                                <div style="text-align:center"><b>InFlow</b></div>
                                <ul>

                                    <li>
                                        <span class="pull-left" data-toggle="collapse" data-target="#Assets">Current Assets</span>
                                        <span class="pull-right">@Model.AccountCategoryList.Where(x => x.IsInFlow == true).Sum(x => x.Total)</span>
                                        <br />
                                        <ul id="Assets" class="collapse">
@foreach (var item in Model.AccountCategoryList.Where(x => x.IsInFlow == true))
{ 
                                            foreach (var AccountSubCategory in item.AccountSubCategoryList)
                                            {
                                                <li>
                                                    <span class="pull-left" data-toggle="collapse" data-target="#@AccountSubCategory.DivId">@AccountSubCategory.AccountSubCategory.ContactSubCategoryName</span>
                                                    <span class="pull-right">@AccountSubCategory.Total</span>
                                                    <br />
                                                    <ul id="@AccountSubCategory.DivId" class="collapse">

                                                        @foreach (var Ledger in AccountSubCategory.LedgerList)
                                                        {
                                                            <li>
                                                                <span class="pull-left" data-toggle="collapse" data-target="#@Ledger.DivId">@Ledger.Ledger.Name</span>
                                                                <span class="pull-right">@Ledger.Total</span>
                                                                <br />
                                                                <ul id="@Ledger.DivId" class="collapse">

                                                                    @foreach (var Invoice in Ledger.InvoiceList)
                                                                    {
                                                                        <li>
                                                                            <span class="pull-left">
                                                                                <span>@Invoice.Type :</span>
                                                                                @if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_INVOICE)
                                                                                {
                                                                                    <a href="@Url.Action("Create","SaleInvoice")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                                                                {
                                                                                    <a href="@Url.Action("Exchange","SalesExchange")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_PURCHASE_RETURN)
                                                                                {
                                                                                    <a href="@Url.Action("Create","PurchaseReturn")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION || Invoice.Type == DataLayer.Constants.SALE_TYPE_SHORTAGES)
                                                                                {
                                                                                    <a href="@Url.Action("Create","InternalConsumption")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_VOUCHER)
                                                                                {
                                                                                    <a href="@Url.Action("Create","SaleVoucher")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_INVOICE)
                                                                                {
                                                                                    <a href="@Url.Action("Create", "PurchaseInvoice")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_WPS)
                                                                                {
                                                                                    <a href="@Url.Action("Create", "WSP")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_VOUCHER)
                                                                                {
                                                                                    <a href="@Url.Action("Create", "PurchaseVoucher")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_ORDER)
                                                                                {
                                                                                    <a href="@Url.Action("Create", "SalesOrder")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                                else if (Invoice.Type == DataLayer.Constants.PAYMENT_VOUCHER || Invoice.Type == DataLayer.Constants.RECEIPT_VOUCHER || Invoice.Type == DataLayer.Constants.JOURNAL_ENTRY || Invoice.Type == DataLayer.Constants.CONTRA_ENTRY)
                                                                                {
                                                                                    <a href="@Url.Action("CreateNote", "Notes",new { Type = @Invoice.Type , VoucherNumber = @Invoice.InvoiceNumber })">
                                                                                        @Invoice.InvoiceNumber
                                                                                    </a>
                                                                                }
                                                                            </span>
                                                                            <span class="pull-right">@Invoice.Total</span>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
    }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                                <div style="text-align:center"><b>OutFlow</b></div>
                                <ul>
                                    @foreach (var item in Model.AccountCategoryList.Where(x => x.IsInFlow == false))
                                    {
                                        <li>
                                            <span class="pull-left" data-toggle="collapse" data-target="#@item.DivId">@item.AccountCategory.Name</span>
                                            <span class="pull-right">@item.Total</span>
                                            <br />
                                            <ul id="@item.DivId" class="collapse">

                                                @foreach (var AccountSubCategory in item.AccountSubCategoryList)
                                                {
                                                    <li>
                                                        <span class="pull-left" data-toggle="collapse" data-target="#@AccountSubCategory.DivId">@AccountSubCategory.AccountSubCategory.ContactSubCategoryName</span>
                                                        <span class="pull-right">@AccountSubCategory.Total</span>
                                                        <br />
                                                        <ul id="@AccountSubCategory.DivId" class="collapse">

                                                            @foreach (var Ledger in AccountSubCategory.LedgerList)
                                                            {
                                                                <li>
                                                                    <span class="pull-left" data-toggle="collapse" data-target="#@Ledger.DivId">@Ledger.Ledger.Name</span>
                                                                    <span class="pull-right">@Ledger.Total</span>
                                                                    <br />
                                                                    <ul id="@Ledger.DivId" class="collapse">

                                                                        @foreach (var Invoice in Ledger.InvoiceList)
                                                                        {
                                                                            <li>
                                                                                <span class="pull-left">
                                                                                    <span>@Invoice.Type :</span>
                                                                                    @if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_INVOICE)
                                                                                    {
                                                                                        <a href="@Url.Action("Create","SaleInvoice")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_EXCHANGE)
                                                                                    {
                                                                                        <a href="@Url.Action("Exchange","SalesExchange")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_PURCHASE_RETURN)
                                                                                    {
                                                                                        <a href="@Url.Action("Create","PurchaseReturn")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_INTERNAL_CONSUMSSION || Invoice.Type == DataLayer.Constants.SALE_TYPE_SHORTAGES)
                                                                                    {
                                                                                        <a href="@Url.Action("Create","InternalConsumption")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_VOUCHER)
                                                                                    {
                                                                                        <a href="@Url.Action("Create","SaleVoucher")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_INVOICE)
                                                                                    {
                                                                                        <a href="@Url.Action("Create", "PurchaseInvoice")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_WPS)
                                                                                    {
                                                                                        <a href="@Url.Action("Create", "WSP")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.PURCHASE_TYPE_PURCHASE_VOUCHER)
                                                                                    {
                                                                                        <a href="@Url.Action("Create", "PurchaseVoucher")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.SALE_TYPE_SALE_ORDER)
                                                                                    {
                                                                                        <a href="@Url.Action("Create", "SalesOrder")?id=@Invoice.InvoiceId" style="text-decoration: none;">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                    else if (Invoice.Type == DataLayer.Constants.PAYMENT_VOUCHER || Invoice.Type == DataLayer.Constants.RECEIPT_VOUCHER || Invoice.Type == DataLayer.Constants.JOURNAL_ENTRY || Invoice.Type == DataLayer.Constants.CONTRA_ENTRY)
                                                                                    {
                                                                                        <a href="@Url.Action("CreateNote", "Notes",new { Type = @Invoice.Type , VoucherNumber = @Invoice.InvoiceNumber })">
                                                                                            @Invoice.InvoiceNumber
                                                                                        </a>
                                                                                    }
                                                                                </span>
                                                                                <span class="pull-right">@Invoice.Total</span>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <center>
                            <div style="border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;">
                                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                                    <div style="text-align:center"><b>Total InFlow</b> : @Model.TotalInFlow</div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">
                                    <div style="text-align:center"><b>Total OutFlow</b>: @Model.TotalOutFlow</div>
                                </div>
                                <div style="text-align:center"><b>Net Flow</b> : @Model.TotalNetFlow</div>
                            </div>
                        </center>

                        <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                            <span> * This is a Computer Generated Document hence no Signature is Required</span>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
