﻿@model DataLayer.ViewModels.ProductionViewModel

<div class="box box-primary">
    <div style="width:90%;margin:0 auto;height:auto;margin: 33px auto 0px;" id="PrintThis">
        <div style="width:100%;margin:0 auto;border: 1px solid #000;">
            <center>
                <p style="font-size:18px;text-transform:uppercase;margin: 0 0 0px;">
                    <b>@Model.Company.Name</b>
                </p>
                <p style="margin: 0 0 0px;">
                    @Model.Branch.BranchName
                </p>
            </center>
            <center>
                @Model.Company.Address
                @Model.Company.Address1 @Model.Company.PINCode , Mob : @Model.Company.MobileNo<br>
                GST No : @Model.Company.GST&nbsp;&nbsp;&&nbsp;&nbsp;PAN No :@Model.Company.PANCard
                <div class="time" style="width:100%;border-bottom:1px solid #000;border-top:1px solid #000;margin: 0px 0 0 0;    font-weight: bold;">

                    Production Report
                    @if (Model.FromDate != null)
                    { <span> From @Model.FromDate.Value.ToString("dd'/'MM'/'yyyy") </span>}
                    @if (Model.ToDate != null)
                    { <span> To @Model.ToDate.Value.ToString("dd'/'MM'/'yyyy") </span>}

                </div>

            </center>

            @if (Model.JobSheetList != null && Model.JobSheetList.Count > 0)
            {
                <table class="table table-bordered" style="border-collapse:collapse">
                    <thead>
                        <tr>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Job Sheet Number</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>SKU</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>JobSheet Date</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Order Number</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Sub Category</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Customer</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Assigned Worker</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Quantity</b></th>
                            <th class="erplabel" style="border: 1px solid #000;"><b>Status</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.JobSheetList)
                        {
                            <tr>
                                <td style="border: 1px solid #000;">
                                    <a href="@Url.Action("Create", "Production")?id=@item.JobSheetId">
                                        @item.ProductNumber
                                    </a>                                
                                </td>
                                <td style="border: 1px solid #000;"><a style="text-decoration: none;" href="@Url.Action("ProductSearch", "InventoryReport")?SKUMasterId=@item.SKUMaster.SKUMasterId">@item.SKUMaster.SKU</a></td>
                                @if (item.JobDate != null)
                    {
                                    <td style="border: 1px solid #000;">@item.JobDate.ToString("dd'/'MM'/'yyyy")</td>
                                }
                                else
                                {
                                    <td style="border: 1px solid #000;">-</td>
                                }
                                @if (item.SalesOrder != null)
                    {
                                    <td style="border: 1px solid #000;"><a style="text-decoration: none;" href="@Url.Action("Create", "SalesOrder")?id=@item.SaleOrderId">@item.SalesOrder.SaleOrderNumber</a></td>
                                }
                                else
                                {
                                    <td style="border: 1px solid #000;">-</td>
                                }
                                @if (item.SKUMaster != null)
                    {
                        if (item.SKUMaster.SubCategory != null)
                        {
                                        <td style="border: 1px solid #000;">@item.SKUMaster.SubCategory.Name</td>
                                    }
                                }
                                else
                                {
                                    <td style="border: 1px solid #000;">-</td>
                                }
                                @if (item.Customer != null)
                    {
                                    <td style="border: 1px solid #000;">
                                        <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId = item.Customer.LedgerId })">
                                            @item.Customer.Name
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td style="border: 1px solid #000;">-</td>
                                }
                                @if (item.AssignedWorker != null)
                    {
                                    <td style="border: 1px solid #000;">
                                        <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId = item.AssignedWorker.LedgerId })">
                                            @item.AssignedWorker.Name
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    <td style="border: 1px solid #000;">-</td>
                                }
                                <td style="border: 1px solid #000;">@((item.Quantity ?? 0).ToString("#.##"))</td>
                                <td style="border: 1px solid #000;">
                                    @if (item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.Open)
                                    {
                                        <span style="color:red"> @item.JobSheetComplete </span>
                                    }
                                    else if (item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.Complete)
                                    {
                                        <span style="color:green"> @item.JobSheetComplete </span>
                                    }
                                    else if ((item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.FurtherProcess || item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.InProcess))
                                    {
                                        <span style="color:yellow">
                                            @item.JobSheetComplete
                                            @if (item.JobSheetInProcessStatus != null)
                                            {
                                                <span>/ @item.JobSheetInProcessStatus.Status</span>
                                            }
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <label>No Invoice Items</label>
            }

            <div style="width:100%;display: inline-block;margin: 12px 0 0 0;height: 30px;    font-weight: bold;padding-left:7px;">
                <span> * This is a Computer Generated Document hence no Signature is Required</span>

            </div><br>

        </div>


    </div>
</div>



