﻿@model DataLayer.Models.Company
@{
    ViewBag.Title = "Company - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/state.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#Errstate").hide();
        $("#ErrCity").hide();

        if ($("#hiddenCompanyId").val() != 0) {
            $("#btnSubmit").text("Update");
        }
        else {
            $("#btnSubmit").text("Save");
        }

        var stat = $("#state").val();
        var City = $("#City").val();
        $("#listBox option").filter(function () {
            if ($(this).val() == stat) {
                selct_district(this.value);
                return true;
            }
        }).prop('selected', true);
        $("#secondlist option").filter(function () {
            if ($(this).val() == City) {
                return true;
            }
        }).prop('selected', true);

        $("#Number2,#Number1").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#btnSubmit").click(function () {
            var POB2 = $("#listBox").val();
            document.getElementById('state').value = POB2;

            var POB1 = $("#secondlist").val();
            document.getElementById('City').value = POB1;

            var city = $("#City").val();
            var state = $("#state").val();

            if (state == "SELECT STATE") {
                $("#Errstate").show();
                setTimeout(function () {
                    $('#Errstate').fadeOut();
                }, 5000);
                errCount++;
            }
            else {
                $("#Errstate").hide();
            }

            if (city == "") {
                $("#ErrCity").show();
                setTimeout(function () {
                    $('#ErrCity').fadeOut();
                }, 5000);
                errCount++;
            }
            else {
                $("#ErrCity").hide();
            }

            if (errCount == 0) {
                return true;
            }
            else {
                return false;
            }

        });

    });
</script>

<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            @using (Html.BeginForm("Create", "Company", FormMethod.Post))
            {
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Company details </h3>
                    </div>
                    <div class="box-body">
                        @Html.HiddenFor(model => model.CompanyId, new { @id = "hiddenCompanyId" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        <div class="col-lg-12 nopadding">
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Company Name</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Address</label>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Address</label>
                                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">GST </label>
                                    @Html.EditorFor(model => model.GST, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GST, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 nopadding">
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">PIN Code </label>
                                    @Html.EditorFor(model => model.PINCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PINCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">State </label>
                                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">City</label>
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Phone No </label>
                                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", @id = "Number1" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 nopadding">

                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Mobile No </label>
                                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control", @id = "Number2" } })
                                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Email Id</label>
                                    @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Pan Number</label>
                                    @Html.EditorFor(model => model.PANCard, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PANCard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Finacial Year Starting</label>
                                    @Html.EditorFor(model => model.FinacialYearStarting, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FinacialYearStarting, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 nopadding">
                            <div class="col-lg-3 nopadding paddingright">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Company Bank </label>
                                    @Html.DropDownListFor(model => model.LedgerId, Model.BankLedgerList, new { @class = "form-control", @min = "1"})
                                    @Html.ValidationMessageFor(model => model.LedgerId, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-bitbucket  btn-sm pull-right" id="btnSubmit"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
