﻿@model DataLayer.ViewModels.CatalougeViewModel

@{
    ViewBag.Title = "Catalogue - Index";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#err_Catgory").hide();
        $("#err_subCatgory").hide();

        if ($("#hiddenCategoryId").val() != 0) {
            $("#Button").text("Update");
        }
        else {
            $("#Button").text("Save");
        }

        if ($("#hiddenSubCategoryId").val() != 0) {
            $("#Button1").text("Update");
        }
        else {
            $("#Button1").text("Save");
        }

        $("#txtCategory").keyup(function () {
            var Name = $('#txtCategory').val();
            var CategoryId = parseInt($('#NewCategoryId').val() || 0);
            var serviceURL = '@Url.Action("ExistingCategory", "Catalouge")';
            var model = { 'Name': Name, 'CategoryId': CategoryId };
            $.ajax({
                type: "POST",
                url: serviceURL,
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
            });
            function successFunc(data) {
                if (data == true) {
                    $("#err_Catgory").show();
                    $("#Button").prop("disabled", true);
                }
                else {
                    $("#Button").prop("disabled", false);
                    $("#err_Catgory").hide();
                }
            }
        });

        $("button[id='submit']").click(function () {
            var errCount = 0;
            if ($("#txtCategory").val() == null || $("#txtCategory").val() == '') {
                $("#err_Catgory1").show();
                setTimeout(function () {
                    $('#err_Catgory1').fadeOut();
                }, 5000);
                errCount++;
            }
            else {
                $("#err_Catgory1").hide();
            }

            if (errCount == 0) {
                return true;
            }
            else {
                return false;
            }
        })

        $("#SubCatgry").keyup( function () {
            CheckExistingSubcategory();
        });

        $("#CategoryId").change(function () {
            CheckExistingSubcategory();
        });

        $("button[id='submit1']").click(function () {
            var errCount = 0;
            if ($("#SubCatgry").val() == null || $("#SubCatgry").val() == '') {
                $("#err_subCatgory1").show();
                setTimeout(function () {
                    $('#err_subCatgory1').fadeOut();
                }, 5000);
                errCount++;
            }
            else {
                $("#err_subCatgory1").hide();
            }

            if (errCount == 0) {
                return true;
            }
            else {
                return false;
            }
        })
    });
    function CheckExistingSubcategory()
    {
        var Name = $('#SubCatgry').val();
        var CategoryId = $('#CategoryId option:selected').val();
        var SubCategoryId = parseInt($('#hiddenSubCategoryId option:selected').val() || 0);
        var serviceURL = '@Url.Action("ExistingSubCategory", "Catalouge")';
        var model = { 'Name': Name, 'SubCategoryId': SubCategoryId };
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });
        function successFunc(data) {
            if (data == true) {
                $("#Button1").prop("disabled", true);
                $("#err_subCatgory").show();
            }
            else {
                $('#Button1').prop("disabled", false);
                $("#err_subCatgory").hide();
            }
        }
        function errorFunc(data) {
        }
    }
</script>

<section class="content-header">
    <h1> Product / Service <small>Category</small> </h1>
    <label id="ErrLabel" style="color:red"></label>
   
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Catalouge</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6" style="height: 200px;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Category</h3>
                </div>

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                    {
                        <script type="text/javascript">
                            $("#ErrLabel").text("@ViewBag.ErrorMsg");
                            setTimeout(function () {
                                $('#ErrLabel').fadeOut();
                            }, 5000);
                        </script>
                }
                else
                {
                    <script type="text/javascript">
                            $("#ErrLabel").hide();
                            
                    </script>
                }
                @using (Html.BeginForm("Createcategory", "Catalouge", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">
                        @Html.HiddenFor(model => model.Category.CategoryId, new { @id = "NewCategoryId" })
                        @Html.HiddenFor(model => model.Category.CreatedDate)
                        @Html.HiddenFor(model => model.Category.CreatedBy)
                        @Html.HiddenFor(model=>model.Category.CategoryNumber)
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                            @Html.EditorFor(model => model.Category.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtCategory", @required = "true", @style = "max-width:100%;" } })
                            @Html.ValidationMessageFor(model => model.Category.Name, "", new { @class = "text-danger" })
                            <label class="text-danger" id="err_Catgory" style="color:#a94442;font-weight: normal;">Category Already Exist</label>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-bitbucket btn-sm" id="Button"><i class="fa fa-plus-square"></i> Add</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6" style="height: 242px;">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Sub-Category</h3>
                </div>
                    @using (Html.BeginForm("CreatesubCategory", "Catalouge", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="box-body">
                            @Html.HiddenFor(model => model.SubCategory.SubCategoryId, new { @id = "hiddenSubCategoryId" })
                            @Html.HiddenFor(model => model.SubCategory.SubCategoriesNumber)
                            @Html.HiddenFor(model => model.SubCategory.CreatedDate)
                            @Html.HiddenFor(model => model.SubCategory.CreatedBy)
                            <div class="col-lg-8 nopadding paddingright">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="erplabel">Sub-Category Name</label>
                                    @Html.EditorFor(model => model.SubCategory.Name, new { htmlAttributes = new { @class = "form-control", @id = "SubCatgry", @required = "true" } })
                                    <label class="text-danger" id="err_subCatgory" style="color:#a94442;font-weight: normal;">Sub-Category Already Exist</label>
                                    @Html.ValidationMessageFor(model => model.SubCategory.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4 nopadding">
                                <div class="form-group" style="color:black;font-weight: normal;">
                                    <label for="exampleInputEmail1" class="erplabel">Category Name</label>
                                    @Html.DropDownListFor(model => model.SubCategory.CategoryId, Model.SubCategory.CategoryList, new { @class = "form-control", @id = "CategoryId" })
                                    @Html.ValidationMessageFor(model => model.SubCategory.CategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-bitbucket btn-sm" id="Button1"><i class="fa fa-plus-square"></i> Add</button>
                            </div>
                        </div>

                    }

              
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Category List</h3>
                </div>
                <div class="box-body tablediv">
                    <div>
                        @if (Model.CategoryLists != null && Model.CategoryLists.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CategoryLists)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryNumber)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Index", "Catalouge",new { Categoryid = @item.CategoryId })">
                                                    Edit
                                                </a>
                                                ||
                                                <a id="Delete" href="@Url.Action("Deletecategory", "Catalouge",new { Categoryid=@item.CategoryId})" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sub-Category List</h3>
                </div>
                <div class="box-body tablediv">
                    <div>
                        @if (Model.SubCategoryList != null && Model.SubCategoryList.Count > 0)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>SubCategory Number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.SubCategoryList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubCategoriesNumber)
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Index", "Catalouge")?SubCategoryid=@item.SubCategoryId">
                                                    Edit
                                                </a>
                                                ||
                                                <a href="@Url.Action("DeletesubCategory", "Catalouge")?SubCategoryid=@item.SubCategoryId" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        else
                        {
                            <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                        }
                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
