﻿@model DataLayer.Models.BudgetSetup

@if (Model.BudgetingList != null && Model.BudgetingList.Count > 0)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ledger Name</th>
                <th>Annual Budget</th>
                <th>Percent</th>
                <th>Quarterly Budget</th>
                <th>Monthly Budget</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BudgetingList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ledger.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnnualBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Percent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuarterlyBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthlyBudget)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
