﻿@model DataLayer.ViewModels.BudgetingViewModel

<script type="text/javascript">
    $(document).ready(function () {
        var TotalSale = parseFloat($("#TotalSale").val() || 0);
        $("#ActualExpenses").val(TotalSale);
    });
</script>

@Html.HiddenFor(model => model.TotalSale, new { @id = "TotalSale" })
@if (Model.BudgetingList != null && Model.BudgetingList.Count > 0)
{
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Ledger Name</th>
                <th>Total Sale</th>
                <th>Percent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BudgetingList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ledger.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnnualBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Percent)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}