﻿@model DataLayer.ViewModels.BudgetingViewModel
@{
    ViewBag.Title = "Budget Report";
}

<section class="content-header">
    <h1> Budget Report<small>panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Budget Report</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 col-md-12 ">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Starting Date</label>
                            @Html.EditorFor(model => model.BudgetSetup.Starting, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "StartDate"} })  
                            @Html.ValidationMessageFor(model => model.BudgetSetup.Starting, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Last Date</label>
                            @Html.EditorFor(model => model.BudgetSetup.EndingDate, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "EndDate" } })
                            @Html.ValidationMessageFor(model => model.BudgetSetup.EndingDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Projected Sales</label>
                            @Html.DropDownListFor(model => model.BudgetSetup.BudgetSetupId, Model.BudgetSetupList, new { @class = "form-control", @id = "BudgetSetupId" })
                            @Html.ValidationMessageFor(model => model.Budgeting.BudgetSetupId, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">%</label>
                            @Html.EditorFor(model => model.BudgetSetup.AnnualSales, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "TotalPercent" } })
                            @Html.ValidationMessageFor(model => model.BudgetSetup.EndingDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Expenses</label>
                            @Html.EditorFor(model => model.BudgetSetup.QuarterlySales, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "TotalExpenses" } }) 
                            @Html.ValidationMessageFor(model => model.BudgetSetup.EndingDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-lg-12 text-center font-weight-bold ">VS</div>
                    <div class="clearfix"></div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Actual Sales</label>
                            @Html.DropDownListFor(model => model.BudgetSetup.BudgetSetupId, Model.BudgetSetupList, new { @class = "form-control", @id = "ActualSalesId" })
                            @Html.ValidationMessageFor(model => model.Budgeting.BudgetSetupId, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">%</label>
                            @Html.EditorFor(model => model.BudgetSetup.AnnualSales, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "ActualPercent" } })
                            @Html.ValidationMessageFor(model => model.BudgetSetup.EndingDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="control-label erplabel" for="email">Expenses</label>
                            @Html.EditorFor(model => model.BudgetSetup.QuarterlySales, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "ActualExpenses" } })
                            @Html.ValidationMessageFor(model => model.BudgetSetup.EndingDate, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin: 18px 0 0 0;">
                        <button type="submit" class="btn btn-info" id="Search2">Search</button>
                    </div>                    
                </div>
                <div id="BudgetingListId">
                    @Html.Partial("_LedgerBudgetList")
                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#BudgetSetupId").change(function () {
            var BudgetSetupId = $("#BudgetSetupId option:selected").val();
            if (BudgetSetupId != "0") {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("ProjectedSales", "BudgetingMaster")',
                    data: { 'id': BudgetSetupId, 'StartDate': StartDate, 'EndDate': EndDate },
                    dataType: "json",
                    success: function (data) {
                        $("#TotalExpenses").val(data.TotalExpenses);
                        $("#TotalPercent").val(data.TotalPercent);
                    },
                });
            }
            else
            {
                $("#TotalExpenses").val("");
                $("#TotalPercent").val("");
            }
        });

        $("#Search2").click(function () {
            var LedgerId = $("#ActualSalesId option:selected").val();
            if (LedgerId != "-1") {
                var StartDate = $("#StartDate").val();
                var EndDate = $("#EndDate").val();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_LedgerBudgetList", "BudgetingMaster")',
                    data: { 'id': LedgerId, 'StartDate': StartDate, 'EndDate': EndDate },
                    dataType: "html",
                    success: function (result) {
                        $("#BudgetingListId").html(result);
                    },
                });
            }
        });
    });
</script>

