﻿@model DataLayer.Models.BudgetSetup
@{
    ViewBag.Title = "Budget Form";
}

<section class="content-header">
    <h1> Budget Setup Entry<small>panel</small> </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Budget Setup Entry </li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    @using (Html.BeginForm("BudgetForm", "BudgetingMaster", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(model => model.BudgetSetupId, new { @id = "BudgetSetupId" })
                        <div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Starting Date</label>
                                    @Html.EditorFor(model => model.Starting, new { htmlAttributes = new { @class = "form-control", @required = "required", } })
                                    @Html.ValidationMessageFor(model => model.Starting, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Last Date</label>
                                    @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control", @required = "required", } })
                                    @Html.ValidationMessageFor(model => model.EndingDate, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Report Name</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", } })
                                    @Html.ValidationMessageFor(model => model.Name, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Projected Annual Sales</label>
                                    @Html.EditorFor(model => model.AnnualSales, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "AnnualSales" } })
                                    @Html.ValidationMessageFor(model => model.AnnualSales, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Quarterly Sales</label>
                                    @Html.EditorFor(model => model.QuarterlySales, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = true, @id = "QuarterlySales" } })
                                    @Html.ValidationMessageFor(model => model.QuarterlySales, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Monthly Sales</label>
                                    @Html.EditorFor(model => model.MonthlySales, new { htmlAttributes = new { @class = "form-control", @required = "required", @readonly = true, @id = "MonthlySales" } })
                                    @Html.ValidationMessageFor(model => model.MonthlySales, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-1" style="margin: 18px 0 0 0;">
                                <button type="submit" class="btn btn-bitbucket btn-sm">Save</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>
            <div class="box box-primary">

                    <div class="box-body">
                        @Html.HiddenFor(model => model.Budgeting.BudgetingId, new { @id = "BudgetingId" })
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Account</label>
                                @Html.DropDownListFor(model => model.Budgeting.LedgerId, Model.Budgeting.LedgerList, new { @class = "form-control", @min = "1", @id = "LedgerId" })
                                <label id="ERR_LedgerId" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div> 
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Annual</label>
                                @Html.EditorFor(model => model.Budgeting.AnnualBudget, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "LedgerAnnual" } })
                                <label id="ERR_LedgerAnnual" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">%</label>
                                @Html.EditorFor(model => model.Budgeting.Percent, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "LedgerPercent" } })
                                @Html.ValidationMessageFor(model => model.Budgeting.Percent, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Quarterly</label>
                                @Html.EditorFor(model => model.Budgeting.QuarterlyBudget, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "LedgerQuarterly" } })
                                @Html.ValidationMessageFor(model => model.Budgeting.QuarterlyBudget, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Monthly</label>
                                @Html.EditorFor(model => model.Budgeting.MonthlyBudget, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "LedgerMonthly" } })
                                @Html.ValidationMessageFor(model => model.Budgeting.MonthlyBudget, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-1" style="margin: 18px 0 0 0;">
                            <button type="button" class="btn btn-bitbucket btn-sm" id="AddBudget">Add</button>
                        </div>
                        <div id="BudgetingListId">
                            @Html.Partial("_BudgetingList")
                        </div>
                    </div>
               
            </div>
        </div>
    </div>

</section>

<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ERR_LedgerAnnual").hide();
        $("#ERR_LedgerId").hide();

        var BudgetSetupId = parseFloat($('#BudgetSetupId').val() || 0);
        if (BudgetSetupId == 0)
        {
            $("#AnnualSales").val("");
        }

        $("#LedgerAnnual").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
                return false;
            }
        });      

        $("#AnnualSales").keyup(function () {
            var AnnualBudget = $("#AnnualSales").val() || 0;
            var MonthlySales = AnnualBudget / 12;
            var QuarterlySales = AnnualBudget / 4;
            $("#MonthlySales").val(MonthlySales.toFixed(2));
            $("#QuarterlySales").val(QuarterlySales.toFixed(2));
            $("#LedgerAnnual").keyup();
        })

        $("#LedgerAnnual").keyup(function () {
            var AnnualBudget = $("#LedgerAnnual").val() || 0;
            var QuarterlyBudget = AnnualBudget / 4;
            var MonthlyBudget = AnnualBudget / 12;
            var AnnualSales = $("#AnnualSales").val() || 0;
            var Percent = (AnnualBudget / AnnualSales) * 100;
            $("#LedgerQuarterly").val(QuarterlyBudget.toFixed(2));
            $("#LedgerMonthly").val(MonthlyBudget.toFixed(2));
            $('#LedgerPercent').val(Percent.toFixed(2));
        })

        $("#AddBudget").click(function () {
            var Err = 0;
            var LedgerId = $("#LedgerId option:selected").val();
            if (LedgerId == "-1") {
                Err++; 
                $("#ERR_LedgerId").show();
                setTimeout(function () {
                    $('#ERR_LedgerId').fadeOut();
                }, 5000);                
            }
            var LedgerAnnual = parseFloat($("#LedgerAnnual").val() || 0);
            if (LedgerAnnual == "" || LedgerAnnual == null) {
                Err++;
                $("#ERR_LedgerAnnual").show();
                setTimeout(function () {
                    $('#ERR_LedgerAnnual').fadeOut();
                }, 5000);               
            }

            var BudgetSetupId = parseFloat($('#BudgetSetupId').val() || 0);
            var LedgerPercent = parseFloat($('#LedgerPercent').val() || 0);
            var LedgerQuarterly = parseFloat($('#LedgerQuarterly').val() || 0);
            var LedgerMonthly = parseFloat($('#LedgerMonthly').val() || 0);
            var BudgetingId = parseFloat($('#BudgetingId').val() || 0);

            if (Err == 0) {
                var model = { 'BudgetingId': BudgetingId, 'LedgerId': LedgerId, 'BudgetSetupId': BudgetSetupId, 'AnnualBudget': LedgerAnnual, 'QuarterlyBudget': LedgerQuarterly, 'MonthlyBudget': LedgerMonthly, 'Percent': LedgerPercent }
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_BudgetingList", "BudgetingMaster")',
                    data: { 'model': model, },
                    dataType: "html",
                    success: function (result) {
                        $("#BudgetingListId").html(result);
                        $('#LedgerPercent').val("")
                        $('#LedgerAnnual').val("")
                        $('#LedgerQuarterly').val("")
                        $('#LedgerMonthly').val("")
                        $('#BudgetingId').val(0)
                        $('#LedgerId').val(-1)
                    },
                });
            }

            return false;
        });
    });
</script>