﻿@model DataLayer.ViewModels.BudgetingViewModel
@{
    ViewBag.Title = "Budgeting  - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1> Budgeting </h1>
    <label id="ErrLabel" style="color:red"></label>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Opening Stock</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
            <div class="box box-primary">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-header">
                        <div class="pull-right">

                                <a class="btn btn-bitbucket btn-sm" href="@Url.Action("BudgetForm","BudgetingMaster")"><i class="fa fa-plus-square"></i> Budget Form</a>

                                <a class="btn btn-bitbucket mediabtn btn-sm" href="@Url.Action("BudgetReport","BudgetingMaster")"> Budget Report</a>
      
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="tablediv">
                            @if (Model != null)
                            {
                                <br />
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="erplabel"><b>Name</b></th>
                                            <th class="erplabel"><b>Annual Sales</b></th>
                                            <th class="erplabel"><b>Quarterly Sales</b></th>
                                            <th class="erplabel"><b>Monthly Sales</b></th>
                                            <th class="erplabel"><b>Action</b></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BudgetSetupListS)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>@item.AnnualSales</td>
                                                <td>@item.QuarterlySales </td>
                                                <td>@item.MonthlySales</td>
                                                <td>
                                                    <a href="@Url.Action("BudgetForm", "BudgetingMaster")?BudgetSetupId=@item.BudgetSetupId">
                                                        Edit
                                                    </a>
                                                    ||  
                                                    <a href="@Url.Action("DeleteBudgetSetup", "BudgetingMaster")?BudgetSetupId=@item.BudgetSetupId" onclick="return confirm('Are you sure you want to delete this')">
                                                        Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            }
                            else
                            {
                                <label>@DataLayer.Constants.NO_RECORDS_FOUND</label>
                            }
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
