﻿@model DataLayer.Models.JobSheet
@{
    Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        var TotalProductionItem = parseFloat($("#TotalProductionItem").val() || 0);
        var TotalProductionService = parseFloat($("#TotalProductionService").val() || 0);
        var FurtherProcessTotal = parseFloat($("#FurtherProcessTotal").val() || 0);
        var TotalProductionCost = TotalProductionItem + TotalProductionService + FurtherProcessTotal;
        $("#TotalProductionCost").val(TotalProductionCost);
        var TotalQuantity = parseInt($("#TotalQuantity").val() || 0);
        $("#ProductionUnit").val(TotalProductionCost / TotalQuantity);
    });

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

    function Remove(ProductId, JobSheetId) {
        ProductId = pad(ProductId, 10);
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveItem", "Production")?JobSheetId=' + JobSheetId + '&ProductId=' + ProductId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#ItemListView").html(response);
            },
            error: function (data) {
                alert("Product Not Found");
            }
        });
    }
</script>
@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel").text("@ViewBag.ErrorMsg");
        $("#ErrLabel").show();
        setTimeout(function () {
            $('#ErrLabel').fadeOut();
        }, 5000);
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel").hide();
    </script>
}
@Html.HiddenFor(model => model.JobSheetItemList.Count, new { @id = "JobSheetItemCount" })
@if (Model.JobSheetItemList != null && Model.JobSheetItemList.Count > 0)
{
    @Html.HiddenFor(model => model.TotalProductionCostNotMapped, new { @id = "TotalProductionItem" })
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel"><b>Product Number</b></th>
                <th class="erplabel"><b>Quantity</b></th>
                <th class="erplabel"><b>Conversion</b></th>
                <th class="erplabel"><b>Conversion</b></th>
                <th class="erplabel"><b>Purchase Net Price/Unit</b></th>
                <th class="erplabel"><b>Subtotal</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JobSheetItemList.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                if (Model.IsInventoryUpdate != true)
                {
                    if (item.Data.Product.SellInPartial == true)
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Data.JobSheetItemId, new { @id = "JobSheetItemId" + item.Index })
                            @Html.HiddenFor(modelItem => item.Data.ProductId, new { @id = "PNo" + item.Index })
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@Html.TextBoxFor(model => item.Data.Quantity, new { @class = "form-control", @id = "qty" + item.Index, @onchange = "Cal2(this,'" + @item.Index + "')" })</td>
                            <td>@Html.DropDownListFor(modelItem => item.Data.UnitId, item.Data.UnitList, new { @class = "form-control", @id = "Units" + item.Index, @onchange = "Cal2(this,'" + @item.Index + "')" })</td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.ConversionValue, new { @class = "form-control", @id = "Conversion" + item.Index, @readonly = true })</td>
                            @Html.HiddenFor(modelItem => item.Data.ConversionValue, new { @class = "form-control", @id = "Conversion" + item.Index, @readonly = true })
                            <td>@Html.TextBoxFor(modelItem => item.Data.Product.NetAmount, new { @class = "form-control", @readonly = true })</td>
                            <td>@((item.Data.ConversionValue * item.Data.Product.NetAmount).Value.ToString("0.00"))</td>
                            <th><a style="cursor:pointer;" onclick="Remove('@item.Data.ProductId','@item.Data.JobSheetId')">Remove</a></th>
                        </tr>
                        if (item.Data.QuantityNotAvailable)
                        {
                            <tr>
                                <td>Can't Take More Quantity Than @item.Data.QuantityErrorMsg , This Item is Not Going to Save</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            @Html.HiddenFor(modelItem => item.Data.JobSheetItemId, new { @id = "JobSheetItemId" + item.Index })
                            @Html.HiddenFor(modelItem => item.Data.ProductId, new { @id = "PNo" + item.Index })
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@Html.TextBoxFor(model => item.Data.Quantity, new { @class = "form-control", @readonly = true })</td>
                            <td></td>
                            <td></td>
                            <td>@Html.TextBoxFor(modelItem => item.Data.Product.NetAmount, new { @class = "form-control", @readonly = true })</td>
                            <td>@((item.Data.ConversionValue * item.Data.Product.NetAmount).Value.ToString("0.00"))</td>
                            <th><a style="cursor:pointer;" onclick="Remove('@item.Data.ProductId','@item.Data.JobSheetId')">Remove</a></th>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        @if (item.Data.Product.SellInPartial == true)
                        {
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@item.Data.Quantity</td>
                            <td>@item.Data.Unit.UnitValue</td>
                            <td>@item.Data.ConversionValue.Value.ToString("0.00")</td>
                            <td>@item.Data.Product.NetAmount.Value.ToString("0.00")</td>
                            <td>@((item.Data.ConversionValue * item.Data.Product.NetAmount).Value.ToString("0.00"))</td>
                        }
                        else
                        {
                            <td>@item.Data.Product.SerialNumber</td>
                            <td>@item.Data.Quantity</td>
                            <td></td>
                            <td></td>
                            <td>@item.Data.Product.NetAmount.Value.ToString("0.00")</td>
                            <td>@((item.Data.ConversionValue * item.Data.Product.NetAmount).Value.ToString("0.00"))</td>
                        }
                    </tr>
                }
            }
            <tr>
                <th colspan="5" class="erplabel"></th>
                <th class="erplabel">Total = @Model.TotalNotMapped.ToString("0.00") </th>
            </tr>
        </tbody>
    </table>
}
else
{
    <label>No Items</label>
}

<script type="text/javascript">

    function Cal2(ID, Productid) {
        var Unit = $("#Units" + Productid + " option:selected").val();
        var serviceURL = '@Url.Action("GetUnit", "SaleInvoice")';
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { 'id': Unit },
            dataType: "json",
            success: function (data) {
                var Conversion = parseFloat(data.Conversion);
                var UnitParents = data.UnitParents.toString();
                var qty = parseFloat($("#qty" + Productid).val() || 0);
                var x = (qty / Conversion).toFixed(3);
                var BasicPrice = parseFloat($("#BasicPrice" + Productid).val());
                $("#SubTotal" + Productid).val(x * BasicPrice);
                $("#Conversion" + Productid).val(x);
                Cal1(ID, Productid);
            }
        });
    }

    function Cal1(ID, Productid) {


        var JobSheetId = parseInt($("#ProductionId").val() || 0);
        var GSTId = $("#gstID" + Productid + " option:selected").val();
        var JobSheetItemId = parseInt($("#JobSheetItemId" + Productid).val() || 0);
        var Unit = $("#Units" + Productid + " option:selected").val();
        var qty = parseFloat($("#qty" + Productid).val() || 0);
        var Conversion = $("#Conversion" + Productid).val();
        var ApplicableTax = parseFloat($("#ApplicableTax" + Productid).val() || 0);
        var MRP = parseFloat($("#Mrp" + Productid).val() || 0);
        var ProductNumber = parseInt($("#PNo" + Productid).val() || 0);
        ProductNumber = pad(ProductNumber, 10);
        var serviceURL = '@Url.Action("UpdateProduct", "Production")';
        var model = {
            'MRP': MRP, 'ProductId': ProductNumber, 'ApplicableTax': ApplicableTax, 'UnitId': Unit, 'Quantity': qty, 'ConversionValue': Conversion, 'GSTId': GSTId, 'JobSheetItemId': JobSheetItemId, 'JobSheetId': JobSheetId}
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: { 'model': model },
            dataType: "html",
            success: function (response) {
                $("#ItemListView").html(response);
            },
            error: function errorFunc() {
                alert("Error");
            }
        });
    }

</script>
