﻿@model DataLayer.Models.JobSheet
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        var TotalProductionItem = parseFloat($("#TotalProductionItem").val() || 0);
        var TotalProductionService = parseFloat($("#TotalProductionService").val() || 0);
        var FurtherProcessTotal = parseFloat($("#FurtherProcessTotal").val() || 0);
        var TotalProductionCost = TotalProductionItem + TotalProductionService + FurtherProcessTotal;
        $("#TotalProductionCost").val(TotalProductionCost);
        var TotalQuantity = parseInt($("#TotalQuantity").val() || 0);
        $("#ProductionUnit").val(TotalProductionCost / TotalQuantity);
    });
</script>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel1").show();
        $("#ErrLabel1").text("@ViewBag.ErrorMsg");
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel1").hide();
    </script>
}
<label id="ErrLabel1" style="color:red"></label>
@if (Model.JobSheetServicesList != null && Model.JobSheetServicesList.Count > 0)
{
    @Html.HiddenFor(model => model.TotalServiceCostNotMapped, new { @id = "TotalProductionService" })
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Service Type</th>
                <th class="erplabel">Worker Name</th>
                <th class="erplabel">GST</th>
                <th class="erplabel">Quantity</th>
                <th class="erplabel">Rate / Unit</th>
                <th class="erplabel">Total Include GST</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JobSheetServicesList)
                {
                <tr>
                    <td>@item.ServiceType.ServicesName</td>
                    <td>@item.Ledger.Name</td>
                    <td>@item.GST.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td>@item.TotalIncludeGST.Value.ToString("0.00")</td>
                    @if (Model.IsProductCreated != true)
                    {
                        <td class="erplabel">
                            <a style="cursor:pointer;" onclick="EditServices('@item.JobSheetServiceId','@item.JobSheetId')">Edit</a>
                            ||
                            <a style="cursor:pointer;" onclick="RemoveServices('@item.JobSheetServiceId','@item.JobSheetId')">Remove</a>
                        </td>
                    }
                    else
                    {
                        <td class="erplabel">
                            <b style="color:red;">Product Created</b>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
