﻿@model DataLayer.Models.JobSheet
@{
    Layout = null;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <script type="text/javascript">
        $("#ErrLabel2").show();
        $("#ErrLabel2").text("@ViewBag.ErrorMsg");
    </script>
}
else
{
    <script type="text/javascript">
        $("#ErrLabel2").hide();
    </script>
}
<label id="ErrLabel2" style="color:red"></label>
@if (Model.MeasurmentSetListForReadymade != null && Model.MeasurmentSetListForReadymade.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel">Measurment</th>
                <th class="erplabel">Quantity</th>
                <th class="erplabel">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MeasurmentSetListForReadymade)
                {
                <tr>
                    <td class="erplabel">@item.MeasurmentValues</td>
                    <td class="erplabel">@item.Quantity</td>
                    <td class="erplabel">
                        <a style="cursor:pointer;" onclick="EditMeasurement('@item.MeasurmentSetId','@item.JobSheetId')">Edit</a>
                        ||
                        <a style="cursor:pointer;" onclick="RemoveMeasurement('@item.MeasurmentSetId','@item.JobSheetId')">Remove</a>
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
}
