﻿@model DataLayer.ViewModels.PrintJobSheetViewModal
@{
    ViewBag.Title = "_ItemList";
}
<script type="text/javascript">
    $(document).ready(function () {
        var Count = parseInt($("#JobSheetListCount").val() || 0);
        for (var i = 1; i <= Count; i++) {
            var printContents = document.getElementById("ItemListView").innerHTML;
            var originalContents = document.body.innerHTML;
            if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
                var popupWin = window.open('', '_blank', 'width=1000,height=600,scrollbars=no,menubar=no,toolbar=no,location=no,status=no,titlebar=no');
                popupWin.document.write('<!DOCTYPE html><html><head>' +
                    '<link rel="stylesheet" type="text/css" href="style.css" />' +
                    '</head><body onload="window.print()"><div class="reward-body">' + printContents + '</div></html>');
                popupWin.onbeforeunload = function (event) {
                    popupWin.close();
                    return '.\n';
                };
                popupWin.onabort = function (event) {
                    popupWin.document.close();
                    popupWin.close();
                }
            } else {
                var popupWin = window.open('', '_blank', 'width=800,height=600');
                popupWin.document.open();
                popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="style.css" /></head><body onload="window.print()">' + printContents + '</html>');
                popupWin.document.close();
            }
            popupWin.document.close();
        }
    });
</script>

@Html.HiddenFor(model => model.JobSheetList.Count, new { @id = "JobSheetListCount" })
<div class="row" style="width:100%;">
    @foreach (var item in Model.JobSheetList.Select((x, i) => new { Data = x, Index = i + 1 }))
    {

        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 " style="text-align:center">
            <label class="control-label">Job / Alteration Slip</label>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr>
                        <td>
                            @Html.CheckBoxFor(model => item.Data.IsCustomer)
                            <label class="control-label">Customer Copy</label>
                        </td>
                        <td>
                            @Html.CheckBoxFor(model => item.Data.IsTailor)
                            <label class="control-label">Tailor Copy</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Name : @item.Data.Name
                        </td>
                        <td>
                            JobSheet Number : @item.Data.ProductNumber
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact Number : @item.Data.ConatctNumber
                        </td>
                        <td>
                            Job Date : @item.Data.JobDate

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address : @item.Data.Address
                        </td>
                        <td>
                            Del. Date : @item.Data.DeliveryDate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Order Number : @item.Data.OrderNumber
                        </td>
                        <td>
                            SKU : @item.Data.SKUMaster.SKU
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quantity : @item.Data.Quantity
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
            @if (item.Data.MeasurmentSetListForReadymade != null && item.Data.MeasurmentSetListForReadymade.Count > 0)
                {

                <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
                    <table style="width:50%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                            <tr style="border:0px solid #000;  border-collapse: collapse;">
                                <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Size </th>
                                <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Quantity</th>
                            </tr>
                            @foreach (var Measurmentitem in item.Data.MeasurmentSetListForReadymade)
                    {
                                <tr>
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@Measurmentitem.MeasurmentValues</td>
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@Measurmentitem.Quantity</td>
                                </tr>
                            }
                            <tr>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;"></td>
                                <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Total : @((item.Data.Quantity ?? 0).ToString("#.##"))</td>
                            </tr>
                    </table>
                </div>
            }
        </div>


        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
            <table   style="border: 1px solid #000">
                <tr >
                    @for (int i = 0; i < item.Data.MeasurmentSetListForCustome.Count; i++)
                {
                        <td style="border-right: 1px solid #000;text-align:center">
                            <div class="form-group">
                                <div >
                                    <h4 style="width:300px;padding:0px !important;">     @item.Data.MeasurmentSetListForCustome[i].Measurment.MeasurmentType</h4>

                                    <ul >@*style="width:300px;padding:0px !important;"*@
                                        @for (int j = 0; j < item.Data.MeasurmentSetListForCustome[i].MeasurementList.Count; j++)
                                        {
                                            <li>@item.Data.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementType &nbsp&nbsp : &nbsp&nbsp  @item.Data.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementValue</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    }

                </tr>
            </table>

            <br />
            <div class="clearfix"></div>

            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">
                @if (item.Data.JobSheetItemList != null && item.Data.JobSheetItemList.Count > 0)
                {
                    <table style="width:100%;border:0px solid #000;  border-collapse: collapse;    margin: 0px 0 0 0;">
                            <tr style="border:0px solid #000;  border-collapse: collapse;">
                                <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Quantity</th>
                                <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Serial Number</th>
                                <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">SKU</th>
                                <th style="border:1px solid #000;  border-collapse: collapse;text-align:center;">Color</th>
                            </tr>

                            @foreach (var JobSheetItem in item.Data.JobSheetItemList)
                            {
                                <tr>
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@JobSheetItem.Quantity</td>
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@JobSheetItem.Product.SerialNumber </td>
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">@JobSheetItem.Product.SKUMaster.SKU</td>
                                    <td style="border:1px solid #000;  border-collapse: collapse;text-align:center;">
                                        @if (JobSheetItem.Attributes != null && JobSheetItem.Attributes.Count > 1)
                                        {
                                            @JobSheetItem.Attributes[0]
                                        }
                                        else
                                        {
                                            <span>-</span>
                                        }
                                    </td>
                                </tr>
                            }
                    </table>
                }
            </div>
            <p>Description : @item.Data.Description</p>
        </div>

    }

</div>