﻿@model DataLayer.Models.JobSheet
@{
    Layout = null;
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    }

    function RemoveItem(ProductId, JobSheetId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveSaleItem", "Production")?ProductId=' + ProductId + '&JobSheetId=' + JobSheetId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (response) {
                $("#SaleInvoiceItem").html(response);
            },
            error: function (data) {
                alert("Product Not Found");
            }
        });
    }
</script>

@if (Model.SaleInvoiceItemList != null && Model.SaleInvoiceItemList.Count != 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="erplabel"><b>Product Number</b></th>
                <th class="erplabel"><b>Quantity</b></th>
                <th class="erplabel" width="90"><b>Conversion</b></th>
                <th class="erplabel" width="90">Conversion</th>
                <th class="erplabel" width="90" id="ForMRP"><b>MRP</b></th>
                <th class="erplabel" width="90"><b>Base Price</b></th>
                <th class="erplabel" width="90"><b>Discount</b></th>
                <th class="erplabel" width="90">GST</th>
                <th class="erplabel" width="90"><b>GST Amount</b></th>
                <th class="erplabel" width="100"><b>Salesman Commission(%)</b></th>
                <th class="erplabel" width="100"><b>Final Price</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SaleInvoiceItemList.Select((x, i) => new { Data = x, Index = i + 1 }))
            {
                    if (item.Data.Product.SellInPartial == true)
                    {
                    <tr>
                        <td>@item.Data.Product.SerialNumber</td>
                        <td>@item.Data.Quantity</td>
                        <td>@item.Data.Unit.UnitValue</td>
                        <td>@item.Data.ConversionValue</td>
                        <td>@item.Data.MRP</td>
                        <td>@item.Data.BasicPrice</td>
                        <td>@item.Data.Discount</td>
                        <td>@item.Data.GST.Name</td>
                        <td>@item.Data.ApplicableTaxValue</td>
                        <td>@item.Data.SalesmanCommision</td>
                        <td>@item.Data.SubTotal</td>
                        <th><a style="cursor:pointer;" onclick="RemoveItem('@item.Data.ProductId','@item.Data.JobSheetId')">Remove</a></th>
                    </tr>
                        @*<tr>
                            <td>
                                SKU :
                            </td>
                            <td>
                                @item.Data.SKUMaster.SKU
                            </td>
                            <td>
                                Category :
                            </td>
                            <td>
                                @item.Data.SKUMaster.Category.Name
                            </td>
                            <td>
                                SubCategory:
                            </td>
                            <td>
                                @item.Data.SKUMaster.SubCategory.Name
                            </td>
                        </tr>*@
                }
                else
                {
                    <tr>
                        <td>@item.Data.Product.SerialNumber</td>
                        <td>@item.Data.Quantity</td>
                        <td></td>
                        <td></td>
                        <td>@item.Data.MRP</td>
                        <td>@item.Data.BasicPrice</td>
                        <td>@item.Data.Discount</td>
                        <td>@item.Data.GST.Name</td>
                        <td>@item.Data.ApplicableTaxValue</td>
                        <td>@item.Data.SalesmanCommision</td>
                        <td>@item.Data.SubTotal</td>
                        <th><a style="cursor:pointer;" onclick="RemoveItem('@item.Data.ProductId','@item.Data.JobSheetId')">Remove</a></th>
                    </tr>
                        @*<tr>
                            <td>
                                SKU :
                            </td>
                            <td>
                                @item.Data.SKUMaster.SKU
                            </td>
                            <td>
                                Category :
                            </td>
                            <td>
                                @item.Data.SKUMaster.Category.Name
                            </td>
                            <td>
                                SubCategory:
                            </td>
                            <td>
                                @item.Data.SKUMaster.SubCategory.Name
                            </td>
                        </tr>*@
                }
            }
        </tbody>
    </table>
}
else
{
    <label>No Order Items</label>
}

