﻿@model DataLayer.Models.JobSheet
@{
    ViewBag.Title = "Production - Futher Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1> Production <small> Further Process </small> </h1>
</section>
<section class="content">
    @using (Html.BeginForm("SaveFutherProcess", "Production", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-12 col-md-12 ">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Production</h3>
                    </div>
                    <div class="box-body">
                        @Html.HiddenFor(model => model.JobSheetId, new { @id = "ProductionId" })
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.ParentJobSheetId)
                        @Html.HiddenFor(model => model.JobSheetStatus)
                        @Html.HiddenFor(model => model.IsInventoryUpdate, new { @id = "IsInventoryUpdate" })
                        @Html.HiddenFor(model => model.IsProductCreated, new { @id = "IsProductCreated" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @if (Model.JobSheetId > 0)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel" for="email">Job Sheet Number</label>
                                    @Html.EditorFor(model => model.ProductNumber, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.ProductNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Product Category</label>
                                @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, new { @class = "form-control", @id = "ddlCategory", @min = "1" })
                                @Html.ValidationMessageFor(model => model.CategoryId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Product Sub-category</label>
                                @Html.DropDownListFor(model => model.SubCategoryId, Model.SubcategoryList, new { @class = "form-control", @id = "ddlSubCategory", @min = "1" })
                                @Html.ValidationMessageFor(model => model.SubCategoryId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">SKU</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.SKUMasterId, Model.SKUList, new { @class = "form-control", @id = "ModelSKUList", @min = "1" })
                                    @if (Model.IsProductCreated != true)
                                {
                                <span class="input-group-btn">
                                    <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#SKUModel">+</i>
                                </span>
                                }
                                </div>
                                @Html.ValidationMessageFor(model => model.SKUMasterId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Status</label>
                                @Html.EnumDropDownListFor(model => model.JobSheetComplete, "Select a Status", new { @class = "form-control", @required = "required", @id = "JobSheetComplete" })
                                @Html.ValidationMessageFor(model => model.JobSheetComplete, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">JobSheet Date</label>
                                @Html.EditorFor(model => model.JobDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JobDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Delivery Date</label>
                                @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeliveryDate, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-2" id="InProcessStatus">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">In Process Status</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.JobSheetInProcessStatusId, Model.InProcessStatus, new { @class = "form-control", @min = "1", @id = "JobSheetInProcessStatusId" })
                                    <span class="input-group-btn">
                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#InProcessStatusModel">+</i>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSheetInProcessStatusId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (Model.IsProductCreated == true)
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel " for="email">Quantity </label>
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "TotalQuantity", @readonly = true, } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel " for="email">Quantity </label>
                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "TotalQuantity" } })
                                    @Html.ValidationMessageFor(model => model.Quantity, "Required", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel " for="email">Total Cost </label>
                                @Html.EditorFor(model => model.TotalProductionCost, new { htmlAttributes = new { @class = "form-control", @readonly = true, @id = "TotalProductionCost" } })
                                @Html.ValidationMessageFor(model => model.TotalProductionCost, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Material List</h3>
                    </div>
                    <div class="box-body" id="SearchNewMaterial">
                        <div class="col-lg-4">
                            <label for="exampleInputEmail1" class="erplabel">Search Materials</label> <br />
                        </div><br />
                        <div class="col-lg-4">
                            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @id = "Search" })
                            <label id="ErrLabel" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                        </div>
                    </div>
                    <div>
                        <div class="box-body" id="ItemListView">
                            @Html.Partial("_ItemList")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Measurements</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    @Html.RadioButtonFor(model => model.MeasurmentType, DataLayer.Enums.MeasurementType.Custom.ToString(), new { @required = "required", @id = "Custom" })
                                    <label class="control-label erplabel" for="email">Custom</label>
                                </div>
                                <div class="col-lg-8">
                                    @Html.RadioButtonFor(model => model.MeasurmentType, DataLayer.Enums.MeasurementType.Readymade.ToString(), new { @required = "required", @id = "Readymade" })
                                    <label class="control-label erplabel" for="email">Readymade</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.MeasurmentType, "Select Measurement Type", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @Html.HiddenFor(model => model.MeasurmentSetId)
                        <div id="DivCustom">
                            @for (int i = 0; i < Model.MeasurmentSetListForCustome.Count; i++)
                        {
                        <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4">
                            <p><b>@Model.MeasurmentSetListForCustome[i].Measurment.MeasurmentType</b></p>
                            @Html.HiddenFor(model => model.MeasurmentSetListForCustome[i].MeasurmentId)
                            @Html.HiddenFor(model => model.MeasurmentSetListForCustome[i].MeasurmentSetId)
                            @for (int j = 0; j < Model.MeasurmentSetListForCustome[i].MeasurementList.Count; j++)
                                {
                                <div class="col-lg-4">
                                    @Model.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementType
                                    @Html.HiddenFor(model => model.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementType)
                                </div>
                                <div class="col-lg-4">
                                    @Html.EditorFor(model => model.MeasurmentSetListForCustome[i].MeasurementList[j].MeasurementValue, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="clearfix"></div>
                                }
                        </div>
                        }
                        </div>

                        <div id="DivReadymade">
                            @Html.HiddenFor(model => model.MeasurmentSet.MeasurmentSetId, new { @id = "MeasurmentSetId" })
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel " for="email">Size </label>
                                    @Html.EditorFor(model => model.MeasurmentSet.MeasurmentValues, new { htmlAttributes = new { @class = "form-control", @id = "MeasurmentSetSize" } })
                                    <label id="ErrMeasurmentSetSize" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                                    <label id="ErrLabel2" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label erplabel " for="email">Quantity </label>
                                    @Html.EditorFor(model => model.MeasurmentSet.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "MeasurmentSetQuantity" } })
                                    <label id="ErrMeasurmentSetQuantity" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                                </div>
                            </div>
                            <div class="col-lg-2" style="margin: 18px 0 0 0;">
                                <button type="button" class="btn btn-bitbucket btn-sm" id="AddMeasurment">Add</button>
                            </div>
                            <div class="box-body" id="_MeasurementList">
                                @Html.Partial("_MeasurementList")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Services</h3>
                    </div>
                    <div class="box-body" id="DivServices">
                        @Html.HiddenFor(model => model.JobSheetServices.JobSheetServiceId, new { @id = "JobSheetServiceId" })
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="erplabel">Service Type</label>
                                <div class="input-group">
                                    @Html.DropDownListFor(model => model.JobSheetServices.ServiceTypeId, Model.ServiceTypeList, new { @class = "form-control", @id = "ServiceTypeId" })
                                    <span class="input-group-btn">
                                        <i class="btn btn-bitbucket btn-sm" data-toggle="modal" data-target="#ServiceTypeModel">+</i>
                                    </span>
                                </div>
                                <label id="ErrServiceType" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel " for="email">Assigned Worker </label>
                                @Html.DropDownListFor(model => model.JobSheetServices.LedgerId, Model.EmployeeList, new { @class = "form-control", @id = "ServiceLedgerId" })
                                <label id="ErrServiceLedgerId" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Quantity</label>
                                @Html.EditorFor(model => model.JobSheetServices.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "ServiceQuantity" } })
                                <label id="ErrServiceQuantity" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">Rate / Unit</label>
                                @Html.EditorFor(model => model.JobSheetServices.Price, new { htmlAttributes = new { @class = "form-control", @id = "Price" } })
                                <label id="ErrServiceRate" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label erplabel" for="email">GST Type</label>
                                @Html.DropDownListFor(model => model.JobSheetServices.GSTId, Model.GSTList, new { @class = "form-control", @id = "GSTId" })
                                <label id="ErrServiceGST" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                            </div>
                        </div>
                        <div class="col-lg-2" style="margin: 18px 0 0 0;">
                            <button type="button" class="btn btn-bitbucket btn-sm" id="AddService">Add</button>
                        </div>
                    </div>
                    <div class="box-body" id="ServicesList">
                        @Html.Partial("_JobSheetServices")
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-body">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Description</h3>
                    </div>
                    <div class="box-body">

                        <div class="col-lg-4">
                            <label for="exampleInputEmail1" class="erplabel">Description</label> <br />
                        </div><br />
                        <div class="col-lg-12">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "margin: 0px;width: 883px;height: 97px;" })
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <div class="form-group">
                                <input type="submit" class="btn btn-bitbucket btn-sm" name="btn" value="Save" id="SaveSheet" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrServiceType").hide();
        $("#ErrServiceQuantity").hide();
        $("#ErrServiceRate").hide();
        $("#ErrServiceGST").hide();
        $("#ErrServiceLedgerId").hide();
        $("#ErrMeasurmentSetQuantity").hide();
        $("#ErrMeasurmentSetSize").hide();
        $("#ErrLabel2").hide();

        var TotalQuantity = $("#TotalQuantity").val();
        $("#TotalQuantity").val(Math.round(TotalQuantity));
        SetSKU();
        SetMeasurementType();
        ShowInProcessStatus();

        $("#TotalQuantity").keyup(function () {
            var TotalProductionCost = parseFloat($("#TotalProductionCost").val());
            var TotalQuantity = parseInt($("#TotalQuantity").val() || 0);
            $("#ProductionUnit").val(TotalProductionCost / TotalQuantity);
        });

        if ($("#IsInventoryUpdate").val() == "True")
        {
            $(function () {
                $("#JobSheetComplete").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
                $("#SearchNewMaterial").hide();
            });
        }

        $("#JobSheetComplete").change(function () {
            ShowInProcessStatus();
        });
        if ($("#IsProductCreated").val() == "True") {
            $(function () {
                $("#ddlCategory,#ddlSubCategory,#ModelSKUList").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
                $("#DivServices").hide();
            });
        }

        $("#ServiceQuantity,#Search,#TotalQuantity").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#Search").on('keyup', function () {
            var ProductionId = $("#ProductionId").val();
            var ProdId = $("#Search").val();
            if (ProdId.length == 10) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ItemList", "Production")?ProdId=' + ProdId + '&ProductionId=' + ProductionId,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#Search").val("");
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        $("#Search").val("");
                        alert("Product Not Found");
                    }
                });
            }
            else if (ProdId.length > 10) {
                $("#err_Product").show();
                setTimeout(function () {
                    $('#err_Product').fadeOut();
                    $("#Search").val("");
                }, 3000);
            }
        });

        $("#AddService").click(function () {
            var Err = 0;
            var ServiceTypeId = $("#ServiceTypeId option:selected").val();
            if (ServiceTypeId == -1) {
                $("#ErrServiceType").show();
                setTimeout(function () {
                    $('#ErrServiceType').fadeOut();
                }, 2000);
                Err++;
            }
            var GSTId = $("#GSTId option:selected").val();
            if (GSTId == -1) {
                $("#ErrServiceGST").show();
                setTimeout(function () {
                    $('#ErrServiceGST').fadeOut();
                }, 2000);
                Err++;
            }

            var ServiceQuantity = parseFloat($("#ServiceQuantity").val() || 0);
            if (ServiceQuantity == "" || ServiceQuantity == null) {
                $("#ErrServiceQuantity").show();
                setTimeout(function () {
                    $('#ErrServiceQuantity').fadeOut();
                }, 2000);
                Err++;
            }
            var Price = $('#Price').val();
            if (Price == "" || Price == null) {
                $("#ErrServiceRate").show();
                setTimeout(function () {
                    $('#ErrServiceRate').fadeOut();
                }, 2000);
                Err++;
            }

            var ServiceLedgerId = $("#ServiceLedgerId option:selected").val();
            if (ServiceLedgerId == -1) {
                $("#ErrServiceLedgerId").show();
                setTimeout(function () {
                    $('#ErrServiceLedgerId').fadeOut();
                }, 2000);
                Err++;
            }

            if (Err == 0) {
                var ProductionId = $('#ProductionId').val();
                var JobSheetServiceId = parseFloat($('#JobSheetServiceId').val() || 0);
                var Quantity = parseFloat($('#TotalQuantity').val() || 0);
                var ServicesListQuantity = parseFloat($("#ServicesListQuantity").val() || 0);
                if (ServiceQuantity > Quantity) {
                    $("#ErrLabel1").show();
                    $("#ErrLabel1").text("Quantity Should Be Less Than Or Equal");
                    setTimeout(function () {
                        $('#ErrLabel1').fadeOut();
                    }, 5000);
                }
                else
                {
                    var model = { 'JobSheetServiceId': JobSheetServiceId, 'JobSheetId': ProductionId, 'Quantity': ServiceQuantity, 'Price': Price, 'ServiceTypeId': ServiceTypeId, 'GSTId': GSTId, 'LedgerId': ServiceLedgerId }
                    $.ajax({
                    type: "Post",
                        url: '@Url.Action("_JobSheetServices", "Production")',
                        data: { 'model': model, 'Quantity': Quantity },
                        dataType: "html",
                        success: function (result) {
                            $("#ServicesList").html(result);
                            $("#ServiceQuantity").val(null);
                            $('#Price').val(null);
                            $('#Percent').val(null);
                            $('#JobSheetServiceId').val(null);
                            $("#ServiceTypeId").val(-1);
                            $("#ServiceLedgerId").val(-1);
                            $("#GSTId").val(-1);
                    },
                    });
                }
            }
    });

        $("#AddMeasurment").click(function () {
            var Err = 0;
            var Quantity = parseFloat($("#MeasurmentSetQuantity").val() || 0);
            if (Quantity == "" || Quantity == null) {
                $("#ErrMeasurmentSetQuantity").show();
                setTimeout(function () {
                    $('#ErrMeasurmentSetQuantity').fadeOut();
                }, 2000);
                Err++;
            }

            var Size = $('#MeasurmentSetSize').val();
            if (Size == "" || Size == null) {
                $("#ErrMeasurmentSetSize").show();
                setTimeout(function () {
                    $('#ErrMeasurmentSetSize').fadeOut();
                }, 2000);
                Err++;
            }

            var Quantity1 = parseFloat($('#TotalQuantity').val() || 0);
            if (Quantity > Quantity1) {
                $("#ErrLabel2").show();
                $("#ErrLabel2").text("Quantity Should Be Less Than Or Equal");
                setTimeout(function () {
                    $('#ErrLabel2').fadeOut();
                }, 5000);
                Err++;
            }

            if (Err == 0) {
                var JobSheetId = $('#ProductionId').val();
                var MeasurmentSetId = parseInt($('#MeasurmentSetId').val() || 0);
                var model = { 'MeasurmentSetId': MeasurmentSetId, 'JobSheetId': JobSheetId, 'Quantity': Quantity, 'MeasurmentValues': Size,  }
                    $.ajax({
                    type: "Post",
                        url: '@Url.Action("_MeasurementList", "Production")',
                        data: { 'model': model },
                        dataType: "html",
                        success: function (result) {
                            $("#_MeasurementList").html(result);
                            $("#MeasurmentSetQuantity").val(null);
                            $('#MeasurmentSetSize').val(null);
                            $('#MeasurmentSetId').val(null);

                    },
                    });
            }
    });
    $("#ModelSKUList").change(function () {
        SetSKU();
    });

    $("#MeasurementType").change(function () {
        SetMeasurementType();
    });

    $("#Readymade,#Custom").change(function () {
        SetMeasurementType();
    });

    $("#ModelCustomerList").change(function () {
        $("#PurchaseOrderId").empty();
        var CustomerId = $("#ModelCustomerList option:selected").val();
        var serviceURL = '@Url.Action("GetPurchaseOrder", "Production")?id=' + CustomerId;
        $.ajax({
            type: "POST",
            url: serviceURL,
            contentType: "application/json; charset=utf-8",
            dataType: "Json",
            success: function (skulist) {
                $("#PurchaseOrderId").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                $.each(skulist, function (i, Sub) {
                    //$("#ContactSubCategory").clearQueue();
                    $("#PurchaseOrderId").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                });

            },
            error: function (data) {
                alert("error");
            }

        });
    });

    $("#ddlCategory").change(function () {
        $("#ddlSubCategory").empty();
        var value = $("#ddlCategory option:selected").val();
        $.ajax({
            type: "Post",
            url: '@Url.Action("SubCategoryList", "PurchaseInvoice")?categoryid=' + value,
            contentType: "application/json; charset=utf-8",
            dataType: "Json",
            success: function (SubCategoryList) {
                $("#ddlSubCategory").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                $.each(SubCategoryList, function (i, Sub) {
                    //$("#ContactSubCategory").clearQueue();
                    $("#ddlSubCategory").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                });
                $("#ModelSKUList").empty();
                $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');

            },
            error: function (data) {
                alert("error");
            }
        });
    });

    $("#ddlSubCategory").change(function () {
        $("#ModelSKUList").empty();
        var CatId = $("#ddlCategory option:selected").val();
        var SubId = $("#ddlSubCategory option:selected").val();
        var serviceURL = '@Url.Action("SKUList", "PurchaseInvoice")';
        var model = { 'CategoryId': CatId, 'SubCategoryId': SubId };
        $.ajax({
            type: "POST",
            url: serviceURL,
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "Json",
            success: function (skulist) {
                $("#ModelSKUList").append('<option value="' + -1 + '">' + "--Select One--" + '</option>');
                $.each(skulist, function (i, Sub) {
                    //$("#ContactSubCategory").clearQueue();
                    $("#ModelSKUList").append('<option value="' + Sub.Value + '">' + Sub.Text + '</option>');
                });

            },
            error: function (data) {
                alert("error");
            }

        });
    });
    });

    function SetSKU() {
        var id = $("#ModelSKUList option:selected").val();
        if (id > 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ListFromSKU", "PurchaseInvoice")?id=' + id,
                //data: JSON.stringify(id),
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (model) {
                    $("#ddlCategory").val(model.CategoryId);
                    $('#ddlSubCategory').val(model.SubCategoryId);
                },
                error: function (data) {
                    alert("error");
                }
            });
        }
    }

    function EditServices(JobSheetServiceId, JobSheetId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("EditServices", "Production")?JobSheetServiceId=' + JobSheetServiceId + '&JobSheetId=' + JobSheetId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#ServiceQuantity").val(data.Quantity);
                $('#Percent').val(data.Percent);
                $('#Price').val(data.Price);
                $("#ServiceTypeId").val(data.ServiceTypeId);
                $('#JobSheetServiceId').val(data.JobSheetServiceId)
                $("#GSTId").val(data.GSTId);
                $("#ServiceLedgerId").val(data.LedgerId);
            },
        });
    }

    function ShowInProcessStatus() {
        var JobSheetComplete = $("#JobSheetComplete option:selected").val();
        if (JobSheetComplete == 2)
        {
            $("#InProcessStatus").show();
        }
        else
        {
            $("#InProcessStatus").hide();
        }
    }

    function RemoveServices(JobSheetServiceId, JobSheetId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveServices", "Production")?JobSheetServiceId=' + JobSheetServiceId + '&JobSheetId=' + JobSheetId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $("#ServicesList").html(result);
            },
            error: function (data) {
                alert("Error");
            }
        });
    }

    function SetMeasurementType() {
        if ($("#Custom").prop('checked') == true) {
            $("#DivCustom").show();
            $("#DivReadymade").hide();
        }
        else if ($("#Readymade").prop('checked') == true) {
            $("#DivCustom").hide();
            $("#DivReadymade").show();
        }
    }

        function RemoveMeasurement(MeasurmentSetId, JobSheetId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("RemoveMeasurement", "Production")?MeasurmentSetId=' + MeasurmentSetId + '&JobSheetId=' + JobSheetId,
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: function (result) {
                $("#_MeasurementList").html(result);
            },
            error: function (data) {
                alert("Error");
            }
        });
    }

    function EditMeasurement(MeasurmentSetId, JobSheetId) {
        $.ajax({
            type: "Post",
            url: '@Url.Action("EditMeasurmentSet", "Production")?MeasurmentSetId=' + MeasurmentSetId + '&JobSheetId=' + JobSheetId,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#MeasurmentSetQuantity").val(data.Quantity);
                $('#MeasurmentSetSize').val(data.MeasurmentValues);
                $('#MeasurmentSetId').val(data.MeasurmentSetId);
            },
        });
    }
</script>

