﻿@model DataLayer.ViewModels.ProductionViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Production - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<section class="content-header">
    <h1> Production <small> Index </small> </h1>
    <label id="ErrLabel" style="color:red"></label>
</section>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="clearfix"></div>
                <br />
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
                {
                    <script type="text/javascript">
                        $("#ErrLabel").text("@ViewBag.ErrorMsg");
                        setTimeout(function () {
                            $('#ErrLabel').fadeOut();
                        }, 5000);
                    </script>
                }
                else
                {
                    <script type="text/javascript">
                        $("#ErrLabel").hide();

                    </script>
                }

                <div class="pull-right">
                    <a class="btn btn-bitbucket btn-sm" href="@Url.Action("Create", "Production",new { Status = DataLayer.Enums.JobSheetStatus.New })">
                        <i class="fa fa-plus-square"></i> &nbsp; New
                    </a>
                    <a class="btn btn-bitbucket btn-sm" href="@Url.Action("Create", "Production",new { Status = DataLayer.Enums.JobSheetStatus.FurtherProcess })">Further Process</a>
                    <a class="btn btn-bitbucket btn-sm" href="@Url.Action("Create", "Production",new { Status = DataLayer.Enums.JobSheetStatus.Alteration })">Alteration</a>
                </div>

                <br />
                <form role="form">
                    <div class="box-body">
                        @if (Model.JobSheetLists.Count > 0)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="erplabel"><b>Job Sheet Number</b></th>
                                        <th class="erplabel"><b>SKU</b></th>
                                        <th class="erplabel"><b>Delivery Date</b></th>
                                        <th class="erplabel"><b>Order Number</b></th>
                                        <th class="erplabel"><b>Sub Category</b></th>
                                        <th class="erplabel"><b>Customer</b></th>
                                        <th class="erplabel"><b>Assigned Worker</b></th>
                                        <th class="erplabel"><b>Quantity</b></th>
                                        <th class="erplabel"><b>Status</b></th>
                                        <th class="erplabel"><b>Action</b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.JobSheetLists)
                                    {
                                        <tr>
                                            <td>@item.ProductNumber</td>
                                            @if (item.SKUMaster != null)
                                            {
                                                <td>@item.SKUMaster.SKU</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (item.DeliveryDate != null)
                                            {
                                                <td>@item.DeliveryDate.Value.ToString("dd'/'MM'/'yyyy")</td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (item.SalesOrder != null)
                                            {
                                                <td><a href="@Url.Action("Create", "SalesOrder")?id=@item.SaleOrderId">@item.SalesOrder.SaleOrderNumber</a></td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (item.SKUMaster != null)
                                            {
                                                if (item.SKUMaster.SubCategory != null)
                                                {
                                                    <td>@item.SKUMaster.SubCategory.Name</td>
                                                }
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (item.Customer != null)
                                            {
                                                <td>
                                                    <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId = item.Customer.LedgerId })">
                                                        @item.Customer.Name
                                                    </a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            @if (item.AssignedWorker != null)
                                            {
                                                <td>
                                                    <a href="@Url.Action("LedgerIndex", "LedgerReport", new { LedgerId = item.AssignedWorker.LedgerId })">
                                                        @item.AssignedWorker.Name
                                                    </a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>-</td>
                                            }
                                            <td>@((item.Quantity ?? 0).ToString("#.##"))</td>
                                            <td>
                                                <b>
                                                    @if (item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.Open)
                                                    {
                                                        <span style="color:red"> @item.JobSheetComplete </span>
                                                    }
                                                    else if (item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.Complete)
                                                    {
                                                        <span style="color:green"> @item.JobSheetComplete </span>
                                                    }
                                                    else if ((item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.FurtherProcess || item.JobSheetComplete == DataLayer.Enums.JobSheetComplete.InProcess))
                                                    {
                                                        <span style="color:yellow">
                                                            @item.JobSheetComplete
                                                            @if (item.JobSheetInProcessStatus != null)
                                                            {
                                                                <span>/ @item.JobSheetInProcessStatus.Status</span>
                                                            }
                                                        </span>
                                                    }
                                                </b>

                                            </td>
                                            <td>
                                                @if (item.JobSheetStatus == DataLayer.Enums.JobSheetStatus.New)
                                                {
                                                    <a href="@Url.Action("Create", "Production")?id=@item.JobSheetId">
                                                        Edit
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Alteration", "Production")?JobSheetId=@item.JobSheetId">
                                                        Edit
                                                    </a>
                                                }
                                                <span>||</span>
                                                <a href="@Url.Action("DeleteJobSheet", "Production",new { JobSheetId = @item.JobSheetId })" onclick="return confirm('Are you sure you want to delete this')">
                                                    Delete
                                                </a>
                                                <span>||</span>
                                                <a href="@Url.Action("Measurement", "Production",new { JobSheetId = @item.JobSheetId })">
                                                    Print Job
                                                </a>
                                                @if (item.IsInventoryUpdate && item.JobSheetStatus != DataLayer.Enums.JobSheetStatus.Alteration)
                                                {
                                                    <span>||</span>
                                                    <a href="@Url.Action("CreateProduct", "Production",new { JobSheetId = @item.JobSheetId })">
                                                        @if (item.IsProductCreated)
                                                        {
                                                            <span>Update Product</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Create Product</span>
                                                        }
                                                    </a>
                                                    if (item.IsProductCreated == true)
                                                    {
                                                        <span>||</span>
                                                        <a href="@Url.Action("Details", "Production",new { JobSheetId = @item.JobSheetId })">
                                                            Details
                                                        </a>
                                                    }
                                                }
                                            </td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <label>No Invoice Items</label>
                        }
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
    </div>
    @if (Model.JobSheetLists.Count > 0)
    {
        <p>
            Page @(Model.JobSheetLists.PageCount < Model.JobSheetLists.PageNumber ? 0 : Model.JobSheetLists.PageNumber) of @Model.JobSheetLists.PageCount
            @Html.PagedListPager(Model.JobSheetLists, page => Url.Action("Index", new { PageNo = page }))
        </p>
    }
</section>
