﻿@model DataLayer.ViewModels.PrintJobSheetViewModal
@{
    ViewBag.Title = "Production - Print Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <div class="col-xs-12 col-md-12 ">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Print Options</h3>
                </div>
                <div class="box-body">
                    <div class="col-lg-2">
                        <div class="form-group">
                            @Html.HiddenFor(model => model.JobSheetId, new { @id = "JobSheetId" })
                            <label class="control-label erplabel" for="email">JobSheet Number</label>
                            @Html.DropDownListFor(model => model.Option, Model.PrintOptions, new { @class = "form-control", @min = "1", @id = "Option" })
                            @Html.ValidationMessageFor(model => model.Option, "Required", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2" style="margin: 18px 0 0 0;">
                        <button id="Print" class="btn btn-info">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" id="ItemListView">
                @Html.Partial("_PrintJobSheet")
            </div>
        </div>
</section>


<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Print").click(function () {            
            var Option = parseInt($("#Option").val());
            var JobSheetId = parseInt($("#JobSheetId").val());
                //showProgress();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_PrintJobSheet", "Production")?Option=' + Option + '&JobSheetId=' + JobSheetId,
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
        });
    });
</script>