﻿@model DataLayer.Models.SaleInvoice
@{
    ViewBag.Title = "Purchase Return - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ErrSKU").hide();


        $(function () {
            $("[id*=SKU]").autocomplete({
                source: function (request, response) {
                    $('#SKUMasterId').val(0);
                    var Product = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        url:
                       "@(Url.Action("GetSKUList", "Home"))",
                        data: {
                            "term": request.term
                        },
                        success: function (data) {
                            for (var i = 0; i < data.length ; i++) {
                                Product[i] = { label: data[i].Value, Id: data[i].Key, Value: data[i].Key, };
                            }
                        }
                    });
                    response(Product);
                },
                select: function (event, ui) {
                    $("#SKU").val(ui.item.label);
                    $('#SKUMasterId').val(ui.item.Id);
                    return false;
                }
            });
        });

                $("#RemoveProducts").click(function () {
            showProgress();
                                $.ajax({
                        type: "Post",
                        url: '@Url.Action("RemoveProduct", "PurchaseReturn")',
                        dataType: "html",
                        success: function (result) {
                            $('#SKUMasterId').val(0);
                            $("#SKU").val("");
                            $("#AttributeList").html(result);
                            hideProgress()
                        },
                    });
        });

        $("#SaveAttribute").click(function () {
            showProgress();
            var NonError = 0;
            var AttributeListCount = $('#AttributeListCount').val();
            var SKUMasterId = parseInt($('#SKUMasterId').val() || 0);
            if (SKUMasterId == 0) {
                $("#ErrSKU").show();
                setTimeout(function () {
                    $('#ErrSKU').fadeOut();
                }, 3000);
                NonError++;
            }
            var AttributeName = "";
            for (var i = 1; i <= AttributeListCount; i++) {
                i = i.toString();
                var Value = $("#AttributeValueList" + i + " option:selected").text();
                if (i == 1) {
                    AttributeName = Value;
                }
                else {
                    AttributeName = AttributeName + "," + Value;
                }
            }
                if (NonError == 0) {
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("_ProductList", "PurchaseReturn")',
                        data: { 'SKUMasterId': SKUMasterId, 'AttributeName': AttributeName },
                        dataType: "html",
                        success: function (result) {
                            $('#SKUMasterId').val(0);
                            $("#SKU").val("");
                            $("#AttributeList").html(result);
                            var AttributeListCount = $('#AttributeListCount').val();
                            for (var i = 1; i <= AttributeListCount; i++) {
                                i = i.toString();
                                $("#AttributeValueList" + i + " option").filter(function () {
                                    if ($(this).text() == "None") {
                                        return true;
                                    }
                                }).prop('selected', true);
                            }
                            hideProgress()
                        },
                    });
                }
                else {
                    hideProgress()
                    $('#NonError').show();
                }

        });

        $("#txtadjust").keyup(function () {
            var Total = parseFloat($("#TotalInvoiceValue").val() || 0);
            var Adjust = parseFloat($("#txtadjust").val() || 0);
            $("#FinalTotalAdj").val(Total - Adjust);

            var TotalDiscount = parseFloat($("#TotalDiscountNotMapped").val() || 0);
            $("#DiscWithAd").val(TotalDiscount + Adjust);
        })

        $("#btnnewInoice").click(function () {
            location.href = '@Url.Action("Create", "SaleInvoice")';
        })

        $("#DivisionId,#BranchId").mousedown(function (e) {
            if ($(this).find('option').length > 0) {
                e.preventDefault();
            }
        });

        var IsLedgerUpdate = $("#IsLedgerUpdate").val();
        if (IsLedgerUpdate == "True")
        {
            $(function () {
                $("select").mousedown(function (e) {
                    if ($(this).find('option').length > 0) {
                        e.preventDefault();
                    }
                });
            });
        }

        $("#Save,#SavePrint,#Hold").click(function () {
            var ItemCount = parseInt($("#SaleInvoiceItemCount").val() || 0);
            if (ItemCount == 0)
            {
                $("#ErrLabel").text("Purchase Return Items Required");
                $("#ErrLabel").show();
                setTimeout(function () {
                    $('#ErrLabel').fadeOut();
                }, 5000);
                return false;
            }
        });
        $("#Search").on('keyup', function () {
            var SalesInvoiceId = $("#SalesInvoiceId").val();
            var IsWPS = ($("#IsWPS").val() || false);
            var ProdId = $("#Search").val();
            if (ProdId.length == 10) {
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("_ItemList", "PurchaseReturn")?ProdId=' + ProdId + '&SalesInvoiceId=' + SalesInvoiceId + '&IsWPS=' + IsWPS,
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (result) {
                        $("#Search").val("");
                        $("#ItemListView").html(result);
                    },
                    error: function (data) {
                        $("#Search").val("");
                        alert("Product Not Found");
                    }
                });
            }
            else if (ProdId.length > 10) {
                $("#err_Product").show();
                setTimeout(function () {
                    $('#err_Product').fadeOut();
                    $("#Search").val("");
                }, 3000);
            }
        });

        function RefreshList() {
            $('#myModal').modal('hide');
            alert('successFunction')
        }

        function error() {
            alert('successFunction')
        }

        $("#ItemListView").load();


        $("#myBtn").click(function () {
            $('#LocationModel').model('show');
            $('#SupplierModel').modal('show');
        });

        $("#ShippingTrackingNumber").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });
    function Add(ProductId) {
        showProgress();
        var SalesInvoiceId = parseInt($("#SalesInvoiceId").val() || 0);
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddProduct", "PurchaseReturn")',
            data: { 'ProductId': ProductId, 'SalesInvoiceId': SalesInvoiceId },
            dataType: "html",
            success: function (response) {
                $("#AttributeList").html(response);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateView", "PurchaseReturn")',
                    data: { 'SalesInvoiceId': SalesInvoiceId },
                    dataType: "html",
                    success: function (result) {
                        $("#ItemListView").html(result);
                        hideProgress()
                    },
                    error: function errorFunc() {
                        alert("Error");
                    }
                });
            },
            error: function errorFunc() {
                alert("Error");
            }
        });
    }
    var spinnerVisible = false;
    function showProgress() {
        if (!spinnerVisible) {
            $("div#spinner").fadeIn("fast");
            spinnerVisible = true;
        }
    };
    function hideProgress() {
        if (spinnerVisible) {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            spinnerVisible = false;
        }
    };
</script>
<div id="spinner">
    Loading...
</div>
<section class="content" style="min-height: 0px !important;">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                @using (Html.BeginForm("Create", "PurchaseReturn", FormMethod.Post))
                {
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        @Html.HiddenFor(model => model.SaleInvoiceId, new { @id = "SalesInvoiceId" })
                        @Html.HiddenFor(model => model.Status)
                        @Html.HiddenFor(model => model.Type)
                        @Html.HiddenFor(model => model.IsWPS, new { @id = "IsWPS" })
                        @Html.HiddenFor(model => model.CreatedBy)
                        @Html.HiddenFor(model => model.CreatedDate)
                        @Html.HiddenFor(model => model.CompanyId)
                        @Html.HiddenFor(model => model.Time)
                        @Html.HiddenFor(model => model.IsPaymentDone, new { @id = "IsPaymentDone" })
                        @Html.HiddenFor(model => model.IsLedgerUpdate, new { @id = "IsLedgerUpdate" })
                        @Html.HiddenFor(model => model.IsInventoryUpdate)

                        @if (Model.SaleInvoiceId > 0)
                        {
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Purchase Return Number</label>
                                @Html.EditorFor(model => model.SaleInvoiceNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.SaleInvoiceNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        }

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Purchase Return Date</label>
                                @Html.EditorFor(model => model.InvoicingDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.InvoicingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Purchase Account</label>
                                @Html.DropDownListFor(model => model.SaleAccountId, Model.SaleAccountList, new { @class = "form-control", @id = "ModelAccountCategoryList" })
                                @Html.ValidationMessageFor(model => model.SaleAccountId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Account</label>
                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerAccountList, new { @class = "form-control", @id = "ModelCustomerList" })
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Sale Type</label>
                                @Html.DropDownListFor(model => model.SaleTypeId, Model.SaleTypeList, new { @class = "form-control", @id = "ModelSaleAccountList" })
                                @Html.ValidationMessageFor(model => model.SaleTypeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Division</label>
                                @Html.DropDownListFor(model => model.DivisionId, Model.DivisionList, new { @class = "form-control", @id = "DivisionId" })
                                @Html.ValidationMessageFor(model => model.DivisionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Branch</label>
                                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "form-control", @id = "BranchId" })
                                @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Location</label>
                                @Html.DropDownListFor(model => model.LocationId, Model.LocationList, new { @class = "form-control", @id = "ModelLocationList" })
                                @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Shipping Type</label>
                                @Html.TextBoxFor(m => m.ShippingType, new { @class = "form-control", @id = "ShippingType" })
                                @Html.ValidationMessageFor(model => model.ShippingType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Payment Type</label>
                                @Html.DropDownListFor(model => model.PaymentTypeId, Model.PaymentTypeList, new { @class = "form-control", @min = "1" })
                                @Html.ValidationMessageFor(model => model.PaymentTypeId, "Required", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Base Total</label>
                                @Html.TextBoxFor(m => m.Points, new { @readonly = "readonly", @class = "form-control", @id = "BasePrice" })
                                @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Discount</label>
                                @Html.TextBoxFor(m => m.DiscountWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "DiscWithAd" })
                                @Html.HiddenFor(m => m.TotalDiscount, new { @id = "TotalDiscount" })
                                @Html.ValidationMessageFor(model => model.TotalDiscount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Gross Total</label>
                                @Html.TextBoxFor(m => m.Subtotal, new { @readonly = "readonly", @class = "form-control", @id = "Subtotal" })
                                @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Tax</label>
                                @Html.TextBoxFor(m => m.TotalTax, new { @readonly = "readonly", @class = "form-control", @id = "TotalTax" })
                                @Html.ValidationMessageFor(model => model.TotalTax, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Adjustment(+/-)</label>
                                @Html.TextBoxFor(m => m.Adjustment, new { @class = "form-control", @id = "txtadjust" })
                                @Html.ValidationMessageFor(model => model.Adjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="erplabel">Total Invoice Value</label>
                                @Html.HiddenFor(m => m.TotalInvoiceValue, new { @id = "TotalInvoiceValue" })
                                @Html.TextBoxFor(m => m.TotalWithAdjustment, new { @readonly = "readonly", @class = "form-control", @id = "FinalTotalAdj" })
                                @Html.ValidationMessageFor(model => model.TotalWithAdjustment, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <!-- /.box-body -->
                    <div class="row">
                        <div class="box-footer">
                            <div class="pull-right">
                                <input type="button" name="btn" value="Create Ledger" data-toggle="modal" data-target="#CustomerModel" class="btn btn-info btn-sm" />
                                @if (Model.IsInventoryUpdate == false)
                                {
                                    <input type="submit" name="btn" value="Hold" class="btn btn-info btn-sm" id="Hold" />
                                }
                                <input type="submit" name="btn" value="Save" class="btn btn-info btn-sm" id="Save" />
                                <input type="submit" name="btn" value="Save & Print Invoice" class="btn btn-info btn-sm" id="SavePrint" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box box-primary">
                @if (Model.IsInventoryUpdate == false)
                {
                    <div class="box-header">
                        <div class="col-lg-12 col-sm-6 col-md-6">
                            <table class="table table-responsive table-striped">
                                <tbody>
                                    <tr>
                                        <td class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" class="erplabel">Search Product</label> <br />
                                                <div class="input-group">
                                                    @Html.TextBoxFor(m => m.Search, new { @class = "form-control", @id = "Search" })
                                                    <label id="ErrLabel" style="color:#a94442;font-weight: normal;" class="text-danger"></label>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-lg-2">
                                            <div class="form-group">
                                                <label for="exampleInputPassword1" class="erplabel">Search SKU</label>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.SKU, new { @class = "form-control", @id = "SKU" })
                                                    @Html.HiddenFor(model => model.SKUMasterId, new { @id = "SKUMasterId" })
                                                    <label id="ErrSKU" style="color:#a94442;font-weight: normal;" class="text-danger">Required</label>
                                                </div>
                                            </div>
                                        </td>
                                        @for (int i = 0; i < Model.AttributeSetListNew.Count; i++)
                                        {
                                            <td>
                                                <label class="erplabel">@Model.AttributeSetListNew[i].Name</label><div class="clearfix"></div>
                                                <div class="input-group">
                                                    @Html.DropDownListFor(model => model.AttributeSetListNew[i].AttributeSetId, Model.AttributeSetListNew[i].AttributeValueList, new { @class = "form-control", @id = "AttributeValueList" + Model.AttributeSetListNew[i].AttributeSetId })
                                                </div>
                                            </td>
                                        }
                                        <td>
                                            @Html.HiddenFor(model => model.AttributeSetListNew.Count, new { @id = "AttributeListCount" })
                                            <label class="erplabel"></label>
                                            <input type="button" name="btn" class="btn btn-bitbucket" value="Search" id="SaveAttribute" />
                                        </td>
                                        <td>
                                            <label class="erplabel"></label>
                                            <input type="button" name="btn" class="btn btn-bitbucket" value="Clear" id="RemoveProducts" />
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                }

                <div class="box-body">
                    <div id="AttributeList">
                        @if (Model.IsInventoryUpdate == false)
                        {
                            @Html.Partial("_ProductList")
                        }
                    </div>
                    <div id="ItemListView">
                        @Html.Partial("_ItemList")
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--end main body-->
</section>

<!-- Modal -->
